<body style="background-color: #dedede">
<div class="main">
  <%= form_for @order, url: orders_path do |f| %>
      <div style="padding: 20px" class="content-part-10 card">

        <div class="input-group">
          <span class="input-group-addon">Status</span>
          <%= f.text_field :state, value: @order.state, class: 'form-control' %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">Description</span>
          <%= f.text_field :description, value: @order.description, class: 'form-control' %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">Carrier</span>
          <%= f.text_field :carrier, value: @order.carrier, class: 'form-control', disabled: true %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">Tracking code</span>
          <%= f.text_field :tracking_code, value: @order.tracking_code, class: 'form-control', disabled: true %>
        </div>

        <div style="width: 30%; float: left">
          <input id="length" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>L &times;</span>
          <input id="width" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>W &times;</span>
          <input id="height" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>H,</span>
          <input id="weight" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>Oz</span>
        </div>
        <button type="button" onclick="get_shipping_tag(<%= @order.id %>)" class="btn btn-default" style="width: 70%">Generate
          sipping
          tag
        </button>

        <%= f.submit 'Update', class: 'btn btn-default', style: 'width: 100%' %>
      </div>
  <% end %>
</div>

<script>

    function get_shipping_tag(order) {

        $.ajax({
            url: '/admin/orders/tag',
            method: 'post',
            dataType: 'json',
            data: {
                order: order,
                l: $('#length').val(),
                w: $('#width').val(),
                h: $('#height').val(),
                w_o: $('#weight').val()
            },
            success: function (data) {
                window.open(data.url, '_blank')
            },
            error: function () {

            }
        });

    }

</script>

</body>