<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-home"></span></a>
        </li>
        <li>
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-picture-o"></span></a>
        </li>
        <li class="active">
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-truck"></span></a>
        </li>
        <li>
          <a href="/admin/mailer">Mailer<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-envelope"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">
<div class="main">
  <%= form_for @order, url: orders_path do |f| %>
      <div class="content-part-7 card">

        <div class="input-group">
          <span class="input-group-addon">Status</span>
          <%= f.text_field :state, value: @order.state, class: 'form-control' %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">Description</span>
          <%= f.text_field :description, value: @order.description, class: 'form-control' %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">Carrier</span>
          <%= f.text_field :carrier, value: @order.carrier, class: 'form-control', disabled: true %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">Tracking code</span>
          <%= f.text_field :tracking_code, value: @order.tracking_code, class: 'form-control', disabled: true %>
        </div>

        <div style="width: 30%; float: left">
          <input id="length" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>L &times;</span>
          <input id="width" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>W &times;</span>
          <input id="height" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>H,</span>
          <input id="weight" style="text-align: right; width: 15%" type="text" step="2" placeholder="15"><span>Oz</span>
        </div>
        <button type="button" onclick="get_shipping_tag(<%= @order.id %>)" class="btn btn-default" style="width: 70%">Generate
          sipping
          tag
        </button>

        <%= f.submit 'Update', class: 'btn btn-default', style: 'width: 100%' %>
      </div>
  <% end %>
</div>

<script>

    function get_shipping_tag(order) {

        $.ajax({
            url: '/admin/orders/tag',
            method: 'post',
            dataType: 'json',
            data: {
                order: order,
                l: $('#length').val(),
                w: $('#width').val(),
                h: $('#height').val(),
                w_o: $('#weight').val()
            },
            success: function (data) {
                window.open(data.url, '_blank')
            },
            error: function () {

            }
        });

    }

</script>

</body>