<% tax_array = [] %>
<% cost_array = [] %>
<div class="desktopnot" style="margin-top: 30px"></div>
<div class="mobilenot" style="margin-top: 80px"></div>
<script src="https://js.stripe.com/v3/"></script>
<%= stylesheet_link_tag 'cart' %>
<div style="overflow: hidden; margin: 0 7%;">
  <%= form_tag '/checkout', method: :post, id: 'payment-form' do |f| %>
    <div class="content-part field-data">

      <% user = get_user_toc %>

      <div class="content-part content-part-10 field-data">
        <label>
          <div>CHECKOUT DETAILS</div>
        </label>
        <input id="cardholder-email" name="cardholder-email" class="field" placeholder="user@domain.com" value="<%= user['email'] %>" required>
      </div>

      <div class="content-part content-part-10">
        <hr>
      </div>

      <h3>SHIPPING ADDRESS</h3>

      <div class="content-part field-data">
        <input name="cardholder-first-name" class="field" placeholder="FIRST NAME" value="<%= user['user_name'] %>" required>
      </div>

      <div class="content-part field-data">
        <input name="cardholder-last-name" class="field" placeholder="LAST NAME" value="<%= user['user_last_name'] %>" required>
      </div>

      <% address = user.user_address || {} %>

      <div class="content-part content-part-10 field-data">
        <input name="cardholder-street" class="field" placeholder="ADDRESS 1" value="<%= address['street_address'] %>" required>
      </div>

      <div class="content-part content-part-10 field-data">
        <input name="cardholder-street-address-2" class="field" placeholder="ADDRESS 2" value="<%= address['street_address_2'] %>">
      </div>

      <div style="margin: auto" class="content-part content-part-3 field-data content-part-10">
        <input name="cardholder-city" class="field" placeholder="CITY" value="<%= address['city'] %>" required>
      </div>

      <div style="margin: auto" class="content-part content-part-3 field-data content-part-5">
        <input name="cardholder-state" class="field" placeholder="STATE" value="<%= address['state'] %>" required>
      </div>

      <div style="margin: auto" class="content-part content-part-3 field-data content-part-5">
        <input name="cardholder-zip" class="field" placeholder="ZIP CODE" value="<%= address['zip_code'] %>" required>
      </div>

      <div class="content-part content-part-10 field-data">
        <label>
          <div>PHONE NUMBER</div>
        </label>
        <input id="phone" name="cardholder-number" pattern="[\(]\d{3}[\)][\-]\d{3}[\-]\d{4}" class="field" placeholder="(123)-456-7890" type="tel" value="<%= address['number'] %>" required>
      </div>

      <div class="content-part content-part-10">
        <hr>
      </div>


      <h3 style="float: left">PAYMENT OPTIONS</h3>

      <% if !@card %>
        <label>
          <span>Card</span>
        </label>
        <div id="card-element" style="padding: 0 0 0 10px" class="field content-part content-part-10 field-data card-element"></div>
      <% else %>
        <label>
          <span>Card</span>
        </label>
        <div class="field content-part content-part-10" disabled="true">
          XXXX XXXX XXXX <%= @card['last4'] %> <span style="float: right; margin-right: 50px">XXX</span>
          <span style="float: right; margin-right: 50px"><%= @card['exp_month'] %>/<%= @card['exp_year'] %></span>
        </div>
      <% end %>

      <div class="content-part content-part-10">
        <hr>
      </div>

      <% unless user.cart.promotion_codes.first %>
      <h3>GIFT OPTIONS</h3>

      <div class="content-part content-part-10 field-data">
        <label>
          <div>CODE</div>
        </label>
        <span id="alert_messenger_g" style="width: auto" class="label label-warning"></span>
        <input id="promo_code_g" name="promo_code" class="field" placeholder="XXXXXX" value="<%= user.cart.gifts.first&.code %>">
        <% if !user.cart.gifts.first %>
          <button onclick="apply_gift()" class="btn btn-sp" type="button">APPLY</button>
        <% else %>
          <button onclick="remove_gift()" class="btn btn-sp" type="button">REMOVE</button>
        <% end %>
        <hr>
      </div>
      <% end %>

      <% unless user.cart.gifts.first %>

      <h3>PROMOTION CODE</h3>

      <div class="content-part content-part-10 field-data">

        <label>
          <div>CODE</div>
        </label>
        <span id="alert_messenger" style="width: auto" class="label label-warning"></span>
        <input id="promo_code" name="promo_code" class="field" placeholder="XXXXXX" value="<%= user.cart.promotion_codes.first&.code %>">
        <% if !user.cart.promotion_codes.first %>
          <button onclick="apply_promo()" class="btn btn-sp" type="button">APPLY</button>
        <% else %>
          <button onclick="remove_promo()" class="btn btn-sp" type="button">REMOVE</button>
        <% end %>
      </div>

      <% end %>

      <script>

          function apply_gift() {
              $.ajax({
                  url: '/cart/gift-code',
                  type: 'patch',
                  dataType: 'json',
                  data: {
                      cart_id: '<%= user.cart.id %>',
                      promo_code: document.getElementById('promo_code_g').value
                  },
                  success: function (data, statusText, xhr) {
                      console.log(data);
                      if (data.code === 1005) {
                          window.location.reload(true);
                      } else if (data.code === 1004) {
                          document.getElementById('alert_messenger_g').innerHTML = 'PROMOTION OR GIFT CODE ALREADY APPLIED TO THIS PRODUCT'
                      } else if (data.code === 1003) {
                          document.getElementById('alert_messenger_g').innerHTML = 'PROMOTION EXPIRED'
                      } else if (data.code === 1002) {
                          document.getElementById('alert_messenger_g').innerHTML = 'MAXIMUM AMOUNT OF USERS REACHED'
                      } else if (data.code === 1001) {
                          document.getElementById('alert_messenger_g').innerHTML = 'ALREADY USED'
                      } else if (data.code === 1000) {
                          document.getElementById('alert_messenger_g').innerHTML = 'DOESN\'T EXIST'
                      }
                  },
                  error: function (data) {

                  }
              });
          }

          function apply_promo() {
              $.ajax({
                  url: '/cart/promo-code',
                  type: 'patch',
                  dataType: 'json',
                  data: {
                      cart_id: '<%= user.cart.id %>',
                      promo_code: document.getElementById('promo_code').value
                  },
                  success: function (data, statusText, xhr) {
                      console.log(data);
                      if (data.code === 1005) {
                          window.location.reload(true);
                      } else if (data.code === 1004) {
                          document.getElementById('alert_messenger').innerHTML = 'PROMOTION OR GIFT CODE ALREADY APPLIED TO THIS PRODUCT'
                      } else if (data.code === 1003) {
                          document.getElementById('alert_messenger').innerHTML = 'PROMOTION EXPIRED'
                      } else if (data.code === 1002) {
                          document.getElementById('alert_messenger').innerHTML = 'MAXIMUM AMOUNT OF USERS REACHED'
                      } else if (data.code === 1001) {
                          document.getElementById('alert_messenger').innerHTML = 'ALREADY USED'
                      } else if (data.code === 1000) {
                          document.getElementById('alert_messenger').innerHTML = 'DOESN\'T EXIST'
                      }
                  },
                  error: function (data) {

                  }
              });
          }

          function remove_promo() {
              $.ajax({
                  url: '/cart/promo-code',
                  type: 'delete',
                  dataType: 'json',
                  data: {},
                  success: function (data) {
                      window.location.reload(true);
                  },
                  error: function (data) {

                  }
              });
          }

          function remove_gift() {
              $.ajax({
                  url: '/cart/gift-code',
                  type: 'delete',
                  dataType: 'json',
                  data: {},
                  success: function (data) {
                      window.location.reload(true);
                  },
                  error: function (data) {

                  }
              });
          }

      </script>

    </div>
    <div style="position: relative" class="content-part preview-cart content-part-10">

      <div id="loading" class="hidden">

        <div class="loader">

        </div>

      </div>

      <div style="padding: 10px">

        <h4><span><%= get_item_count %></span> Items</h4>

        <hr>

        <div id="container_lts"></div>

        <script id="create-shape">

            var taxes = [];
            var prices = [];
            var stages = [];

            var stageWidth = 500;
            var stageHeight = 500;

            var container_lts = document.getElementById('container_lts');

            $.ajax({
                url: '/bag_items',
                type: 'GET',
                dataType: 'json',
                data: {},
                success: function (data) {
                    console.log(data);

                    taxes = data['tax_array'];
                    prices = data['cost_array'];
                    var discount_rate = parseFloat(data['discount']);

                    create_entry(0, data['products'].length);

                    function create_entry(i, lim) {
                        if (i < lim) {
                            var product = data['products'][i];

                            var pre = '<div class="item-checkout" style="padding-bottom: 20px; overflow: hidden;">\n' +
                                '        <div style="float: left; width: 33%; position: relative">\n' +
                                '          <div class="cart_item" id="cart' + product['id'] + '" style="width: 100%; height: 100%; margin-left: auto; margin-right: auto;"></div>\n' +
                                '        </div>\n' +
                                '          <div style="float: right; width: 63%; position: relative">\n' +
                                '            <h4 style="width: 80%">' + product['data']['title'] + '</h4>\n' +
                                '            <a onclick="delete_element(\'' + product['id'] + '\')" style="width: 20%; position: absolute; color: #2E2F30; cursor: pointer; top: 5px; right: 5px"><i class="fa fa-trash" aria-hidden="true"></i></a>\n' +
                                '            <div style="float: left; width: 50%">\n' +
                                '              <h6>Size: ' + product['size']['title'] + '</h6>\n' +
                                '              <h6>Customized: ' + ((product['has_emblem'] || product['has_logo']) ? 'YES' : 'NO') + '\n' +
                                '              <h6>Color: ' + product['color']['title'] + '</h6>\n' +
                                '            </div>\n' +
                                '            <div style="float: left; width: 50%; text-align: center">\n' +
                                '              <h3 style="font-size: 20px;">Qty: ' + product['qty'] + '</h3>\n' +
                                '              <h4>' + product['price_sgl'] + '</h4>\n' +
                                '            </div>\n' +
                                '            <button type="button" id="replacesable_button_edit" style="width: 49%; margin-top: 10px; float: right" class="btn-sp btn" onclick="edit_catalog(\'' + product['id'] + '\')">EDIT\n' +
                                '            </button>\n' +
                                '          </div>\n' +
                                '      </div>';


                            var div = document.createElement('div');
                            div.innerHTML = pre;

                            container_lts.appendChild(div);

                            var id = 'cart' + product['id'];
                            var container = $('#' + id);
                            console.log(container);
                            container.height(container.width());

                            var stage = new Konva.Stage({
                                container: id,
                                width: stageWidth,
                                height: stageHeight,
                                preventDefault: false
                            });
                            var layer = new Konva.Layer();
                            stage.add(layer);
                            stages.push(stage);

                            var baseImg = new Konva.Image({
                                width: stageWidth,
                                height: stageHeight,
                                draggable: false,
                                preventDefault: false
                            });
                            layer.add(baseImg);

                            var search_logo = true;

                            var imageObj1 = new Image();
                            imageObj1.onload = function () {
                                baseImg.image(imageObj1);

                                if (search_logo) {
                                    var baseLogo = new Konva.Image({
                                        x: 0,
                                        y: 0,
                                        width: container.width(),
                                        height: container.height(),
                                        draggable: false,
                                        preventDefault: false
                                    });
                                    layer.add(baseLogo);

                                    var logoBase = new Image();
                                    logoBase.onload = function () {
                                        baseLogo.image(logoBase);
                                        baseLogo.setWidth(this.width);
                                        baseLogo.setHeight(this.height);

                                        i += 1;
                                        create_entry(i, lim);
                                        layer.draw();
                                    };

                                    $.ajax({
                                        url: '/get_cart_item?product_cart_id=' + product['id'],
                                        type: 'GET',
                                        dataType: 'json',
                                        data: {},
                                        success: function (data) {
                                            console.log(data);
                                            var logo = data.logos[0];
                                            if (logo) {
                                                var image = getImage(data.pictures, logo.product_image_id);
                                                if (image) {
                                                    search_logo = false;
                                                    imageObj1.src = image.url;
                                                    logoBase.src = logo.logo_url;
                                                    baseLogo.setX(logo.x);
                                                    baseLogo.setY(logo.y);
                                                    baseLogo.scale({
                                                        x: logo.multiplexer,
                                                        y: logo.multiplexer
                                                    });

                                                }
                                            } else {
                                                i += 1;
                                                create_entry(i, lim);
                                                layer.draw();
                                            }
                                        },
                                        error: function (data) {
                                            console.log(data);
                                        }
                                    });
                                }
                            };

                            $.ajax({
                                url: '/catalog/product/color/main_image?color_id=' + product['color']['id'],
                                type: 'GET',
                                dataType: 'json',
                                data: {},
                                success: function (data) {
                                    imageObj1.src = data.picture;
                                },
                                error: function (data) {
                                    console.log(data);
                                }
                            });
                        } else {

                            var buttons = document.createElement('div');
                            buttons.innerHTML = '<button class="btn styling_btn text_light" style="width: 48%; font-size: 10px; min-width: auto; float: left; margin-bottom: 20px; color: black; border-color: black" onclick="clear_bag();">CLEAR\n' +
                                '                        BAG\n' +
                                '                        </button>\n' +
                                '                        <button class="btn styling_btn text_light" style="width: 48%; font-size: 10px; min-width: auto; float: right; margin-bottom: 20px; color: black; border-color: black" onclick="location.href = \'/\'">CONTINUE\n' +
                                '                        SHOPPING\n' +
                                '                        </button>';

                            container_lts.appendChild(buttons);

                            function fitStageIntoParentContainer_we() {
                                $('.cart_item').each(function (index) {

                                    $(this).height($(this).width());

                                    // now we need to fit stage into parent
                                    var containerWidth = $(this).width();
                                    // to do this we need to scale the stage
                                    var scale = containerWidth / stageWidth;
                                    stages[index].scale({x: scale, y: scale});
                                    stages[index].draw();
                                });
                            }

                            fitStageIntoParentContainer_we();
                            window.addEventListener('resize', fitStageIntoParentContainer_we);

                            var cost = 0;
                            for (var t = 0; t < prices.length; t++) {
                                cost += parseFloat(prices[t]);
                            }

                            var tax = 0;
                            for (var t = 0; t < taxes.length; t++) {
                                tax += parseFloat(taxes[t]);
                            }

                            document.getElementById('sub_total').innerText = '$' + cost.toFixed(2);
                            document.getElementById('estimated_tax').innerText = '$' + tax.toFixed(2);

                            if (discount_rate > 0){
                                document.getElementById('discountable').innerHTML = '<div style="overflow: hidden; margin: 40px 5px 5px;">\n' +
                                    '            <h4 class="t-right">Sub total</h4>\n' +
                                    '            <h3 style="font-weight: lighter;" class="s-left">$' + (cost + tax).toFixed(2) + '</h3>\n' +
                                    '          </div>\n' +
                                    '          <div style="overflow: hidden; margin: 40px 5px 5px;">\n' +
                                    '            <h4 class="t-right">Discount percentage</h4>\n' +
                                    '            <h4 style="font-weight: lighter;" class="s-left">'+ parseInt(discount_rate) +'%</h4>\n' +
                                    '          </div>';
                                $('.estimated_total').each(function (index) {
                                    $(this).html(((cost + tax) - ((cost + tax) * discount_rate / 100)).toFixed(2))
                                });
                            }else{
                                $('.estimated_total').each(function (index) {
                                    $(this).html((cost + tax).toFixed(2));
                                });
                            }


                        }
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });

        </script>

        <h3>ORDER DETAILS</h3>
        <hr>
        <div style="overflow: hidden; margin: 5px">
          <h4 class="t-right">Subtotal</h4><h4 id="sub_total" class="s-left">-</h4>
        </div>

        <div style="overflow: hidden; margin: 5px">
          <h4 class="t-right">Shipping</h4><h4 class="s-left">(Free US)</h4>
        </div>

        <div style="overflow: hidden; margin: 5px">
          <h4 class="t-right">Estimated Tax</h4><h4 id="estimated_tax" class="s-left">-</h4>
        </div>

          <div id="discountable"></div>

          <div style="overflow: hidden; margin: 40px 5px 5px;">
            <h4 class="t-right">Estimated total</h4>
            <h3 style="font-weight: lighter;" class="s-left">$<span style="font: inherit" class="estimated_total">-</span></h3>
          </div>

          <hr>

          <input type="checkbox" required> I agree to the
          <a href="" data-toggle="modal" data-target="#modal_terms">terms and conditions</a>.

          <button class="btn btn-sp" type="submit">Pay $<span class="estimated_total">-</span></button>
          <div class="outcome">
            <div id="error_hand"></div>
          </div>
      </div>
    </div>
  <% end %>
</div>

<script>

    var phone_field = $("#phone");
    phone_field.on("change keyup paste", function () {
        var output;
        var input = phone_field.val();
        input = input.replace(/[^0-9]/g, '');
        var area = input.substr(0, 3);
        var pre = input.substr(3, 3);
        var tel = input.substr(6, 4);
        if (area.length < 3) {
            output = "(" + area;
        } else if (area.length == 3 && pre.length < 3) {
            output = "(" + area + ")" + "-" + pre;
        } else if (area.length == 3 && pre.length == 3) {
            output = "(" + area + ")" + "-" + pre + "-" + tel;
        }
        phone_field.val(output);
    });

    var stripe = Stripe('pk_test_v1i9VQN3G18s8aYbnwi9Mqim');
    var elements = stripe.elements();

    var card = elements.create('card', {
        style: {
            base: {
                iconColor: '#666EE8',
                color: '#31325F',
                lineHeight: '50px',
                fontWeight: 300,
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSize: '15px',

                '::placeholder': {
                    color: '#70726C'
                }
            }
        }
    });
    var element_dd = $('#card-element');
    if (element_dd.length) {
        card.mount('#card-element');
    }

    var btn_holder = null;
    var new_holder = null;

    function modify_email(order_id, code) {
        var email_field = document.getElementById('email_address');
        var email_data = email_field.innerText;
        email_field.outerHTML = '<input id="email_holder" name="email" value="'+ email_data +'">';
        new_holder = document.getElementById('email_holder');
        new_holder.focus();
        new_holder.setSelectionRange(0, new_holder.value.length);

        var bodyRect = document.body.getBoundingClientRect();

        var rect = new_holder.getBoundingClientRect();
        btn_holder = document.createElement('div');
        btn_holder.id = 'button_holder';
        btn_holder.style.position = 'absolute';
        btn_holder.style.width = '20px';
        btn_holder.style.height = '20px';
        btn_holder.style.top = rect.top - bodyRect.top + 'px';
        btn_holder.style.left = rect.right + 3 + 'px';
        btn_holder.style.zIndex = '1';
        btn_holder.style.borderRadius = '50%';
        btn_holder.style.background = '#89c13e';
        btn_holder.style.textAlign = 'center';

        btn_holder.innerHTML = '<i id="confirmation_check" onclick="change_email(\'' + order_id + '\', \'' + code + '\')" class="fa fa-check" style="cursor: pointer; font-size: 18px; align-self: center; color: #ffffff" aria-hidden="true"></i>';
        document.getElementsByTagName('body')[0].appendChild(btn_holder);
    }

    function change_email(order_id, code) {
        var check = document.getElementById('confirmation_check');
        check.outerHTML = '<i id="confirmation_check" class="fa fa-spinner" style="animation: spin 2s linear infinite; font-size: 14px; align-self: center; color: #ffffff" aria-hidden="true"></i>'
        check = document.getElementById('confirmation_check');
        btn_holder.style.background = '#b692a2';
        $.ajax({
            url: '/change_order_email',
            type: 'patch',
            dataType: 'json',
            data: {
                order: order_id,
                code_authenticity: code,
                n_mail: new_holder.value
            },
            statusCode: {
                403: function (xhr) {
                    check.outerHTML = '<i id="confirmation_check" class="fa fa-times" style="font-size: 14px; align-self: center; color: #ffffff" aria-hidden="true"></i>';
                    console.log(data);
                }
            },
            success: function (data) {
                var order_id = data['order_id'];
                var code = data['auth_code'];
                btn_holder.remove();
                console.log(data);
                new_holder.outerHTML = '<span id="email_address" style="font-weight: bold">'+ new_holder.value +'</span>';
                document.getElementById('email_changer').outerHTML = '<a id="email_changer" onclick="modify_email(\''+ order_id +'\',\''+ code +'\');" class="text-uppercase text_light_pink" style="cursor: pointer; margin: 5px; text-decoration: none; float: left">Change email</a>';
            },
            error: function (data) {
            }
        })
    }

    function setOutcome(result) {

        var error_h = document.getElementById('error_hand');
        if (result.token) {

            document.getElementById('loading').classList.remove('hidden');

            // get all the inputs into an array.
            var $inputs = $('#payment-form').find(':input');

            // not sure if you wanted this, but I thought I'd add it.
            // get an associative array of just the values.
            var values = {};
            $inputs.each(function () {
                values[this.name] = $(this).val();
            });
            values['token'] = result.token;

            $.ajax(
                {
                    url: '/checkout',
                    method: 'post',
                    datType: 'json',
                    data: values,
                    success: function (data) {
                        console.log(data);
                        var charging_data = data['charge'];
                        if (charging_data['paid']) {
                            document.getElementById('loading').innerHTML ='  <div style="padding: 0; width: 80%; height: 365px" class="card content-part message_container">\n' +
                                '<i class="fa fa-check" style="font-size: 160px; align-self: center; color: #89c13e" aria-hidden="true"></i>\n' +
                                '    <div style="padding-left: 20px; padding-right: 20px; height: 120px; overflow-y: auto">\n' +
                                '      <h4 class="text_light">An email has been sent to <span id="email_address" style="font-weight: bold">' + document.getElementById('cardholder-email').value + '</span>, if you did not see it check your spam folder, change the email if any mistake or click resend to send the confirmation once again, if you need help contact <a href="/contact_us" target="_blank" style="text-decoration: none; color: #b692a2; cursor: pointer" >support</a>.</h4>\n' +
                                '\n' +
                                '    </div>\n' +
                                '\n' +
                                '    <div style="bottom: 10px; width: 100%">\n' +
                                '      <hr>\n' +
                                '      <a id="email_changer" onclick="modify_email(\''+ data['order']['id'] +'\',\''+ data['ca'] +'\');" class="text-uppercase text_light_pink" style="cursor: pointer; margin: 5px; text-decoration: none; float: left">Change email</a>\n' +
                                '      <a href="/" class="text-uppercase text_light_pink" style="cursor: pointer; margin: 5px; text-decoration: none; float: right">Continue</a>\n' +
                                '      <div style="float: right; border: #0b0b0b 2px"></div>\n' +
                                '      <a class="text-uppercase text_light_pink" style="cursor: pointer; margin: 5px; text-decoration: none; float: right">Resend</a>\n' +
                                '    </div>\n' +
                                '  </div>\n' +
                                '</div>';
                        } else {

                            var message = {
                                invalid_number: 'The card number is not a valid credit card number.',
                                invalid_expiry_month: 'The card\'s expiration month is invalid.',
                                invalid_expiry_year: 'The card\'s expiration year is invalid.',
                                invalid_cvc: 'The card\'s security code is invalid.',
                                invalid_swipe_data: 'The card\'s swipe data is invalid.',
                                incorrect_number: 'The card number is incorrect.',
                                expired_card: 'The card has expired.',
                                incorrect_cvc: 'The card\'s security code is incorrect.',
                                incorrect_zip: 'The card\'s zip code failed validation.',
                                card_declined: 'The card was declined.',
                                missing: 'There is no card on a customer that is being charged.',
                                processing_error: 'An error occurred while processing the card.'
                            };

                            document.getElementById('loading').classList.add('hidden');
                            error_h.innerHTML = '<div class="error_message"><h6>' + message[charging_data['code']] + '</h6></div>';
                        }
                    },
                    error: function () {
                        document.getElementById('loading').classList.add('hidden');
                    }
                }
            );

        } else if (result.error) {
            error_h.innerHTML = '<div class="error_message"><h6>' + result.error.message + '</h6></div>';
            error_h.classList.add('visible');
        }
    }

    card.on('change', function (event) {
        setOutcome(event);
    });

    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();
        if (element_dd.length) {
            var form = document.querySelector('form');
            var extraDetails = {
                name: form.querySelector('input[name=cardholder-first-name]').value
            };
            stripe.createToken(card, extraDetails).then(setOutcome);
        } else {
            var result = {};
            result.token = 'none';
            setOutcome(result);
        }
    });
</script>