<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
<body style="background-color: white">
<div class="main masonry">

  <div style="padding: 20px; background-color: white">

    <div style="width: 100%; height: 100%; position: absolute;" id="loading_a" class="hidden">

      <div style="margin: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0" class="loader">

      </div>

    </div>

    <h1 class="text-light">Configuration</h1>
    <hr>

    <div style="margin: 20px">
      <h2 class="text-light">Settings</h2>
      <hr>
      <% ConfigurationWeb.where(content_type: 6).each do |co| %>
        <div>
          <input onclick="set_v_b(<%= co.id %>, '<%= co.value %>')" style="font-size: 310%; -webkit-transform: scale(2);" type="checkbox" id="<%= co.id %>" value="<%= co.value %>"
                 <% if co.value.eql? 'true' %> checked
                 <% end %> aria-describedby="basic-addon1">
          <span style="width: 10%" id="basic-addon1"><%= co.title %></span>
        </div>
      <% end %>
    </div>

    <div style="margin: 20px">
      <h2 class="text-light">Products</h2>
      <hr>
      <% ConfigurationWeb.where(content_type: 1).each do |co| %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= co.title %></span>
          <input id="<%= co.id %>" class="form-control" value="<%= co.value %>" aria-describedby="basic-addon1">
          <span style="padding-top: 3px; padding-bottom: 3px;" class="input-group-addon"><button onclick="find_id('<%= co.id || -1 %>')" style="font-size: 7px" class="btn btn-default">SELECT PRODUCT</button></span>
        </div>
      <% end %>
      <% ConfigurationWeb.where(content_type: 3).each do |co| %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= co.title %></span>
          <input id="<%= co.id %>" class="form-control" value="<%= co.value %>" aria-describedby="basic-addon1">
          <span style="padding-top: 3px; padding-bottom: 3px;" class="input-group-addon"><button onclick="find_ids('<%= co.id || -1 %>')" style="font-size: 7px" class="btn btn-default">SELECT PRODUCTS</button></span>
        </div>
      <% end %>
    </div>

    <div style="margin: 20px">
      <h2 class="text-light">Texts</h2>
      <hr>
      <% ConfigurationWeb.where(content_type: 0).each do |co| %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= co.title %></span>
          <input id="<%= co.id %>" class="form-control" value="<%= co.value %>" aria-describedby="basic-addon1">
          <span style="padding-top: 3px; padding-bottom: 3px;" class="input-group-addon"><button onclick="set_v('<%= co.id || -1 %>')" style="font-size: 7px" class="btn btn-default">SET</button></span>
        </div>
      <% end %>
      <% ConfigurationWeb.where(content_type: 2).each do |co| %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= co.title %></span>
          <input id="<%= co.id %>" class="form-control" value="<%= co.value %>" aria-describedby="basic-addon1">
          <span style="padding-top: 3px; padding-bottom: 3px;" class="input-group-addon"><button onclick="edit_entry('<%= co.id || -1 %>')" style="font-size: 7px" class="btn btn-default">EDIT ENTRY</button></span>
          <script>
              document.getElementById(<%= co.id %>).disabled = true;
          </script>
        </div>
      <% end %>
    </div>

    <div style="margin: 20px">
      <h2 class="text-light">Media</h2>
      <hr>
      <% ConfigurationWeb.where(content_type: 4).each do |co| %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= co.title %></span>
          <input id="<%= co.id %>" class="form-control" value="<%= co.value %>" aria-describedby="basic-addon1">
          <span style="padding-top: 3px; padding-bottom: 3px;" class="input-group-addon"><i style="cursor: pointer" onclick="location.href = '<%= co.picture %>'" class="fa fa-picture-o" aria-hidden="true"></i><button onclick="image_uploader('<%= co.id || -1 %>')" style="font-size: 7px" class="btn btn-default">CHANGE IMAGE</button></span>
          <script>
              var image = document.getElementById(<%= co.id %>);
              image.disabled = true;
          </script>
        </div>
      <% end %>
      <% ConfigurationWeb.where(content_type: 5).each do |co| %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><%= co.title %></span>
          <input id="<%= co.id %>" class="form-control" value="<%= co.value %>" aria-describedby="basic-addon1">
          <span style="padding-top: 3px; padding-bottom: 3px;" class="input-group-addon"><i style="cursor: pointer" onclick="location.href = '<%= co.video.url %>'" class="fa fa-video-camera" aria-hidden="true"></i><button onclick="video_uploader('<%= co.id || -1 %>')" style="font-size: 7px" class="btn btn-default">CHANGE VIDEO</button></span>
          <script>
              var video = document.getElementById(<%= co.id %>);
              video.disabled = true;
          </script>
        </div>
      <% end %>
    </div>


    <div style="margin: 20px">
      <h2 class="text-light">Administrators</h2>
      <hr>

      <table class="table" id="table">
        <thead>
        <tr>
          <th>Last seen</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <% Admin.all.each do |a| %>
          <tr>
            <td><%= a.updated_at %></td>
            <td><%= a.email %></td>
            <td>
              <!--<i onclick="open_history('<%= a.id %>')" style="font-size: x-large; cursor: pointer" class="fa fa-history" aria-hidden="true"></i>-->
              <% if a.id != 2 %>
                <i style="font-size: x-large; cursor: pointer" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i style="font-size: x-large; cursor: pointer" class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>

      <button onclick="add_amin()" class="btn btn-sp text-light">ADD AMINISTRATOR</button>

    </div>

    <div style="text-align: left">

      <!-- The Modal -->
      <div id="modal" class="modal">

      </div>

      <div id="entry_editor" class="modal">
        <div class="modal-content">
          <span onclick="close_modal()" id="actor" style="cursor: pointer; color: grey; z-index: 9000; position: absolute; font-size: medium; right: 5px; top: 0;"><i class="fa fa-times" aria-hidden="true"></i></span>

          <textarea name="editor" id="editor" rows="10" cols="80">
          </textarea>
          <script>
              // Replace the <textarea id="editor1"> with a CKEditor
              // instance, using default configuration.
              CKEDITOR.replace('editor');
          </script>

          <button type="button" class="btn btn-success" onclick="update_entry();">UPDATE</button>

        </div>
      </div>

      <div id="product_finder" class="modal">
        <div class="modal-content">
          <span onclick="close_modal()" id="actor" style="cursor: pointer; color: grey; z-index: 9000; position: absolute; font-size: medium; right: 5px; top: 0;"><i class="fa fa-times" aria-hidden="true"></i></span>

          <div class="table_search">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">ID</span>
              <input type="text" class="form-control" aria-describedby="basic-addon2" id="id_input" name="id_input">
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">SKU</span>
              <input type="text" class="form-control" aria-describedby="basic-addon2" id="sku" name="sku">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Title</span>
              <input type="text" class="form-control" aria-describedby="basic-addon1" id="title" name="title">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Less than</span>
              <input type="number" step="any" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" id="amount" name="amount">
              <span class="input-group-addon">$</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Category</span>
              <select class="form-control" id="category" name="category">
              </select>
            </div>

            <script>

                $.ajax({
                    url: '/admin/all_categories',
                    type: 'GET',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        var category_side = document.getElementById('category');
                        var text = '<option value="">All categories</option>';
                        for (var i = 0; i < data.length; i++) {
                            text = text + '<option value="' + data[i]['id'] + '">' + data[i]['title'] + '</option>';
                        }
                        category_side.innerHTML = text;
                    },
                    error: function (data) {

                    }
                });

            </script>

            <button class="btn btn-primary" onclick="loadTable_1()" style="width: 100%" type="button">Search</button>
          </div>

          <div class="table_buttons">
            <button type="button" class="btn btn-info" onclick="show_selection()">Info</button>
            <button type="button" class="btn btn-success" onclick="selected_item()">Select product</button>
          </div>

          <div class="table_products">

            <hr style="margin: 0;">
            <table class="table" id="table">
              <thead>
              <tr>
                <th></th>
                <th><i class="fa fa-picture-o" aria-hidden="true"></i></th>
                <th class="header-ele">Title</th>
                <th class="header-ele">Inventory</th>
                <th class="header-ele">Category</th>
                <th class="header-ele">Price $</th>
              </tr>
              </thead>
              <tbody id="list-to-m">

              </tbody>
            </table>
            <div id="pages1">

            </div>
            <script>

                var item = null;
                var temp_id = '';
                var page1 = 1;

                function update_entry() {

                    document.getElementById('loading_a').classList.remove('hidden');

                    document.getElementById(temp_id).value = CKEDITOR.instances.editor.getData();
                    var modal = document.getElementById('entry_editor');
                    modal.style.display = "none";

                    $.ajax({
                        url: '/configuration_webs',
                        type: 'patch',
                        dataType: 'json',
                        data: {
                            id: temp_id,
                            value: CKEDITOR.instances.editor.getData(),
                            "authenticity_token": '<%= form_authenticity_token %>'
                        },
                        success: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        },
                        error: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        }
                    })
                }

                function selected_item() {


                    document.getElementById('loading_a').classList.remove('hidden');

                    document.getElementById(temp_id).value = item;
                    var modal = document.getElementById('product_finder');
                    modal.style.display = "none";

                    $.ajax({
                        url: '/configuration_webs',
                        type: 'patch',
                        dataType: 'json',
                        data: {
                            id: temp_id,
                            value: item,
                            "authenticity_token": '<%= form_authenticity_token %>'
                        },
                        success: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        },
                        error: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        }
                    })
                }

                function set_v_b(id, val) {

                    document.getElementById('loading_a').classList.remove('hidden');

                    $.ajax({
                        url: '/configuration_webs',
                        type: 'patch',
                        dataType: 'json',
                        data: {
                            id: id,
                            value: (val === "false") ? "true" : "false",
                            "authenticity_token": '<%= form_authenticity_token %>'
                        },
                        success: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        },
                        error: function (data) {

                            window.location.reload(true);
                            document.getElementById('loading_a').classList.add('hidden');
                        }
                    })
                }

                function set_v(id) {

                    document.getElementById('loading_a').classList.remove('hidden');

                    $.ajax({
                        url: '/configuration_webs',
                        type: 'patch',
                        dataType: 'json',
                        data: {
                            id: id,
                            value: document.getElementById(id).value,
                            "authenticity_token": '<%= form_authenticity_token %>'
                        },
                        success: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        },
                        error: function (data) {

                            window.location.reload(true);
                            document.getElementById('loading_a').classList.add('hidden');
                        }
                    })
                }

                var modal = null;

                function find_id(id) {
                    temp_id = id;
                    modal = document.getElementById('product_finder');
                    loadTable_1();
                    modal.style.display = "block";
                }

                function add_amin(){
                  modal = document.getElementById('admin_adder');
                  modal.style.display = "block";
                }

                function open_history(id){
                  temp_id = id;
                  modal = document.getElementById('history_watcher');
                  modal.style.display = "block";
                  $.ajax({
                    url: "/admin/history?admin_id=" + id,
                    type: 'GET',
                    dataType: 'json',
                    data: {},
                    success: function(data) {
                      var history_loader = document.getElementById("history_loader");
                      var histories_entries = "";
                      for(var history in data){
                        var history_element = data[history];
                        var dataType = history_element['method']
                        histories_entries += "<div class=\"card_dd container_dd\" style=\"margin: 10px;\">"+ dataType +"</div>";
                      }
                      history_loader.innerHTML = histories_entries;
                    },
                    error: function(data){

                    }
                  })
                }

                function find_ids(id) {
                    temp_id = id;
                    modal = document.getElementById('products_finder');
                    loadTable_2();
                    modal.style.display = "block";
                }

                function image_uploader(id) {
                    temp_id = id;
                    modal = document.getElementById('image_uploader');
                    modal.style.display = "block";
                    document.getElementById('configuration_web_id').value = id;
                }

                function video_uploader(id) {
                    temp_id = id;
                    modal = document.getElementById('video_uploader');
                    modal.style.display = "block";
                    document.getElementById('video_on').value = id;
                }

                function edit_entry(id) {
                    temp_id = id;
                    modal = document.getElementById('entry_editor');
                    modal.style.display = "block";
                    CKEDITOR.instances['editor'].setData(document.getElementById(temp_id).value);
                }

                function loadTable_1() {
                    $.ajax({
                        url: '/admin/all_products?page=' + page1,
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            id: document.getElementById('id_input').value,
                            sku: document.getElementById('sku').value,
                            title: document.getElementById('title').value,
                            amount: document.getElementById('amount').value,
                            category: document.getElementById('category').value
                        },
                        success: function (data) {

                            var total = data['total']['FOUND_ROWS()'];


                            var page_crts = document.getElementById('pages1');
                            page_crts.innerHTML = '';
                            for (var we = 0; we < (total / 10); we++) {
                                page_crts.innerHTML = page_crts.innerHTML + '<div onclick="page1=(' + (we + 1) + '); loadTable_1()" class="text_light paging_crt ' + (((we + 1) === page1) ? 'pink-p' : '') + ' ">' + (we + 1) + '</div>';
                            }

                            data = data['product'];

                            var table_body = document.getElementById('list-to-m');
                            var text = '';
                            for (var i = 0; i < data.length; i++) {

                                text = text + '<tr id="product-row">\n' +
                                    '            <td>\n' +
                                    '              <input id="select-obj" type="radio" name="select-obj" autocomplete="off" onclick="add_item(this, \'' + data[i]['id'] + '\')">\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                  <span id="img-thumb" style="width: 50px" class="thumbnail"><img alt="Product image" src="' + data[i]['product_image_id'] + '"></span>\n' +
                                    '            </td>\n' +
                                    '            <td>' + data[i]['title'] + '</td>\n' +
                                    '            <td>' + data[i]['stock'] + '</td>\n' +
                                    '            <td>' + data[i]['categories_l'] + '</td>\n' +
                                    '            <td class="price" style="text-align: right">' + data[i]['price'] + '</td>\n' +
                                    '          </tr>'
                            }
                            table_body.innerHTML = text;
                        },
                        error: function (data) {

                        }
                    });
                }

                function add_item(box, product) {
                    $('input[type="radio"]').each(function () {
                        $(this).prop('checked', false);
                    });
                    box.checked = true;
                    item = product;
                }

                function show_selection() {
                    if (item !== null) {
                        window.open('/admin/product/' + item);
                    }
                }

            </script>
          </div>
        </div>
      </div>

      <div id="products_finder" class="modal">
        <div class="modal-content">
          <span onclick="close_modal()" id="actor" style="cursor: pointer; color: grey; z-index: 9000; position: absolute; font-size: medium; right: 5px; top: 0;"><i class="fa fa-times" aria-hidden="true"></i></span>

          <div class="table_search">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">ID</span>
              <input type="text" class="form-control" aria-describedby="basic-addon2" id="id_input_2" name="id_input">
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">SKU</span>
              <input type="text" class="form-control" aria-describedby="basic-addon2" id="sku_2" name="sku">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Title</span>
              <input type="text" class="form-control" aria-describedby="basic-addon1" id="title_2" name="title">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Less than</span>
              <input type="number" step="any" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" id="amount_2" name="amount">
              <span class="input-group-addon">$</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Category</span>
              <select class="form-control" id="category_2" name="category">
              </select>
            </div>

            <script>

                $.ajax({
                    url: '/admin/all_categories',
                    type: 'GET',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        var category_side = document.getElementById('category_2');
                        var text = '<option value="">All categories</option>';
                        for (var i = 0; i < data.length; i++) {
                            text = text + '<option value="' + data[i]['id'] + '">' + data[i]['title'] + '</option>';
                        }
                        category_side.innerHTML = text;
                    },
                    error: function (data) {

                    }
                });

            </script>

            <button class="btn btn-primary" onclick="loadTable_2()" style="width: 100%" type="button">Search</button>
          </div>

          <div class="table_buttons">
            <button type="button" class="btn btn-info" onclick="show_selection()">Info</button>
            <button type="button" class="btn btn-success" onclick="set_values_ids()">Done</button>
          </div>

          <div class="table_products">
            <hr style="margin: 0;">
            <table class="table" id="table">
              <thead>
              <tr>
                <th></th>
                <th><i class="fa fa-picture-o" aria-hidden="true"></i></th>
                <th class="header-ele">Title</th>
                <th class="header-ele">Inventory</th>
                <th class="header-ele">Category</th>
                <th class="header-ele">Price $</th>
              </tr>
              </thead>
              <tbody id="list-to-m_2">

              </tbody>
            </table>
            <div id="pages2">

            </div>
            <script>

                var page2 = 1;

                function close_modal() {
                    if (modal) {
                        modal.style.display = "none";
                        dim_back.style.display = "none";
                    }
                }

                var ids = [];

                function add_item_s(id) {
                    ids.includes(id) ? ids.remove(id) : ids.push(id)
                }

                Array.prototype.remove = function () {
                    var what, a = arguments, L = a.length, ax;
                    while (L && this.length) {
                        what = a[--L];
                        while ((ax = this.indexOf(what)) !== -1) {
                            this.splice(ax, 1);
                        }
                    }
                    return this;
                };

                function set_values_ids() {

                    document.getElementById('loading_a').classList.remove('hidden');

                    document.getElementById(temp_id).value = ids;
                    var modal = document.getElementById('products_finder');
                    modal.style.display = "none";

                    $.ajax({
                        url: '/configuration_webs',
                        type: 'patch',
                        dataType: 'json',
                        data: {
                            id: temp_id,
                            value: ids,
                            "authenticity_token": '<%= form_authenticity_token %>'
                        },
                        success: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        },
                        error: function (data) {

                            document.getElementById('loading_a').classList.add('hidden');
                        }
                    })
                }

                function loadTable_2() {
                    $.ajax({
                        url: '/admin/all_products?page=' + page2,
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            id: document.getElementById('id_input_2').value,
                            sku: document.getElementById('sku_2').value,
                            title: document.getElementById('title_2').value,
                            amount: document.getElementById('amount_2').value,
                            category: document.getElementById('category_2').value
                        },
                        success: function (data) {

                            var total = data['total']['FOUND_ROWS()'];


                            var page_crts = document.getElementById('pages2');
                            page_crts.innerHTML = '';
                            for (var we = 0; we < (total / 10); we++) {
                                page_crts.innerHTML = page_crts.innerHTML + '<div onclick="page2=(' + (we + 1) + '); loadTable_2()" class="text_light paging_crt ' + (((we + 1) === page2) ? 'pink-p' : '') + ' ">' + (we + 1) + '</div>';
                            }

                            data = data['product'];

                            var table_body = document.getElementById('list-to-m_2');
                            var text = '';
                            for (var i = 0; i < data.length; i++) {

                                text = text + '<tr id="product-row">\n' +
                                    '            <td>\n' +
                                    '              <input id="select-obj" type="checkbox" name="select-obj" autocomplete="off" onclick="add_item_s(\'' + data[i]['id'] + '\')">\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                  <span id="img-thumb" style="width: 50px" class="thumbnail"><img alt="Product image" src="' + data[i]['product_image_id'] + '"></span>\n' +
                                    '            </td>\n' +
                                    '            <td>' + data[i]['title'] + '</td>\n' +
                                    '            <td>' + data[i]['stock'] + '</td>\n' +
                                    '            <td>' + data[i]['categories_l'] + '</td>\n' +
                                    '            <td class="price" style="text-align: right">' + data[i]['price'] + '</td>\n' +
                                    '          </tr>'
                            }
                            table_body.innerHTML = text;
                        },
                        error: function (data) {

                        }
                    });
                }

                $('*[class*=price]:visible').each(function () {
                    var amount = $(this).html();
                    var i = parseFloat(amount);
                    if (isNaN(i)) {
                        i = 0.00;
                    }
                    var minus = '';
                    if (i < 0) {
                        minus = '-';
                    }
                    i = Math.abs(i);
                    i = parseInt((i + .005) * 100);
                    i = i / 100;
                    var s = String(i);
                    if (s.indexOf('.') < 0) {
                        s += '.00';
                    }
                    if (s.indexOf('.') === (s.length - 2)) {
                        s += '0';
                    }
                    s = minus + s;
                    $(this).html(s);
                });
            </script>
          </div>
        </div>
      </div>

      <div id="image_uploader" class="modal" tabindex="-1" role="dialog" aria-labelledby="cart_modal_abel" aria-hidden="true">
        <div class="modal-content">
          <span onclick="close_modal()" id="actor" style="cursor: pointer; color: grey; z-index: 9000; position: absolute; font-size: medium; right: 5px; top: 0;"><i class="fa fa-times" aria-hidden="true"></i></span>

          <%= form_for ConfigurationWeb.all.first, url: configuration_webs_url, html: {multipart: true} do |form| %>
            <%= form.hidden_field :id %>
            <%= form.file_field :picture %>
            <%= form.submit %>
          <% end %>

        </div>
      </div>

      <div id="video_uploader" class="modal" tabindex="-1" role="dialog" aria-labelledby="cart_modal_abel" aria-hidden="true">
        <div class="modal-content">
          <span onclick="close_modal()" id="actor" style="cursor: pointer; color: grey; z-index: 9000; position: absolute; font-size: medium; right: 5px; top: 0;"><i class="fa fa-times" aria-hidden="true"></i></span>

          <%= form_for ConfigurationWeb.all.first, url: configuration_webs_url, html: {multipart: true} do |form| %>
            <%= form.hidden_field :id, id: 'video_on' %>
            <%= form.file_field :video %>
            <%= form.submit %>
          <% end %>

        </div>
      </div>

      <div id="history_watcher" class="modal" tabindex="-1" role="dialog" aria-labelledby="cart_modal_abel" aria-hidden="true">
        <div class="modal-content">
          <span onclick="close_modal()" id="actor" style="cursor: pointer; color: grey; z-index: 9000; position: absolute; font-size: medium; right: 5px; top: 0;"><i class="fa fa-times" aria-hidden="true"></i></span>
          <div id="history_loader">

          </div>
        </div>
      </div>

      <div id="admin_adder" class="modal" tabindex="-1" role="dialog" aria-labelledby="cart_modal_abel" aria-hidden="true">
        <div class="modal-content">
          <span onclick="close_modal()" id="actor" style="cursor: pointer; color: grey; z-index: 9000; position: absolute; font-size: medium; right: 5px; top: 0;"><i class="fa fa-times" aria-hidden="true"></i></span>

          <%= form_for(:admin, :url => "/admin/create/new")   do |f| %>
          <input style="width: 35%;" type="email" id="email" name="email" placeholder="Administrator email">
          <input style="width: 20%;" type="password" id="password" name="pasword" placeholder="Password">
          <input style="width: 20%;" type="password" id="password_confirmation" name="password_confirmation" placeholder="Password confirmation">
          <button style="width: 20%;" class="btn btn-sp button text_light">ADD</button>
          <% end %>

          <!--<select name="role_select" id="role_select" style="width: 25%;">
            <option value="1">Role 1</option>
            <option value="2">Role 2</option>
            <option value="3">Role 3</option>
          </select>-->

        </div>
      </div>

    </div>

  </div>
</div>
</body>
