<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-home"></span></a>
        </li>
        <li>
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-picture-o"></span></a>
        </li>
        <li>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-truck"></span></a>
        </li>
        <li>
          <a href="/admin/mailer">Mailer<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-envelope"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">
<div class="main masonry">
  <div class="card showcase-part">
    <h4>Multi showcase</h4>
    <hr>
    <h6>Current showcase</h6>
    <div style="text-align: left">
      <% GroupShowcase.all.where(:screen => 3).each do |groupShowcase| %>

          <h6><%= groupShowcase.name_identity %></h6>
          <div class="showcase-container">
            <% groupShowcase.showcases.all.each do |sh| %>
                <% if !sh.video_show.blank? %>
                    <video autobuffer="autobuffer" preload="auto" style="width:400px;" controls="controls" poster="<%= sh.video_show.video.url(:preview) %>">
                      <source type="video/mp4" src="<%= sh.video_show.video.url(:mp4video) %>"/>
                    </video>
                <% elsif !sh.image_show.blank? %>
                    <img class="image_showcase_ad" src="<%= sh.image_show.image.url(:medium) %>">
                <% elsif !sh.product_id.blank? %>
                    <% item = get_product(sh.product_id) %>
                    <a href="/admin/product/<%= sh.product_id %>"><img class="image_showcase_ad" src="https://<%= item['images'][0]['segments']['domain'] %>w200/h200/<%= item['images'][0]['segments']['suffix'] %>"></a>
                <% end %>
            <% end %>

            <a class="showcase" onclick="openModal('<%= groupShowcase.id %>')" href="#">Add to showcase</a>
          </div>


      <% end %>
      <!-- The Modal -->
      <div id="modal" class="modal">

      </div>

      <div id="product_finder" class="modal">
        <div class="modal-content">

          <div class="table_search card">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">ID</span>
              <label for="id"></label>
              <input type="text" class="form-control" aria-describedby="basic-addon2" id="id_input" name="id_input">
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">SKU</span>
              <label for="sku"></label>
              <input type="text" class="form-control" aria-describedby="basic-addon2" id="sku" name="sku">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Title</span>
              <label for="title"></label><input type="text" class="form-control" aria-describedby="basic-addon1" id="title" name="title">
            </div>

            <div class="input-group">
              <span class="input-group-addon">Less than</span>
              <label for="amount"></label><input type="number" step="any" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" id="amount" name="amount">
              <span class="input-group-addon">$</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">Category</span>
              <label for="category"></label>
              <select class="form-control" id="category" name="category">

              </select>
            </div>

            <script>

                $.ajax({
                    url: '/admin/all_categories',
                    type: 'GET',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        var category_side = document.getElementById('category');
                        var text = '<option value="">All categories</option>';
                        for (var i = 0; i < data.length; i++) {
                            text = text + '<option value="' + data[i]['id'] + '">' + data[i]['title'] + '</option>';
                        }
                        category_side.innerHTML = text;
                    },
                    error: function (data) {

                    }
                });

            </script>

            <button class="btn btn-primary" onclick="loadTable()" style="width: 100%" type="button">Search</button>
          </div>

          <div class="table_buttons card">
            <button type="button" class="btn btn-info" onclick="show_selection()">Info</button>
            <button type="button" class="btn btn-success" onclick="selected_item()">Select product</button>
          </div>

          <div class="table_products card">
            <table class="table" id="table">
              <thead>
              <tr>
                <th></th>
                <th><i class="fa fa-picture-o" aria-hidden="true"></i></th>
                <th class="header-ele">Title</th>
                <th class="header-ele">Inventory</th>
                <th class="header-ele">Category</th>
                <th class="header-ele">Price $</th>
              </tr>
              </thead>
              <tbody id="list-to-m">

              </tbody>
            </table>
            <script>

                var item = null;

                $.ajax({
                    url: '/admin/all_products',
                    type: 'GET',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        var table_body = document.getElementById('list-to-m');
                        var text = '';
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            text = text + '<tr id="product-row">\n' +
                                '            <td>\n' +
                                '              <input id="select-obj" type="radio" name="select-obj" autocomplete="off" onclick="add_item(this, \'' + data[i]['id'] + '\')">\n' +
                                '            </td>\n' +
                                '            <td>\n' +
                                '                  <span id="img-thumb" style="width: 50px" class="thumbnail"><img src="' + data[i]['product_image_id'] + '"></span>\n' +
                                '            </td>\n' +
                                '            <td>' + data[i]['title'] + '</td>\n' +
                                '            <td>' + data[i]['stock'] + '</td>\n' +
                                '            <td>' + data[i]['categories_l'] + '</td>\n' +
                                '            <td class="price" style="text-align: right">' + data[i]['price'] + '</td>\n' +
                                '          </tr>'
                        }
                        table_body.innerHTML = text;
                    },
                    error: function (data) {

                    }
                });

                function selected_item() {
                    document.getElementById('product_id').value = item;
                    var modal = document.getElementById('product_finder');
                    modal.style.display = "none";
                }

                function loadTable() {
                    $.ajax({
                        url: '/admin/all_products',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            id: document.getElementById('id_input').value,
                            sku: document.getElementById('sku').value,
                            title: document.getElementById('title').value,
                            amount: document.getElementById('amount').value,
                            category: document.getElementById('category').value
                        },
                        success: function (data) {
                            var table_body = document.getElementById('list-to-m');
                            var text = '';
                            for (var i = 0; i < data.length; i++) {
                                console.log(data[i]);
                                text = text + '<tr id="product-row">\n' +
                                    '            <td>\n' +
                                    '              <input id="select-obj" type="radio" name="select-obj" autocomplete="off" onclick="add_item(this, \'' + data[i]['id'] + '\')">\n' +
                                    '            </td>\n' +
                                    '            <td>\n' +
                                    '                  <span id="img-thumb" style="width: 50px" class="thumbnail"><img src="' + data[i]['product_image_id'] + '"></span>\n' +
                                    '            </td>\n' +
                                    '            <td>' + data[i]['title'] + '</td>\n' +
                                    '            <td>' + data[i]['stock'] + '</td>\n' +
                                    '            <td>' + data[i]['categories_l'] + '</td>\n' +
                                    '            <td class="price" style="text-align: right">' + data[i]['price'] + '</td>\n' +
                                    '          </tr>'
                            }
                            table_body.innerHTML = text;
                        },
                        error: function (data) {

                        }
                    });
                }

                function add_item(box, product) {
                    $('input[type="radio"]').each(function () {
                        $(this).prop('checked', false);
                    });
                    box.checked = true;
                    item = product;
                    console.log(item);
                }

                $('*[class*=price]:visible').each(function () {
                    var amount = $(this).html();
                    var i = parseFloat(amount);
                    if (isNaN(i)) {
                        i = 0.00;
                    }
                    var minus = '';
                    if (i < 0) {
                        minus = '-';
                    }
                    i = Math.abs(i);
                    i = parseInt((i + .005) * 100);
                    i = i / 100;
                    var s = String(i);
                    if (s.indexOf('.') < 0) {
                        s += '.00';
                    }
                    if (s.indexOf('.') === (s.length - 2)) {
                        s += '0';
                    }
                    s = minus + s;
                    $(this).html(s);
                });

                function show_selection() {
                    if (item !== null) {
                        window.open('/admin/product/' + item);
                    }
                }
            </script>
          </div>
        </div>
      </div>

      <script>

          function find_id() {
              var modal = document.getElementById('product_finder');
              modal.style.display = "block";
          }

          function openModal(id) {

              // Get the modal
              var modal = document.getElementById('modal');

              var html = '<div class="modal-content">'
                  + '<span class="close">&times;</span>'
                  + '<form method="post" action="<%= showcases_path %>" enctype="multipart/form-data">'
                  + '<input class="hidden" value="1" name="active">'
                  + '<input class="hidden" value="1" name="screen">'
                  + '<select name="content_type" id="content-type">'
                  + '<option value="0">Video</option>'
                  + '<option value="1">Image</option>'
                  + '<option value="2">Product</option>'
                  + '</select>'
                  + '<div id="video_f" class="">'
                  + '<label for="image_f">Upload video</label>'
                  + '<input type="file" name="video">'
                  + '<label>Url</label>'
                  + '<input style="width: 100%" type="text" name="url_association">'
                  + '</div>'
                  + '<div id="image_f" class="hidden">'
                  + '<label for="image_f">Upload image</label>'
                  + '<input type="file" name="image">'
                  + '<label>Url</label>'
                  + '<input style="width: 100%" type="text" name="url_association">'
                  + '</div>'

                  + '<div id="product_f" class="hidden">'
                  + '<label for="product_f">Product id</label>'
                  + '<input style="width: 80%" type="text" name="product_id" id="product_id">'
                  + '<p onclick="find_id()">FIND ID</p>'
                  + '</div>'

                  + '<input class="hidden" name="group_showcase_id" type="text" value="' + id + '">'

                  + '<div>'
                  + '<button type="submit">SUBMIT</button>'
                  + '</div>'
                  + '</form>'
                  + '</div>';

              modal.innerHTML = html;
              modal.style.display = "block";

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("close")[0];

              // When the user clicks on <span> (x), close the modal
              span.onclick = function () {
                  modal.style.display = "none";
              };

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function (event) {
                  if (event.target === modal) {
                      modal.style.display = "none";
                  }
              };

              var content_type = document.getElementById('content-type');
              content_type.addEventListener("change", function () {
                  switch (content_type.value) {
                      case "0":
                          document.getElementById('video_f').className = ' ';
                          document.getElementById('image_f').className = 'hidden';
                          document.getElementById('product_f').className = 'hidden';
                          break;
                      case "1":
                          document.getElementById('video_f').className = 'hidden';
                          document.getElementById('image_f').className = ' ';
                          document.getElementById('product_f').className = 'hidden';
                          break;
                      case "2":
                          document.getElementById('video_f').className = 'hidden';
                          document.getElementById('image_f').className = 'hidden';
                          document.getElementById('product_f').className = ' ';
                          break;

                  }
              });

          }
      </script>
    </div>

  </div>
  <div class="card showcase-part">
    <h4>Desktop showcase</h4>
    <hr>
    <h6>Current showcase</h6>
    <div style="text-align: left">
      <% GroupShowcase.all.where(:screen => 0).each do |groupShowcase| %>

          <h6><%= groupShowcase.name_identity %></h6>
          <div class="showcase-container">
            <% groupShowcase.showcases.all.each do |sh| %>
                <% if !sh.video_show.blank? %>
                    <video autobuffer="autobuffer" preload="auto" style="width:100%;" controls="controls" width="100%" height="100%" poster="<%= sh.video_show.video.url(:preview) %>">
                      <source type="video/mp4" src="<%= sh.video_show.video.url(:mp4video) %>"/>
                    </video>
                <% elsif !sh.image_show.blank? %>
                    <img class="image_showcase_ad" src="<%= sh.image_show.image.url(:medium) %>">
                <% elsif !sh.product_id.blank? %>
                    <% item = get_product(sh.product_id) %>
                    <a href="/admin/product/<%= sh.product_id %>"><img class="image_showcase_ad" src="https://<%= item['images'][0]['segments']['domain'] %>w200/h200/<%= item['images'][0]['segments']['suffix'] %>"></a>
                <% end %>
            <% end %>
            <a class="showcase" onclick="openModal('<%= groupShowcase.id %>')" href="#">Add to showcase</a>
          </div>

      <% end %>

      <!-- The Modal -->
      <div id="modal" class="modal">

      </div>

      <script>
          function openModal(id) {

              // Get the modal
              var modal = document.getElementById('modal');

              var html = '<div class="modal-content">'
                  + '<span class="close">&times;</span>'
                  + '<form method="post" action="<%= showcases_path %>" enctype="multipart/form-data">'
                  + '<input class="hidden" value="1" name="active">'
                  + '<input class="hidden" value="0" name="screen">'
                  + '<select name="content_type" id="content-type">'
                  + '<option value="0">Video</option>'
                  + '<option value="1">Image</option>'
                  + '<option value="2">Product</option>'
                  + '</select>'
                  + '<div id="video_f" class="">'
                  + '<label for="image_f">Upload video</label>'
                  + '<input type="file" name="video">'
                  + '<label>Url</label>'
                  + '<input style="width: 100%" type="text" name="url_association">'
                  + '</div>'
                  + '<div id="image_f" class="hidden">'
                  + '<label for="image_f">Upload image</label>'
                  + '<input type="file" name="image">'
                  + '<label>Url</label>'
                  + '<input style="width: 100%" type="text" name="url_association">'
                  + '</div>'

                  + '<div id="product_f" class="hidden">'
                  + '<label for="product_f">Product id</label>'
                  + '<input style="width: 100%" type="text" name="product_id" id="product_id">'
                  + '<p onclick="find_id()">FIND ID</p>'
                  + '</div>'

                  + '<input class="hidden" name="group_showcase_id" type="text" value="' + id + '">'

                  + '<div>'
                  + '<button type="submit">SUBMIT</button>'
                  + '</div>'
                  + '</form>'
                  + '</div>';

              modal.innerHTML = html;
              modal.style.display = "block";

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("close")[0];

              // When the user clicks on <span> (x), close the modal
              span.onclick = function () {
                  modal.style.display = "none";
              };

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function (event) {
                  if (event.target === modal) {
                      modal.style.display = "none";
                  }
              };

              var content_type = document.getElementById('content-type');
              content_type.addEventListener("change", function () {
                  switch (content_type.value) {
                      case "0":
                          document.getElementById('video_f').className = ' ';
                          document.getElementById('image_f').className = 'hidden';
                          document.getElementById('product_f').className = 'hidden';
                          break;
                      case "1":
                          document.getElementById('video_f').className = 'hidden';
                          document.getElementById('image_f').className = ' ';
                          document.getElementById('product_f').className = 'hidden';
                          break;
                      case "2":
                          document.getElementById('video_f').className = 'hidden';
                          document.getElementById('image_f').className = 'hidden';
                          document.getElementById('product_f').className = ' ';
                          break;

                  }
              });

          }
      </script>
    </div>
  </div>
  <div class="card showcase-part">
    <h4>Mobile showcase</h4>
    <hr>
    <h6>Current showcase</h6>
    <div style="text-align: left">
      <% GroupShowcase.all.where(:screen => 1).each do |groupShowcase| %>

          <h6><%= groupShowcase.name_identity %></h6>
          <div class="showcase-container">
            <% groupShowcase.showcases.all.each do |sh| %>
                <% if !sh.video_show.blank? %>
                    <video autobuffer="autobuffer" preload="auto" style="width:100%;" controls="controls" width="100%" height="100%" poster="<%= sh.video_show.video.url(:preview) %>">
                      <source type="video/mp4" src="<%= sh.video_show.video.url(:mp4video) %>"/>
                    </video>
                <% elsif !sh.image_show.blank? %>
                    <a href="<%= sh.url_association %>"><img class="image_showcase_ad" src="<%= sh.image_show.image.url(:medium) %>"></a>
                <% elsif !sh.product_id.blank? %>
                    <% item = get_product(sh.product_id) %>
                    <a href="/admin/product/<%= sh.product_id %>"><img class="image_showcase_ad" src="https://<%= item['images'][0]['segments']['domain'] %>w200/h200/<%= item['images'][0]['segments']['suffix'] %>"></a>
                <% end %>
            <% end %>
            <a class="showcase" onclick="openModal('<%= groupShowcase.id %>')" href="#">Add to showcase</a>
          </div>
      <% end %>

      <!-- The Modal -->
      <div id="modal" class="modal">

      </div>

      <script>
          function openModal(id) {

              // Get the modal
              var modal = document.getElementById('modal');

              var html = '<div class="modal-content">'
                  + '<span class="close">&times;</span>'
                  + '<form method="post" action="<%= showcases_path %>" enctype="multipart/form-data">'
                  + '<input class="hidden" value="1" name="active">'
                  + '<input class="hidden" value="1" name="screen">'
                  + '<select name="content_type" id="content-type">'
                  + '<option value="0">Video</option>'
                  + '<option value="1">Image</option>'
                  + '<option value="2">Product</option>'
                  + '</select>'
                  + '<div id="video_f" class="">'
                  + '<label for="image_f">Upload video</label>'
                  + '<input type="file" name="video">'
                  + '<label>Url</label>'
                  + '<input style="width: 100%" type="text" name="url_association">'
                  + '</div>'
                  + '<div id="image_f" class="hidden">'
                  + '<label for="image_f">Upload image</label>'
                  + '<input type="file" name="image">'
                  + '<label>Url</label>'
                  + '<input style="width: 100%" type="text" name="url_association">'
                  + '</div>'

                  + '<div id="product_f" class="hidden">'
                  + '<label for="product_f">Product id</label>'
                  + '<input style="width: 100%" type="text" name="product_id" id="product_id">'
                  + '<p onclick="find_id()">FIND ID</p>'
                  + '</div>'

                  + '<input class="hidden" name="group_showcase_id" type="text" value="' + id + '">'

                  + '<div>'
                  + '<button type="submit">SUBMIT</button>'
                  + '</div>'
                  + '</form>'
                  + '</div>';

              modal.innerHTML = html;
              modal.style.display = "block";

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("close")[0];

              // When the user clicks on <span> (x), close the modal
              span.onclick = function () {
                  modal.style.display = "none";
              };

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function (event) {
                  if (event.target === modal) {
                      modal.style.display = "none";
                  }
              };

              var content_type = document.getElementById('content-type');
              content_type.addEventListener("change", function () {
                  switch (content_type.value) {
                      case "0":
                          document.getElementById('video_f').className = ' ';
                          document.getElementById('image_f').className = 'hidden';
                          document.getElementById('product_f').className = 'hidden';
                          break;
                      case "1":
                          document.getElementById('video_f').className = 'hidden';
                          document.getElementById('image_f').className = ' ';
                          document.getElementById('product_f').className = 'hidden';
                          break;
                      case "2":
                          document.getElementById('video_f').className = 'hidden';
                          document.getElementById('image_f').className = 'hidden';
                          document.getElementById('product_f').className = ' ';
                          break;

                  }
              });

          }
      </script>
    </div>
  </div>
</div>
</body>