<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-home"></span></a>
        </li>
        <li>
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-picture-o"></span></a>
        </li>
        <li>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-truck"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">
<div class="main">
  <div class="card showcase-part">
    <h4>Desktop showcase</h4>
    <hr>
    <h6>Current showcase</h6>
    <div style="text-align: left">
      <% GroupShowcase.all.where(:screen => 0).each do |groupShowcase| %>

          <h6><%= groupShowcase.name_identity %></h6>
          <div class="showcase-container">
          </div>
          <a id="<%= (groupShowcase.id).to_s+'btn' %>" class="showcase" href="#">Add to showcase</a>

          <!-- The Modal -->
          <div id="<%= (groupShowcase.id).to_s+'modal' %>" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <%= form_for Showcase.new, :remote => false, :autocomplete => :off do |form| %>
                  <%= form.file_field :image %>
                  <%= form.submit 'Submit' %>
              <% end %>
            </div>

          </div>

          <script>
              // Get the modal
              var modal = document.getElementById('<%= (groupShowcase.id).to_s+'modal' %>');

              // Get the button that opens the modal
              var btn = document.getElementById("<%= (groupShowcase.id).to_s+'btn' %>");

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("close")[0];

              // When the user clicks on the button, open the modal
              btn.onclick = function () {
                  modal.style.display = "block";
              };

              // When the user clicks on <span> (x), close the modal
              span.onclick = function () {
                  modal.style.display = "none";
              };

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function (event) {
                  if (event.target === modal) {
                      modal.style.display = "none";
                  }
              }
          </script>

      <% end %>
    </div>

  </div>

  <div class="card showcase-part">
    <h4>Desktop showcase</h4>
    <hr>
    <h6>Current showcase</h6>
    <div style="text-align: left">

    </div>

  </div>
</div>
</body>