<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400i,400,600" rel="stylesheet">

<body style="background-color: white;">
<div class="main">

  <div style="padding: 20px; background-color: white">
  <h1 class="text-light">Orders</h1>
  <hr>

  <div class="content-part-7">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Order ID</span>
      <input id="order_id" placeholder="" name="search-field" type="text" step="any" class="form-control" aria-describedby="basic-addon1">
    </div>
    <button onclick="document.location.href = '/admin/orders/' + document.getElementById('order_id').value" style="margin: 0; color: white; width: 100%" type="submit" class="btn btn-sp text-light">SEE DETAILS</button>
  </div>
    <div style="width: 25%" class="content-part-3">
      <button style="width: 100%" onclick="see_details()" class="btn btn-default">See items/details</button>
    </div>
    <div class="content-part-10">
    <div style="overflow: hidden; width: 100%">
      <h3 class="text-light"><%= params[:all].present? ? 'All orders <a href="?notall=true">(SEE LATEST UNFINISHED)</a>'.html_safe : 'Latest unfinished orders <a href="?all=true">(SEE ALL ORDERS)</a>'.html_safe %></h3>
    </div>
    <table border="1" style="width: 100%">
      <thead>
      <tr>
        <th>Select</th>
        <th>Date</th>
        <th>Total</th>
        <th>State</th>
        <th>User</th>
      </tr>
      </thead>
      <tbody>
      <% @orders = params[:all].present? ? Order.all.order(created_at: :asc).paginate(page: params[:page], per_page: 20) : Order.where(confirmed: false).order(created_at: :asc).paginate(page: params[:page], per_page: 20) %>
      <% @orders.each do |o| %>
        <tr>
          <td>
            <input onclick="click_radio('<%= o.id %>')" class="selected-r" name="order" type="radio" id="selection_<%= o.id %>" value="<%= o.id %>">
          </td>
          <td><%= o.created_at > (Time.now - 1.week) ? (time_ago_in_words o.created_at) : o.created_at.to_date %></td>
          <% price = (get_price o.id) %>
          <%= (price == -1) ? "<td  onmouseout=\"hide_message()\" onmouseover=\"show_message('It looks like one or more products from this order have been permanently deleted. If you wish to resolve this issue you may contact the developer.')\" style=\"color: red\">ERROR</td>".html_safe : "<td>$#{ price.round(2) }</td>".html_safe %>
          <td><%= o.state %></td>
          <td><%= "#{o.user_address.name} #{o.user_address.last_name}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders %>

      <div style="display: none" id="messager" class="alert alert-info">

      </div>

  </div>

  <script>
      var selected = 0;

      function click_radio(id) {
          var element = document.getElementById('selection_' + id);
          if (element.checked) {
              selected = element.value
          }
      }

      function see_details() {
          if (selected !== 0) {
              location.href = '/admin/orders/' + selected
          }
      }

      function show_message(message){
          var message_box = document.getElementById('messager');
          message_box.innerText = message;
          message_box.style.display = 'block';
          console.log('in');
      }

      function hide_message() {
          var message_box = document.getElementById('messager');
          message_box.innerText = '';
          message_box.style.display = 'none';
      }

  </script>
  </div>

</div>
</body>