
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400i,400,600" rel="stylesheet">

<body style="background-color: white;">
<div class="main">


  <div style="padding: 20px; background-color: white">
  <h1 class="text-light">Support</h1>
  <hr>
  <div class="content-part-7">
    <input style="margin: 0" class="content-part-7 serious-input text-light" type="text" id="email" placeholder="User mail" name="search-field">
    <button onclick="document.location.href = '/admin/support/user?email=' + document.getElementById('email').value" style="margin: 0; color: white" type="submit" class="btn btn-sp content-part-3 text-light">Search</button>
    <div style="overflow: hidden; width: 100%">
      <h3  class="text-light">Latest unfinished tickets</h3>
    </div>
    <table border="1" style="width: 100%">
      <thead>
      <tr>
        <th>Select</th>
        <th>Date</th>
        <th>User</th>
      </tr>
      </thead>
      <tbody>
      <% @tickets = Ticket.where(status: false).order(created_at: :asc).paginate(page: params[:page], per_page: 10) %>
      <% @tickets.each do |o| %>
        <tr>
          <td>
            <input onclick="click_radio('<%= o.id %>')" class="selected-r" name="order" type="radio" id="selection_<%= o.id %>" value="<%= o.id %>">
          </td>
          <td><%= time_ago_in_words o.created_at %></td>
          <td><%= o.temp_user.email %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @tickets %>

  </div>
  <div style="position: fixed; right: 0; width: 25%" class="content-part-3">
    <button style="width: 100%" onclick="see_details()" class="btn btn-default">See details</button>
  </div>

  <script>
      var selected = 0;
      function click_radio(id) {
          var element = document.getElementById('selection_' + id);
          if (element.checked) {
              selected = element.value
          }
      }

      function see_details() {
          if (selected !== 0) {
              location.href = '/admin/support/ticket?id=' + selected
          }
      }

  </script>

</div>
</div>
</body>