<nav class="navbar navbar-default navbar-fixed-top" style="z-index: 2; border-color: white; background: white; box-shadow:0px 1px 10px #dedede;">

  <% available = true %>

  <div class="desktopnot">

    <div class="navbar-header">

      <button type="button" style="background: white; margin-left: 16px; margin-top: 12px; padding: 3px; border: none;" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background: black"></span>
        <span class="icon-bar" style="background: black"></span>
        <span class="icon-bar" style="background: black"></span>
      </button>


      <div style="float: right; overflow: hidden; position: relative; width: 23px; height: 23px; top: 15px; margin-right: 10px;">
        <i onclick="show_search();" style="cursor: pointer; font-size: 23px; position: absolute; width: 23px; height: 23px; top:0; bottom:0; right: 0; left: 0; margin: auto" class="fa fa-search"></i>
      </div>

      <div style="float: right; overflow: hidden">
        <a class="navbar-brand brand" href="/"><img alt="Web site logo" class="lazy" width="66" src="/images/holder.jp2" data-src="<%= ConfigurationWeb.find(24).picture("s_thumb_#{@browser}") %>"></a>
        <img data-toggle="modal" alt="Cart logo" data-target="#cart_modal" style="margin-right: 10px" id="cart_ic_1" class="lazy cart_ic" src="/images/holder.jp2" data-src="/images/bag_icon">
        <span class="badge" style="background-color: #89c03e; margin-left: -32px; margin-top: 20px"><%= a = get_item_count; (a == 0 ? '' : a) %></span>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="selectable
              <% unless params['story'].blank? and available %> selected
              <% end %>" onclick="location.href = '/story?story=true&view=story'">STORY</a>
        </li>
        <li>
          <a class="selectable
              <% unless params['men'].blank? and available %> selected
              <% end %>" onclick="location.href = '/catalog?men=true&view=men'">SHOP MEN</a>
        </li>
        <li>
          <a class="selectable
              <% unless params['women'].blank? and available %> selected
              <% end %>" onclick="location.href = '/catalog?women=true&view=women'">SHOP WOMEN</a>
        </li>
        <li>
          <a class="selectable
            <% unless params['brand'].blank? and available %> selected
            <% end %>" onclick="location.href = '/catalog?brand=true&view=full%20collection'">FULL COLLECTION</a>
        </li>
        <li>
          <a class="selectable
            <% unless params['contact'].blank? and available %> selected
            <% end %>" onclick="location.href = '/contact_us?contact=true'">CONTACT US</a>
        </li>
        <p class="text-center color lf mobile-only" hidden=""> Organic Hustler, LLC</p>
      </ul>
    </div>
  </div>

  <div class="mobilenot" style="position: relative;">
    <div style="padding: 10px; width: 100%" class="navbar-header">

      <div style="position:relative; overflow: hidden; min-height: 7.7rem">

        <div style="float: right; overflow: hidden; width: 25%; min-width: 280px">
          <input id="search-input" style="background: #f0f5e6; float: right" type="text" name="search" value="<%= params['search'] %>" placeholder="Search...">
          <img data-toggle="modal" alt="Bag logo" data-target="#cart_modal" style="float: right; z-index: 3; margin-right: 10px" id="cart_ic_2" class="cart_ic lazy" src="/images/holder.jp2" data-src="/images/bag_icon">
          <span class="badge" style="z-index: 10; background-color: #89c03e; margin-right: -43px; margin-top: 20px; float: right"><%= a = get_item_count; (a == 0 ? '' : a) %></span>
          <script>
            function enter_key_setup() {
                $(document).keyup(function (e) {
                    var search_f = $("#search-input");
                    if (search_f.is(":focus") && (e.keyCode === 13)) {
                        location.href = '/catalog?search=' + search_f.val();
                    }

                    var search_2 = $("#search-bot");
                    if (search_2.is(":focus") && (e.keyCode === 13)) {
                        location.href = '/catalog?search=' + search_2.val();
                    }
                });
            }
          </script>
        </div>

        <div style="float: left">
        <% if @parameters.nil? || params['action'] != 'catalog' %>
          <a href="/contact_us?contact=true" style="float: left; border-right: 1px solid black" type="button" class="btn btn-link">Get
            in Touch</a>
          <a href="https://instagram.com/<%= ConfigurationWeb.find(3).value %>" style="float: left; border-right: 1px solid black" type="button" class="btn btn-link">Instagram</a>
          <a href="https://twitter.com/<%= ConfigurationWeb.find(1).value %>" style="float: left" type="button" class="btn btn-link">Twitter</a>
        <% else %>
          <h5 style="font-family: CaviarDream, Helvetica, sans-serif; font-weight: 400; padding-right: 5px; float: left;">Your
            Items
            <span style="font-weight: lighter; color: #89c13e; padding-right: 5px; margin-right: 5px; border-right: thin solid #5e5e5e;"><%= get_item_count %></span><span><a href="/checkout" style="color: #000000;cursor: pointer ;text-decoration: none;">Checkout</a></span>
          </h5>
        <% end %>
        </div>

        <a style="position: absolute; top: 10px; right: 0; left: 0; margin: auto; width:130px ;" href="/"><img alt="Web site logo" class="lazy" width="100%" src="/images/holder.jp2" data-src="<%= ConfigurationWeb.find(24).picture("s_thumb_#{@browser}") %>"></a>

      </div>

      <div class="menu-center">
        <ul id="ul_top_hypers">
          <div class="menu-button">
            <li>
              <a style="font-family: CaviarDream, Helvetica, sans-serif" class="selectable link-to-btn
              <% unless params['story'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/story?story=true&view=story'">STORY</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a style="font-family: CaviarDream, Helvetica, sans-serif" class="selectable link-to-btn
              <% unless params['men'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?men=true&view=men'">SHOP MEN</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a style="font-family: CaviarDream, Helvetica, sans-serif" class="selectable link-to-btn
              <% unless params['women'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?women=true&view=women'">SHOP WOMEN</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a style="font-family: CaviarDream, Helvetica, sans-serif" class="selectable link-to-btn
              <% unless params['brand'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?brand=true&view=full%20collection'">FULL COLLECTION</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a style="font-family: CaviarDream, Helvetica, sans-serif" class="selectable link-to-btn
              <% unless params['contact'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/contact_us?contact=true&view=contact'">CONTACT US</a>
            </li>
          </div>
        </ul>
      </div>

    </div>
  </div>

</nav>
