<style>
  table {
    color: #333;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;
  }

  th {
    background: #b592a2;
    text-align: center;
    font-size: large;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  td {
    background: #FAFAFA;
  }

  /* Cells in even rows (2,4,6...) are one color */
  tr:nth-child(even) td {
    background: #F1F1F1;
  }

  /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
  tr:nth-child(odd) td {
    background: #FEFEFE;
  }

  tr td:hover {
    background: #666;
    color: #FFF;
  }

  .text-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

    .ticket_entry:hover {
      background: #b592a2;
      color: white;
      cursor: pointer;
    }

</style>

<body style="background-color: white">
<div style="padding: 60px" class="main">

  <h1 class="text-light" style="text-align: left">User #<%= @temp_user.id %></h1>
  <div style="width: 100%; border: solid 3px #b692a2; border-radius: 10px; background: #b592a2"></div>
  <div style="padding: 10px">

    <h2 class="text-light" style="text-align: left">Tickets</h2>
    <hr>

    <% @temp_user.tickets.each do |t| %>

    <div onclick="location.href = '/admin/support/ticket?id=<%= t.id %>'" style="padding: 10px; margin: 15px; overflow: hidden" class="card ticket_entry">
      <div style="float: left; width: 30%; border-right: #5e5e5e dotted 1px ">
        <%= t.created_at %>
      </div>
      <div style="float: left; width: 60%; border-right: #5e5e5e dotted 1px ">
        <%= t.subject %>
      </div>
      <div style="float: left; width: 10%;">
        <%= t.status ? '<span style="color: red" >Closed</span>'.html_safe : '<span style="color: green" >Open</span>'.html_safe %>
      </div>
    </div>

    <% end %>

    <h2 class="text-light" style="text-align: left; margin-top: 50px;">Actions</h2>
    <hr>
    <div style="position: relative; overflow: hidden; padding: 10px;" class="card">
      <h3 class="text-light" style="text-align: left">Tickets</h3>
      <hr>
      <input required id="subject" style="margin: 2% 2% 2% 2%;width: 96%; float: left;" class="serious-input text-light" type="text" placeholder="Subject" name="search-field">
      <button type="button" onclick="create_ticket('<%= @temp_user.id %>')" class="text-light" style="text-decoration: none; margin: 12px auto; display: block; width: 60%; color: white; border-radius: 0; background: #b592a2; padding: 6px 12px; font-size: 100%; line-height: 2; text-align: center; white-space: nowrap; vertical-align: middle; border: 1px solid transparent; box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.08); outline: none;">
        NEW TICKET
      </button>
    </div>

  </div>

</div>
</body>

<script>
  function create_ticket(user) {
      $.ajax({
          url: '/tickets',
          type: 'post',
          dataType: 'json',
          data: {
              temp_user_id: user,
              subject: document.getElementById('subject').value,
              status: false
          },
          success: function (data) {
              document.location.reload(true);
          },
          error: function (data) {
              document.location.reload(true);
          }
      })
  }
</script>