<body>
<%= stylesheet_link_tag 'cart' %>
<div style="margin-top: 200px; margin-bottom: 200px">
  <div style="overflow: hidden; text-align: center">
    <h1>My Account</h1>
    <br>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'link-style', style: 'font-size: 20px' %>
    <hr style="width: 33px; margin: 0 auto 50px;border-color: #b692a2">
    <h3><%= current_user['user_name'] %> <%= current_user['user_last_name'] %></h3>
    <h5 style="color: #5e5e5e"><%= current_user['email'] %></h5>

    <div class="content-part" style="padding-left: 20px; padding-right: 20px">
      <h2>Orders</h2>
      <hr style="width: 44px; margin: 0 auto 50px; border-color: black">

      <% current_user.orders.each do |o| %>
          <% o.cart.cart_products.where("created_at > ?", 10.days.ago).each do |product| %>
              <div style="overflow: hidden; width: 100%; text-align: left; border-bottom: lightgrey solid 1px; padding-bottom: 10px; margin-bottom: 10px">
                <div id="img-container" class="content-part content-part-3">
                  <div id="<%= product.id %>_orders" style="width: 100px; height: 100px; float: left">

                  </div>
                </div>
                <% product_temp = get_product(product.m_id) %>
                <script id="create-shape">
                    //Show the custom products
                    createShape('<%= product.id %>_orders', '<%= product.width %>', '<%= product.height %>', '<%= product.dim_x %>', '<%= product.dim_y %>', '<%= product.relation_x %>', '<%= product.relation_y %>');
                    function createShape(id, width, height, x, y, s_w, s_h) {
                        var container = $('#' + id);

                        var stage = new Konva.Stage({
                            container: id,
                            width: container.width(),
                            height: container.height()
                        });
                        var layer = new Konva.Layer();
                        stage.add(layer);

                        var baseImg = new Konva.Image({
                            width: container.width(),
                            height: container.height(),
                            draggable: false
                        });

                        var logoImg = new Konva.Image({
                            width: container.width() * width / s_w,
                            height: container.height() * height / s_h
                        });

                        var logoGroup = new Konva.Group({
                            x: container.width() * x / s_w,
                            y: container.width() * y / s_h
                        });

                        layer.add(baseImg);
                        layer.add(logoGroup);
                        logoGroup.add(logoImg);

                        var imageObj1 = new Image();
                        imageObj1.onload = function () {
                            baseImg.image(imageObj1);
                            layer.draw();
                        };
                        imageObj1.src = 'https://<%= product_temp['images'].first['segments']['domain'] %>fill/100w/100h/<%= product_temp['images'].first['segments']['suffix'] %>';

                        var imageObj2 = new Image();
                        imageObj2.onload = function () {
                            logoImg.image(imageObj2);
                            layer.draw();
                            imageObj2.width = container.width() * width / s_w;
                            console.log(imageObj2.width, container.width(), width, s_w);
                            imageObj2.height = container.height() * height / s_h;
                            console.log(imageObj2.height);
                        };
                        imageObj2.src = '<%= get_thumb_g_id(product.logo_id, :thumb) %>';
                        layer.draw();
                    }
                </script>
                <div class="content-part content-part-7" style="float: left">


                  <div style="float: right" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a href="/cancel_order?id_order=<%= o.id %>&id_product_cart=<%= product.id %>">Cancel Order</a>
                      </li>
                      <li><a href="#">Update order</a></li>
                      <li><a href="#">Checkout details</a></li>
                      <li><a href="#">Track order</a></li>
                    </ul>
                  </div>

                  <h4 class="text-uppercase" style="font-size: large; font-weight: lighter; font-family: 'PT Sans Narrow', sans-serif"><%= product_temp['title'] %></h4>
                  <h5>Bag id: <%= o.id %></h5>
                  <h5>Bag status: <%= o.state %></h5>
                  <h5>Product id: <%= product_temp['id'] %></h5>
                  <h4 style="float: left; width: 100%; font-size: large;color: #e5bbd1;height: 35px; font-weight: lighter; font-family: 'PT Sans Narrow', sans-serif;vertical-align: middle;line-height: 35px;"><%= product_price(product.id).last %></h4>
                </div>
              </div>
          <% end %>
      <% end %>

    </div>

    <div class="content-part" style="padding-left: 20px; padding-right: 20px">
      <h2>Account details</h2>
      <hr style="width: 44px; margin: 0 auto 50px; border-color: black">
      <div style="width: 100%; text-align: left">
        <h4>
          Address
        </h4>
        <hr>

        <%= form_for current_user %>
        <div class="content-part content-part-5">
          <label>
            <div>FIRST NAME</div>
          </label>
          <input name="cardholder-first-name" class="field" placeholder="Jane Doe"/>
        </div>

        <div class="content-part content-part-5">
          <label>
            <div>LAST NAME</div>
          </label>
          <input name="cardholder-last-name" class="field" placeholder="Acosta Pozo"/>
        </div>

        <div class="content-part content-part-10">
          <label>
            <div>STREET ADDRESS</div>
          </label>
          <input name="cardholder-street" class="field" placeholder="Vergel #31"/>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>CITY</div>
          </label>
          <input name="cardholder-city" class="field" placeholder="Santo Domingo"/>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>STATE</div>
          </label>
          <input name="cardholder-state" class="field" placeholder="DN"/>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>ZIP CODE</div>
          </label>
          <input name="cardholder-zip" class="field" placeholder="10107"/>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>AREA</div>
          </label>
          <input name="cardholder-area" class="field" placeholder="829" type=""/>
        </div>

        <div class="content-part content-part-7">
          <label>
            <div>NUMBER</div>
          </label>
          <input name="cardholder-number" class="field" placeholder="456-7890" type="tel"/>
        </div>


        <div style="width: 100%; float: left">
          <hr>
        </div>

      </div>
    </div>

  </div>
</div>

</body>