<body>
<%= stylesheet_link_tag 'cart' %>
<div style="margin-top: 200px; margin-bottom: 200px">
  <div style="overflow: hidden; text-align: center">
    <h1>My Account</h1>
    <br>
    <div class="link-style" style="float: none;">
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, style: 'font-size: 20px;' %>
    </div>
    <hr style="width: 33px; margin: 0 auto 50px;border-color: #b692a2">
    <h3><%= current_user['user_name'] %> <%= current_user['user_last_name'] %></h3>
    <h5 style="color: #5e5e5e"><%= current_user['email'] %></h5>

    <div class="content-part" style="padding-left: 20px; padding-right: 20px">
      <h2>Orders</h2>
      <hr style="width: 44px; margin: 0 auto 50px; border-color: black">

      <script>
          var Stage = {};
      </script>

      <% current_user.orders.each do |o| %>
          <% o.cart.cart_products.where("created_at > ?", 10.days.ago).each do |product| %>
              <div style="overflow: hidden; width: 100%; text-align: left; border-bottom: lightgrey solid 1px; padding-bottom: 10px; margin-bottom: 10px">
                <div id="img-container" class="content-part content-part-3">
                  <div id="order_<%= product.id %>" style="width: 100px; height: 100px; float: left">

                  </div>
                </div>
                <% product_temp = get_product_l(product.m_id) %>

                <script id="create-shape">

                    var stageWidth = 500;
                    var stageHeight = 500;

                    createShape('order_<%= product.id %>', '<%= product.multiplexer %>', '<%= product.dim_x %>', '<%= product.dim_y %>', '<%= product.relation_x %>', '<%= product.relation_y %>', '<%= product.color_id %>', '<%= product.logo_id %>', '<%= product.emblem_id %>');

                    function createShape(id, multiplexer, x, y, s_w, s_h, color_id, logo_id, emblem_id) {
                        var container = $('#' + id);
                        container.height(container.width());

                        var stage = new Konva.Stage({
                            container: id,
                            width: stageWidth,
                            height: stageHeight
                        });
                        var layer = new Konva.Layer();
                        stage.add(layer);

                        Stage[id] = stage;

                        var baseImg = new Konva.Image({
                            width: stageWidth,
                            height: stageHeight,
                            draggable: false
                        });

                        var logoImg = new Konva.Image({
                            x: stageWidth * x / s_w,
                            y: stageHeight * y / s_h
                        });

                        layer.add(baseImg);
                        layer.add(logoImg);

                        var imageObj1 = new Image();
                        imageObj1.onload = function () {
                            baseImg.image(imageObj1);
                            layer.draw();
                        };

                        $.ajax({
                            url: '/catalog/product/color/main_image?color_id=' + color_id,
                            type: 'GET',
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                imageObj1.src = data.picture
                            },
                            error: function (data) {
                                console.log(data);
                            }
                        });

                        var imageObj2 = new Image();
                        imageObj2.onload = function () {
                            logoImg.image(imageObj2);
                            logoImg.scale({
                                x: stageWidth * multiplexer / s_w,
                                y: stageHeight * multiplexer / s_h
                            });
                            layer.draw();
                        };

                        if (logo_id !== null) {
                            $.ajax({
                                url: '/catalog/product/logo?logo_id=' + logo_id,
                                type: 'GET',
                                dataType: 'text',
                                data: {},
                                success: function (data) {
                                    imageObj2.src = data
                                },
                                error: function (data) {
                                    console.log(data);
                                }
                            });
                        }

                        var emblem = new Konva.Image({
                            x: 0,
                            y: 0
                        });
                        layer.add(emblem);

                        var imageEmblem = new Image();
                        imageEmblem.onload = function () {
                            emblem.image(imageEmblem);
                            emblem.setWidth(this.width);
                            emblem.setHeight(this.height);
                            layer.draw();
                        };

                        if (emblem_id !== null) {


                            $.ajax({
                                url: '/catalog/product/emblem?emblem_id=' + emblem_id,
                                type: 'GET',
                                dataType: 'json',
                                data: {},
                                success: function (data) {
                                    emblem.setX(stageWidth * data.x / 500);
                                    emblem.setY(stageWidth * data.y / 500);
                                    emblem.scale({
                                        x: stageWidth * data.multiplexer / 500,
                                        y: stageWidth * data.multiplexer / 500
                                    });
                                    imageEmblem.src = data.src;

                                },
                                error: function (data) {
                                    console.log(data);
                                }
                            });
                        }

                        layer.draw();
                    }

                    function fitStageIntoParentContainer_we() {
                        var container = $('#order_<%= product.id %>');
                        container.height(container.width());

                        // now we need to fit stage into parent
                        var containerWidth = container.width();
                        // to do this we need to scale the stage
                        var scale = containerWidth / stageWidth;
                        Stage['order_<%= product.id %>'].scale({x: scale, y: scale});
                        Stage['order_<%= product.id %>'].draw();
                    }

                    fitStageIntoParentContainer_we();
                    // adapt the stage on any window resize
                    window.addEventListener('resize', fitStageIntoParentContainer_we);

                </script>
                <div class="content-part content-part-7" style="float: left">


                  <div style="float: right" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a href="/cancel_order?id_order=<%= o.id %>&id_product_cart=<%= product.id %>">Cancel Order</a>
                      </li>
                      <li><a href="#">Update order</a></li>
                      <li><a href="#">Checkout details</a></li>
                      <li><a href="#">Track order</a></li>
                    </ul>
                  </div>

                  <h4 class="text-uppercase" style="font-size: large; font-weight: lighter; font-family: 'PT Sans Narrow', sans-serif"><%= product_temp['title'] %></h4>
                  <h5>Bag id: <%= o.id %></h5>
                  <h5>Status: <%= product.state || o.state %></h5>
                  <h5>Product id: <%= product_temp['id'] %></h5>
                  <h4 style="float: left; width: 100%; font-size: large;color: #e5bbd1;height: 35px; font-weight: lighter; font-family: 'PT Sans Narrow', sans-serif;vertical-align: middle;line-height: 35px;"><%= product_price(product.id).last %></h4>
                </div>
              </div>
          <% end %>
      <% end %>

    </div>

    <div class="content-part" style="padding-left: 20px; padding-right: 20px">
      <h2>Account details</h2>
      <hr style="width: 44px; margin: 0 auto 50px; border-color: black">
      <div style="width: 100%; text-align: left">
        <h4>
          Address
        </h4>
        <hr>

        <%= form_for @address, :url => user_addresses_path do |f| %>
        <div class="content-part content-part-5">
          <label>
            <div>FIRST NAME</div>
          </label>
          <%= f.text_field :name, class: 'field', value: current_user['user_name'], :disabled => true %>
        </div>


        <div class="content-part content-part-5">
          <label>
            <div>LAST NAME</div>
          </label>
          <%= f.text_field :last_name, class: 'field', value: current_user['user_last_name'], :disabled => true %>
        </div>

        <div class="content-part content-part-10">
          <label>
            <div>STREET ADDRESS</div>
          </label>
          <%= f.text_field :street_address, class: 'field', value: @address.street_address %>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>CITY</div>
          </label>
          <%= f.text_field :city, class: 'field', value: @address.city %>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>STATE</div>
          </label>
          <%= f.text_field :state, class: 'field', value: @address.state %>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>ZIP CODE</div>
          </label>
          <%= f.text_field :zip_code, class: 'field', value: @address.zip_code %>
        </div>

        <div class="content-part content-part-3">
          <label>
            <div>AREA</div>
          </label>
          <%= f.text_field :area, class: 'field', value: @address.area %>
        </div>

        <div class="content-part content-part-7">
          <label>
            <div>NUMBER</div>
          </label>
          <%= f.text_field :number, class: 'field', value: @address.number %>
        </div>

            <div class="content-part content-part-10">
              <button type="submit" class="btn btn-sp">SET ADDRESS</button>
            </div>


        <% end %>

        <div style="width: 100%; float: left">
          <hr>
        </div>

      </div>
    </div>

  </div>
</div>

</body>