
<% tax_array = [] %>
<% cost_array = [] %>

<div class="desktopnot" style="margin-top: -50px"></div>
<div class="mobilenot" style="margin-top: 50px"></div>
<div style="overflow: hidden; margin: 0 7%;">
  <div class="content-part field-data">

    <script>
        var Stage = {};
    </script>

    <%
      products_partial = []
      CartProduct.where(cart_id: get_cart_id).each do |cp|
        ne_p = cp.as_json
        ne_p.merge!('qty' => 1)
        ne_p.merge!('consolidated' => false)
        products_partial << ne_p
      end

      products = products_partial

      (0..products_partial.length - 1).each {|i|

        pr = products_partial[i]

        unless pr['consolidated']
          products_partial.each do |dl|
            if (dl['id'] != pr['id'] && pr['size_id'] == dl['size_id'] && pr['has_emblem'] == dl['has_emblem'] && pr['has_logo'] == dl['has_logo'] && pr['product_id'] == dl['product_id'])
              tem_pr = CartProduct.find(pr['id'])
              tem_dl = CartProduct.find(pr['id'])

              if (tem_pr.custom_logos == tem_dl.custom_logos && tem_pr.custom_emblems == tem_dl.custom_emblems)
                dl['consolidated'] = true
                products[i]['qty'] = products[i]['qty'] + 1
              end
            end
          end
        end
      }

    %>

    <% products.each do |product| %>


      <% pr_price = product_price(product['id']) %>
      <% tax_array.push(pr_price[1]) %>
      <% cost_array.push(pr_price[5]) %>

      <% unless product['consolidated'] %>

        <% product_temp = get_product_l(product['product_id']) %>
        <div class="item-checkout" style="padding-bottom: 20px; overflow: hidden; border-bottom: thin black solid">
          <div style="float: left; width: 33%; position: relative">
          <div id="cart<%= product['id'] %>" style="width: 100%; height: 100%; margin-left: auto; margin-right: auto;"></div>
        </div>
          <div style="float: right; width: 63%; position: relative">
            <h4 style="width: 80%"><%= product_temp['title'] %></h4>
            <a onclick="delete_element('<%= product['id'] %>')" style="width: 20%; position: absolute; color: #2E2F30; cursor: pointer; top: 5px; right: 5px"><i class="fa fa-trash" aria-hidden="true"></i></a>
            <div style="float: left; width: 50%">
              <h6>Size: <%= (Size.find product['size_id']).title %></h6>
              <h6>Customized:
                <% if product['has_emblem'] %>YES
                <% elsif product['has_logo'] %>YES
                <% else %>NO
                <% end %></h6>
              <h6>Color: <%= (Color.find product['color_id']).title %></h6>
            </div>
            <div style="float: left; width: 50%; text-align: center">
              <h3 style="font-size: 20px;">Qty: <%= product['qty'] %></h3>
              <h4><%= format('$%.2f', pr_price[5]) %></h4>
            </div>
            <button type="button" id="replacesable_button_edit" style="width: 49%; margin-top: 10px; float: right" class="btn-sp btn" onclick="edit_catalog(<%= product['id'] %>)">EDIT
            </button>
          </div>
      </div>

      <script id="create-shape">

          var stageWidth = 500;
          var stageHeight = 500;

          createShape('cart<%= product['id'] %>', null, null, null, null, null, '<%= product['color_id'] %>');

          function createShape(id, multiplexer, x, y, s_w, s_h, color_id, logo_id, emblem_id) {
              var container = $('#' + id);
              container.height(container.width());

              var stage = new Konva.Stage({
                  container: id,
                  width: stageWidth,
                  height: stageHeight,
                  preventDefault: false
              });
              var layer = new Konva.Layer();
              stage.add(layer);

              Stage[id] = stage;

              var baseImg = new Konva.Image({
                  width: stageWidth,
                  height: stageHeight,
                  draggable: false,
                  preventDefault: false
              });

              layer.add(baseImg);

              var imageObj1 = new Image();
              imageObj1.onload = function () {
                  baseImg.image(imageObj1);
                  layer.draw();
              };

              $.ajax({
                  url: '/catalog/product/color/main_image?color_id=' + color_id,
                  type: 'GET',
                  dataType: 'json',
                  data: {},
                  success: function (data) {
                      imageObj1.src = data.picture
                  },
                  error: function (data) {
                      console.log(data);
                  }
              });
              layer.draw();
          }

          function fitStageIntoParentContainer_we() {
              var container = $('#cart<%= product['id'] %>');
              container.height(container.width());

              // now we need to fit stage into parent
              var containerWidth = container.width();
              // to do this we need to scale the stage
              var scale = containerWidth / stageWidth;
              Stage['cart<%= product['id'] %>'].scale({x: scale, y: scale});
              Stage['cart<%= product['id'] %>'].draw();
          }

          fitStageIntoParentContainer_we();
          // adapt the stage on any window resize
          window.addEventListener('resize', fitStageIntoParentContainer_we);

      </script>

  <% end end %>

    <button class="btn styling_btn text_light" style="width: 48%; font-size: 10px; min-width: auto; float: left; margin-bottom: 20px; color: black; border-color: black" onclick="clear_bag();">CLEAR BAG</button>
    <button class="btn styling_btn text_light" style="width: 48%; font-size: 10px; min-width: auto; float: right; margin-bottom: 20px; color: black; border-color: black" onclick="location.href = '/'">CONTINUE SHOPPING</button>

</div>
  <div style="position: relative; border-width: 1px" class="content-part preview-cart content-part-10">

    <div id="loading" class="hidden">

      <div class="loader">

      </div>

    </div>

    <div style="padding: 10px">

      <div style="overflow: hidden">
        <h3 class="text_light" style="float: left; margin: 10px 10px 15px;">ORDER DETAILS</h3>
      </div>
      <div style="text-align: center; width: 100%">
        <hr style="border-color: black; margin: 0 10px;">
      </div>
      <div style="overflow: hidden; margin: 10px">
        <% cost_t = 0 %>
        <% cost_array.each do |cost| %>
            <% cost_t = cost_t + cost %>
        <% end %>
        <h4 class="t-right text_light">Subtotal</h4><h4 class="s-left text_light"><%= format("$%.2f", cost_t) %></h4>
      </div>

      <div style="overflow: hidden; margin: 10px">
        <h4 class="t-right text_light">Shipping</h4><h4 class="s-left text_light">(Free US)</h4>
      </div>

      <div style="overflow: hidden; margin: 10px">
        <% tax_t = 0 %>
        <% tax_array.each do |tax| %>
            <% tax_t = tax_t + tax %>
        <% end %>
        <h4 class="t-right text_light">Estimated Tax</h4>
        <h4 class="s-left text_light"><%= format("$%.2f", tax_t) %></h4>
      </div>

      <div style="overflow: hidden; margin: 40px 10px 10px;">
        <h4 class="t-right text_light">Estimated total</h4>
        <h3 class="s-left text_light"><%= format("$%.2f", (tax_t + cost_t)) %></h3>
      </div>

      <div style="text-align: center; width: 100%">
        <hr style="border-color: black; margin: 0 10px;">
      </div>

      <button class="btn styling_btn text_light" style="margin-bottom: 20px; font-size: 20px; color: black; border-color: black" onclick="location.href = '/checkout'">CHECKOUT</button>

    </div>
  </div>
</div>