
<% tax_array = [] %>
<% cost_array = [] %>

<div class="desktopnot" style="margin-top: -50px"></div>
<div class="mobilenot" style="margin-top: 50px"></div>
<div style="overflow: hidden; margin: 0 7%;">
  <div class="content-part field-data">

    <script>
        var Stage = {};
    </script>

    <% CartProduct.where(cart_id: get_cart_id).each do |product| %>
        <% product_temp = get_product_l(product.product_id) %>
        <div class="item-checkout" style="padding-bottom: 20px; overflow: hidden; border-bottom: thin black solid">
          <div onclick="edit_catalog(<%= product.id %>)" style="float: left; width: 33%; position: relative">
          <div id="cart<%= product.id %>" style="width: 100%; height: 100%; margin-left: auto; margin-right: auto;"></div>
        </div>
          <div style="float: right; width: 63%; position: relative">
          <h4 class="text_light text-uppercase"><%= product_temp['title'] %></h4>
          <% pr_price = product_price(product.id) %>
            <h4 class="text_light_pink"><%= format("$%.2f", pr_price[5]) %></h4>

          <div style="float: left; width: 50%">
            <h6 class="text_light" style="font-weight: 400">Size: <%= (Size.find product.size_id).title %></h6>
            <h6 class="text_light" style="font-weight: 400">Customized:
              <% if product.has_emblem %>YES
              <% elsif product.has_logo %>YES
              <% else %>NO
              <% end %></h6>
            <h6 class="text_light" style="font-weight: 400">Color: <%= (Color.find product.color_id).title %></h6>
          </div>
          <div style="float: left; width: 50%; text-align: center">
            <h3 style="margin: 10px; padding-top: 15px; padding-bottom: 15px; font-size: 20px;">Qty:
              1</h3> <!-- Attach to backend -->
            <% tax_array.push(pr_price[1]) %>
            <% cost_array.push(pr_price[5]) %>
          </div>
        </div>
      </div>

      <script id="create-shape">

          var stageWidth = 500;
          var stageHeight = 500;

          createShape('cart<%= product.id %>', null, null, null, null, null, '<%= product.color_id %>');

          function createShape(id, multiplexer, x, y, s_w, s_h, color_id, logo_id, emblem_id) {
              var container = $('#' + id);
              container.height(container.width());

              var stage = new Konva.Stage({
                  container: id,
                  width: stageWidth,
                  height: stageHeight,
                  preventDefault: false
              });
              var layer = new Konva.Layer();
              stage.add(layer);

              Stage[id] = stage;

              var baseImg = new Konva.Image({
                  width: stageWidth,
                  height: stageHeight,
                  draggable: false,
                  preventDefault: false
              });

              layer.add(baseImg);

              var imageObj1 = new Image();
              imageObj1.onload = function () {
                  baseImg.image(imageObj1);
                  layer.draw();
              };

              $.ajax({
                  url: '/catalog/product/color/main_image?color_id=' + color_id,
                  type: 'GET',
                  dataType: 'json',
                  data: {},
                  success: function (data) {
                      imageObj1.src = data.picture
                  },
                  error: function (data) {
                      console.log(data);
                  }
              });

              /*var logoImg = new Konva.Image({
                  x: stageWidth * x / s_w,
                  y: stageHeight * y / s_h
              });
              layer.add(logoImg);

              var imageObj2 = new Image();
              imageObj2.onload = function () {
                  logoImg.image(imageObj2);
                  logoImg.scale({
                      x: stageWidth * multiplexer / s_w,
                      y: stageHeight * multiplexer / s_h
                  });
                  layer.draw();
              };

              if (logo_id !== null) {
                  $.ajax({
                      url: '/catalog/product/logo?logo_id=' + logo_id,
                      type: 'GET',
                      dataType: 'text',
                      data: {},
                      success: function (data) {
                          imageObj2.src = data
                      },
                      error: function (data) {
                          console.log(data);
                      }
                  });
              }

              var emblem = new Konva.Image({
                  x: 0,
                  y: 0
              });
              layer.add(emblem);

              var imageEmblem = new Image();
              imageEmblem.onload = function () {
                  emblem.image(imageEmblem);
                  emblem.setWidth(this.width);
                  emblem.setHeight(this.height);
                  layer.draw();
              };

              if (emblem_id !== null) {


                  $.ajax({
                      url: '/catalog/product/emblem?emblem_id=' + emblem_id,
                      type: 'GET',
                      dataType: 'json',
                      data: {},
                      success: function (data) {
                          emblem.setX(stageWidth * data.x / 500);
                          emblem.setY(stageWidth * data.y / 500);
                          emblem.scale({
                              x: stageWidth * data.multiplexer / 500,
                              y: stageWidth * data.multiplexer / 500
                          });
                          imageEmblem.src = data.src;

                      },
                      error: function (data) {
                          console.log(data);
                      }
                  });
              }*/

              layer.draw();
          }

          function fitStageIntoParentContainer_we() {
              var container = $('#cart<%= product.id %>');
              container.height(container.width());

              // now we need to fit stage into parent
              var containerWidth = container.width();
              // to do this we need to scale the stage
              var scale = containerWidth / stageWidth;
              Stage['cart<%= product.id %>'].scale({x: scale, y: scale});
              Stage['cart<%= product.id %>'].draw();
          }

          fitStageIntoParentContainer_we();
          // adapt the stage on any window resize
          window.addEventListener('resize', fitStageIntoParentContainer_we);

      </script>

  <% end %>

</div>
  <div style="position: relative; border-width: 1px" class="content-part preview-cart content-part-10">

    <div id="loading" class="hidden">

      <div class="loader">

      </div>

    </div>

    <div style="padding: 10px">

      <div style="overflow: hidden">
        <h3 class="text_light" style="float: left; margin: 10px 10px 15px;">ORDER DETAILS</h3>
      </div>
      <div style="text-align: center; width: 100%">
        <hr style="border-color: black; margin: 0 10px;">
      </div>
      <div style="overflow: hidden; margin: 10px">
        <% cost_t = 0 %>
        <% cost_array.each do |cost| %>
            <% cost_t = cost_t + cost %>
        <% end %>
        <h4 class="t-right text_light">Subtotal</h4><h4 class="s-left text_light"><%= format("$%.2f", cost_t) %></h4>
      </div>

      <div style="overflow: hidden; margin: 10px">
        <h4 class="t-right text_light">Shipping</h4><h4 class="s-left text_light">(Free US)</h4>
      </div>

      <div style="overflow: hidden; margin: 10px">
        <% tax_t = 0 %>
        <% tax_array.each do |tax| %>
            <% tax_t = tax_t + tax %>
        <% end %>
        <h4 class="t-right text_light">Estimated Tax</h4>
        <h4 class="s-left text_light"><%= format("$%.2f", tax_t) %></h4>
      </div>

      <div style="overflow: hidden; margin: 40px 10px 10px;">
        <h4 class="t-right text_light">Estimated total</h4>
        <h3 class="s-left text_light"><%= format("$%.2f", (tax_t + cost_t)) %></h3>
      </div>

      <div style="text-align: center; width: 100%">
        <hr style="border-color: black; margin: 0 10px;">
      </div>

      <button class="btn styling_btn text_light" style="margin-bottom: 20px; font-size: 20px; color: black; border-color: black" onclick="location.href = '/checkout'">CHECKOUT</button>

    </div>
  </div>
</div>