<body>

<script>
    var selected_size = null;
    var available_sizes = [];
    var render_custom = [];
    var variation_img = false;

    var source_p = '';
    var product_id_e = '';
    var image_id_e = '';
    var width = '';
    var height = '';
    var x = '';
    var y = '';
    var s_w = '';
    var s_h = '';
    var has_logo = '';
    var has_emblem = '';
    var emblem_id = '';
    var user_online = '';
    var position_id = 0;

    var elementsBorders = [];
    var elements = [];
    var selected = null;
    var layer;

</script>

<div id="items-container" style="margin-top: 100px">

  <% get_products_f_catalog(params).each do |pr| %>
      <div id="item<%= pr['id'] %>" style="float: left; width: 18%; text-align: center; padding: 25px 0 0; margin: 25px 1% 0; background: #ffecf0">
        <img style="height: 100px; margin-bottom: 10px" src="<%= pr['images'].first['url']['https'] %>">
        <h5 style="margin-bottom: 10px"><%= pr['title'] %></h5>
        <h5><%= pr['price']['value'] %></h5>
        <button onclick="open_quick('<%= pr['id'] %>')" class="btn btn-default" style="width: 100%">Quick shop</button>
      </div>

  <% end %>

</div>

<!-- The Modal -->
<div id="quick_view" class="modal_quick modal_base mobilenot">

  <!-- Modal content -->
  <div class="modal-content_quick modal-content_base">
    <span id="quick_view_close" class="close" style="z-index: 100; position: fixed">&times;</span>
    <div id="general_p_content">

    </div>

  </div>

</div>
<script>
    // Get the modal
    var modal_quick = document.getElementById('quick_view');

    // Get the <span> element that closes the modal
    var span_quick = document.getElementById('quick_view_close');

    // When the user clicks on <span> (x), close the modal
    span_quick.onclick = function () {
        console.log('in');
        modal_quick.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        console.log('in');
        if (event.target === modal_quick) {
            modal_quick.style.display = "none";
        }
    };

    /*if () {
     $.ajax({
     type: "get",
     url: "/catalog/item/" + data['source_p'],
     data: {},
     success: function (data) {

     load_p1(data, data['source_p']);

     return false
     },
     error: function (data) {
     return false
     }
     });
     }*/

    var size_x = 0;
    var size_y = 0;

    function load_p1(data, pr) {
        render_custom = [];
        source_p = pr;
        product_id_e = pr;
        if (data['product_id_e']) {
            product_id_e = data['product_id_e'];
        }
        image_id_e = data['image_id'];
        width = data['width_u'];
        height = data['height_u'];
        x = data['x_u'];
        y = data['y_u'];
        s_w = data['s_w'];
        s_h = data['s_h'];
        has_logo = data['has_image'];
        has_emblem = data['has_emblem'];
        emblem_id = data['emblem_id'];
        position_id = data['position_id'];
        user_online = '<%= user_signed_in? %>';


        var variations = [];
        for (var variation in data['modifiers']) {
            if (data['modifiers'].hasOwnProperty(variation)) {
                variations.push(data['modifiers'][variation])
            }
        }

        document.getElementById('general_p_content').innerHTML =
            '<div class="content-part" id="image-container_quick" style="padding: 0">' +
            '   <img id="image_loader" style="max-width: 400px; max-height: 400px; width: 100%" src="' + image_handler(data) + '">' +
            '</div>' +
            '<div class="content-part" style="padding: 0">' +
            '   <div class="wrap">' +
            '       <h5>' + data['title'] + '</h5>' +
            '       <h6>' + data['price']['value'] + '</h6>' +
            '   </div>' +
            '<div class="wrap">' +
            '   <span>' + data['description'].substr(0, 30) + '</span><span id="dots">...</span><span class="complete">' + data['description'].substr(30) + '</span>' +
            '   <div style="text-align: end; padding-top: 9px">' +
            '       <span id="more-toggle">Read more</span>' +
            '   </div>' +
            '</div>' +
            '<hr style="margin-bottom: 0">' +
            '<div style="margin-bottom: 10px">' +
            '   <div id="icon-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> SIZE</h6></div>' +
            '   <div id="icon-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> SIZE</h6></div>' +
            '</div>' +
            get_variation_size(variations) +
            '<hr style="margin-bottom: 0">' +
            '<div style="margin-bottom: 10px">' +
            '   <div id="icon-show-logo" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CUSTOMIZED</h6></div>' +
            '   <div id="icon-hide-logo"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CUSTOMIZED</h6></div>' +
            '</div>' + get_variation_customized(variations) +
            '<div>' +
            '   <button style="width: 100%; margin-top: 10px" class="btn btn-default" onclick="load_p2_ker(\'' + pr.toString() + '\')">CUSTOMIZE IT</button>' +
            '   <button style="width: 100%; margin-top: 10px" class="btn btn-default" onclick="addToCart()">ADD TO CART</button>' +
            '</div>' +
            '</div>';

        //Creates the image in case it is a variation
        if (variation_img) {
            var container = $('#image-container_quick');

            var stage = new Konva.Stage({
                container: 'image-container_quick',
                width: size_x,
                height: size_y
            });
            var layer = new Konva.Layer();
            stage.add(layer);

            var baseImg = new Konva.Image({
                width: size_x,
                height: size_y,
                draggable: false
            });

            var logoImg = new Konva.Image({
                width: size_x * width / s_w,
                height: size_y * height / s_h
            });

            var logoGroup = new Konva.Group({
                x: size_x * x / s_w,
                y: size_y * y / s_h
            });

            layer.add(baseImg);
            layer.add(logoGroup);
            logoGroup.add(logoImg);

            var imageObj1 = new Image();
            imageObj1.onload = function () {
                baseImg.image(imageObj1);
                layer.draw();
            };
            imageObj1.src = data['images'][0]['url']['https'];

            var imageObj2 = new Image();
            imageObj2.onload = function () {
                logoImg.image(imageObj2);
                layer.draw();
                imageObj2.width = size_x * width / s_w;
                imageObj2.height = size_y * height / s_h;
            };

            $.ajax({
                type: "get",
                url: "/catalog/get_image?id=" + image_id_e + "&style=thumb",
                data: {},
                dataType: "html",
                success: function (data) {
                    imageObj2.src = data;
                    layer.draw();
                },
                error: function (data) {
                }
            });
        }

        var state = true;
        $("#more-toggle").on('click', function () {
            if (state) {
                $(this).text("Read less");
                $(".complete").show();
                $("#dots").hide();
            } else {
                $(this).text("Read more");
                $(".complete").hide();
                $("#dots").show();
            }
            state = !state;
        });

        var innerHTML22 = {};

        $(document).ready(function () {
            innerHTML22.heightTT = $("#icon_loader").height();
            var img_load = $('#image_loader');

            size_x = img_load.width();
            size_y = img_load.height();

            console.log(size_x, size_y);
        });

        var iconShow = $("#icon-show");
        var iconHide = $("#icon-hide");
        var loader = $("#icon_loader");

        iconShow.click(function () {
            loader.animate({
                height: innerHTML22.heightTT
            }, 400, function () {
                loader.css({
                    overflow: 'visible'
                });
            });
            iconShow.addClass(" hidden");
            iconHide.removeClass(" hidden");
        });

        iconHide.click(function () {
            loader.animate({
                height: 0
            }, 400, function () {
                loader.css({
                    overflow: 'hidden'
                });
            });
            iconHide.addClass(" hidden");
            iconShow.removeClass(" hidden");
        });

        for (var i = 0; i < render_custom.length; i++) {

            var object_json = render_custom[i];
            console.log(object_json);

            createShape(object_json['image_id'], object_json['width'], object_json['height'], object_json['x'], object_json['y'], object_json['s_w'], object_json['s_h'], data, pr);
        }

        //Photo slider
        (function ($) {
            $(function () {
                $('.jcarousel').jcarousel();

                $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

                $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });

                $('.jcarousel-pagination')
                    .on('jcarouselpagination:active', 'a', function () {
                        $(this).addClass('active');
                    })
                    .on('jcarouselpagination:inactive', 'a', function () {
                        $(this).removeClass('active');
                    })
                    .jcarouselPagination();
            });
        })(jQuery);
    }

    function load_p2(data, pr) {

        var variations = [];
        for (var variation in data['modifiers']) {
            if (data['modifiers'].hasOwnProperty(variation)) {
                variations.push(data['modifiers'][variation])
            }
        }

        document.getElementById('general_p_content').innerHTML =
            '<div class="content-part" id="image-container_quick" style="padding: 0">'
            + '<div style="margin: 10px auto" id="container"></div>'
            + '</div>'
            + '<div class="content-part" style="padding: 0">'
            + '<h6 style="font-weight: bold">Select color(s):</h6>'
            + '<input type="checkbox" id="select-all" name="cd" checked>'
            + '<label for="select-all" style="font-family: \'Open Sans\', \'Helvetica Neue\', Arial, sans-serif; font-size: 10px;">Select all colors</label>'
            + '<div id="checkboxes">'
            + load_available_colors(variations)
            + '</div>'
            + '<div id="controllers" style="float: left; width: 100%">'
            + '<div style="margin-left: auto; margin-right: auto; text-align: center">'
            + '<button id="minus-btn" class="direction"><span class="fa fa-minus resizable"></span></button>'
            + '<button id="plus-btn" class="direction"><span class="fa fa-plus resizable"></span></button>'
            + '<button id="left-btn" class="direction"><span class="fa resizable fa-chevron-left"></span></button>'
            + '<button id="right-btn" class="direction"><span class="fa resizable fa-chevron-right"></span></button>'
            + '<button id="down-btn" class="direction"><span class="fa resizable fa-chevron-down"></span></button>'
            + '<button id="up-btn" class="direction"><span class="fa resizable fa-chevron-up"></span></button>'
            + '</div>'
            + '</div>'
            + '<div style="width: 100%; text-align: center">'
            + '<button id="share" class="btn btn-default">'
            + '<span>SHARE</span>'
            + '</button>'
            + '</div>'
            + '<hr class="pro">'
            + '<div id="icon-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>'
            + '<div id="icon-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>'
            + '<div id="icon_loader" class="jcarousel-wrapper row">'
            + '<div id="myCarousel" class="jcarousel" data-jcarousel="true">'
            + '<ul id="container-logo" style="left: 0; top: 0;">'
            + '</ul>'
            + '</div>'
            + '<button style="border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">'
            + '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>'
            + '<button style="border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">'
            + '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>'
            + '</div>'
            + '</div>';


        load_available_logos(pr);

        var innerHTML22 = {};

        $(document).ready(function () {
            innerHTML22.heightTT = $("#icon_loader").height();
            console.log(innerHTML22.heightTT);
        });

        var iconShow = $("#icon-show");
        var iconHide = $("#icon-hide");
        var loader = $("#icon_loader");

        iconShow.click(function () {
            loader.animate({
                height: innerHTML22.heightTT
            }, 400, function () {
                loader.css({
                    overflow: 'visible'
                });
            });
            iconShow.addClass(" hidden");
            iconHide.removeClass(" hidden");
        });

        iconHide.click(function () {
            loader.animate({
                height: 0
            }, 400, function () {
                loader.css({
                    overflow: 'hidden'
                });
            });
            iconHide.addClass(" hidden");
            iconShow.removeClass(" hidden");
        });

        var product_id_u = document.getElementById('product_id');
        var image_id_u = document.getElementById('image_id');
        var x_u = document.getElementById('x_u');
        var y_u = document.getElementById('y_u');
        var width_u = document.getElementById('width_u');
        var height_u = document.getElementById('height_u');
        var s_w_u = document.getElementById('s_w');
        var s_h_u = document.getElementById('s_h');

        product_id_u = pr;

        //Photo slider
        (function ($) {
            $(function () {
                $('.jcarousel').jcarousel();

                $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

                $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });

                $('.jcarousel-pagination')
                    .on('jcarouselpagination:active', 'a', function () {
                        $(this).addClass('active');
                    })
                    .on('jcarouselpagination:inactive', 'a', function () {
                        $(this).removeClass('active');
                    })
                    .jcarouselPagination();
            });
        })(jQuery);

        var base_co = $("#container");
        var width = base_co.width();
        var height = width + 0;
        base_co.height(height);

        var stage = new Konva.Stage({
            container: 'container',
            width: width,
            height: height,
            preventDefault: false
        });

        s_w_u = width;
        s_h_u = height;

        layer = new Konva.Layer();
        stage.add(layer);

        var anim_zoom_in = new Konva.Animation(function (frame) {
            if (selected !== null) {
                var image = selected.get('.image')[0];
                var border = selected.get('.borders')[0];

                selected.width(image.width() + image.width() * frame.timeDiff / 1000);
                selected.height(image.height() + image.height() * frame.timeDiff / 1000);

                border.width(image.width() + image.width() * frame.timeDiff / 1000);
                border.height(image.height() + image.height() * frame.timeDiff / 1000);

                image.width(image.width() + image.width() * frame.timeDiff / 1000);
                image.height(image.height() + image.height() * frame.timeDiff / 1000);

                width_u = image.width();
                height_u = image.height();
            }
        }, layer);

        var anim_zoom_out = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.width(11000);
                selected.height(11000);
                var image = selected.get('.image')[0];
                var border = selected.get('.borders')[0];

                selected.width(image.width() - image.width() * frame.timeDiff / 1000);
                selected.height(image.height() - image.height() * frame.timeDiff / 1000);

                border.width(image.width() - image.width() * frame.timeDiff / 1000);
                border.height(image.height() - image.height() * frame.timeDiff / 1000);

                image.width(image.width() - image.width() * frame.timeDiff / 1000);
                image.height(image.height() - image.height() * frame.timeDiff / 1000);

                width_u = image.width();
                height_u = image.height();

            }
        }, layer);

        var anim_right = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.x(selected.x() + (65 * frame.timeDiff / 1000));

                x_u = selected.x();
                y_u = selected.y();
            }
        }, layer);

        var anim_left = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.x(selected.x() - (65 * frame.timeDiff / 1000));

                x_u = selected.x();
                y_u = selected.y();
            }
        }, layer);

        var anim_up = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.y(selected.y() - (65 * frame.timeDiff / 1000));

                x_u = selected.x();
                y_u = selected.y();
            }
        }, layer);

        var anim_down = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.y(selected.y() + (65 * frame.timeDiff / 1000));

                x_u = selected.x();
                y_u = selected.y();
            }
        }, layer);

        var btn_up = $("#up-btn");
        var btn_down = $("#down-btn");
        var btn_left = $("#left-btn");
        var btn_right = $("#right-btn");
        var btn_minus = $("#minus-btn");
        var btn_plus = $("#plus-btn");
        var btn_restart = $("#restart-btn");

        btn_minus.on('mousedown touchstart', function () {
            anim_zoom_out.start();
        });

        btn_minus.on('mouseup touchend', function () {
            anim_zoom_out.stop();
        });

        btn_plus.on('mousedown touchstart', function () {
            anim_zoom_in.start();
        });

        btn_plus.on('mouseup touchend', function () {
            anim_zoom_in.stop();
        });

        btn_up.on('mousedown touchstart', function () {
            anim_up.start();
        });

        btn_up.on('mouseup touchend', function () {
            anim_up.stop();
        });

        btn_down.on('mousedown touchstart', function () {
            anim_down.start();
        });

        btn_down.on('mouseup touchend', function () {
            anim_down.stop();
        });

        btn_left.on('mousedown touchstart', function () {
            anim_left.start();
        });

        btn_left.on('mouseup touchend', function () {
            anim_left.stop();
        });

        btn_right.on('mousedown touchstart', function () {
            anim_right.start();
        });

        btn_right.on('mouseup touchend', function () {
            anim_right.stop();
        });

        btn_restart.on('click', function () {
            for (var i = 0; i < elements.length; i++) {
                elements[i].destroy();
                layer.draw();
            }
        });

        var baseImg = new Konva.Image({
            width: width,
            height: height,
            preventDefault: false
        });

        var baseIGroup = new Konva.Group({
            x: 0,
            y: 0,
            preventDefault: false
        });

        layer.add(baseIGroup);
        baseIGroup.add(baseImg);

        var imageBgPro = new Image();
        imageBgPro.onload = function () {
            console.log("pro-reload");
            baseImg.image(imageBgPro);

            stage.width(base_co.width());
            stage.height(base_co.height());

            baseImg.width(base_co.width());
            baseImg.height(base_co.width());

            layer.draw();
        };

        imageBgPro.src = data['images'][0]['url']['https'];

    }


    function open_quick(pr) {
        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: {},
            success: function (data) {

                load_p1(data, pr);

                return false
            },
            error: function (data) {
                return false
            }
        });
        modal_quick.style.display = "block";
    }

    function load_p2_ker(pr) {
        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: {},
            success: function (data) {

                load_p2(data, pr);

                return false
            },
            error: function (data) {
                return false
            }
        });
    }

    function image_handler(data) {
        if (data['variation_pp']) {
            variation_img = true;
        } else {
            variation_img = false;
            return data['images'][0]['url']['https']
        }
        return 'html'
    }

    function addToCart() {

        if (selected_size !== null) {

            console.log(user_online);

            $.ajax({
                type: "POST",
                url: "/add_cart",
                data: {
                    size: selected_size,
                    source_p: source_p,
                    m_id: product_id_e,
                    logo_id: image_id_e,
                    dim_x: x,
                    dim_y: y,
                    relation_x: s_w,
                    relation_y: s_h,
                    width: width,
                    height: height,
                    has_logo: has_logo,
                    has_emblem: has_emblem,
                    emblem_id: emblem_id,
                    user_signed: user_online
                    //Missing attributes check migrations

                },
                success: function (data, status, xhr) {
                    var counter = parent.document.getElementById('counter');
                    counter.innerHTML = parseInt(counter.innerHTML) + 1;
                },
                dataType: 'json'
            });
        } else {
            alert('Select a size');
        }
    }

    function changeSize(id) {
        for (var i = 0; i < available_sizes.length; i++) {

            var size = available_sizes[i];

            if (size === id) {
                $('#' + size).addClass('badge_selected');
                selected_size = id
            } else {
                $('#' + size).removeClass('badge_selected');
            }
        }
    }

    function load_available_colors(variations) {
        if (variations.length > 0) {
            var colors = '';
            for (var attr in variations[2]['variations']) {
                var changes = JSON.parse(variations[2]['variations'][attr]['title']);
                colors = colors
                    + '<div style="background: ' + changes['code'] + '; width: 17px; height: 17px; margin-right: 5px; margin-bottom: 7px; float: left">'
                    + '<div id="color-picker" class="">'
                    + '<input type="checkbox" id="' + changes['code'] + '" name="' + changes['code'] + '" onclick="loadLogos()">'
                    + '</div>'
                    + '</div>'
            }

            return colors;
        }
        return '';
    }

    function load_available_logos(pr) {

        $.ajax({
            type: "get",
            url: "/catalog/logos/" + pr,
            data: {},
            success: function (data) {

                var logos = '';
                console.log(data);

                for (var i = 0; i < data.length; i++) {
                    logos = logos + '<li class="items-scroll-container">'
                        + '<img onclick="addToPic(\'' + data[i]['url'][0].toString() + '\', ' + data[i]['id'] + ')" src="' + data[i]['url'][1] + '" alt="" height="30">'
                        + '</li>'
                }

                console.log(logos);
                document.getElementById('container-logo').innerHTML = logos;
            }
        });
    }

    function addToPic(imageToAdd, imageId) {

        for (var i = 0; i < elements.length; i++) {
            elements[i].destroy();
            layer.draw();
        }

        var logo = new Konva.Image({
            width: 200,
            height: 200,
            name: 'image',
            preventDefault: false,
            ratio: 0.2
        });

        var logo_group = new Konva.Group({
            x: 0,
            y: 0,
            name: 'group',
            draggable: true
        });

        layer.add(logo_group);
        logo_group.add(logo);

        var border;

        image_id_u = imageId;

        var imageLogo = new Image();
        imageLogo.onload = function () {
            logo.image(imageLogo);
            logo.height(imageLogo.height * 0.2);
            logo.width(imageLogo.width * 0.2);
            border = addBorders(logo_group, 0, 0, "borders", imageLogo.height * 0.2, imageLogo.width * 0.2);
            elementsBorders.push(border);
            layer.draw();
        };

        hideAll();
        selected = logo_group;
        elements.push(selected);

        logo_group.on('click tap', function () {
            if (border.visible() === false) {
                hideAll();
                border.show();
                selected = logo_group;
                layer.draw();
            } else {
                hideAll();
                selected = null;
                layer.draw();
            }
        });

        logo_group.on('dragend', function () {
            x_u = logo_group.x();
            y_u = logo_group.y();

        });

        imageLogo.src = imageToAdd;
    }

    function hideAll() {
        for (var i = 0; i < elementsBorders.length; i++) {
            elementsBorders[i].hide();
        }
    }

    function addBorders(group, x, y, name, h, w) {
        var layer = group.getLayer();
        var anchor = new Konva.Rect({
            x: x,
            y: y,
            width: w,
            height: h,
            stroke: '#A9A9A9',
            strokeWidth: 3,
            name: name,
            draggable: false,
            dragOnTop: false,
            preventDefault: false
        });

        group.add(anchor);
        layer.draw();
        return anchor;
    }

    function get_variation_size(variations) {
        if (variations.length > 0) {

            var sizes = '';

            for (var attr in variations[1]['variations']) {
                //missing check of attr
                sizes = sizes + '<li>' +
                    '<span id="' + variations[1]['variations'][attr]['id'].toString() + '" onclick="changeSize(\'' + variations[1]['variations'][attr]['id'].toString() + '\')" class="badge badge-size">' + variations[1]['variations'][attr]['title'] + '</span>' +
                    '</li>';

                available_sizes.push(variations[1]['variations'][attr]['id'].toString());
            }

            return '<div id="icon_loader" class="jcarousel-wrapper">' +
                '<div id="myCarousel" class="jcarousel" data-jcarousel="true">' +
                '<ul id="container-logo" style="left: 0; top: 0;">' +
                sizes +
                '</ul>' +
                '</div>' +
                '<button style="top: 0; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                '<button style="top: 0; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                '</div>'
        }
    }

    function get_variation_customized(variations) {
        if (variations.length > 0) {

            var customs = '';

            for (var attr in variations[0]['variations']) {
                //missing check of attr
                if (variations[0]['variations'][attr]['title'] !== 'null') {
                    var changes = JSON.parse(variations[0]['variations'][attr]['title']);
                    render_custom.push(changes);
                    customs = customs + '<li>' +
                        '<div id="' + changes['image_id'] + '" style="width: 100px; height: 100px">' +
                        '</div>' +
                        '</li>'
                }

            }

            return '<div id="icon_loader_logo" class="jcarousel-wrapper">' +
                '<div id="myCarousel-logo" class="jcarousel" data-jcarousel="true">' +
                '<ul id="container-logo-2" style="left: 0; top: 0;">' +
                customs +
                '</ul>' +
                '</div>' +
                '<button style="top: 30px; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                '<button style="top: 30px; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                '</div>'
        }
    }

    function createShape(id, width, height, x, y, s_w, s_h, data, pr) {
        var container = $('#' + id);
        container.height(container.width());

        var stage = new Konva.Stage({
            container: id,
            width: container.width(),
            height: container.height()
        });
        var layer = new Konva.Layer();
        stage.add(layer);

        container.on('click', function () {

            $.ajax({
                type: "get",
                url: "/catalog/item/" + pr,
                data: {
                    variation_ma: false,
                    size: selected_size,
                    source_p: data['source_p'],
                    m_id: pr,
                    logo_id: id,
                    dim_x: x,
                    dim_y: y,
                    relation_x: s_w,
                    relation_y: s_h,
                    width: width,
                    height: height,
                    has_logo: true,
                    has_emblem: false,
                    emblem_id: emblem_id,
                    user_signed: user_online,
                    position_id: 0
                    //Missing attributes check migrations

                },
                success: function (data) {
                    load_p1(data, data['source_p'])
                }
            });
        });

        var baseImg = new Konva.Image({
            width: container.width(),
            height: container.height(),
            draggable: false
        });

        var logoImg = new Konva.Image({
            width: container.width() * width / s_w,
            height: container.height() * height / s_h
        });

        var logoGroup = new Konva.Group({
            x: container.width() * x / s_w,
            y: container.width() * y / s_h
        });

        layer.add(baseImg);
        layer.add(logoGroup);
        logoGroup.add(logoImg);

        var imageObj1 = new Image();
        imageObj1.onload = function () {
            baseImg.image(imageObj1);
            layer.draw();
        };
        imageObj1.src = data['images'][0]['url']['https'];

        var imageObj2 = new Image();
        imageObj2.onload = function () {
            logoImg.image(imageObj2);
            layer.draw();
            imageObj2.width = container.width() * width / s_w;
            console.log(imageObj2.width, container.width(), width, s_w);
            imageObj2.height = container.height() * height / s_h;
            console.log(imageObj2.height);
        };

        $.ajax({
            type: "get",
            url: "/catalog/get_image?id=" + id + "&style=thumb",
            data: {},
            dataType: "html",
            success: function (data) {
                imageObj2.src = data;
                layer.draw();
            },
            error: function (data) {
            }
        });


    }
</script>
</body>