
<div id="items-container" style="overflow: hidden; margin-bottom: 30px">

  <div id="filters">

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">
    <!-- Large button group -->
    <div class="btn-group filter-element">
      <button id="button_for_drop" style="font-weight: bold" class="btn btn-default btn-enlarge btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Style
        <span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul id="style-list-filter" class="dropdown-menu drop-enlarge">

      </ul>
    </div>

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">

    <!-- Large button group -->
    <div class="btn-group filter-element">
      <button style="font-weight: bold" class="btn btn-default btn-enlarge btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Colors
        <span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul id="color-list-filter" class="dropdown-menu drop-enlarge">
        <li><h5>Colors</h5></li>
      </ul>
    </div>

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">

    <!-- Large button group -->
    <div class="btn-group filter-element">
      <button style="font-weight: bold" class="btn btn-default btn-enlarge btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Material
        <span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul id="material-list-filter" class="dropdown-menu drop-enlarge">
        <li><h5>Material</h5></li>
      </ul>
    </div>

    <hr class="desktopnot" style="float: left; width: 100%; margin: 0 auto">

    <% objects = get_products_f_catalog(params) %>
    <div class="filter-element mobilenot"><h5 style="font-weight: bold"><%= objects.length %> products found</h5></div>
  </div>

  <% styles = [] %>
  <% colors = [] %>
  <% materials = [] %>

  <div id="items" style="min-height: 370px">
    <% objects.each do |pr| %>
        <div onclick="open_quick_1('<%= "#{pr['id']}" %>')" class="catalog-item" id="item<%= pr['id'] %>">
          <img class="img-con-item" style="margin-bottom: 10px" src="<%= pr['images'].first['url']['https'] %>">
          <h5 class="text-uppercase text_light" style="font-size: 16px; margin-bottom: 10px"><%= pr['title'] %></h5>
          <h5 style="font-size: 16px; color: #ba97a6; font-family: 'Source Sans Pro', sans-serif; font-weight: 600"> <%= pr['price']['value'] %></h5>
          <button onclick="open_quick_1('<%= pr['id'] %>')" class="btn btn-sp btn-bottom_fixed" style="width: 100%; font-family: 'Source Sans Pro', sans-serif; font-weight: 600">Quick
            Shop
          </button>
        </div>

        <% pr['modifiers'].each do |mod| %>
            <% if mod[1]['title'].eql?('Style')
                 unless styles.include?(mod)
                   styles.push(mod)
                 end
               elsif mod[1]['title'].eql?('Color')
                 unless colors.include?(mod)
                   colors.push(mod)
                 end
               elsif mod[1]['title'].eql?('Material')
                 unless materials.include?(mod)
                   materials.push(mod)
                 end
               end %>
        <% end %>
    <% end %>
  </div>

</div>

<script>

    var received_obj = <%= objects.to_json.html_safe %>;
    var id_s = get_id_s(received_obj);

    function get_id_s(obj_s) {
        id_s = [];
        for (var obj in obj_s) {
            id_s.push(obj_s[obj]['id']);
        }
        return id_s;
    }

    var styles_json = <%= styles.to_json.html_safe %>;
    var colors_json = <%= colors.to_json.html_safe %>;
    var materials_json = <%= materials.to_json.html_safe %>;

    var styles_html = '';
    var colors_html = '';
    var materials_html = '';

    var relations_s = {};
    var relations_c = {};
    var relations_m = {};

    for (var style in styles_json) {
        var style_n = styles_json[style][1];
        var product_id = style_n['product'];
        var variations = style_n['variations'];
        for (var variation in variations) {

            var title = variations[variation]['title'];
            var relation = {};

            if (!(title in relations_s)) {
                relations_s[title] = relation;
            }
            relations_s[title][product_id] = 0;
        }
    }
    for (var color in colors_json) {
        var color_n = colors_json[color][1];
        var product_id = color_n['product'];
        var variations = color_n['variations'];
        for (var variation in variations) {

            var title = JSON.parse(variations[variation]['title'])['title'];
            var relation = {};

            if (!(title in relations_c)) {
                relations_c[title] = relation;
            }
            relations_c[title][product_id] = 0;
        }
    }
    for (var material in materials_json) {
        var material_n = materials_json[material][1];
        var product_id = material_n['product'];
        var variations = material_n['variations'];
        for (var variation in variations) {

            var title = variations[variation]['title'];
            var relation = {};

            if (!(title in relations_m)) {
                relations_m[title] = relation;
            }
            relations_m[title][product_id] = 0;
        }
    }

    var selector_style = document.getElementById('style-list-filter');
    var selector_color = document.getElementById('color-list-filter');
    var selector_material = document.getElementById('material-list-filter');

    for (var s in relations_s) {
        styles_html = styles_html + '<li><a onclick="filter_s(\'' + s + '\')"><h5>' + s + '</h5></a></li>'
    }
    selector_style.innerHTML = styles_html;

    for (var c in relations_c) {
        colors_html = colors_html + '<li><a onclick="filter_c(\'' + c + '\')"><h5>' + c + '</h5></a></li>'
    }
    selector_color.innerHTML = colors_html;

    for (var m in relations_m) {
        materials_html = materials_html + '<li><a onclick="filter_m(\'' + m + '\')"><h5>' + m + '</h5></a></li>'
    }
    selector_material.innerHTML = materials_html;

    console.log(relations_s, relations_c, relations_m);

    var filtered_obj_s = id_s;
    function filter_s(rela) {
        var button_drop = selector_style.previousElementSibling;
        button_drop.innerHTML = rela + '<span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>';
        filtered_obj_s = [];
        for (var s in relations_s) {
            console.log(s, rela);
            if (rela === s) {
                for (var id in relations_s[s]) {
                    filtered_obj_s.push(id);
                }
            }
        }
        limit_search();
    }

    var filtered_obj_c = id_s;
    function filter_c(rela) {
        var button_drop = selector_color.previousElementSibling;
        button_drop.innerHTML = rela + '<span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>';
        filtered_obj_c = [];
        for (var c in relations_c) {
            console.log(c, rela);
            if (rela === c) {
                for (var id in relations_c[c]) {
                    filtered_obj_c.push(id);
                }
            }
        }
        limit_search()
    }

    var filtered_obj_m = id_s;
    function filter_m(rela) {
        var button_drop = selector_material.previousElementSibling;
        button_drop.innerHTML = rela + '<span style="right: 0; position: absolute; padding: 5px"><i class="fa fa-caret-down" aria-hidden="true"></i></span>';
        filtered_obj_m = [];
        for (var m in relations_m) {
            console.log(m, rela);
            if (rela === m) {
                for (var id in relations_m[m]) {
                    filtered_obj_m.push(id);
                }
            }
        }
        limit_search()

    }

    Array.prototype.contains = function (element) {
        return this.indexOf(element) > -1;
    };

    function limit_search() {

        var selected_ids = [];
        for (var id in id_s) {
            console.log(id, id_s[id], filtered_obj_s);

            if (filtered_obj_s.contains(id_s[id])) {
                console.log('true');
                if (filtered_obj_c.contains(id_s[id])) {
                    console.log('true');
                    if (filtered_obj_m.contains(id_s[id])) {
                        console.log('true');
                        selected_ids.push(id_s[id])
                    }
                }
            }
        }

        var html_items = '';

        for (var obj in received_obj) {
            var desired_obj = received_obj[obj];
            if (selected_ids.contains(desired_obj['id'])) {
                html_items = html_items + '<div class="catalog-item" id="item' + desired_obj['id'] + '">'
                    + '<img class="img-con-item" style="margin-bottom: 10px" src="' + desired_obj['images'][0]['url']['https'] + '">'
                    + '<h5 class="text-uppercase" style="margin-bottom: 10px">' + desired_obj['title'] + '</h5>'
                    + '<h5 style="color: #b692a2">' + desired_obj['price']['value'] + '</h5>'
                    + '<button onclick="open_quick_1(\'' + desired_obj['id'] + '\')" class="btn btn-bottom_fixed" style="width: 100%">Quick Shop</button>'
                    + '</div>';
            }
        }

        document.getElementById('items').innerHTML = html_items;
    }

</script>

<!-- The Modal -->
<div id="quick_view" class="modal_quick modal_base">

  <!-- Modal content -->
  <div id="modal-content-center" class="modal-content_quick modal-content_base" style="overflow: hidden; padding: 0;">
    <div id="general_p_content" class="g-wrapper" style="position: relative">

    </div>
  </div>

  <div id="modal-content-quick-m" class="modal-content-quick-m" style="overflow: hidden; padding: 0; display: none">
    <i id="quick-view-close-m" style="cursor: pointer; color: #ba97a6; z-index: 9000; position: absolute; top: 10px; left: 10px" class="fa fa-times" aria-hidden="true"></i>
    <div id="general_p_content" class="g-wrapper" style="margin-top: 0; padding-top: 0">
      Would you like to edit the placement of our emblem?
      <label for="product-id-p1"></label><input type="text" class="hidden" id="product-id-p1" value="">

      <button style="min-width: 0; width: 85%; margin: 5px 0 0 0" onclick="add_emblem(true)" class="styling_btn btn">EDIT</button>
      <button style="min-width: 0; width: 85%; margin: 5px 0 0 0" onclick="add_emblem(false)" class="styling_btn btn">ADD
        TO CART
      </button>
    </div>

    <script>
        function add_emblem(val) {
            if (val) {
                load_p1(product, true);
                remove_modal_m()
            } else {
                load_p1(product, false);
                remove_modal_m();
            }
        }
    </script>

  </div>

</div>

<script>

    // Get the modal
    var modal_quick = document.getElementById('quick_view');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modal_quick) {
            product.remove();
            logo.remove();
            emblem.remove();
            modal_quick.style.display = "none";
            $("body").removeClass("modal-open")
        }

        if (event.target === modal) {
            modal.style.display = "none";
        }
    };

    function close_modal(){
        product.remove();
        logo.remove();
        emblem.remove();
        modal_quick.style.display = "none";
        $("body").removeClass("modal-open")
    }
    
    function back_p1() {
        load_p1(product, false);
    }

    //Logo variation
    var logo = {
        logo_id: null,
        x: null,
        y: null,
        width: null,
        height: null,
        r_x: null,
        r_y: null,
        remove: function () {
            product.logo = null;
            this.logo_id = null;
            this.x = null;
            this.y = null;
            this.width = null;
            this.height = null;
            this.r_x = null;
            this.r_y = null;
        }
    };

    //Emblem variation
    var emblem = {
        emblem_id: null,
        position: null,
        data: null,
        remove: function () {
            product.emblem = null;
            this.emblem_id = null;
            this.position = null;
            this.data = null;
        }
    };

    //Main product
    var product = {
        product_id: null,
        product_base_id: null,
        data: null,
        logo: null,
        emblem: null,
        size: null,
        available_sizes: [],
        selected_size: null,
        remove: function () {
            this.product_id = null;
            this.product_base_id = null;
            this.data = null;
            this.logo = null;
            this.emblem = null;
            this.size = null;
            this.available_sizes = [];
            this.selected_size = null;
        }
    };

    //MAIN LAYER
    var LAYER = null;

    //MAIN STAGE
    var STAGE = null;

    function fitStageIntoParentContainer() {
        var container = document.querySelector('#wrapper-img-1');
        // now we need to fit stage into parent
        var containerWidth = container.offsetWidth;
        // to do this we need to scale the stage
        var scale = containerWidth / 500;
        if (500 * scale < 440) {
            STAGE.width(500 * scale);
            STAGE.height(500 * scale);
            STAGE.scale({x: scale, y: scale});
            STAGE.draw();
        } else {
            STAGE.width(440);
            STAGE.height(440);
            STAGE.scale({x: (440 / 500), y: (440 / 500)});
            STAGE.draw();
        }
    }

    function load_p1(product, view) {

        //Array of customs for that product initialize
        render_custom = [];

        var variations = ['', '', ''];
        for (var variation in product.data['modifiers']) {
            if (product.data['modifiers'].hasOwnProperty(variation)) {

                if (product.data['modifiers'][variation]['title'] === 'Color') {
                    variations[2] = product.data['modifiers'][variation];
                } else if (product.data['modifiers'][variation]['title'] === 'Size') {
                    variations[1] = product.data['modifiers'][variation];
                } else if (product.data['modifiers'][variation]['title'] === 'Logo preset') {
                    variations[0] = product.data['modifiers'][variation];
                }

            }
        }

        var p1_ch = '';
        if (view) {
            p1_ch = '<hr style="margin-bottom: 0" class="desktopnot">' +
                '<div style="margin-bottom: 10px">' +
                '<div id="placement-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CHOOSE PLACEMENT</h6></div>' +
                '<div id="placement-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CHOOSE PLACEMENT</h6></div>' +
                '</div>' +
                '<div id="emblem-place">' +
                '</div>' +
                '<div>' +
                '<button style="width: 100%; margin-top: 10px" class="btn btn-default" onclick="emblem.remove(); open_quick_2(\'' + product.product_id + '\');">CONTINUE WITHOUT EMBLEM PLACEMENT</button>' +
                '<button style="width: 100%; margin-top: 10px" class="btn btn-sp" onclick="open_quick_1(\'' + product.product_id + '\')">ADD TO CART</button>' +
                '</div>';

        } else {
            p1_ch = '<div class="wrap">' +
                '<h5 class="text-uppercase text_light_20">' + product.data['title'] + '</h5>' +
                '<h5 class="text_light_pink">' + product.data['price']['value'] + '</h5>' +
                '</div>' +
                '<div class="wrap light-paragraph" style="padding-top: 10px">' +
                '<span>' + product.data['description'].substr(0, 30) + '</span><span id="dots">...</span><span class="complete">' + product.data['description'].substr(30) + '</span>' +
                '<div style="text-align: end">' +
                '<span id="more-toggle" class="text_light_pink">Read more</span>' +
                '</div>' +
                '</div>' +
                '<hr style="margin-bottom: 0">' +
                '<div style="margin-bottom: 10px">' +
                '<div id="icon-show" class="hidden"><h5 class="text_light"><i class="fa fa-angle-down" aria-hidden="true"></i> SIZE</h5></div>' +
                '<div id="icon-hide"><h5 class="text_light"><i class="fa fa-angle-up" aria-hidden="true"></i> SIZE</h5></div>' +
                '</div>' +
                get_variation_size(variations) +
                '<hr style="margin-bottom: 0">' +
                '<div style="margin-bottom: 10px">' +
                '<div id="icon-show-logo" class="hidden"><h5 class="text_light"><i class="fa fa-angle-down" aria-hidden="true"></i> CUSTOMIZED</h5></div>' +
                '<div id="icon-hide-logo"><h5 class="text_light"><i class="fa fa-angle-up" aria-hidden="true"></i> CUSTOMIZED</h5></div>' +
                '</div>' +
                get_variation_customized(variations) +
                '<div>' +
                '<button style="width: 100%; margin-top: 10px" class="btn btn-cust" onclick="open_quick_2(\'' + product.product_id + '\')">CUSTOMIZE IT</button>' +
                '<button style="width: 100%; margin-top: 10px" class="btn btn-sp" onclick="addToCart()">ADD TO CART</button>' +
                '</div>';
        }

        document.getElementById('general_p_content').innerHTML =
            '<i onclick="close_modal()" style="cursor: pointer; color: #ba97a6; z-index: 9000; position: absolute; top: 10px; left: 10px" class="fa fa-times" aria-hidden="true"></i>'+
            '<div id="wrapper-img-1" class="wrapper-img">' +
            '<div style="float: left; height: 3.06vw; width: 100%"></div>' +
            '<div class="image-container-quick" id="image-container-quick-1" style="padding: 0">' +
            '</div>' +
            '</div>' +
            '<div class="content-part" style="padding: 0">' +
            p1_ch +
            '</div>';

        //Creates the image in case it is a variation
        var container = $('#image-container-quick-1');

        var stageWidth = 500;
        var stageHeight = 500;

        STAGE = new Konva.Stage({
            container: 'image-container-quick-1',
            width: stageWidth,
            height: stageHeight
        });
        LAYER = new Konva.Layer();
        STAGE.add(LAYER);

        var baseImg = new Konva.Image({
            width: STAGE.width(),
            height: STAGE.height(),
            draggable: false
        });

        var logoImg = new Konva.Image({
            width: STAGE.width() * logo.width / logo.r_x,
            height: STAGE.height() * logo.height / logo.r_y,
            x: STAGE.width() * logo.x / logo.r_x,
            y: STAGE.height() * logo.y / logo.r_y
        });

        LAYER.add(baseImg);
        LAYER.add(logoImg);

        var imageBase = new Image();
        imageBase.onload = function () {
            baseImg.image(imageBase);
            LAYER.draw();
        };
        imageBase.src = product.data['images'][0]['url']['https'];

        var imageLogo = new Image();
        imageLogo.onload = function () {
            imageLogo.width = STAGE.width() * logo.width / logo.r_x;
            imageLogo.height = STAGE.height() * logo.height / logo.r_y;
            logoImg.image(imageLogo);
            LAYER.draw();
        };

        if (product.logo) {
            $.ajax({
                type: "get",
                url: "/catalog/get_image?id=" + product.logo.logo_id,
                data: {},
                dataType: "html",
                success: function (data) {
                    imageLogo.src = data;
                    LAYER.draw();
                },
                error: function (data) {
                }
            });
        }

        if (product.emblem) {
            imageObj = null;
            emblemImg = null;
            add_emblem_item(product.emblem.data, LAYER);
            LAYER.draw();
        }

        fitStageIntoParentContainer();
        window.addEventListener('resize', fitStageIntoParentContainer);

        //More text for description toggle
        var state = true;
        $("#more-toggle").on('click', function () {
            if (state) {
                $(this).text("Read less");
                $(".complete").show();
                $("#dots").hide();
            } else {
                $(this).text("Read more");
                $(".complete").hide();
                $("#dots").show();
            }
            state = !state;
        });

        var container_height = {};

        var loader = $("#icon_loader");
        var loader_logo = $("#icon_loader_logo");
        var loader_placement = $("#emblem-place");

        $(document).ready(function () {
            container_height.height_icon_size = loader.height();
            container_height.height_cust_size = loader_logo.height();
            container_height.height_plac_size = loader_placement.height();
        });

        get_emblems_placement(product.product_base_id, container_height);

        var iconShow = $("#icon-show");
        var iconHide = $("#icon-hide");

        var logoShow = $("#icon-show-logo");
        var logoHide = $("#icon-hide-logo");

        var placementShow = $("#placement-show");
        var placementHide = $("#placement-hide");

        logoShow.click(function () {
            loader_logo.animate({
                height: container_height.height_cust_size
            }, (400 * container_height.height_cust_size / 100), function () {
                loader_logo.css({
                    overflow: 'visible'
                });
            });
            logoShow.addClass(" hidden");
            logoHide.removeClass(" hidden");
        });

        logoHide.click(function () {
            loader_logo.animate({
                height: 0
            }, (400 * container_height.height_cust_size / 100), function () {
                loader_logo.css({
                    overflow: 'hidden'
                });
            });
            logoHide.addClass(" hidden");
            logoShow.removeClass(" hidden");
        });

        iconShow.click(function () {
            loader.animate({
                height: container_height.height_icon_size
            }, (400 * container_height.height_icon_size / 100), function () {
                loader.css({
                    overflow: 'visible'
                });
            });
            iconShow.addClass(" hidden");
            iconHide.removeClass(" hidden");
        });

        iconHide.click(function () {
            loader.animate({
                height: 0
            }, (400 * container_height.height_icon_size / 100), function () {
                loader.css({
                    overflow: 'hidden'
                });
            });
            iconHide.addClass(" hidden");
            iconShow.removeClass(" hidden");
        });

        placementShow.click(function () {
            loader_placement.animate({
                height: container_height.height_plac_size
            }, (400 * container_height.height_plac_size / 100), function () {
                loader_placement.css({
                    overflow: 'visible'
                });
            });
            placementShow.addClass(" hidden");
            placementHide.removeClass(" hidden");
        });

        placementHide.click(function () {
            loader_placement.animate({
                height: 0
            }, (400 * container_height.height_plac_size / 100), function () {
                loader_placement.css({
                    overflow: 'hidden'
                });
            });
            placementHide.addClass(" hidden");
            placementShow.removeClass(" hidden");
        });

        for (var i = 0; i < render_custom.length; i++) {

            var object_json_main = render_custom[i];
            var object_json = JSON.parse(object_json_main['title']);
            console.log(object_json);

            createShape(object_json['image_id'], object_json_main['id'], parseFloat(object_json['width']), parseFloat(object_json['height']), parseFloat(object_json['x']), parseFloat(object_json['y']), parseFloat(object_json['s_w']), parseFloat(object_json['s_h']));
        }

        //Photo slider
        (function ($) {
            $(function () {
                $('.jcarousel').jcarousel();

                $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

                $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });

                $('.jcarousel-pagination')
                    .on('jcarouselpagination:active', 'a', function () {
                        $(this).addClass('active');
                    })
                    .on('jcarouselpagination:inactive', 'a', function () {
                        $(this).removeClass('active');
                    })
                    .jcarouselPagination();
            });
        })(jQuery);
    }

    // Get the modal
    var modal_quick_m = document.getElementById('modal-content-quick-m');
    var modal_base = document.getElementById('modal-content-center');

    // Get the <span> element that closes the modal
    var span_quick_m = document.getElementById('quick-view-close-m');

    // When the user clicks on <span> (x), close the modal
    span_quick_m.onclick = function () {
        remove_modal_m()
    };

    function remove_modal_m() {
        modal_quick_m.style.display = "none";
        modal_base.className = 'modal-content_quick modal-content_base';
    }

    function send_variations() {
        modal_base.className += ' blur';
        modal_quick_m.style.display = "block";
    }

    function sending(pr, emblem, n_logo) {

        var data = {
            variation_ma: false,
            source_p: pr,
            m_id: pr,
            logo_id: image_id_u,
            relation_x: 500,
            relation_y: 500,
            has_logo: true,
            has_emblem: false,
            emblem_id: emblem_id,
            position_id: position_id
        };

        if (selected) {
            data.dim_x = (selected || {x: 0}).x();
            data.dim_y = (selected || {y: 0}).y();
            data.width = selected.get('.image')[0].width();
            data.height = selected.get('.image')[0].height();
        }

        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: data,
            success: function (data) {
                console.log(data);
                variation_img = true;
                load_p1(data, data['source_p'], emblem, n_logo || true);
            }
        });
    }

    var stage = null;

    function fitStageIntoParentContainer_edit() {
        var container = document.querySelector('#wrapper-img-2');
        // now we need to fit stage into parent
        var containerWidth = container.offsetWidth;
        // to do this we need to scale the stage
        var scale = containerWidth / 500;
        console.log(containerWidth);
        if (500 * scale < 440) {
            stage.width(500 * scale);
            stage.height(500 * scale);

            s_w_u = 500 * scale;
            s_h_u = 500 * scale;

            stage.scale({x: scale, y: scale});
            stage.draw();
        } else {
            stage.width(440);
            stage.height(440);

            s_w_u = 440;
            s_h_u = 440;

            stage.scale({x: (440 / 500), y: (440 / 500)});
            stage.draw();
        }
    }

    function load_p2(product) {

        var variations = ['', '', ''];
        for (var variation in product.data['modifiers']) {
            if (product.data['modifiers'].hasOwnProperty(variation)) {

                if (product.data['modifiers'][variation]['title'] === 'Color') {
                    variations[2] = product.data['modifiers'][variation];
                } else if (product.data['modifiers'][variation]['title'] === 'Size') {
                    variations[1] = product.data['modifiers'][variation];
                } else if (product.data['modifiers'][variation]['title'] === 'Logo preset') {
                    variations[0] = product.data['modifiers'][variation];
                }

            }
        }

        document.getElementById('general_p_content').innerHTML =
            '<i onclick="back_p1()" style="cursor: pointer; color: #ba97a6; z-index: 9000; position: absolute; top: 10px; left: 10px" class="fa fa-chevron-left" aria-hidden="true"></i>'
            + '<div id="wrapper-img-2" class="wrapper-img">'
            + '<div class="image-container-quick" id="image-container-quick-2" style="padding: 0;">'
            + '</div>'
            + '</div>'
            + '<div class="content-part" style="padding: 0">'
            + '<h6 style="font-weight: bold">Select color(s):</h6>'
            + '<input type="checkbox" id="select-all" name="cd" checked>'
            + '<label for="select-all" style="font-family: \'Open Sans\', \'Helvetica Neue\', Arial, sans-serif; font-size: 10px;">Select all colors</label>'
            + '<div id="checkboxes-color">'
            + '</div>'
            + '<div id="controllers" style="float: left; width: 100%">'
            + '<div style="margin-left: auto; margin-right: auto; text-align: center">'
            + '<button id="minus-btn" class="direction border-bg-sty resizable"><div class="fa fa-minus"></div></button>'
            + '<button id="plus-btn" class="direction border-bg-sty resizable"><div class="fa fa-plus"></div></button>'
            + '<button id="left-btn" class="direction border-bg-sty resizable"><div class="fa fa-chevron-left"></div></button>'
            + '<button id="right-btn" class="direction border-bg-sty resizable"><div class="fa fa-chevron-right"></div></button>'
            + '<button id="down-btn" class="direction border-bg-sty resizable"><div class="fa fa-chevron-down"></div></button>'
            + '<button id="up-btn" class="direction border-bg-sty resizable"><div class="fa fa-chevron-up"></div></button>'
            + '</div>'
            + '</div>'
            + '<div style="width: 100%; text-align: center">'
            + '<button id="share" class="styling_btn btn">'
            + 'SHARE'
            + '</button>'
            + '</div>'
            + '<hr class="pro">'
            + '<div id="icon-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>'
            + '<div id="icon-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>'
            + '<div id="icon_loader" class="jcarousel-wrapper row">'
            + '<div id="myCarousel" class="jcarousel" data-jcarousel="true">'
            + '<ul id="container-logo" style="left: 0; top: 0;">'
            + '</ul>'
            + '</div>'
            + '<button style="border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">'
            + '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>'
            + '<button style="border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">'
            + '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>'
            + '</div>'
            + '<div id="selection-btn-s">'
            + '<button id="restart-btn" type="button" style="width: 100%; margin-top: 10px" class="btn btn-default">'
            + '<span class="cell-btn">START OVER</span></button>'
            + '<button type="button" style="width: 100%; margin-top: 10px" class="btn btn-sp cell-btn" onclick="send_variations()">'
            + 'DONE</button>'
            + '</div>'
            + '</div>';

        load_available_colors(variations);
        load_available_logos();

        var innerHTML22 = {};

        $(document).ready(function () {
            innerHTML22.heightTT = $("#icon_loader").height();
            console.log(innerHTML22.heightTT);
        });

        var iconShow = $("#icon-show");
        var iconHide = $("#icon-hide");
        var loader = $("#icon_loader");

        iconShow.click(function () {
            loader.animate({
                height: innerHTML22.heightTT
            }, 400, function () {
                loader.css({
                    overflow: 'visible'
                });
            });
            iconShow.addClass(" hidden");
            iconHide.removeClass(" hidden");
        });

        iconHide.click(function () {
            loader.animate({
                height: 0
            }, 400, function () {
                loader.css({
                    overflow: 'hidden'
                });
            });
            iconHide.addClass(" hidden");
            iconShow.removeClass(" hidden");
        });

        //Photo slider
        (function ($) {
            $(function () {
                $('.jcarousel').jcarousel();

                $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

                $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });

                $('.jcarousel-pagination')
                    .on('jcarouselpagination:active', 'a', function () {
                        $(this).addClass('active');
                    })
                    .on('jcarouselpagination:inactive', 'a', function () {
                        $(this).removeClass('active');
                    })
                    .jcarouselPagination();
            });
        })(jQuery);

        var stageWidth = 500;
        var stageHeight = 500;

        stage = new Konva.Stage({
            container: 'image-container-quick-2',
            width: stageWidth,
            height: stageHeight,
            preventDefault: false
        });

        layer = new Konva.Layer();
        stage.add(layer);

        var anim_zoom_in = new Konva.Animation(function (frame) {
            if (selected !== null) {
                var image = selected.get('.image')[0];
                var border = selected.get('.borders')[0];

                selected.width(image.width() + image.width() * frame.timeDiff / 1000);
                selected.height(image.height() + image.height() * frame.timeDiff / 1000);

                border.width(image.width() + image.width() * frame.timeDiff / 1000);
                border.height(image.height() + image.height() * frame.timeDiff / 1000);

                image.width(image.width() + image.width() * frame.timeDiff / 1000);
                image.height(image.height() + image.height() * frame.timeDiff / 1000);

                product.logo.width = image.width();
                product.logo.height = image.height();
            }
        }, layer);

        var anim_zoom_out = new Konva.Animation(function (frame) {
            if (selected !== null) {
                var image = selected.get('.image')[0];
                var border = selected.get('.borders')[0];

                selected.width(image.width() - image.width() * frame.timeDiff / 1000);
                selected.height(image.height() - image.height() * frame.timeDiff / 1000);

                border.width(image.width() - image.width() * frame.timeDiff / 1000);
                border.height(image.height() - image.height() * frame.timeDiff / 1000);

                image.width(image.width() - image.width() * frame.timeDiff / 1000);
                image.height(image.height() - image.height() * frame.timeDiff / 1000);

                product.logo.width = image.width();
                product.logo.height = image.height();
            }
        }, layer);

        var anim_right = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.x(selected.x() + (65 * frame.timeDiff / 1000));

                product.logo.x = selected.x();
                product.logo.y = selected.y();
            }
        }, layer);

        var anim_left = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.x(selected.x() - (65 * frame.timeDiff / 1000));

                product.logo.x = selected.x();
                product.logo.y = selected.y();
            }
        }, layer);

        var anim_up = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.y(selected.y() - (65 * frame.timeDiff / 1000));

                product.logo.x = selected.x();
                product.logo.y = selected.y();
            }
        }, layer);

        var anim_down = new Konva.Animation(function (frame) {
            if (selected !== null) {
                selected.y(selected.y() + (65 * frame.timeDiff / 1000));

                product.logo.x = selected.x();
                product.logo.y = selected.y();
            }
        }, layer);

        var btn_up = $("#up-btn");
        var btn_down = $("#down-btn");
        var btn_left = $("#left-btn");
        var btn_right = $("#right-btn");
        var btn_minus = $("#minus-btn");
        var btn_plus = $("#plus-btn");
        var btn_restart = $("#restart-btn");

        btn_minus.on('mousedown touchstart', function () {
            anim_zoom_out.start();
        });

        btn_minus.on('mouseup touchend', function () {
            anim_zoom_out.stop();
        });

        btn_plus.on('mousedown touchstart', function () {
            anim_zoom_in.start();
        });

        btn_plus.on('mouseup touchend', function () {
            anim_zoom_in.stop();
        });

        btn_up.on('mousedown touchstart', function () {
            anim_up.start();
        });

        btn_up.on('mouseup touchend', function () {
            anim_up.stop();
        });

        btn_down.on('mousedown touchstart', function () {
            anim_down.start();
        });

        btn_down.on('mouseup touchend', function () {
            anim_down.stop();
        });

        btn_left.on('mousedown touchstart', function () {
            anim_left.start();
        });

        btn_left.on('mouseup touchend', function () {
            anim_left.stop();
        });

        btn_right.on('mousedown touchstart', function () {
            anim_right.start();
        });

        btn_right.on('mouseup touchend', function () {
            anim_right.stop();
        });

        btn_restart.on('click', function () {
            for (var i = 0; i < elements.length; i++) {
                elements[i].destroy();

                logo.remove();
                product.logo = null;

                layer.draw();
            }
        });

        var baseImg = new Konva.Image({
            width: stage.width(),
            height: stage.height(),
            preventDefault: false,
            draggable: false
        });

        layer.add(baseImg);

        var imageBgPro = new Image();
        imageBgPro.onload = function () {

            baseImg.image(imageBgPro);
            layer.draw();
        };
        imageBgPro.src = product.data['images'][0]['url']['https'];

        if (product.logo) {
            $.ajax({
                type: "get",
                url: "/catalog/get_image?id=" + product.logo.logo_id,
                data: {},
                dataType: "html",
                success: function (data) {
                    addToPic(data, product.logo.logo_id);
                },
                error: function (data) {
                }
            });
        }

        if (product.emblem) {
            imageObj = null;
            emblemImg = null;
            add_emblem_item(product.emblem.data, layer);
            LAYER.draw();
        }

        fitStageIntoParentContainer_edit();
        window.addEventListener('resize', fitStageIntoParentContainer_edit);
    }

    function open_quick_1(pr) {
        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: {},
            success: function (data) {

                console.log(data);

                product.product_id = data['id'];
                if (!data['is_variation']) {
                    product.product_base_id = data['id'];
                }
                product.data = data;

                load_p1(product, false);
                return false
            },
            error: function (data) {
                return false
            }
        });
        $("body").addClass("modal-open");
        modal_quick.style.display = "block";
    }

    function open_quick_2(pr) {
        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: {},
            success: function (data) {

                product.data = data;
                load_p2(product);

                return false
            },
            error: function (data) {
                return false
            }
        });
        $("body").addClass("modal-open");
        modal_quick.style.display = "block";
    }

    function addToCart() {

        if (product.selected_size !== null) {

            $.ajax({
                type: "POST",
                url: "/add_cart",
                data: {
                    product: product
                },
                success: function (data, status, xhr) {
                    modal_quick.style.display = "none";
                    $("body").removeClass("modal-open");
                    location.reload();
                },
                dataType: 'json'
            });
        } else {
            alert('Select a size');
        }
    }

    function changeSize(id) {
        for (var i = 0; i < product.available_sizes.length; i++) {

            product.size = product.available_sizes[i];

            if (product.size === id) {
                $('#' + product.size).addClass('badge_selected');
                product.selected_size = id
            } else {
                $('#' + product.size).removeClass('badge_selected');
            }
        }
    }

    function load_available_colors(variations) {
        if (variations.length > 0) {
            var colors = '';
            console.log(variations[2]['variations']);

            $.ajax({
                url: '/catalog/product/colored/' + product.product_base_id + '/' + variations[2]['id'] + '/' + product.product_id,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    for (var attr in variations[2]['variations']) {
                        var changes = JSON.parse(variations[2]['variations'][attr]['title']);

                        var id_var = variations[2]['variations'][attr]['id'];
                        console.log(id_var);

                        var mark = '';
                        if (data[id_var][0] === true) {
                            mark = '<i style="color: white" class="fa fa-check-circle-o" aria-hidden="true"></i>'
                        }

                        colors = colors
                            + '<div onclick="change_source(\'' + data[id_var][1].toString() + '\')" style="background: ' + changes['code'] + '; width: 17px; height: 17px; margin-right: 5px; margin-bottom: 7px; float: left">'
                            + '<div id="color-picker" class="">'
                            + mark
                            + '</div>'
                            + '</div>'
                    }

                    document.getElementById('checkboxes-color').innerHTML = colors;
                },
                error: function () {

                }
            });

            return colors;
        }
    }

    function change_source(values) {

        product.product_id = values;
        open_quick_2(product.product_id);
    }

    function load_available_logos() {

        $.ajax({
            type: "get",
            url: "/catalog/logos/" + product.product_base_id,
            data: {},
            success: function (data) {

                var logos = '';

                for (var i = 0; i < data.length; i++) {
                    logos = logos + '<li class="items-scroll-container">'
                        + '<img onclick="addToPic(\'' + data[i]['url'][0].toString() + '\', ' + data[i]['id'] + ')" src="' + data[i]['url'][1] + '" alt="" height="30">'
                        + '</li>'
                }
                document.getElementById('container-logo').innerHTML = logos;

                $('.jcarousel').jcarousel('reload', {
                    animation: 'slow'
                });

            }
        });
    }

    function addToPic(imageToAdd, imageId) {

        for (var i = 0; i < elements.length; i++) {
            elements[i].destroy();
            layer.draw();
        }

        logo.logo_id = imageId;
        logo.x = logo.x || 0;
        logo.y = logo.y || 0;
        logo.r_x = logo.r_x || 500;
        logo.r_y = logo.r_y || 500;

        var logo_image = new Konva.Image({
            name: 'image',
            preventDefault: false
        });

        var logo_group = new Konva.Group({
            x: 500 * logo.x / logo.r_x,
            y: 500 * logo.y / logo.r_y,
            name: 'group',
            draggable: true
        });

        layer.add(logo_group);
        logo_group.add(logo_image);

        var border;

        var imageLogo = new Image();
        imageLogo.onload = function () {
            logo.width = (500 * logo.width / logo.r_x) || imageLogo.width * 0.2;
            logo.height = (500 * logo.height / logo.r_y) || imageLogo.height * 0.2;

            logo_image.image(imageLogo);

            logo_image.width(logo.width);
            logo_image.height(logo.height);

            border = addBorders(logo_group, 0, 0, "borders", logo.height, logo.width);
            elementsBorders.push(border);

            layer.draw();
        };

        hideAll();
        selected = logo_group;
        elements.push(selected);

        logo_group.on('click tap', function () {
            if (border.visible() === false) {
                hideAll();
                border.show();
                selected = logo_group;
                layer.draw();
            } else {
                hideAll();
                selected = null;
                layer.draw();
            }
        });

        logo_group.on('dragend', function () {
            logo.x = logo_group.x();
            logo.y = logo_group.y();

        });

        imageLogo.src = imageToAdd;
        product.logo = logo;
    }

    function hideAll() {
        for (var i = 0; i < elementsBorders.length; i++) {
            elementsBorders[i].hide();
        }
    }

    function addBorders(group, x, y, name, h, w) {
        var layer = group.getLayer();
        var anchor = new Konva.Rect({
            x: x,
            y: y,
            width: w,
            height: h,
            stroke: '#A9A9A9',
            strokeWidth: 3,
            name: name,
            draggable: false,
            dragOnTop: false,
            preventDefault: false
        });

        group.add(anchor);
        layer.draw();
        return anchor;
    }

    var tempData_array = [];
    var imageObj = null;
    var emblemImg = null;

    function add_emblem_item(data, layer) {
        if (imageObj === null) {
            emblemImg = new Konva.Image({
                width: 500 * parseFloat(data.width) / parseFloat(data.rel_x),
                height: 500 * parseFloat(data.height) / parseFloat(data.rel_y),
                x: 500 * parseFloat(data.x) / parseFloat(data.rel_x),
                y: 500 * parseFloat(data.y) / parseFloat(data.rel_y)
            });

            layer.add(emblemImg);


            imageObj = new Image();
            imageObj.onload = function () {
                emblemImg.image(imageObj);
                layer.draw();
            };
        }
        emblemImg.width(500 * parseFloat(data.width) / parseFloat(data.rel_x));
        emblemImg.height(500 * parseFloat(data.height) / parseFloat(data.rel_y));
        emblemImg.x(500 * parseFloat(data.x) / parseFloat(data.rel_x));
        emblemImg.y(500 * parseFloat(data.y) / parseFloat(data.rel_y));
        imageObj.src = data['url'];

        emblem.emblem_id = data['emblem_id'];
        emblem.position = data['id'];
        emblem.data = data;
        product.emblem = emblem;
    }

    function get_emblems_placement(pr, container) {

        var imageObj = null;
        var emblemImg = null;

        tempData_array = [];

        $.ajax({
            url: '/catalog/product/emblems/' + pr,
            method: 'get',
            dataType: 'json',
            data: {
                product_id: ''
            },
            success: function (data) {

                var emblems = '';
                for (var i = 0; i < data.length; i++) {

                    tempData_array.push(data[i]);

                    emblems += '<li>' +
                        '<div onclick="add_emblem_item(tempData_array[' + i + '], LAYER)" style="cursor: pointer; margin: 4px; width: 100px; height: 150px; text-align: center">' +
                        '<div style=" background: #f1f1f1; padding-bottom: 10px;">' +
                        '<img style="margin: 5px;" height="50px" src="' + data[i]['url'] + '">' +
                        '<div><h5 style="width: 100%; font-weight: bold;">' + data[i]['name'] + '</h5></div>' +
                        '</div>' +
                        '<div><h5 style="width: 100%; color: #c2a5b2">+$' + data[i]['cost'] + '</h5></div>' +
                        '</div>' +
                        '</li>'
                }

                document.getElementById('emblem-place').innerHTML = '<div id="icon_loader" class="jcarousel-wrapper">' +
                    '<div id="myCarousel" class="jcarousel" data-jcarousel="true">' +
                    '<ul id="container-logo" style="left: 0; top: 0;">' +
                    emblems +
                    '</ul>' +
                    '</div>' +
                    '<button style="top: 0; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                    '<button style="top: 0; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                    '</div>';

                //Photo slider
                (function ($) {
                    $(function () {
                        $('.jcarousel').jcarousel();

                        $('.jcarousel-control-prev')
                            .on('jcarouselcontrol:active', function () {
                                $(this).removeClass('inactive');
                            })
                            .on('jcarouselcontrol:inactive', function () {
                                $(this).addClass('inactive');
                            })
                            .jcarouselControl({
                                target: '-=1'
                            });

                        $('.jcarousel-control-next')
                            .on('jcarouselcontrol:active', function () {
                                $(this).removeClass('inactive');
                            })
                            .on('jcarouselcontrol:inactive', function () {
                                $(this).addClass('inactive');
                            })
                            .jcarouselControl({
                                target: '+=1'
                            });

                        $('.jcarousel-pagination')
                            .on('jcarouselpagination:active', 'a', function () {
                                $(this).addClass('active');
                            })
                            .on('jcarouselpagination:inactive', 'a', function () {
                                $(this).removeClass('active');
                            })
                            .jcarouselPagination();
                    });
                })(jQuery);

                var loader_placement = $("#emblem-place");

                $(document).ready(function () {
                    container.height_plac_size = loader_placement.height();
                });

            },
            error: function (data) {

            }
        });

    }

    function get_variation_size(variations) {
        if (variations.length > 0) {

            var sizes = '';

            for (var attr in variations[1]['variations']) {
                //missing check of attr
                sizes = sizes + '<li>' +
                    '<span style="font-size: 15px" id="' + variations[1]['variations'][attr]['id'].toString() + '" onclick="changeSize(\'' + variations[1]['variations'][attr]['id'].toString() + '\')" class="badge badge-size text_light">' + variations[1]['variations'][attr]['title'] + '</span>' +
                    '</li>';

                product.available_sizes.push(variations[1]['variations'][attr]['id'].toString());
            }

            var response = '<div id="icon_loader" class="jcarousel-wrapper">' +
                '<div id="myCarousel" class="jcarousel" data-jcarousel="true">' +
                '<ul id="container-logo" style="left: 0; top: 0;">' +
                'Nothing available' +
                '</ul>' +
                '</div>' +
                '</div>';

            if (sizes.length){
                response = '<div id="icon_loader" class="jcarousel-wrapper">' +
                    '<div id="myCarousel" class="jcarousel" data-jcarousel="true">' +
                    '<ul id="container-logo" style="left: 0; top: 0;">' +
                    sizes +
                    '</ul>' +
                    '</div>' +
                    '<button style="top: 0; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                    '<button style="top: 0; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                    '</div>'
            }

            return response
        }
    }

    function get_variation_customized(variations) {
        if (variations.length > 0) {

            var customs = '';

            for (var attr in variations[0]['variations']) {
                //missing check of attr
                if (variations[0]['variations'][attr]['title'] !== 'null') {
                    var changes = JSON.parse(variations[0]['variations'][attr]['title']);
                    render_custom.push(variations[0]['variations'][attr]);
                    customs = customs + '<li>' +
                        '<div id="' + changes['image_id'] + variations[0]['variations'][attr]['id'] + '" style="width: 100px; height: 100px">' +
                        '</div>' +
                        '</li>'
                }

            }

            response = '<div id="icon_loader_logo" class="jcarousel-wrapper">' +
                '<div id="myCarousel-logo" class="jcarousel" data-jcarousel="true">' +
                '<ul id="container-logo-2" style="left: 0; top: 0;">' +
                'Nothing available' +
                '</ul>' +
                '</div>' +
                '</div>';

            if (customs.length) {
                response = '<div id="icon_loader_logo" class="jcarousel-wrapper">' +
                    '<div id="myCarousel-logo" class="jcarousel" data-jcarousel="true">' +
                    '<ul id="container-logo-2" style="left: 0; top: 0;">' +
                    customs +
                    '</ul>' +
                    '</div>' +
                    '<button style="top: 30px; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                    '<button style="top: 30px; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                    '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                    '</div>'
            }

            return response
        }
    }

    function createShape(id, variation, width, height, x, y, s_w, s_h) {
        var container = $('#' + id + variation);
        container.height(container.width());

        var stage = new Konva.Stage({
            container: id + variation,
            width: container.width(),
            height: container.height()
        });
        var layer = new Konva.Layer();
        stage.add(layer);

        container.on('touchend', function () {

            logo.remove();
            emblem.remove();

            logo.logo_id = id;
            logo.x = 500 * x / s_w;
            logo.y = 500 * y / s_h;
            logo.width = 500 * width / s_w;
            logo.height = 500 * height / s_h;
            logo.r_x = 500;
            logo.r_y = 500;
            product.logo = logo;

            load_p1(product, false);
        });

        container.on('click', function () {

            logo.remove();
            emblem.remove();

            logo.logo_id = id;
            logo.x = 500 * x / s_w;
            logo.y = 500 * y / s_h;
            logo.width = 500 * width / s_w;
            logo.height = 500 * height / s_h;
            logo.r_x = 500;
            logo.r_y = 500;
            product.logo = logo;

            load_p1(product, false);
        });


        var baseImg = new Konva.Image({
            width: container.width(),
            height: container.height(),
            draggable: false
        });

        var logoImg = new Konva.Image({
            width: container.width() * width / s_w,
            height: container.height() * height / s_h
        });

        var logoGroup = new Konva.Group({
            x: container.width() * x / s_w,
            y: container.width() * y / s_h
        });

        layer.add(baseImg);
        layer.add(logoGroup);
        logoGroup.add(logoImg);

        var imageObj1 = new Image();
        imageObj1.onload = function () {
            baseImg.image(imageObj1);
            layer.draw();
        };
        imageObj1.src = product.data['images'][0]['url']['https'];

        var imageObj2 = new Image();
        imageObj2.onload = function () {
            logoImg.image(imageObj2);
            layer.draw();
            imageObj2.width = container.width() * width / s_w;
            imageObj2.height = container.height() * height / s_h;
        };

        $.ajax({
            type: "get",
            url: "/catalog/get_image?id=" + id + "&style=thumb",
            data: {},
            dataType: "html",
            success: function (data) {
                imageObj2.src = data;
                layer.draw();
            },
            error: function (data) {
            }
        });


    }

    var item_s = '<%= params['id'] %>';
    var item_v = '<%= params['view'] %>';
    if (item_s !== '') {
        if (item_v === '2') {
            open_quick_2(item_s);
        } else {
            open_quick_1(item_s);
        }
    }

</script>