<body>

<script>
    var selected_size = null;
    var avaliable_sizes = [];
    var render_custom = [];
</script>

<div id="items-container" style="margin-top: 100px">

  <% get_products_f_catalog(params).each do |pr| %>
      <div id="item<%= pr['id'] %>" style="float: left; width: 18%; text-align: center; padding: 25px 0 0; margin: 25px 1% 0; background: #ffecf0">
        <img style="height: 100px; margin-bottom: 10px" src="<%= pr['images'].first['url']['https'] %>">
        <h5 style="margin-bottom: 10px"><%= pr['title'] %></h5>
        <h5><%= pr['price']['value'] %></h5>
        <button onclick="open_quick('<%= pr['id'] %>')" class="btn btn-default" style="width: 100%">Quick shop</button>
      </div>

  <% end %>

</div>

<!-- The Modal -->
<div id="quick_view" class="modal_quick modal_base mobilenot">

  <!-- Modal content -->
  <div class="modal-content_quick modal-content_base">
    <span id="quick_view_close" class="close" style="position: fixed">&times;</span>
    <div id="general_p_content">

    </div>

  </div>

</div>
<script>
    // Get the modal
    var modal_quick = document.getElementById('quick_view');

    // Get the <span> element that closes the modal
    var span_quick = document.getElementById('quick_view_close');

    function open_quick(pr) {
        $.ajax({
            type: "get",
            url: "/catalog/item/" + pr,
            data: {},
            success: function (data) {

                var variations = [];
                for (var variation in data['modifiers']) {
                    if (data['modifiers'].hasOwnProperty(variation)) {
                        variations.push(data['modifiers'][variation])
                    }
                }

                console.log(data['id']);

                document.getElementById('general_p_content').innerHTML =
                    '<div class="content-part" id="image-container_quick" style="padding: 0">' +
                    '<img style="max-width: 400px; max-height: 400px; width: 100%" src="' + image_handler(data) + '">' +
                    '</div>' +
                    '<div class="content-part" style="padding: 0">' +
                    '<div class="wrap">' +
                    '<h5>' + data['title'] + '</h5>' +
                    '<h6>' + data['price']['value'] + '</h6>' +
                    '</div>' +
                    '<div class="wrap">' +
                    '<span>' + data['description'].substr(0, 30) + '</span><span id="dots">...</span><span class="complete">' + data['description'].substr(30) + '</span>' +
                    '<div style="text-align: end; padding-top: 9px">' +
                    '<span id="more-toggle">Read more</span>' +
                    '</div>' +
                    '</div>' +
                    '<hr style="margin-bottom: 0">' +
                    '<div style="margin-bottom: 10px">' +
                    '<div id="icon-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> SIZE</h6></div>' +
                    '<div id="icon-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> SIZE</h6></div>' +
                    '</div>' + get_variation_size(variations) +
                    '<hr style="margin-bottom: 0">' +
                    '<div style="margin-bottom: 10px">' +
                    '<div id="icon-show-logo" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CUSTOMIZED</h6>' +
                    '</div>' +
                    '<div id="icon-hide-logo"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CUSTOMIZED</h6></div>' +
                    '</div>' + get_variation_customized(variations) +
                    '</div>';

                var state = true;
                $("#more-toggle").on('click', function () {
                    if (state) {
                        $(this).text("Read less");
                        $(".complete").show();
                        $("#dots").hide();
                    } else {
                        $(this).text("Read more");
                        $(".complete").hide();
                        $("#dots").show();
                    }
                    state = !state;
                });

                var innerHTML22 = {};

                $(document).ready(function () {
                    innerHTML22.heightTT = $("#icon_loader").height();
                    console.log(innerHTML22.heightTT);
                });

                var iconShow = $("#icon-show");
                var iconHide = $("#icon-hide");
                var loader = $("#icon_loader");

                iconShow.click(function () {
                    loader.animate({
                        height: innerHTML22.heightTT
                    }, 400, function () {
                        loader.css({
                            overflow: 'visible'
                        });
                    });
                    iconShow.addClass(" hidden");
                    iconHide.removeClass(" hidden");
                });

                iconHide.click(function () {
                    loader.animate({
                        height: 0
                    }, 400, function () {
                        loader.css({
                            overflow: 'hidden'
                        });
                    });
                    iconHide.addClass(" hidden");
                    iconShow.removeClass(" hidden");
                });

                for (var i = 0; i < render_custom.length; i++) {

                    var object_json = render_custom[i];
                    console.log(object_json);

                    createShape(object_json['image_id'], object_json['width'], object_json['height'], object_json['x'], object_json['y'], object_json['s_w'], object_json['s_h'], data);
                }

                //Photo slider
                (function ($) {
                    $(function () {
                        $('.jcarousel').jcarousel();

                        $('.jcarousel-control-prev')
                            .on('jcarouselcontrol:active', function () {
                                $(this).removeClass('inactive');
                            })
                            .on('jcarouselcontrol:inactive', function () {
                                $(this).addClass('inactive');
                            })
                            .jcarouselControl({
                                target: '-=1'
                            });

                        $('.jcarousel-control-next')
                            .on('jcarouselcontrol:active', function () {
                                $(this).removeClass('inactive');
                            })
                            .on('jcarouselcontrol:inactive', function () {
                                $(this).addClass('inactive');
                            })
                            .jcarouselControl({
                                target: '+=1'
                            });

                        $('.jcarousel-pagination')
                            .on('jcarouselpagination:active', 'a', function () {
                                $(this).addClass('active');
                            })
                            .on('jcarouselpagination:inactive', 'a', function () {
                                $(this).removeClass('active');
                            })
                            .jcarouselPagination();
                    });
                })(jQuery);

                return false
            },
            error: function (data) {
                return false
            }
        });
        modal_quick.style.display = "block";
    }

    function image_handler(data) {
        if (data['variation_pp']) {
            console.log('klk chapie');
        } else {
            return data['images'][0]['url']['https']
        }
        return 'html'
    }


    function get_variation_size(variations) {
        if (variations.length > 0) {

            var sizes = '';

            for (var attr in variations[1]['variations']) {
                //missing check of attr
                sizes = sizes + '<li>' +
                    '<span id="' + variations[1]['variations'][attr]['id'] + '" onclick="changeSize(' + variations[1]['variations'][attr]['id'] + ')" class="badge badge-size">' + variations[1]['variations'][attr]['title'] + '</span>' +
                    '<!---->' +
                    '</li>'
            }

            return '<div id="icon_loader" class="jcarousel-wrapper">' +
                '<div id="myCarousel" class="jcarousel" data-jcarousel="true">' +
                '<ul id="container-logo" style="left: 0; top: 0;">' +
                sizes +
                '</ul>' +
                '</div>' +
                '<button style="top: 0; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                '<button style="top: 0; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                '</div>'
        }
    }

    function get_variation_customized(variations) {
        if (variations.length > 0) {

            var customs = '';

            for (var attr in variations[0]['variations']) {
                //missing check of attr
                if (variations[0]['variations'][attr]['title'] !== 'null') {
                    var changes = JSON.parse(variations[0]['variations'][attr]['title']);
                    render_custom.push(changes);
                    customs = customs + '<li>' +
                        '<div id="' + changes['image_id'] + '" style="width: 100px; height: 100px">' +
                        '</div>' +
                        '</li>'
                }

            }

            return '<div id="icon_loader_logo" class="jcarousel-wrapper">' +
                '<div id="myCarousel-logo" class="jcarousel" data-jcarousel="true">' +
                '<ul id="container-logo-2" style="left: 0; top: 0;">' +
                customs +
                '</ul>' +
                '</div>' +
                '<button style="top: 30px; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-left" aria-hidden="true"></i></button>' +
                '<button style="top: 30px; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">' +
                '<i class="fa fa-chevron-right" aria-hidden="true"></i></button>' +
                '</div>'
        }
    }

    function createShape(id, width, height, x, y, s_w, s_h, data) {
        var container = $('#' + id);
        container.height(container.width());

        var stage = new Konva.Stage({
            container: id,
            width: container.width(),
            height: container.height()
        });
        var layer = new Konva.Layer();
        stage.add(layer);

        var baseImg = new Konva.Image({
            width: container.width(),
            height: container.height(),
            draggable: false
        });

        var logoImg = new Konva.Image({
            width: container.width() * width / s_w,
            height: container.height() * height / s_h
        });

        var logoGroup = new Konva.Group({
            x: container.width() * x / s_w,
            y: container.width() * y / s_h
        });

        layer.add(baseImg);
        layer.add(logoGroup);
        logoGroup.add(logoImg);

        var imageObj1 = new Image();
        imageObj1.onload = function () {
            baseImg.image(imageObj1);
            layer.draw();
        };
        imageObj1.src = data['images'][0]['url']['https'];

        var imageObj2 = new Image();
        imageObj2.onload = function () {
            logoImg.image(imageObj2);
            layer.draw();
            imageObj2.width = container.width() * width / s_w;
            console.log(imageObj2.width, container.width(), width, s_w);
            imageObj2.height = container.height() * height / s_h;
            console.log(imageObj2.height);
        };

        $.ajax({
            type: "get",
            url: "/catalog/get_image?id=" + id + "&style=thumb",
            data: {},
            dataType: "html",
            success: function (data) {
                imageObj2.src = data;
                layer.draw();
            },
            error: function (data) {
            }
        });


    }

    // When the user clicks on <span> (x), close the modal
    span_quick.onclick = function () {
        modal_quick.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modal_quick) {
            modal_quick.style.display = "none";
        }
    }
</script>
</body>