<%= stylesheet_link_tag 'index/styles-index' %>

<!--HEADER INDEX-->
<div class="header mobilenot" style="margin-top: 40px; height: 450px; background: url('<%= ConfigurationWeb.find(13).picture %>') no-repeat left center; background-size: cover;">
  <h1 class="text-center ht-desk text_light" style="margin-top: 150px; font-size: 100px; font-family: CaviarDream, Helvetica, sans-serif"><%= ConfigurationWeb.find(20).value %></h1>
  <div class="center-div-container" style="overflow: hidden; position: absolute; bottom: 30px">
    <button onclick="location.href = '/catalog?men=true&view=men'" class="button button-head btn pri-limit" style="float: left">SHOP
      MEN
    </button>
    <button onclick="location.href = '/catalog?women=true&view=women'" class="button button-head btn pri-limit" style="float: right">SHOP
      WOMEN
    </button>
  </div>
</div>

<div class="header desktopnot " style="position: relative; background: url('<%= ConfigurationWeb.find(13).picture %>') no-repeat left center; background-size: cover;height: 360px;width: 100%;overflow: hidden">
  <div style="overflow: hidden; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 240px">
    <h1 class="text-center ht text_light" style="font-family: CaviarDream, Helvetica, sans-serif; font-size: 60px"><%= ConfigurationWeb.find(20).value %></h1>
    <div style="text-align: center; overflow: hidden;">
      <div style="overflow: hidden; margin: 50px auto; left: 0; right: 0; width: 244px;">
        <button onclick="location.href = '/catalog?men=true&view=men'" class="button button-head btn text_light button-head-phone">SHOP
          MEN
        </button>
        <button onclick="location.href = '/catalog?women=true&view=women'" class="button button-head btn text_light button-head-phone">SHOP
          WOMEN
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  var current_item_id = null;
</script>

<!--MOBILE CAROUSEL-->
<div id="carousel-example-generic" class="carousel slide desktopnot" data-ride="carousel">
  <div id="showcase_products" class="carousel-inner" role="listbox">
  </div>

  <div class="desktopnot" style="margin-left: auto; margin-right:auto; text-align: center;">
    <button id="customizable_carousel_btn" onclick="open_quick(current_item_id, 1)" class="btn styling_btn">CUSTOMIZE</button>
  </div>

  <script>

      $('#carousel-example-generic').on('slide.bs.carousel', function (e) {
          var active = $(e.target).find('.carousel-inner > .item.active');
          var from = active.index();
          var next = $(e.relatedTarget);
          var to = next.data('id');
          console.log(from + ' => ' + to);
          current_item_id = to;
      });

      $.ajax({
          url: '/showcase/mobile/products',
          type: 'GET',
          dataType: 'json',
          data: {},
          success: function (data) {
              var holder = document.getElementById('showcase_products');
              var html = '';
              for (var i = 0; i < data.length; i++) {

                  var active = '';
                  if (i === 0) {
                      active = 'active';
                      current_item_id = data[i]['id'];
                  }

                  html = html + '<div data-id="'+ data[i]['id'] +'" class="item ' + active + ' ">\n' +
                      '          <img onclick="open_quick(\''+ data[i]['id'] +'\', 1)" src="' + data[i]['product_image_id'] + '" style="height: 200px; margin: 10px auto;">\n' +
                      '          <div class="carousel-cap">\n' +
                      '            <p class="text_light">' + data[i]['title'] + '<br>Eco-Friendly + Customizable</p>\n' +
                      '          </div>\n' +
                      '        </div>';
              }

              holder.innerHTML = html;
          },
          error: function (data) {
              console.log(data)
          }
      });

      function createShape(id, width, height, x, y, s_w, s_h) {
          var container = $('#' + id);
          container.height(container.width());

          var stage = new Konva.Stage({
              container: id,
              width: container.width(),
              height: container.height()
          });
          var layer = new Konva.Layer();
          stage.add(layer);

          var baseImg = new Konva.Image({
              width: container.width(),
              height: container.height(),
              draggable: false
          });

          var logoImg = new Konva.Image({
              width: container.width() * width / s_w,
              height: container.height() * height / s_h
          });

          var logoGroup = new Konva.Group({
              x: container.width() * x / s_w,
              y: container.width() * y / s_h
          });

          layer.add(baseImg);
          layer.add(logoGroup);
          logoGroup.add(logoImg);

          var imageObj1 = new Image();
          imageObj1.onload = function () {
              baseImg.image(imageObj1);
              layer.draw();
          };
          imageObj1.src = '';

          var imageObj2 = new Image();
          imageObj2.onload = function () {
              logoImg.image(imageObj2);
              layer.draw();
              imageObj2.width = container.width() * width / s_w;
              console.log(imageObj2.width, container.width(), width, s_w);
              imageObj2.height = container.height() * height / s_h;
              console.log(imageObj2.height);
          };
          imageObj2.src = '';
          layer.draw();
      }

  </script>

  <!-- Controls -->
  <a class="carousel-control" style="left: 0; right: auto" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="fa fa-chevron-left" style="position: absolute; top: 140px" aria-hidden="true"></span>
  </a>
  <a class="carousel-control" style="left: auto; right: 0" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="fa fa-chevron-right" style="position: absolute; top: 140px" aria-hidden="true"></span>
  </a>
</div>

<div id="video-player" style="margin-top: 30px; position: relative; width: 100%;" class="desktopnot">
  <img style="width: 100%" src="<%= ConfigurationWeb.find(21).picture %>">
  <div class="text-triangle">
    <p class="text_light" style="font-size: 3.4vw; margin-top: 15vw; margin-bottom: 5vw; width: 30vw; margin-left: -15vw; text-align: center">Our
      Story</p>
    <p class="text_light" style="font-style: italic; line-height: 2.4vw; margin-bottom: 5vw; font-size: 2.3vw; width: 32vw; margin-left: -16vw; text-align: center"><%= ConfigurationWeb.find(19).value.html_safe.gsub('<p>', '').gsub('</p>', '').html_safe %></p>
    <p class="text_light" style="font-size: 4vw; width: 32vw; margin-left: -15vw; text-align: center">
      <a <% if ConfigurationWeb.find(23).value.eql? "true" %> data-toggle="modal" data-target="#video_modal" <% else %> href="/story" <% end %> class="selectable" style="color: black;text-decoration: none">FULL STORY</a></p>
  </div>
</div>

<div class="container mobilenot">
  <div style="position: relative">

    <% product = Product.all.first %>
    <div style="margin-top: 70px; margin-left: auto; margin-right:auto; text-align: center;">
      <img onclick="open_quick('<%= product.id %>', <%= product.customizable ? 2 : 1 %>)" id="img_1" src="<%= product.try(:colors).try(:first).try(:product_images).try(:first).try(:picture) %>" style="height: 370px;">
      <h4 id="title_1" class="text-center text_light"></h4>
      <h5 class="text-center text_light">Eco-Friendly+Customizable</h5>
      <article>
        <button onclick="open_quick('<%= product.id %>', <%= product.customizable ? 2 : 1 %>)" id="customize_1" class="button styling_btn btn">CUSTOMIZE</button>
      </article>
    </div>

    <div id="side-list-1" class="side-list">
      <h4 class="text_light" style="margin-bottom: 20px;">CHOOSE DESIGN</h4>


    </div>
  </div>
</div>

<script>

    load_side_elements(<%= @config_products.where(title: 'Main product')[0].value %>, 1);

    function load_side_elements(id, dd) {
        $.ajax({
            url: '/catalog/product/presets?product_id=' + id,
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data);

                var side_list = $('#side-list-' + dd);
                //data[i].id
                for (var i = 0; i < data.length; i++) {
                    side_list.append('<div onclick="open_quick(\'' + id + '\',1)" id="div_preview_' + dd + '_' + data[i].id + '" class="img4 selectable" style="margin: 5px auto;width: 100px;">\n' +
                        '      </div>');
                }

                side_list.append('<button onclick="open_quick(\' '+ id +' \',1)" class="btn-sm btn-link center-block" style="color:black;  ">' +
                    '<h4 class="text_light" style="font-style: italic"> MORE </h4>' +
                    '</button>');

                for (var t = 0; t < data.length; t++) {
                    create_preview(data[t], dd);
                }
            },
            error: function (data) {

            }
        });
    }

    function create_preview(preview, idf) {
        var selector = 'div_preview_' + idf + '_' + preview.id;
        var container = document.getElementById(selector);

        var stage = new Konva.Stage({
            container: selector,
            width: 70,
            height: 70,
            preventDefaut: false
        });

        var layer = new Konva.Layer();
        stage.add(layer);

        var baseImg = new Konva.Image({
            x: 0,
            y: 0,
            width: 70,
            height: 70
        });
        layer.add(baseImg);

        var logoImg = new Konva.Image({
            x: (70 * preview.x) / 500,
            y: (70 * preview.y) / 500
        });
        layer.add(logoImg);

        var imageBase = new Image();
        imageBase.onload = function () {
            baseImg.image(imageBase);
            layer.draw();
        };

        var imageLogo = new Image();
        imageLogo.onload = function () {
            logoImg.image(imageLogo);
            logoImg.setWidth(this.width);
            logoImg.setHeight(this.height);
            logoImg.scale({
                x: (70 * preview.multiplexer) / 500,
                y: (70 * preview.multiplexer) / 500
            });
            layer.draw()
        };

        $.ajax({
            url: '/catalog/product/color/main_image?color_id=' + preview.color_id,
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {
                imageBase.src = data.picture
            },
            error: function (data) {
                console.log(data);
            }
        });

        $.ajax({
            url: '/catalog/product/logo?logo_id=' + preview.logo_id,
            type: 'GET',
            dataType: 'text',
            data: {},
            success: function (data) {
                imageLogo.src = data
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

</script>


<div id="video-player-desk" class="mobilenot" style="width: 100%; margin-top: 80px; position: relative; overflow: hidden; height: 37vw">
  <img style="width: 100%" src="<%= ConfigurationWeb.find(21).picture %>">
  <div style="border-width: 0 15vw 25vw 15vw" class="text-triangle">
    <p class="text_light" style="font-size: 1.7vw; margin-top: 7.5vw; margin-bottom: 2.5vw; width: 15vw; margin-left: -7.5vw; text-align: center">Our
      Story</p>
    <p class="text_light" style="font-style: italic; line-height: 1.2vw; margin-bottom: 2.5vw; font-size: 1.15vw; width: 16vw; margin-left: -8vw; text-align: center"><%= ConfigurationWeb.find(19).value.html_safe.gsub('<p>', '').gsub('</p>', '').html_safe %></p>
    <p class="text_light" style="font-size: 2vw; width: 16vw; margin-left: -7.5vw; text-align: center">
      <a <% if ConfigurationWeb.find(23).value.eql? "true" %> data-toggle="modal" data-target="#video_modal" <% else %> href="/story" <% end %> class="selectable" style="color: black;text-decoration: none">FULL STORY</a></p>
  </div>
</div>

<div class="container" style="margin-top: 40px; margin-left: auto; margin-right:auto; text-align: center; position: relative;">

  <img class="centered-images-showcase" src="<%= ConfigurationWeb.find(14).picture %>">
  <p class="text_light">Outfits<br>Eco-Friendly + Customizable</p>

  <article>
    <button style="margin-top: auto" onclick="location.href = '/catalog?men=true&view=men'" class="btn styling_btn">SHOP MEN</button>
  </article>

  <div id="side-list-2" class="side-list mobilenot">
    <h4 class="text_light" style="margin-bottom: 20px;">CHOOSE DESIGN</h4>

  </div>

  <script>
      load_side_elements(<%= @config_products.where(title: 'Product 1')[0].value %>, 2);
  </script>

</div>

<hr style="width: 80%; margin: 30px auto">

<div class="container" style="margin-top: 40px; margin-left: auto; margin-right:auto; text-align: center; position: relative;">

  <img class="centered-images-showcase" src="<%= ConfigurationWeb.find(15).picture %>">
  <p class="text_light">Outfits<br>Eco-Friendly + Customizable</p>

  <article>
    <button style="margin-top: auto" onclick="location.href = '/catalog?women=true&view=women'" class="btn styling_btn">SHOP WOMEN</button>
  </article>

  <div id="side-list-3" class="side-list mobilenot">
    <h4 class="text_light" style="margin-bottom: 20px;">CHOOSE DESIGN</h4>

  </div>

  <script>
      load_side_elements(<%= @config_products.where(title: 'Product 2')[0].value %>, 3);
  </script>

</div>

<hr style="width: 80%; margin: 30px auto">

<div style="margin-top: 30px; margin-left: auto; margin-right:auto; text-align: center;">
  <img class="centered-images-showcase" src="<%= ConfigurationWeb.find(16).picture %>">

  <article>
    <button onclick="location.href = '/catalog?looks=true&view=looks'" class="btn styling_btn">
      FULL COLLECTION
    </button>
  </article>

  <hr style="width: 80%; margin: 30px auto">

  <h2 class="text_light" style="margin-top: 70px">#ORGANICHUSTLER</h2>
  <hr style="width: 20%; margin: 20px auto 30px;border-color: #b692a2">

</div>

<div style="width: 75%" class="container">

  <table>
    <tr>
      <td style="width: 45%;"><a href="https://instagram.com/<%= ConfigurationWeb.find(3).value %>"><img style="width: 100%; height: auto" src="<%= ConfigurationWeb.find(17).picture %>" align="left"></a></td>
      <td style="width: 10%">
        <div style="width: 100%; position: relative">
          <div style="width: 1px; position: absolute; height: 10vw; margin: auto; top: 0; left: 0; bottom: 0; right: 0; background: #b692a2;"></div>
        </div>
      </td>
      <td style="width: 45%;"><a href="https://twitter.com/<%= ConfigurationWeb.find(1).value %>"><img style="width: 100%; height: auto" src="<%= ConfigurationWeb.find(18).picture %>" align="right"></a></td>
    </tr>
  </table>
</div>

<div class="container text-center">

  <div class=" text-center center col-cen col-centered " style="margin-top: 30px; margin-bottom: 30px;">

    <button onclick="location.href = 'https://instagram.com/<%= ConfigurationWeb.find(3).value %>'" class="btn styling_btn">FOLLOW US ON INSTAGRAM</button>


  </div>
  <span style="width: 100%" class="hr2 desktopnot"></span>
</div>

<script>
    if ( <%= @cart_product_shared %> ){
        replicate_cart_product('<%= @cart_product_shared %>');
    }
</script>

<!-- Video modal -->

<div class="modal" id="video_modal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
  <video style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; max-width: 1250px" controls id="video" src="<%= ConfigurationWeb.find(22).video.url %>"></video>
    <button style="background-color: white; border-radius: 50%; width: 50px; height: 50px; position: absolute; padding: 0; top: 10%; right: 10%;" type="button" data-dismiss="modal" aria-label="Close">

      <span style="font-size: 50px;/* margin-top: -10px; */top: 0;bottom:  0;margin:  auto;width: 80;height: 80px;position:  absolute;right:  0;left:  0;" style="font-size: 50px;" aria-hidden="true">&times;</span>
    </button>
</div>
