<div class="header mobilenot" style="height: 450px; background: url('<%= GroupShowcase.where(:screen => 3, :name_identity => 'header_img').first.showcases.first.image_show.image.url %>') no-repeat left center; background-size: cover;">
  <h1 class="text-center ht-desk text_light" style="margin-top: 150px; font-size: 100px">ECO FRIENDLY</h1>

  <div class="center-div-container" style="overflow: hidden; position: absolute; bottom: 30px">

    <button onclick="location.href = '/catalog?men=true&view=men'" class="button button-head btn pri-limit" style="float: left">SHOPMEN</button>

    <button onclick="location.href = '/catalog?women=true&view=women'" class="button button-head btn pri-limit" style="float: right">SHOP
      WOMEN
    </button>

  </div>

</div>

<div class="header desktopnot " style="position: relative; background: url('<%= GroupShowcase.where(:screen => 1, :name_identity => 'header_background').first.showcases.first.image_show.image.url %>') no-repeat center center;
    margin-top: -40px;
    height: 360px;
    width: 100%;
    overflow: hidden">

  <div style="overflow: hidden; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 240px">

    <h1 class="text-center ht text_light" style="font-size: 60px">ECO<br>FRIENDLY</h1>

    <div style="text-align: center; overflow: hidden;">
      <div style="overflow: hidden; margin: 50px auto; left: 0; right: 0; width: 244px;">
        <button style="width: 112px; height: 50px; font-weight: 400; font-size: 14px" onclick="location.href = '/catalog?men=true&view=men'" class="button button-head btn text_light">SHOP
          MEN
        </button>
        <button style="width: 112px; height: 50px; font-weight: 400; font-size: 14px" onclick="location.href = '/catalog?women=true&view=women'" class="button button-head btn text_light">SHOP
          WOMEN
    </button>
      </div>
    </div>

  </div>


</div>

<div id="carousel-example-generic" class="carousel slide desktopnot" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% first = true %>
    <% get_showcase_items.each do |item| %>
        <div class="item
          <% if first %> active
          <% first = false end %>">
          <img src="https://<%= item['images'][0]['segments']['domain'] %>w200/h200/<%= item['images'][0]['segments']['suffix'] %>" style="height: 200px; margin: 10px auto;">
          <div class="carousel-cap">
            <p><%= item['title'] %><br>Eco-Friendly + Customizable</p>
          </div>
        </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="carousel-control" style="left: 0; right: auto" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="fa fa-chevron-left" style="position: absolute; top: 140px" aria-hidden="true"></span>
  </a>
  <a class="carousel-control" style="left: auto; right: 0" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="fa fa-chevron-right" style="position: absolute; top: 140px" aria-hidden="true"></span>
  </a>

</div>
<div class="desktopnot" style="margin-left: auto; margin-right:auto; text-align: center;">
  <article>
    <button class="btn styling_btn">CUSTOMIZE</button>

  </article>
</div>

<div id="video-player" style="margin-top: 30px; position: relative; width: 100%;" class="desktopnot">
  <img style="width: 100%" src="<%= GroupShowcase.where(:screen => 1, :name_identity => 'back_video_preview_history').first.showcases.first.image_show.image.url %>">
  <div class="text-triangle">
    <p class="text_light" style="font-size: 3.4vw; margin-top: 15vw; margin-bottom: 5vw; width: 30vw; margin-left: -15vw; text-align: center">Our
      Story</p>
    <p class="text_light" style="font-style: italic; line-height: 2.4vw; margin-bottom: 5vw; font-size: 2.3vw; width: 32vw; margin-left: -16vw; text-align: center">Clothing
      - For
      the solid,<br>selfmode individual with root<br>instincts to pursue their goots.<br>"By Any Means."</p>
    <p class="text_light" style="font-size: 4vw; width: 32vw; margin-left: -15vw; text-align: center">
      <a onclick="play_video_1()" class="selectable" style="color: black;text-decoration: none">WATCH VIDEO</a></p>
  </div>
</div>

<script>

    function play_video_1() {
        document.getElementById('video-player').innerHTML = '<video id="video" src="<%= GroupShowcase.where(screen: 3, name_identity: 'primary_video_show').first.showcases.first.video_show.video.url(:mp4video) %>"></video>';
        var video = document.getElementById('video');
        video.play();
    }

</script>

<div class="container mobilenot">
  <div style="position: relative">

    <div style="margin-top: 70px; margin-left: auto; margin-right:auto; text-align: center;">

      <% id = GroupShowcase.where(screen: 0, name_identity: 'primary_product').first.showcases.first.product_id %>
      <% item = get_product(id) %>
      <img src="<%= item['images'][0]['url']['https'] %>" style="height: 370px;">
      <h4 class="text-center text_light"><%= item['title'] %></h4>
      <h5 class="text-center text_light">Eco-Friendly+Customizable</h5>
      <article>
        <button onclick="location.href = '/catalog?id=<%= id %>'" class="button styling_btn btn">CUSTOMIZE</button>
      </article>
    </div>


    <div class="side-list">

      <h4 class="text_light" style="margin-bottom: 20px;">CHOOSE DESIGN</h4>


      <% item['modifiers'].first[1]['variations'].each do |var| %>
          <% if var[1]['title'].eql?('null') %>

          <% else %>
              <% object = getJson(var[1]['title']) %>
              <div id="<%= "#{object['image_id']}#{var[1]['id']}" %>" class="img4" style="margin: 5px auto;width: 100px;">

              </div>

              <script id="create-shape">
                  createShape('<%= "#{object['image_id']}#{var[1]['id']}" %>', '<%= object['width'] %>', '<%= object['height'] %>', '<%= object['x'] %>', '<%= object['y'] %>', '<%= object['s_w'] %>', '<%= object['s_h'] %>');
                  function createShape(id, width, height, x, y, s_w, s_h) {
                      var container = $('#' + id);
                      container.height(container.width());

                      var stage = new Konva.Stage({
                          container: id,
                          width: container.width(),
                          height: container.height()
                      });
                      var layer = new Konva.Layer();
                      stage.add(layer);

                      var baseImg = new Konva.Image({
                          width: container.width(),
                          height: container.height(),
                          draggable: false
                      });

                      var logoImg = new Konva.Image({
                          width: container.width() * width / s_w,
                          height: container.height() * height / s_h
                      });

                      var logoGroup = new Konva.Group({
                          x: container.width() * x / s_w,
                          y: container.width() * y / s_h
                      });

                      layer.add(baseImg);
                      layer.add(logoGroup);
                      logoGroup.add(logoImg);

                      var imageObj1 = new Image();
                      imageObj1.onload = function () {
                          baseImg.image(imageObj1);
                          layer.draw();
                      };
                      imageObj1.src = '<%= item['images'].first['url']['https'] %>';

                      var imageObj2 = new Image();
                      imageObj2.onload = function () {
                          logoImg.image(imageObj2);
                          layer.draw();
                          imageObj2.width = container.width() * width / s_w;
                          console.log(imageObj2.width, container.width(), width, s_w);
                          imageObj2.height = container.height() * height / s_h;
                          console.log(imageObj2.height);
                      };
                      imageObj2.src = '<%= get_thumb_g_id(object['image_id'], :thumb) %>';
                      layer.draw();
                  }
              </script>
          <% end %>
      <% end %>
      <button onclick="location.href = '/product/<%= id %>/1'" class="btn-sm btn-link center-block" style="color:black;  ">
        <h4 class="text_light" style="font-style: italic"> MORE </h4></button>


    </div>
  </div>
</div>


<div class="mobilenot" style="margin-top: 80px; position: relative">
  <video id="video_desk" poster="asfalt-light.png" loop style="background: no-repeat 0 0 url(<%= GroupShowcase.where(:screen => 1, :name_identity => 'back_video_preview_history').first.showcases.first.image_show.image.url %>); background-size: cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;" src="<%= ['https://s3.amazonaws.com/store-logo-cloud/video_shows/videos/000/000/007/mp4video/Cars.mp4?1493154154', "GroupShowcase.where(screen: 3, name_identity: 'primary_video_show').first.showcases.first.video_show.video.url(:mp4video)"].first %>"></video>
  <p style="position: absolute; top: 40px" class="absolute-center">
    <span style="font-size: 4vw">Our Story</span><br><span style="font-size: 1.6vw">Clothing - For the solid, selfmade individual with root instincts to pursue<br>their goals. "By Any Means".</span>
  </p>
  <i id="play_btn" onclick="play_video_2()" class="absolute-center-arrow fa fa-play-circle-o" aria-hidden="true"></i>
  <script>

      function play_video_2() {
          document.getElementById('play_btn').classList.add('hidden');
          var video = document.getElementById('video_desk');
          video.play();
      }

  </script>
</div>

<div class="container" style="margin-top: 40px; margin-left: auto; margin-right:auto; text-align: center; position: relative;">

  <img src="<%= GroupShowcase.where(:screen => 3, :name_identity => 'outfits_looks_ph_preview').first.showcases.first.image_show.image.url %>" style="height: 50vw; min-height: 350px">
  <p class="text_light" style="margin-bottom: 20px">Outfits<br>Eco-Friendly + Customizable</p>

  <article>
    <button onclick="location.href = '/catalog?men=true&view=men'" class="btn styling_btn">SHOP MEN</button>
  </article>

  <div class="side-list mobilenot">

    <h4 class="text_light" style="margin-bottom: 20px;">CHOOSE DESIGN</h4>

    <% id = GroupShowcase.where(screen: 3, name_identity: 'product_showcase_variations_2').first.showcases.first.product_id %>
    <% item = get_product(id) %>


    <% item['modifiers'].first[1]['variations'].each do |var| %>
        <% if var[1]['title'].eql?('null') %>

        <% else %>
            <% object = getJson(var[1]['title']) %>
            <div id="<%= "#{object['image_id']}#{var[1]['id']}" %>" class="img4" style="margin: 5px auto;width: 100px;">

            </div>

            <script id="create-shape">
                createShape('<%= "#{object['image_id']}#{var[1]['id']}" %>', '<%= object['width'] %>', '<%= object['height'] %>', '<%= object['x'] %>', '<%= object['y'] %>', '<%= object['s_w'] %>', '<%= object['s_h'] %>');
                function createShape(id, width, height, x, y, s_w, s_h) {
                    var container = $('#' + id);
                    container.height(container.width());

                    var stage = new Konva.Stage({
                        container: id,
                        width: container.width(),
                        height: container.height()
                    });
                    var layer = new Konva.Layer();
                    stage.add(layer);

                    var baseImg = new Konva.Image({
                        width: container.width(),
                        height: container.height(),
                        draggable: false
                    });

                    var logoImg = new Konva.Image({
                        width: container.width() * width / s_w,
                        height: container.height() * height / s_h
                    });

                    var logoGroup = new Konva.Group({
                        x: container.width() * x / s_w,
                        y: container.width() * y / s_h
                    });

                    layer.add(baseImg);
                    layer.add(logoGroup);
                    logoGroup.add(logoImg);

                    var imageObj1 = new Image();
                    imageObj1.onload = function () {
                        baseImg.image(imageObj1);
                        layer.draw();
                    };
                    imageObj1.src = '<%= item['images'].first['url']['https'] %>';

                    var imageObj2 = new Image();
                    imageObj2.onload = function () {
                        logoImg.image(imageObj2);
                        layer.draw();
                        imageObj2.width = container.width() * width / s_w;
                        console.log(imageObj2.width, container.width(), width, s_w);
                        imageObj2.height = container.height() * height / s_h;
                        console.log(imageObj2.height);
                    };
                    imageObj2.src = '<%= get_thumb_g_id(object['image_id'], :thumb) %>';
                    layer.draw();
                }
            </script>
        <% end %>
    <% end %>
    <button onclick="location.href = '/product/<%= id %>/1'" class="btn-sm btn-link center-block" style="color:black;  ">
      <h4 class="text_light" style="font-style: italic"> MORE </h4></button>


  </div>
</div>

<hr style="width: 80%; margin: 30px auto">

<div style="margin-top: 30px; margin-left: auto; margin-right:auto; text-align: center;">

  <% image_show_case = GroupShowcase.where(screen: 3, name_identity: 'relational_image').first.showcases.first %>
  <img style="height: 50vw; min-height: 350px" src="<%= image_show_case.image_show.image.url %>">


  <article>
    <button onclick="location.href = '<%= image_show_case.url_association %>'" class="btn styling_btn">
      FULL COLLECTION
    </button>
  </article>

  <hr style="width: 80%; margin: 30px auto">

  <h2 class="text_light" style="margin-top: 70px">#ORGANICHUSTLER</h2>
  <hr style="width: 33px; margin: 20px auto 0;border-color: #b692a2">

</div>

<div class="desktopnot" style="margin-top: 20px">
  <div style="margin-left: auto; margin-right: auto; text-align: center">
    <div class="showcase-add">
      <img style="width: 100%;" src="<%= url_to_image 'index/al.jpg' %>" align="middle">
      <p class="text-center">Organic Hustler Video 1</p>
      <button class="center-block  btn-sm btn-link" style="color:black; ">VIEW ></button>
    </div>

    <div style="width: 1px; margin-left: 2.5%; margin-right: 2.5%; float: left; height: 150px; background: #b692a2">
    </div>


    <div class="showcase-add">
      <img style="width: 100%;" src="<%= url_to_image 'index/th.jpg' %>" align="middle">
      <p class="text-center">Organic Hustler Video 2</p>
      <button class="  btn-sm btn-link center-block" style="color:black;  "> VIEW ></button>
    </div>
  </div>
</div>


<div style="width: 75%" class="container mobilenot">
  <div class="row row-centered" style="position: relative; height: 250px">
    <div style="position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: auto;" class="col-xs-5 col-lg-5 text-center center
  				col-cen col-centered  ">

      <% image_social_1 = GroupShowcase.where(screen: 3, name_identity: 'image_1_social').first.showcases.first %>
      <a href="<%= image_social_1.url_association %>"><img class="img1lg" src="<%= image_social_1.image_show.image.url %>" style="width: 100%" align="left"></a>


    </div>

    <div style="width: 1px; float: left; height: 150px; background: #b692a2; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0;">
    </div>


    <div style="position: absolute; margin: auto; top: 0; bottom: 0; left: auto; right: 0;" class="col-xs-5 col-lg-5 text-center center
  				col-cen col-centered ">

      <% image_social_2 = GroupShowcase.where(screen: 3, name_identity: 'image_2_social').first.showcases.first %>
      <a href="<%= image_social_2.url_association %>"><img class="img2lg" src="<%= image_social_2.image_show.image.url %>" style="width: 100%" align="right"></a>

    </div>
  </div>
</div>

<div class="container text-center desktopnot">

  <div class=" text-center center col-cen col-centered " style="margin-top: 8px;">

    <img class="img3" src="<%= url_to_image 'index/sun.jpg' %>" align="middle" style="width: 200px; height: 150px; margin: auto;display: block;">
    <p class="text-center " style="margin-top: 15px;">Organic Hustler Video 3</p>
    <button class="btn styling_btn" style="width: auto">FOLLOW US ON INSTAGRAM</button>


  </div>
</div>

<div class="container text-center mobilenot">

  <div class=" text-center center col-cen col-centered " style="margin-top: 30px; margin-bottom: 30px;">

    <button class="btn styling_btn">FOLLOW US ON INSTAGRAM</button>


  </div>
  <span style="width: 100%" class="hr2 desktopnot"></span>
</div>

<div class="desktopnot">

  <div style="overflow: hidden; margin: 30px auto;border: solid 1px #b692a2; padding: 10px" class="desktopnot">
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-facebook"></span></a>
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-twitter"></span></a>
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-instagram"></span></a>
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-google"></span></a>
  </div>

</div>

<div class="container-fluid blc desktopnot">
  <div class="row" style="margin-top: 20px;">
    <h3 style="color: white;"> BRAND</h3>
    <br>
    <h4 style="color: #A4A4A4;"> STORY </h4>
    <h4 style="color: #A4A4A4;"> SHOP MEN</h4>
    <h4 style="color: #A4A4A4;"> SHOP WOMEN </h4>
    <h4 style="color: #A4A4A4;"> CONTACT US</h4>
    <br>
    <h3 style="color: white;"> SHOP</h3>
    <br>
    <h4 style="color: #A4A4A4;"> STORY </h4>
    <h4 style="color: #A4A4A4;"> SHOP MEN</h4>
    <h4 style="color: #A4A4A4;"> SHOP WOMEN </h4>
    <h4 style="color: #A4A4A4;"> CONTACT US</h4>
    <br>
    <h3 style="color: white;"> VISIT</h3>
    <h4 style="color: #A4A4A4; margin-bottom: 30px; margin-top: 10px;"> 12 ERICSSON STREET <br> BOSTON, MA Q2122</h4>

    <% image_icon = GroupShowcase.where(screen: 3, name_identity: 'icon_web_page_2').first.showcases.first %>
    <img src="<%= image_icon.image_show.image.url %>" style="width: 60px;">

    <p style="margin-top: 10px;">ORGANIC HUSTLER, LLC</p>


  </div>
</div>