<div class="header mobilenot" style="background: url('<%= GroupShowcase.where(:screen => 3, :name_identity => 'header_img').first.showcases.first.image_show.image.url %>') no-repeat center center; background-size: cover;">
  <h1 class="text-center ht" style="margin-top: 150px; font-size: 100px; font-weight: 100">ECO FRIENDLY</h1>

  <div class="center-div-container" style="overflow: hidden; position: absolute; bottom: 30px">

    <button onclick="location.href = '/catalog?men=true&view=men'" class="button button-head btn pri-limit" style="float: left">SHOP
      MEN
    </button>

    <button class="button button-head btn pri-limit" style="float: right">SHOP WOMEN</button>

  </div>


</div>

<div class="header desktopnot " style="background: url('<%= GroupShowcase.where(:screen => 3, :name_identity => 'header_img').first.showcases.first.image_show.image.url %>') no-repeat center;
    margin-top: 50px;
    overflow: hidden">
  <h1 class="text-center ht">ECO<br>FRIENDLY</h1>

  <div style="overflow: hidden; position: absolute; bottom: 30px">

    <button onclick="location.href = '/catalog?men=true&view=men'" class="button button-head btn">SHOP MEN</button>

    <button class="button button-head btn">SHOP WOMEN</button>

    </div>


</div>

<div id="carousel-example-generic" class="carousel slide desktopnot" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% first = true %>
    <% get_showcase_items.each do |item| %>
        <div class="item
          <% if first %> active
          <% first = false end %>">
          <img src="https://<%= item['images'][0]['segments']['domain'] %>w200/h200/<%= item['images'][0]['segments']['suffix'] %>" style="height: 200px; margin: 10px auto;">
          <div class="carousel-cap">
            <p><%= item['title'] %><br>Eco-Friendly + Customizable</p>
          </div>
        </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="carousel-control" style="left: 0; right: auto" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="fa fa-chevron-left" style="position: absolute; top: 140px" aria-hidden="true"></span>
  </a>
  <a class="carousel-control" style="left: auto; right: 0" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="fa fa-chevron-right" style="position: absolute; top: 140px" aria-hidden="true"></span>
  </a>

</div>
<div class="desktopnot" style="margin-left: auto; margin-right:auto; text-align: center;">
  <article>
    <button class="btn styling_btn">CUSTOMIZE</button>

  </article>
</div>

<div id="video-player" style="margin-top: 30px; position: relative; width: 100%;" class="desktopnot">
  <img style="width: 100%" src="<%= GroupShowcase.where(:screen => 1, :name_identity => 'back_video_preview_history').first.showcases.first.image_show.image.url %>">
  <div class="text-triangle">
    <p style="font-size: 3.4vw; margin-top: 15vw; margin-bottom: 5vw; width: 30vw; margin-left: -15vw; text-align: center">Our
      Story</p>
    <p style="margin-bottom: 5vw; font-size: 2.3vw; width: 32vw; margin-left: -16vw; text-align: center">Clothing - For
      the solid,<br>selfmode individual with root<br>instincts to pursue their goots.<br>"By Any Means."</p>
    <p style="font-size: 4vw; width: 32vw; margin-left: -15vw; text-align: center">
      <a onclick="play_video_1()" class="selectable" style="color: black;text-decoration: none">WATCH VIDEO</a></p>
  </div>
</div>

<script>

    function play_video_1() {
        document.getElementById('video-player').innerHTML = '<video id="video" loop="loop" src="<%= GroupShowcase.where(screen: 3, name_identity: 'primary_video_show').first.showcases.first.video_show.video.url(:mp4video) %>"></video>'
        var video = document.getElementById('video');
        video.play();
    }

</script>

<div style="margin-top: 30px; margin-left: auto; margin-right:auto; text-align: center;" class="desktopnot">

  <img src="<%= GroupShowcase.where(:screen => 1, :name_identity => 'outfits_looks_ph_preview').first.showcases.first.image_show.image.url %>" style="height: 350px;">
  <p style="margin-bottom: 20px">Outfits<br>Eco-Friendly + Customizable</p>

  <article>
    <button onclick="location.href = '/catalog?men=true&view=men'" class="btn styling_btn">SHOP MEN</button>
  </article>
</div>

<div class="container mobilenot">
  <div style="position: relative">

    <div style="margin-top: 70px; margin-left: auto; margin-right:auto; text-align: center;">

      <% id = GroupShowcase.where(screen: 0, name_identity: 'primary_product').first.showcases.first.product_id %>
      <% item = get_product(id) %>
      <img src="<%= item['images'][0]['url']['https'] %>" style="height: 300px;">
      <h4 class="text-center"><%= item['title'] %></h4>
      <h5 class="text-center"> Cotton+Quality</h5>
      <article>
        <button onclick="location.href = '/product/<%= id %>/2'" class="button button2 btn" style="color:black;">CUSTOMIZE</button>
      </article>
    </div>


    <div class="side-list">

      <h4 style="margin-bottom: 20px;">CHOOSE DESIGN</h4>


      <% item['modifiers'].first[1]['variations'].each do |var| %>
          <% if var[1]['title'].eql?('null') %>

          <% else %>
              <% object = getJson(var[1]['title']) %>
              <div id="<%= object['image_id'] %>" class="img4" style="margin-right: 7px; margin-top: 5px; margin-bottom: 5px; width: 100%;">

              </div>

              <script id="create-shape">
                  createShape('<%= object['image_id'] %>', '<%= object['width'] %>', '<%= object['height'] %>', '<%= object['x'] %>', '<%= object['y'] %>', '<%= object['s_w'] %>', '<%= object['s_h'] %>');
                  function createShape(id, width, height, x, y, s_w, s_h) {
                      var container = $('#' + id);
                      container.height(container.width());

                      var stage = new Konva.Stage({
                          container: id,
                          width: container.width(),
                          height: container.height()
                      });
                      var layer = new Konva.Layer();
                      stage.add(layer);

                      var baseImg = new Konva.Image({
                          width: container.width(),
                          height: container.height(),
                          draggable: false
                      });

                      var logoImg = new Konva.Image({
                          width: container.width() * width / s_w,
                          height: container.height() * height / s_h
                      });

                      var logoGroup = new Konva.Group({
                          x: container.width() * x / s_w,
                          y: container.width() * y / s_h
                      });

                      layer.add(baseImg);
                      layer.add(logoGroup);
                      logoGroup.add(logoImg);

                      var imageObj1 = new Image();
                      imageObj1.onload = function () {
                          baseImg.image(imageObj1);
                          layer.draw();
                      };
                      imageObj1.src = '<%= item['images'].first['url']['https'] %>';

                      var imageObj2 = new Image();
                      imageObj2.onload = function () {
                          logoImg.image(imageObj2);
                          layer.draw();
                          imageObj2.width = container.width() * width / s_w;
                          console.log(imageObj2.width, container.width(), width, s_w);
                          imageObj2.height = container.height() * height / s_h;
                          console.log(imageObj2.height);
                      };
                      imageObj2.src = '<%= get_thumb_g_id(object['image_id'], :thumb) %>';
                      layer.draw();
                  }
              </script>
          <% end %>
      <% end %>
      <button onclick="location.href = '/product/<%= id %>/1'" class="btn-sm btn-link center-block" style="color:black;  ">
        <h4> MORE </h4></button>


    </div>
  </div>

  <div style="margin-top: 15px; margin-bottom: 15px;">

    <video autoplay="autoplay" loop="loop" src="<%= GroupShowcase.where(screen: 3, name_identity: 'primary_video_show').first.showcases.first.video_show.video.url(:mp4video) %>"></video>

  </div>

</div>

<div class="container mobilenot">
  <div class="row">

    <div style="margin-top: 70px; margin-left: auto; margin-right:auto; text-align: center;" class="col-sm-10 col-md-10 col-lg-10">

      <% id_p_2 = GroupShowcase.where(screen: 0, name_identity: 'secondary_product').first.showcases.first.product_id %>
      <% item_p_2 = get_product(id_p_2) %>

      <img src="<%= item_p_2['images'][0]['url']['https'] %>" style="height: 300px;">
      <h4 class="text-center"><%= item_p_2['title'] %></h4>
      <h5 class="text-center"> Cotton+Quality</h5>
      <article>
        <button onclick="location.href = '/product/<%= id_p_2 %>/2'" class="button button2 btn" style="color:black;">CUSTOMIZE</button>

      </article>
    </div>


    <div style=" margin-top: 70px; margin-left: auto; margin-right:auto; text-align: center;" class="col-sm-2 col-md-2 col-lg-2 bcolor">

      <h4 style="margin-bottom: 20px;">CHOOSE DESIGN</h4>

      <% item_p_2['modifiers'].first[1]['variations'].each do |var| %>
          <% if var[1]['title'].eql?('null') %>

          <% else %>
              <% object = getJson(var[1]['title']) %>
              <div id="p_2<%= object['image_id'] %>" class="img4" style="margin-right: 7px; margin-top: 5px; margin-bottom: 5px; width: 100%;">

              </div>

              <script id="create-shape">
                  createShape('<%= object['image_id'] %>', '<%= object['width'] %>', '<%= object['height'] %>', '<%= object['x'] %>', '<%= object['y'] %>', '<%= object['s_w'] %>', '<%= object['s_h'] %>');
                  function createShape(id, width, height, x, y, s_w, s_h) {
                      var container = $('#p_2' + id);
                      container.height(container.width());

                      var stage = new Konva.Stage({
                          container: 'p_2' + id,
                          width: container.width(),
                          height: container.height()
                      });
                      var layer = new Konva.Layer();
                      stage.add(layer);

                      var baseImg = new Konva.Image({
                          width: container.width(),
                          height: container.height(),
                          draggable: false
                      });

                      var logoImg = new Konva.Image({
                          width: container.width() * width / s_w,
                          height: container.height() * height / s_h
                      });

                      var logoGroup = new Konva.Group({
                          x: container.width() * x / s_w,
                          y: container.width() * y / s_h
                      });

                      layer.add(baseImg);
                      layer.add(logoGroup);
                      logoGroup.add(logoImg);

                      var imageObj1 = new Image();
                      imageObj1.onload = function () {
                          baseImg.image(imageObj1);
                          layer.draw();
                      };
                      imageObj1.src = '<%= item_p_2['images'].first['url']['https'] %>';

                      var imageObj2 = new Image();
                      imageObj2.onload = function () {
                          logoImg.image(imageObj2);
                          layer.draw();
                          imageObj2.width = container.width() * width / s_w;
                          console.log(imageObj2.width, container.width(), width, s_w);
                          imageObj2.height = container.height() * height / s_h;
                          console.log(imageObj2.height);
                      };
                      imageObj2.src = '<%= get_thumb_g_id(object['image_id'], :thumb) %>';
                      layer.draw();
                  }
              </script>
          <% end %>
      <% end %>

      <button onclick="location.href = '/product/<%= id_p_2 %>/1'" class="btn-sm btn-link center-block" style="color:black;  ">
        <h4> MORE </h4></button>


    </div>
  </div>
</div>


<div style="margin-top: 30px; margin-left: auto; margin-right:auto; text-align: center;">

  <% image_show_case = GroupShowcase.where(screen: 3, name_identity: 'relational_image').first.showcases.first %>
  <img style="height: 350px" src="<%= image_show_case.image_show.image.url %>">

  <article>
    <button onclick="location.href = '<%= image_show_case.url_association %>'" class="btn styling_btn">
      FULL COLLECTION
    </button>
  </article>

  <h3 style="margin-top: 70px; font-weight: 100">#ORGANICHUSTLER</h3>
  <hr style="width: 33px; margin: 20px auto 0;border-color: #b692a2">

</div>


<div class="desktopnot" style="margin-top: 20px">
  <div style="margin-left: auto; margin-right: auto; text-align: center">
    <div class="showcase-add">
      <img style="width: 100%;" src="<%= url_to_image 'index/al.jpg' %>" align="middle">
      <p class="text-center">Organic Hustler Video 1</p>
      <button class="center-block  btn-sm btn-link" style="color:black; ">VIEW ></button>
    </div>

    <div style="width: 1px; margin-left: 2.5%; margin-right: 2.5%; float: left; height: 150px; background: #b692a2">
    </div>


    <div class="showcase-add">
      <img style="width: 100%;" src="<%= url_to_image 'index/th.jpg' %>" align="middle">
      <p class="text-center">Organic Hustler Video 2</p>
      <button class="  btn-sm btn-link center-block" style="color:black;  "> VIEW ></button>
    </div>
  </div>
</div>


<div class="container mobilenot">
  <div class="row row-centered ">
    <div class="col-xs-5 col-lg-5 text-center center
  				col-cen col-centered  ">

      <% image_social_1 = GroupShowcase.where(screen: 3, name_identity: 'image_1_social').first.showcases.first %>
      <a href="<%= image_social_1.url_association %>"><img class="img1lg" src="<%= image_social_1.image_show.image.url %>" align="left"></a>


    </div>

    <div class="col-xs-2 col-lg-2 vertical-line col-cen
  				col-centered " style="height: 250px; width:1px; ">
    </div>


    <div class="col-xs-5 col-lg-5 text-center center
  				col-cen col-centered ">

      <% image_social_2 = GroupShowcase.where(screen: 3, name_identity: 'image_2_social').first.showcases.first %>
      <a href="<%= image_social_2.url_association %>"><img class="img2lg" src="<%= image_social_2.image_show.image.url %>" align="right"></a>

    </div>
  </div>
</div>

<div class="container text-center desktopnot">

  <div class=" text-center center col-cen col-centered " style="margin-top: 8px;">

    <img class="img3" src="<%= url_to_image 'index/sun.jpg' %>" align="middle" style="width: 200px; height: 150px; margin: auto;display: block;">
    <p class="text-center " style="margin-top: 15px;">Organic Hustler Video 3</p>
    <button class="btn styling_btn" style="width: auto">FOLLOW US ON INSTAGRAM</button>


  </div>
</div>

<div class="container text-center mobilenot">

  <div class=" text-center center col-cen col-centered " style="margin-top: 30px; margin-bottom: 30px;">

    <button class=" button buttonig btn text-center" style="color:black;">FOLLOW US ON INSTAGRAM</button>


  </div>
  <span style="width: 100%" class="hr2 desktopnot"></span>
</div>

<div class="desktopnot">

  <div style="overflow: hidden; margin: 30px auto;border: solid 1px #b692a2; padding: 10px" class="desktopnot">
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-facebook"></span></a>
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-twitter"></span></a>
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-instagram"></span></a>
    <a style="color: black; width: 24%" class="btn"><span class="fa fa-google"></span></a>
  </div>

</div>

<div class="container-fluid blc desktopnot">
  <div class="row" style="margin-top: 20px;">
    <h3 style="color: white;"> BRAND</h3>
    <br>
    <h4 style="color: #A4A4A4;"> STORY </h4>
    <h4 style="color: #A4A4A4;"> SHOP MEN</h4>
    <h4 style="color: #A4A4A4;"> SHOP WOMEN </h4>
    <h4 style="color: #A4A4A4;"> CONTACT US</h4>
    <br>
    <h3 style="color: white;"> SHOP</h3>
    <br>
    <h4 style="color: #A4A4A4;"> STORY </h4>
    <h4 style="color: #A4A4A4;"> SHOP MEN</h4>
    <h4 style="color: #A4A4A4;"> SHOP WOMEN </h4>
    <h4 style="color: #A4A4A4;"> CONTACT US</h4>
    <br>
    <h3 style="color: white;"> VISIT</h3>
    <h4 style="color: #A4A4A4; margin-bottom: 30px; margin-top: 10px;"> 12 ERICSSON STREET <br> BOSTON, MA Q2122</h4>

    <% image_icon = GroupShowcase.where(screen: 3, name_identity: 'icon_web_page_2').first.showcases.first %>
    <img src="<%= image_icon.image_show.image.url %>" style="width: 60px;">

    <p style="margin-top: 10px;">ORGANIC HUSTLER, LLC</p>


  </div>
</div>