<div style="margin: 20px auto; max-width: 720px; display: block">

  <div style="position: relative; width: 100%; height: 50px">
    <img width="100" src="<%= ENV['HOST'] %>/images/logo">
  </div>
  <div style="width: 100%; border: solid 3px #b692a2; border-radius: 10px; background: #b592a2"></div>

  <h1 style="font-family: Arial, Baskerville, monospace; color: #b592a2">ORDER DETAILS</h1>

  <% @cart_products[:products].each do |cp| %>
    <% product =  cp['data'] %>

    <div style="width: 100%; overflow: hidden">
      <div style="width: 30%; float: left">
        <img style="width: 100%" src="<%= "#{ENV['HOST']}#{ProductController.build_image(cp['id'])}" %>">
      </div>
      <div style="width: 70%; float: left">
        <h2 style="font-family: Arial, Baskerville, monospace; font-weight: lighter"><%= product['title'] %></h2>
        <hr>
        <div style="width: 50%; float: left">
          <h3 style="font-family: Arial, Baskerville, monospace; font-weight: lighter">Size: <%= cp['size']['title'] %></h3>
          <h3 style="font-family: Arial, Baskerville, monospace; font-weight: lighter">Customized: <%= (cp['has_logo'] || cp['has_emblem']) ? 'YES' : 'NO' %></h3>
          <h3 style="font-family: Arial, Baskerville, monospace; font-weight: lighter">Color: <%= cp['color']['title'] %></h3>
        </div>
        <div style="width: 50%; float: left">
          <h1 style="font-family: 'Helvetica Neue', Helvetica, serif; font-weight: lighter;">Qty: <%= cp['qty'] %></h1>
          <h1 style="font-family: 'Helvetica Neue', Helvetica, serif; font-weight: lighter;"><%= cp['price_sgl'] %></h1>
        </div>
      </div>
    </div>

  <% end %>

  <div style="margin: 30px">
    <h3 style="font-family: 'Helvetica Neue', Helvetica, serif; font-weight: lighter; text-align: center">If you place this order please confirm this email address otherwise ignore this message.</h3>
    <button style="margin: 0 auto; display: block; width: 50%; border-radius: 0; background: #b592a2; color: white; font-weight: 600; padding: 6px 12px; font-size: 100%; line-height: 2; text-align: center; white-space: nowrap; vertical-align: middle;cursor: pointer; border: 1px solid transparent; box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.5), 0 3px 6px 0 rgba(0, 0, 0, 0.08); outline: none;">CONFIRM EMAIL</button>
  </div>

</div>



