<body>
<div id="overall-container">

  <div style="margin: 10px auto" id="container">
  </div>

  <h6 style="font-weight: bold">Select color(s):</h6>

  <input type="checkbox" id="select-all" name="cd" checked>
  <label for="select-all" style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; font-size: 10px;">Select
    all colors</label>

  <div id="checkboxes">
    <% get_colors(Gallery.first.id).each do |color| %>
        <div style="background: <%= color %>; width: 17px; height: 17px; margin-right: 5px; margin-bottom: 7px; float: left">
          <div id="color-picker" class="">
            <input type="checkbox" id="<%= color %>" name="<%= color %>" onclick="loadLogos('<%= Gallery.first.id %>')">
            <label for="<%= color %>"></label>
          </div>
        </div>
    <% end %>
  </div>

  <div id="controllers" style="float: left; width: 100%">
    <div style="margin-left: auto; margin-right: auto; text-align: center">
      <button id="minus-btn" class="direction"><span class="fa fa-minus resizable"></span></button>
      <button id="plus-btn" class="direction"><span class="fa fa-plus resizable"></span></button>
      <button id="left-btn" class="direction"><span class="fa resizable fa-chevron-left"></span></button>
      <button id="right-btn" class="direction"><span class="fa resizable fa-chevron-right"></span></button>
      <button id="down-btn" class="direction"><span class="fa resizable fa-chevron-down"></span></button>
      <button id="up-btn" class="direction"><span class="fa resizable fa-chevron-up"></span></button>
    </div>
  </div>

  <div style="width: 100%; text-align: center">

    <button id="share" class="btn btn-default">
      <span>SHARE</span>
    </button>

  </div>

  <hr class="pro">
  <div id="icon-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>
  <div id="icon-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CHOOSE DESIGN</h6></div>

  <div id="icon_loader" class="jcarousel-wrapper row">
    <div id="myCarousel" class="jcarousel" data-jcarousel="true">
      <ul id="container-logo" style="left: 0; top: 0;">
        <% Gallery.first.pictures.all.each do |image| %>
            <li class="items-scroll-container">
              <img onclick="addToPic('<%= image.image.url(:large) %>', '<%= image.id %>')" src="<%= image.image.url(:thumb) %>" alt="" height="30">
            </li>
        <% end %>
      </ul>
    </div>
    <button style="border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">
      <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button style="border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
      <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  </div>

  <script id="fold">

      var innerHTML22 = {};

      $(document).ready(function () {
          innerHTML22.heightTT = $("#icon_loader").height();
          console.log(innerHTML22.heightTT);
      });

      var iconShow = $("#icon-show");
      var iconHide = $("#icon-hide");
      var loader = $("#icon_loader");

      iconShow.click(function () {
          loader.animate({
              height: innerHTML22.heightTT
          }, 400, function () {
              loader.css({
                  overflow: 'visible'
              });
          });
          iconShow.addClass(" hidden");
          iconHide.removeClass(" hidden");
      });

      iconHide.click(function () {
          loader.animate({
              height: 0
          }, 400, function () {
              loader.css({
                  overflow: 'hidden'
              });
          });
          iconHide.addClass(" hidden");
          iconShow.removeClass(" hidden");
      });

  </script>

</div>

<div id="selection-btn-s">

  <input type="text" class="hidden" id="product_id" name="product_id">
  <input type="text" class="hidden" id="image_id" name="image_id">
  <input type="text" class="hidden" id="x" name="x">
  <input type="text" class="hidden" id="y" name="y">
  <input type="text" class="hidden" id="width" name="width">
  <input type="text" class="hidden" id="height" name="height">
  <input type="text" class="hidden" id="s_w" name="s_w">
  <input type="text" class="hidden" id="s_h" name="s_h">

  <button type="reset" class="btn btn-default">
    <span class="cell-btn">START OVER</span></button>
  <button type="submit" class="btn btn-default">
    <span class="cell-btn" style="color: white">DONE</span></button>
</div>

</body>

<script id="set-colored">

    var icon_loader = $("#container-logo");
    var all_logos = $("#select-all");

    all_logos.click(function () {
        if ($(this).is(':checked')) {
            var selected = [];
            $('#checkboxes').find('input').each(function () {
                selected.push($(this).attr('name'));
                $(this).prop("checked", false);
            });
            console.log(selected);
            load('<%= Gallery.first.id %>', selected);
        } else {
            load('<%= Gallery.first.id %>', []);
        }
    });

    function loadLogos(id) {

        all_logos.prop("checked", false);

        var selected = [];
        $('#checkboxes').find('input:checked').each(function () {
            selected.push($(this).attr('name'));
        });

        load(id, selected);
    }

    function load(id, selected) {
        $.ajax({
            url: "/custom/load_logo_w_color",
            type: 'GET',
            data: {
                id: id,
                color: selected
            },
            dataType: 'html',
            success: function (data) {
                icon_loader.html(data);
                $('#myCarousel').jcarousel('reload');
            },
            error: function () {
                icon_loader.html('<h6 style="top: 13px;">No logos to display</h6>');
            }
        });
    }

</script>

<script>

    var product_id_u = document.getElementById('product_id');
    var image_id_u = document.getElementById('image_id');
    var x_u = document.getElementById('x');
    var y_u = document.getElementById('y');
    var width_u = document.getElementById('width');
    var height_u = document.getElementById('height');
    var s_w_u = document.getElementById('s_w');
    var s_h_u = document.getElementById('s_h');

    product_id_u.value = '<%= @product['id'] %>';

    //Photo slider
    (function ($) {
        $(function () {
            $('.jcarousel').jcarousel();

            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function () {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function () {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=1'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function () {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function () {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=1'
                });

            $('.jcarousel-pagination')
                .on('jcarouselpagination:active', 'a', function () {
                    $(this).addClass('active');
                })
                .on('jcarouselpagination:inactive', 'a', function () {
                    $(this).removeClass('active');
                })
                .jcarouselPagination();
        });
    })(jQuery);

    var elementsBorders = [];
    var elements = [];
    var selected = null;

    var base_co = $("#container");
    var width = base_co.width();
    base_co.height(height);
    var height = width + 0;

    console.log('Dimen: ' + width + 'x' + height);

    var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
        preventDefault: false
    });

    s_w_u.value = width;
    s_h_u.value = height;

    var layer = new Konva.Layer();
    stage.add(layer);

    function addBorders(group, x, y, name, h, w) {
        var layer = group.getLayer();
        var anchor = new Konva.Rect({
            x: x,
            y: y,
            width: w,
            height: h,
            stroke: '#A9A9A9',
            strokeWidth: 3,
            name: name,
            draggable: false,
            dragOnTop: false,
            preventDefault: false
        });

        group.add(anchor);
        layer.draw();
        return anchor;
    }

    function addToPic(imageToAdd, imageId) {

        var logo = new Konva.Image({
            width: 200,
            height: 200,
            name: 'image',
            preventDefault: false,
            ratio: 0.2
        });

        var logo_group = new Konva.Group({
            x: 0,
            y: 0,
            name: 'group',
            draggable: true
        });

        layer.add(logo_group);
        logo_group.add(logo);

        var border;

        image_id_u.value = imageId;

        var imageLogo = new Image();
        imageLogo.onload = function () {
            logo.image(imageLogo);
            logo.height(imageLogo.height * 0.2);
            logo.width(imageLogo.width * 0.2);
            border = addBorders(logo_group, 0, 0, "borders", imageLogo.height * 0.2, imageLogo.width * 0.2);
            elementsBorders.push(border);
            layer.draw();
        };

        hideAll();
        selected = logo_group;
        elements.push(selected);

        logo_group.on('click tap', function () {
            if (border.visible() === false) {
                hideAll();
                border.show();
                selected = logo_group;
                layer.draw();
            } else {
                hideAll();
                selected = null;
                layer.draw();
            }
        });

        logo_group.on('dragend', function () {
            x_u.value = logo_group.x;
            y_u.value = logo_group.y;

            console.log(product_id_u.value, image_id_u.value, x_u.value, y_u.value, width_u.value, height_u.value, s_w_u.value, s_h_u.value);

        });

        imageLogo.src = imageToAdd;
    }

    var anim_zoom_in = new Konva.Animation(function (frame) {
        if (selected !== null) {
            var image = selected.get('.image')[0];
            var border = selected.get('.borders')[0];

            selected.width(image.width() + image.width() * frame.timeDiff / 1000);
            selected.height(image.height() + image.height() * frame.timeDiff / 1000);

            border.width(image.width() + image.width() * frame.timeDiff / 1000);
            border.height(image.height() + image.height() * frame.timeDiff / 1000);

            image.width(image.width() + image.width() * frame.timeDiff / 1000);
            image.height(image.height() + image.height() * frame.timeDiff / 1000);

            width_u = image.width;
            height_u = image.height;
        }
    }, layer);

    var anim_zoom_out = new Konva.Animation(function (frame) {
        if (selected !== null) {
            selected.width(11000);
            selected.height(11000);
            var image = selected.get('.image')[0];
            var border = selected.get('.borders')[0];

            selected.width(image.width() - image.width() * frame.timeDiff / 1000);
            selected.height(image.height() - image.height() * frame.timeDiff / 1000);

            border.width(image.width() - image.width() * frame.timeDiff / 1000);
            border.height(image.height() - image.height() * frame.timeDiff / 1000);

            image.width(image.width() - image.width() * frame.timeDiff / 1000);
            image.height(image.height() - image.height() * frame.timeDiff / 1000);

            width_u = image.width;
            height_u = image.height;

        }
    }, layer);

    var anim_right = new Konva.Animation(function (frame) {
        if (selected != null) {
            selected.x(selected.x() + (65 * frame.timeDiff / 1000));

            x_u.value = selected.x;
            y_u.value = selected.y;
        }
    }, layer);

    var anim_left = new Konva.Animation(function (frame) {
        if (selected != null) {
            selected.x(selected.x() - (65 * frame.timeDiff / 1000));

            x_u.value = selected.x;
            y_u.value = selected.y;
        }
    }, layer);

    var anim_up = new Konva.Animation(function (frame) {
        if (selected != null) {
            selected.y(selected.y() - (65 * frame.timeDiff / 1000));

            x_u.value = selected.x;
            y_u.value = selected.y;
        }
    }, layer);

    var anim_down = new Konva.Animation(function (frame) {
        if (selected != null) {
            selected.y(selected.y() + (65 * frame.timeDiff / 1000));

            x_u.value = selected.x;
            y_u.value = selected.y;
        }
    }, layer);

    var btn_up = $("#up-btn");
    var btn_down = $("#down-btn");
    var btn_left = $("#left-btn");
    var btn_right = $("#right-btn");
    var btn_minus = $("#minus-btn");
    var btn_plus = $("#plus-btn");
    var btn_restart = $("#restart-btn");

    btn_minus.on('mousedown touchstart', function () {
        anim_zoom_out.start();
    });

    btn_minus.on('mouseup touchend', function () {
        anim_zoom_out.stop();
    });

    btn_plus.on('mousedown touchstart', function () {
        anim_zoom_in.start();
    });

    btn_plus.on('mouseup touchend', function () {
        anim_zoom_in.stop();
    });

    btn_up.on('mousedown touchstart', function () {
        anim_up.start();
    });

    btn_up.on('mouseup touchend', function () {
        anim_up.stop();
    });

    btn_down.on('mousedown touchstart', function () {
        anim_down.start();
    });

    btn_down.on('mouseup touchend', function () {
        anim_down.stop();
    });

    btn_left.on('mousedown touchstart', function () {
        anim_left.start();
    });

    btn_left.on('mouseup touchend', function () {
        anim_left.stop();
    });

    btn_right.on('mousedown touchstart', function () {
        anim_right.start();
    });

    btn_right.on('mouseup touchend', function () {
        anim_right.stop();
    });

    btn_restart.on('click', function () {
        for (var i = 0; i < elements.length; i++) {
            elements[i].destroy();
            layer.draw();
        }
    });

    function hideAll() {
        for (var i = 0; i < elementsBorders.length; i++) {
            elementsBorders[i].hide();
        }
    }

    var baseImg = new Konva.Image({
        width: width,
        height: height,
        preventDefault: false
    });

    var baseIGroup = new Konva.Group({
        x: 0,
        y: 0,
        preventDefault: false
    });

    layer.add(baseIGroup);
    baseIGroup.add(baseImg);

    var imageBgPro = new Image();
    imageBgPro.onload = function () {
        console.log("pro-reload");
        baseImg.image(imageBgPro);

        stage.width(base_co.width());
        stage.height(base_co.height());

        baseImg.width(base_co.width());
        baseImg.height(base_co.width());

        layer.draw();
    };

    imageBgPro.src = '<%= @product['images'][0]['url']['https'] %>';

</script>