<body>
<div id="overall-container">

  <div style="margin: 10px auto" id="container">
  </div>

  <hr class="pro">
  <div id="icon-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CHOOSE PLACEMENT</h6></div>
  <div id="icon-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CHOOSE PLACEMENT</h6></div>

  <div id="icon_loader" class="jcarousel-wrapper row">
    <div id="myCarousel" class="jcarousel" data-jcarousel="true">
      <ul id="container-logo" style="left: 0; top: 0;">
        <% Emblem.where(id_moltin: @product['id']).each do |image| %>
            <li class="items-scroll-container">
              <img onclick="addToPic('<%= image.picture.url(:medium) %>')" src="<%= image.picture.url(:thumb) %>" alt="" height="30">
            </li>
        <% end %>
      </ul>
    </div>
    <button style="border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">
      <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button style="border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
      <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  </div>

  <script id="fold">

      var innerHTML22 = {};

      $(document).ready(function () {
          innerHTML22.heightTT = $("#icon_loader").height();
          console.log(innerHTML22.heightTT);
      });

      var iconShow = $("#icon-show");
      var iconHide = $("#icon-hide");
      var loader = $("#icon_loader");

      iconShow.click(function () {
          loader.animate({
              height: innerHTML22.heightTT
          }, 400, function () {
              loader.css({
                  overflow: 'visible'
              });
          });
          iconShow.addClass(" hidden");
          iconHide.removeClass(" hidden");
      });

      iconHide.click(function () {
          loader.animate({
              height: 0
          }, 400, function () {
              loader.css({
                  overflow: 'hidden'
              });
          });
          iconHide.addClass(" hidden");
          iconShow.removeClass(" hidden");
      });

  </script>

</div>

<div id="selection-btn-s">
  <%= form_tag "/product/#{@product['id']}/1", method: 'post' do %>
      <input type="text" class="hidden" id="product_id" name="product_id">
      <input type="text" class="hidden" id="image_id" name="image_id">
      <input type="text" class="hidden" id="x_u" name="x_u">
      <input type="text" class="hidden" id="y_u" name="y_u">

      <button type="submit" class="btn btn-default">
        <span class="cell-btn" style="color: white">DONE</span></button>
  <% end %>
</div>

</body>

<script id="set-colored">

    var icon_loader = $("#container-logo");
    var all_logos = $("#select-all");

    all_logos.click(function () {
        if ($(this).is(':checked')) {
            var selected = [];
            $('#checkboxes').find('input').each(function () {
                selected.push($(this).attr('name'));
                $(this).prop("checked", false);
            });
            console.log(selected);
            load('<%= Gallery.first.id %>', selected);
        } else {
            load('<%= Gallery.first.id %>', []);
        }
    });

    function load(id, selected) {
        $.ajax({
            url: "/custom/load_logo_w_color",
            type: 'GET',
            data: {
                id: id,
                color: selected
            },
            dataType: 'html',
            success: function (data) {
                icon_loader.html(data);
                $('#myCarousel').jcarousel('reload');
            },
            error: function () {
                icon_loader.html('<h6 style="top: 13px;">No logos to display</h6>');
            }
        });
    }

</script>

<script>
    var product_id_u = document.getElementById('product_id');
    var image_id_u = document.getElementById('image_id');
    var x_u = document.getElementById('x_u');
    var y_u = document.getElementById('y_u');

    product_id_u.value = '<%= @product['id'] %>';

    //Photo slider
    (function ($) {
        $(function () {
            $('.jcarousel').jcarousel();

            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function () {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function () {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=4'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function () {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function () {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=4'
                });

            $('.jcarousel-pagination')
                .on('jcarouselpagination:active', 'a', function () {
                    $(this).addClass('active');
                })
                .on('jcarouselpagination:inactive', 'a', function () {
                    $(this).removeClass('active');
                })
                .jcarouselPagination();
        });
    })(jQuery);

    var elements = [];

    var base_co = $("#container");
    var width = base_co.width();
    var height = width + 0;
    base_co.height(height);

    var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
        preventDefault: false
    });

    var layer = new Konva.Layer();
    stage.add(layer);

    function addToPic(imageToAdd) {

        for (var i = 0; i < elements.length; i++) {
            elements[i].destroy();
            layer.draw();
        }

        var logo = new Konva.Image({
            width: 200,
            height: 200,
            name: 'image',
            preventDefault: false,
        });

        var logo_group = new Konva.Group({
            x: 0,
            y: 0,
            name: 'group',
            draggable: false
        });

        layer.add(logo_group);
        logo_group.add(logo);

        var imageLogo = new Image();
        imageLogo.onload = function () {
            logo.image(imageLogo);
            logo.height(imageLogo.height * 0.2);
            logo.width(imageLogo.width * 0.2);
            elementsBorders.push(border);
            layer.draw();
        };

        elements.push(selected);

        logo_group.on('dragend', function () {
            x_u.value = logo_group.x();
            y_u.value = logo_group.y();

            console.log(product_id_u.value, image_id_u.value, x_u.value, y_u.value, width_u.value, height_u.value, s_w_u.value, s_h_u.value);

        });

        imageLogo.src = imageToAdd;
    }

    var baseImg = new Konva.Image({
        width: width,
        height: height,
        preventDefault: false
    });

    var baseIGroup = new Konva.Group({
        x: 0,
        y: 0,
        preventDefault: false
    });

    layer.add(baseIGroup);
    baseIGroup.add(baseImg);

    var imageBgPro = new Image();
    imageBgPro.onload = function () {
        console.log("pro-reload");
        baseImg.image(imageBgPro);

        stage.width(base_co.width());
        stage.height(base_co.height());

        baseImg.width(base_co.width());
        baseImg.height(base_co.width());

        layer.draw();
    };

    imageBgPro.src = '<%= @product['images'][0]['url']['https'] %>';

</script>