<body>

<script>
    var selected_size = null;
    var avaliable_sizes = [];
</script>

<div id="overall-container">

  <div id="image-container">
    <% if @parameters['product_id'].nil? %>
        <img src="<%= @product['images'].first['url']['https'] %>">
    <% else %>
        <script>

            var width = '<%= @parameters['width_u'] %>';
            var height = '<%= @parameters['height_u'] %>';
            var x = '<%= @parameters['x_u'] %>';
            var y = '<%= @parameters['y_u'] %>';
            var s_w = '<%= @parameters['s_w'] %>';
            var s_h = '<%= @parameters['s_h'] %>';

            var contain = $('#image-container');
            contain.height(contain.width());

            var stage = new Konva.Stage({
                container: 'image-container',
                width: contain.width(),
                height: contain.height(),
                preventDefault: false
            });
            var layer = new Konva.Layer();
            stage.add(layer);

            var baseImg = new Konva.Image({
                width: contain.width(),
                height: contain.height(),
                draggable: false,
                preventDefault: false
            });

            var logoImg = new Konva.Image({
                width: contain.width() * width / s_w,
                height: contain.height() * height / s_h,
                preventDefault: false
            });

            var logoGroup = new Konva.Group({
                x: contain.width() * x / s_w,
                y: contain.width() * y / s_h,
                preventDefault: false
            });

            layer.add(baseImg);
            layer.add(logoGroup);
            logoGroup.add(logoImg);

            var imageObj1 = new Image();
            imageObj1.onload = function () {
                baseImg.image(imageObj1);
                layer.draw();
            };
            imageObj1.src = '<%= get_product(@parameters['product_id'])['images'].first['url']['https'] %>';

            var imageObj2 = new Image();
            imageObj2.onload = function () {
                logoImg.image(imageObj2);
                layer.draw();
                imageObj2.width = contain.width() * width / s_w;
                console.log(imageObj2.width, contain.width(), width, s_w);
                imageObj2.height = contain.height() * height / s_h;
                console.log(imageObj2.height);
            };
            imageObj2.src = '<%= get_thumb_g_id(@parameters['image_id'], :thumb) %>';
            layer.draw();
        </script>
    <% end %>
  </div>

  <div class="wrap">
    <h5><%= @product['title'] %></h5>
    <h6><%= @product['price']['value'] %></h6>
  </div>
  <div class="wrap">
    <span><%= get_teaser(@product['description']) %></span><span id="dots">...</span><span class="complete"><%= get_complete(@product['description']) %></span>

    <div style="text-align: end; padding-top: 9px">
      <span id="more-toggle">Read more</span>
    </div>
  </div>

  <hr style="margin-bottom: 0">

  <div style="margin-bottom: 10px">
    <div id="icon-show" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> SIZE</h6></div>
    <div id="icon-hide"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> SIZE</h6></div>
  </div>

  <% variations = [] %>
  <% @product['modifiers'].each do |modifiers| %>
      <% variations.push(modifiers) %>
  <% end %>

  <% unless variations.blank? %>
      <div id="icon_loader" class="jcarousel-wrapper">
        <div id="myCarousel" class="jcarousel" data-jcarousel="true">
          <ul id="container-logo" style="left: 0; top: 0;">
            <% variations[1][1]['variations'].each do |var| %>
                <li>
                  <span id="<%= var[1]['id'] %>" onclick="changeSize('<%= var[1]['id'] %>')" class="badge badge-size"><%= var[1]['title'] %></span>
                  <script>
                      avaliable_sizes.push("<%= var[1]['id'] %>");
                  </script>
                </li>
            <% end %>
          </ul>
        </div>
        <button style="top: 0; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">
          <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button style="top: 0; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
          <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
  <% end %>

  <script id="fold">

      var innerHTML22 = {};

      $(document).ready(function () {
          innerHTML22.heightTT = $("#icon_loader").height();
          console.log(innerHTML22.heightTT);
      });

      var iconShow = $("#icon-show");
      var iconHide = $("#icon-hide");
      var loader = $("#icon_loader");

      iconShow.click(function () {
          loader.animate({
              height: innerHTML22.heightTT
          }, 400, function () {
              loader.css({
                  overflow: 'visible'
              });
          });
          iconShow.addClass(" hidden");
          iconHide.removeClass(" hidden");
      });

      iconHide.click(function () {
          loader.animate({
              height: 0
          }, 400, function () {
              loader.css({
                  overflow: 'hidden'
              });
          });
          iconHide.addClass(" hidden");
          iconShow.removeClass(" hidden");
      });


      //Photo slider
      (function ($) {
          $(function () {
              $('.jcarousel').jcarousel();

              $('.jcarousel-control-prev')
                  .on('jcarouselcontrol:active', function () {
                      $(this).removeClass('inactive');
                  })
                  .on('jcarouselcontrol:inactive', function () {
                      $(this).addClass('inactive');
                  })
                  .jcarouselControl({
                      target: '-=1'
                  });

              $('.jcarousel-control-next')
                  .on('jcarouselcontrol:active', function () {
                      $(this).removeClass('inactive');
                  })
                  .on('jcarouselcontrol:inactive', function () {
                      $(this).addClass('inactive');
                  })
                  .jcarouselControl({
                      target: '+=1'
                  });

              $('.jcarousel-pagination')
                  .on('jcarouselpagination:active', 'a', function () {
                      $(this).addClass('active');
                  })
                  .on('jcarouselpagination:inactive', 'a', function () {
                      $(this).removeClass('active');
                  })
                  .jcarouselPagination();
          });
      })(jQuery);

  </script>

  <hr style="margin-bottom: 0">

  <div style="margin-bottom: 10px">
    <div id="icon-show-logo" class="hidden"><h6><i class="fa fa-angle-down" aria-hidden="true"></i> CUSTOMIZED</h6>
    </div>
    <div id="icon-hide-logo"><h6><i class="fa fa-angle-up" aria-hidden="true"></i> CUSTOMIZED</h6></div>
  </div>

  <% variations = [] %>
  <% @product['modifiers'].each do |modifiers| %>
      <% variations.push(modifiers) %>
  <% end %>

  <% unless variations.blank? %>
      <div id="icon_loader_logo" class="jcarousel-wrapper">
        <div id="myCarousel-logo" class="jcarousel" data-jcarousel="true">
          <ul id="container-logo-2" style="left: 0; top: 0;">
            <% variations[0][1]['variations'].each do |var| %>
                <li>
                  <% if var[1]['title'].eql?('null') %>

                  <% else %>
                      <% object = getJson(var[1]['title']) %>
                      <div id="<%= object['image_id'] %>" style="width: 100px; height: 100px">

                      </div>

                      <script id="create-shape">
                          createShape('<%= object['image_id'] %>', '<%= object['width'] %>', '<%= object['height'] %>', '<%= object['x'] %>', '<%= object['y'] %>', '<%= object['s_w'] %>', '<%= object['s_h'] %>')
                          function createShape(id, width, height, x, y, s_w, s_h) {
                              var container = $('#' + id);
                              container.height(container.width());

                              var stage = new Konva.Stage({
                                  container: id,
                                  width: container.width(),
                                  height: container.height()
                              });
                              var layer = new Konva.Layer();
                              stage.add(layer);

                              var baseImg = new Konva.Image({
                                  width: container.width(),
                                  height: container.height(),
                                  draggable: false
                              });

                              var logoImg = new Konva.Image({
                                  width: container.width() * width / s_w,
                                  height: container.height() * height / s_h
                              });

                              var logoGroup = new Konva.Group({
                                  x: container.width() * x / s_w,
                                  y: container.width() * y / s_h
                              });

                              layer.add(baseImg);
                              layer.add(logoGroup);
                              logoGroup.add(logoImg);

                              var imageObj1 = new Image();
                              imageObj1.onload = function () {
                                  baseImg.image(imageObj1);
                                  layer.draw();
                              };
                              imageObj1.src = '<%= @product['images'].first['url']['https'] %>';

                              var imageObj2 = new Image();
                              imageObj2.onload = function () {
                                  logoImg.image(imageObj2);
                                  layer.draw();
                                  imageObj2.width = container.width() * width / s_w;
                                  console.log(imageObj2.width, container.width(), width, s_w);
                                  imageObj2.height = container.height() * height / s_h;
                                  console.log(imageObj2.height);
                              };
                              imageObj2.src = '<%= get_thumb_g_id(object['image_id'], :thumb) %>';
                              layer.draw();
                          }
                      </script>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
        <button style="top: 30px; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">
          <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button style="top: 30px; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
          <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
  <% end %>

  <script id="fold_logo">

      var innerHTML13 = {};

      $(document).ready(function () {
          innerHTML13.heightTT = $("#icon_loader_logo").height();
          console.log(innerHTML13.heightTT);
      });

      var iconShow_logo = $("#icon-show-logo");
      var iconHide_logo = $("#icon-hide-logo");
      var loader_logo = $("#icon_loader_logo");

      iconShow_logo.click(function () {
          loader_logo.animate({
              height: innerHTML13.heightTT
          }, 400, function () {
              loader_logo.css({
                  overflow: 'visible'
              });
          });
          iconShow_logo.addClass(" hidden");
          iconHide_logo.removeClass(" hidden");
      });

      iconHide_logo.click(function () {
          loader_logo.animate({
              height: 0
          }, 400, function () {
              loader_logo.css({
                  overflow: 'hidden'
              });
          });
          iconHide_logo.addClass(" hidden");
          iconShow_logo.removeClass(" hidden");
      });


      //Photo slider
      (function ($) {
          $(function () {
              $('.jcarousel').jcarousel();

              $('.jcarousel-control-prev')
                  .on('jcarouselcontrol:active', function () {
                      $(this).removeClass('inactive');
                  })
                  .on('jcarouselcontrol:inactive', function () {
                      $(this).addClass('inactive');
                  })
                  .jcarouselControl({
                      target: '-=1'
                  });

              $('.jcarousel-control-next')
                  .on('jcarouselcontrol:active', function () {
                      $(this).removeClass('inactive');
                  })
                  .on('jcarouselcontrol:inactive', function () {
                      $(this).addClass('inactive');
                  })
                  .jcarouselControl({
                      target: '+=1'
                  });

              $('.jcarousel-pagination')
                  .on('jcarouselpagination:active', 'a', function () {
                      $(this).addClass('active');
                  })
                  .on('jcarouselpagination:inactive', 'a', function () {
                      $(this).removeClass('active');
                  })
                  .jcarouselPagination();
          });
      })(jQuery);

  </script>

  <script>
      var state = true;
      $("#more-toggle").on('click', function () {
          if (state) {
              $(this).text("Read less");
              $(".complete").show();
              $("#dots").hide();
          } else {
              $(this).text("Read more");
              $(".complete").hide();
              $("#dots").show();
          }
          state = !state;
      });
  </script>

</div>
<div id="selection-btn-s">

  <button class="btn btn-default" onclick="window.location.href='/product/<%= @product['id'] %>/2'">CUSTOMIZE IT
  </button>
  <button class="btn btn-default" onclick="addToCart()">ADD TO CART</button>

  <script>

      function changeSize(id) {
          for (var i = 0; i < avaliable_sizes.length; i++) {

              size = avaliable_sizes[i];

              if (size === id) {
                  console.log(size, id);
                  $('#' + size).addClass('badge_selected');
                  selected_size = id
              } else {
                  $('#' + size).removeClass('badge_selected');
              }
          }

      }

      function addToCart() {

          if (selected_size !== null) {
              var source_p = '<%= @product['id'] %>';
              var product_id_e = '<%= @product['id'] %>';
              if ("<% @parameters['product_id'].blank? %>" === "false") {
                  product_id_e = '<% @parameters['product_id'] %>'
              }
              var image_id_e = '<%= @parameters['image_id'] %>';
              var width = '<%= @parameters['width_u'] %>';
              var height = '<%= @parameters['height_u'] %>';
              var x = '<%= @parameters['x_u'] %>';
              var y = '<%= @parameters['y_u'] %>';
              var s_w = '<%= @parameters['s_w'] %>';
              var s_h = '<%= @parameters['s_h'] %>';
              var has_logo = '<%= !@parameters['image_id'].blank? %>';
              var has_emblem = '<%= !@parameters['emblem_id'].blank? %>';
              var emblem_id = '<%= @parameters['emblem_id'] %>';
              var user_online = '<%= user_signed_in? %>';
              console.log(user_online);

              $.ajax({
                  type: "POST",
                  url: "/add_cart",
                  data: {
                      size: selected_size,
                      source_p: source_p,
                      m_id: product_id_e,
                      logo_id: image_id_e,
                      dim_x: x,
                      dim_y: y,
                      relation_x: s_w,
                      relation_y: s_h,
                      width: width,
                      height: height,
                      has_logo: has_logo,
                      has_emblem: has_emblem,
                      emblem_id: emblem_id,
                      user_signed: user_online
                      //Missing attributes check migrations

                  },
                  success: function (data, status, xhr) {

                  },
                  dataType: 'json'
              });
          } else {
              alert('Select a size');
          }
      }
  </script>

</div>

</body>