<body style="background-color: #dedede">
<div class="main">

  <!--Display tags as bootstrap pills -->
  <%= javascript_include_tag 'bootstrap-tagsinput' %>
  <%= stylesheet_link_tag 'bootstrap-tagsinput' %>
  <%= javascript_include_tag 'jscolor.js' %>

  <!--Product reference-->
  <% product_i = @product %>

  <div class="card modal-g">

    <!--Title edit field-->
    <div class="form-group">
      <label for="title_edit">Title</label>
      <input class="form-control" type="text" value="<%= product_i.title %>" id="title_edit" name="title">

    </div>

    <!--SKU edit field-->
    <div class="form-group">
      <label for="sku_edit">SKU</label>
      <input class="form-control" type="text" value="<%= product_i.sku %>" id="sku_edit" name="sku">
    </div>

    <!--Status edit field-->
    <div class="form-group">
      <label for="status_edit" style="float: left; width: 100%">Status</label>
      <select style="width: 100%" id="status_edit" name="status">
        <option value="0">Draft</option>
        <option value="1">Live</option>
      </select>
    </div>

    <!--Customizable edit field-->
    <div class="form-group">
      <label for="customizable_edit" style="float: left; width: 100%">Customizable / Allow moving logos</label>
      <select style="width: 100%" id="customizable_edit" name="status">
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
    </div>

    <!--Emblemable edit field-->
    <div class="form-group">
      <label for="emblemable_edit" style="float: left; width: 100%">Allow emblems</label>
      <select style="width: 100%" id="emblemable_edit" name="status">
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
    </div>

    <!--Price edit field-->
    <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">$</span>
        <input class="form-control" type="number" step="any" value="<%= product_i.price %>" id="price_edit" name="price">
      </div>
    </div>

    <!--Tax edit field-->
    <div class="form-group">
      <label for="tax" style="width: 100%">Tax band</label>
      <select style="width: 100%" id="tax_edit" name="tax_edit">
        <% TaxBand.all.each do |tx| %>
            <option value="<%= tx.id %>"><%= tx.titulo %></option>
        <% end %>
      </select>
    </div>

    <!--Stock level edit field-->
    <div class="form-group">
      <label for="stock_level">Stock level</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">#</span>
        <input class="form-control" type="number" name="stock_level" value="<%= product_i.stock %>" id="stock_level_edit">
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="3" class="form-control" name="description" id="description_edit"><%= product_i.description %></textarea>
    </div>

    <button onclick="save_1('<%= product_i.id %>')" style="width: 100%" class="btn btn-sp text-light">SAVE</button>

    <script>

        $('select#status_edit').val('<%= product_i.status %>' === 'true' ? 1 : 0);
        $('select#customizable_edit').val('<%= product_i.customizable %>' === 'true' ? 1 : 0);
        $('select#emblemable_edit').val('<%= product_i.emblemable %>' === 'true' ? 1 : 0);
        $('select#movable_edit').val('<%= product_i.movable %>' === 'true' ? 1 : 0);

        function save_1(id) {
            $.ajax({
                url: '/product/edit',
                type: 'PUT',
                dataType: 'json',
                data: {
                    id: id,
                    attr: {
                        title: $('input#title_edit').val(),
                        sku: $('input#sku_edit').val(),
                        status: $('select#status_edit').val(),
                        price: $('input#price_edit').val(),
                        tax_band: $('input#tax_edit').val(),
                        stock: $('input#stock_level_edit').val(),
                        description: $('textarea#description_edit').val(),
                        customizable: $('select#customizable_edit').val(),
                        emblemable: $('select#emblemable_edit').val(),
                        movable: $('select#customizable_edit').val()
                    }
                },
                success: function () {
                    window.location.reload(true);
                },
                error: function () {
                    window.location.reload(true);
                }
            });
        }
    </script>
  </div>

  <div class="card modal-h">
    <h4 class="light-paragraph">Sizes</h4>
    <div id="sizes_rows">
      <% product_i.sizes.each do |size| %>
          <div class="size_row" style="overflow: hidden">
            <button onclick="remove_size_row(this, <%= size.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 50%; margin: 0;" value="<%= size.title %>" name="title" id="title">
            <input disabled step="any" style="float: left; width: 39%; margin: 0;" type="number" value="<%= size.price %>" placeholder="Price" name="price" id="price">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('size_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-sp text-light">ADD
      SIZE
    </button>

    <hr>

    <h4 class="light-paragraph">Logos</h4>
    <div id="logos_rows">
      <% product_i.logos.each do |logo| %>
          <div class="logo_row" style="overflow: hidden">
            <button onclick="remove_logo_row(this, <%= logo.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <img alt="Logo image" style="float: left; width: 15%; margin: 0;" src="<%= logo.picture(:thumb) %>" name="logo">
            <input disabled step="any" style="float: left; width: 74%; margin: 0;" type="number" value="<%= logo.price %>" placeholder="Price" name="price" id="price">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('logo_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-sp text-light">ADD
      LOGO
    </button>

    <hr>

    <h4 class="light-paragraph">Categories</h4>
    <div id="categories_rows">
      <% product_i.categories.each do |category| %>
          <div class="categories_row" style="overflow: hidden">
            <button onclick="remove_category_row(this, <%= category.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= category.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('category_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-sp text-light">ADD
      CATEGORY
    </button>

    <hr>

    <h4 class="light-paragraph">Styles</h4>
    <div id="styles_rows">
      <% product_i.styles.each do |style| %>
          <div class="styles_row" style="overflow: hidden">
            <button onclick="remove_style_row(this, <%= style.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= style.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('style_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-sp text-light">ADD
      STYLE
    </button>

    <hr>

    <h4 class="light-paragraph">Materials</h4>
    <div id="materials_rows">
      <% product_i.materials.each do |material| %>
          <div class="materials_row" style="overflow: hidden">
            <button onclick="remove_material_row(this, <%= material.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= material.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('material_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-sp text-light">ADD
      MATERIAL
    </button>

    <hr>

    <h4 class="light-paragraph">Brands</h4>
    <div id="brands_rows">
      <% product_i.brands.each do |brand| %>
          <div class="brands_row" style="overflow: hidden">
            <button onclick="remove_brand_row(this, <%= brand.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= brand.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('brand_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-sp text-light">ADD
      BRAND
    </button>

    <script>

        var STAGE;
        var LAYER;

        function complete_size(id) {
            return '<div class="size_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 50%; margin: 0;" value="" name="title" id="title">\n' +
                '               <input step="any" style="float: left; width: 39%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
                '               <button onclick="save_size_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_logo(id) {
            return '<div class="logo_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 50%; margin: 0;" type="file" name="file" id="file">\n' +
                '               <input step="any" style="float: left; width: 39%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
                '               <button onclick="save_logo_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_color(id) {
            return '<div class="color_row" style="overflow: hidden;">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" placeholder="Color title" name="title" id="title">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" step="any" value="" type="number" placeholder="Price" name="price" id="price">\n' +
                '      <input class="jscolor" value="" name="code_hex" id="color">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" step="any" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
                '      <button onclick="save_color_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '</div>';
        }

        function complete_category(id) {
            return '<div class="category_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_category_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_style(id) {
            return '<div class="style_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_style_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_material(id) {
            return '<div class="material_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_material_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_brand(id) {
            return '<div class="brand_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_brand_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_preset(id) {
            return '<div id="general_frame">' +
                '       <label>Logos</label>' +
                '       <div style="width: 100%; overflow: hidden; margin-bottom: 10px" id="logos_holder">' +
                '           ' +
                '       </div>' +
                '       <div id="color_holder">' +
                '           <label for="colors_list">Color</label>' +
                '           <select style="width: 100%" id="colors_list" onchange="change_base(this)">' +
                '           ' +
                '           </select>' +
                '       </div>' +
                '       <div style="width: 500px; height: 500px; margin: 0 auto" id="preview_holder">' +
                '           ' +
                '       </div>' +
                '       <button onclick="zoom_in()">+</button>' +
                '       <button onclick="zoom_out()">-</button>' +
                '       <input id="grow_rate" value="' + ZOOM_COUNT + '">' +
                '       <button class="btn btn-sp text-light" style="float: right;" onclick="save_preset(\'' + id + '\')">SAVE</button>' +
                '   </div>';
        }

        function complete_emblem(id) {
            return '<div id="general_frame">' +
                '       <label for="file_emblem">Emblem</label>' +
                '       <input style="width:100%;" type="file" id="file_emblem" onchange="readURL(this)">' +
                '       <label for="price_emblem">Price</label>' +
                '       <input type="number" id="price_emblem" step="any" >' +
                '       <label for="title_emblem">Title</label>' +
                '       <input id="title_emblem">' +
                '       <div id="color_holder">' +
                '           <label for="colors_list">Color</label>' +
                '           <select style="width: 100%" id="colors_list" onchange="change_base_emblem(this)">' +
                '           ' +
                '           </select>' +
                '           <label for="photos_list">Photo</label>' +
                '           <select style="width: 100%" id="photos_list" onchange="change_base_photo(this)">' +
                '           ' +
                '           </select>' +
                '       </div>' +
                '       <div style="width: 500px; height: 500px; margin: 0 auto" id="preview_holder_emblem">' +
                '           ' +
                '       </div>' +
                '       <button onclick="zoom_in_emblem()">+</button>' +
                '       <button onclick="zoom_out_emblem()">-</button>' +
                '       <input id="grow_rate" value="' + ZOOM_COUNT + '">' +
                '       <button class="btn btn-sp text-light" style="float: right;" onclick="save_emblem(\'' + id + '\')">SAVE</button>' +
                '   </div>';
        }

        function remove_size_row(btn, id) {
            $.ajax({
                url: '/product/remove/size',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_logo_row(btn, id) {
            $.ajax({
                url: '/product/remove/logo',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_category_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/category',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_style_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/style',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_material_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/material',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    EMBLEM_IMAGE_H.src = e.target.result
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function remove_brand_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/brand',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            });
        }

        function remove_preset_row(btn, id) {
            $.ajax({
                url: '/product/remove/preset',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_emblem_row(btn, id) {
            $.ajax({
                url: '/product/remove/emblem',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function save_size_row(id, parent) {

            document.getElementById('loading_a').classList.remove('hidden');

            $.ajax({
                url: '/product/add/size',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    size: {
                        title: $(parent).find('#title').val(),
                        price: $(parent).find('#price').val()
                    },
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            })
        }

        function save_color_row(id, parent) {

            document.getElementById('loading_a').classList.remove('hidden');

            $.ajax({
                url: '/product/new/color',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val(),
                    price: $(parent).find('#price').val(),
                    color: "#"+$(parent).find('#color').val(),
                    stock: $(parent).find('#stock_level').val(),
                    preferred: false,
                    main_picture: '',
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            })

        }

        function save_logo_row(id, parent) {

            document.getElementById('loading_a').classList.remove('hidden');

            var formData = new FormData();
            formData.append('picture', $(parent).find('#file')[0].files[0]);
            formData.append('price', $(parent).find('#price').val());
            formData.append('pr_id', id);
            formData.append('authenticity_token', '<%= form_authenticity_token %>');

            $.ajax({
                url: '/product/add/logo',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            })
        }

        function save_category_row(id, parent) {

            document.getElementById('loading_a').classList.remove('hidden');

            $.ajax({
                url: '/product/add/category',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val(),
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            })
        }

        function save_style_row(id, parent) {

            document.getElementById('loading_a').classList.remove('hidden');

            $.ajax({
                url: '/product/add/style',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val(),
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            })
        }

        function save_material_row(id, parent) {

            document.getElementById('loading_a').classList.remove('hidden');

            $.ajax({
                url: '/product/add/material',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val(),
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            })
        }

        function save_brand_row(id, parent) {

            document.getElementById('loading_a').classList.remove('hidden');

            $.ajax({
                url: '/product/add/brand',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val(),
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            })
        }

        var LOGOS = null;
        var ACTUAL_LOGO = null;
        var ACTUAL_COLOR = null;
        var PREFERRED_COLOR = null;
        var LOGO_IMAGE = null;
        var LOGO_IMAGE_H = null;
        var ACTUAL_ZOOM = 1;
        var ZOOM_COUNT = 0.05;

        var COLORS_PICTURES = null;
        var BASE_IMAGE = null;

        var ACTUAL_COLOR_EMBLEM = null;
        var ACTUAL_PHOTO_EMBLEM = null;

        var emblem_photo_list = {};

        var EMBLEM_IMAGE = null;
        var EMBLEM_IMAGE_H = null;
        var BASE_IMAGE_EMBLEM = null;

        var width = 500;
        var height = 500;

        function zoom_in() {

            ZOOM_COUNT = parseFloat(document.getElementById('grow_rate').value);
            ACTUAL_ZOOM = ACTUAL_ZOOM + ZOOM_COUNT;

            LOGO_IMAGE.scale({
                x: ACTUAL_ZOOM,
                y: ACTUAL_ZOOM
            });

            LAYER.draw();
        }

        function zoom_out() {

            ZOOM_COUNT = parseFloat(document.getElementById('grow_rate').value);
            ACTUAL_ZOOM = ACTUAL_ZOOM - ZOOM_COUNT;

            LOGO_IMAGE.scale({
                x: ACTUAL_ZOOM,
                y: ACTUAL_ZOOM
            });

            LAYER.draw();
        }

        function zoom_in_emblem() {

            ZOOM_COUNT = parseFloat(document.getElementById('grow_rate').value);
            ACTUAL_ZOOM = ACTUAL_ZOOM + ZOOM_COUNT;

            EMBLEM_IMAGE.scale({
                x: ACTUAL_ZOOM,
                y: ACTUAL_ZOOM
            });

            LAYER.draw();
        }

        function zoom_out_emblem() {

            ZOOM_COUNT = parseFloat(document.getElementById('grow_rate').value);
            ACTUAL_ZOOM = ACTUAL_ZOOM - ZOOM_COUNT;

            EMBLEM_IMAGE.scale({
                x: ACTUAL_ZOOM,
                y: ACTUAL_ZOOM
            });

            LAYER.draw();
        }

        function save_preset(id) {

            document.getElementById('loading_a').classList.remove('hidden');

            $.ajax({
                url: '/product/add/preset',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    x: LOGO_IMAGE.getX(),
                    y: LOGO_IMAGE.getY(),
                    multiplexer: ACTUAL_ZOOM,
                    logo_id: ACTUAL_LOGO,
                    color_id: ACTUAL_COLOR,
                    picture_id: PREFERRED_COLOR.data.id,
                    alo: 'khe',
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            });
        }

        function save_emblem(id) {

            document.getElementById('loading_a').classList.remove('hidden');

            var formData = new FormData();
            formData.append('picture', $(document).find('#file_emblem')[0].files[0]);
            formData.append('title', $(document).find('#title_emblem').val());
            formData.append('price', $(document).find('#price_emblem').val());
            formData.append('x', EMBLEM_IMAGE.getX());
            formData.append('y', EMBLEM_IMAGE.getY());
            formData.append('color_id', ACTUAL_COLOR_EMBLEM);
            formData.append('multiplexer', ACTUAL_ZOOM);
            formData.append('product_image_id', ACTUAL_PHOTO_EMBLEM);
            formData.append('pr_id', id);
            formData.append('authenticity_token', '<%= form_authenticity_token %>');

            $.ajax({
                url: '/product/add/emblem',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {

                    document.getElementById('loading_a').classList.remove('hidden');
                }
            });
        }

        function change_base(select) {

            var preferred_color;
            for (var i = 0; i < COLORS_PICTURES.length; i++) {
                var color = COLORS_PICTURES[i].color;
                if (color.id === parseInt(select.value)) {
                    preferred_color = COLORS_PICTURES[i];
                    break;
                }
            }

            var default_picture;
            for (var j = 0; j < preferred_color.pictures.length; j++) {
                var picture = preferred_color.pictures[j];
                if (picture.data.main) {
                    default_picture = picture;
                    break;
                }
            }

            PREFERRED_COLOR = default_picture;
            BASE_IMAGE.src = default_picture.url[1];
            ACTUAL_COLOR = preferred_color.color.id;
        }

        function change_base_emblem(select) {

            var preferred_color;
            for (var i = 0; i < COLORS_PICTURES.length; i++) {
                var color = COLORS_PICTURES[i].color;
                if (color.id === parseInt(select.value)) {
                    preferred_color = COLORS_PICTURES[i];
                    break;
                }
            }

            var photo_list = document.getElementById('photos_list');
            photo_list.innerHTML = '';

            var default_picture;
            for (var j = 0; j < preferred_color.pictures.length; j++) {
                var picture = preferred_color.pictures[j];
                if (picture.data.main) {
                    default_picture = picture;
                    ACTUAL_PHOTO_EMBLEM = picture.data.id;
                }
                photo_list.innerHTML = photo_list.innerHTML + '<option value="' + picture.data.id + '">' + picture.data.picture_file_name + '</option>';
                emblem_photo_list[picture.data.id] = picture.url[1];
            }

            BASE_IMAGE_EMBLEM.src = default_picture.url[1];
            ACTUAL_COLOR_EMBLEM = preferred_color.color.id;
        }

        function change_base_photo(select) {
            BASE_IMAGE_EMBLEM.src = emblem_photo_list[select.value];
            ACTUAL_PHOTO_EMBLEM = select.value;
        }

        function set_logo(id) {
            var desire_logo = null;
            for (var g = 0; g < LOGOS.length; g++) {
                if (LOGOS[g].id === parseInt(id)) {
                    desire_logo = LOGOS[g];
                    break;
                }
            }

            LOGO_IMAGE_H.src = desire_logo.picture;
            ACTUAL_LOGO = id
        }

        function edit_modal(type, id) {
            modal = document.getElementById(type);
            modal.style.display = "block";
            dim_back.style.display = "block";
            actual_row_id = id;


            var close_icon = '\n' +
                '    <div style="background: #cb929c; border-radius: 50%; position: fixed; top: 10px; right: 10px; width: 50px; height: 50px">\n' +
                '      <span onclick="close_modal()" id="actor" style="cursor: pointer;\n' +
                '          color: white;\n' +
                '          font-size: 40px;\n' +
                '          line-height: 50px;\n' +
                '          width: 50px;\n' +
                '          height: 50px;\n' +
                '          text-align: center;\n' +
                '          position: absolute;\n' +
                '          margin: auto;\n' +
                '          top: 0;\n' +
                '          left: 0;\n' +
                '          right: 0;\n' +
                '          bottom: 0;">\n' +
                '        <i class="fa fa-times" aria-hidden="true"></i>\n' +
                '      </span>\n' +
                '    </div>';


            switch (type) {
                case 'size_modal':
                    modal.innerHTML = complete_size(id) + close_icon;
                    break;
                case 'logo_modal':
                    modal.innerHTML = complete_logo(id) + close_icon;
                    break;
                case 'color_modal':
                    modal.innerHTML = complete_color(id) + close_icon;
                    new jscolor($('.jscolor').last()[0]);
                    $('div').last()[0].style.zIndex = 99999999;

                    break;
                case 'category_modal':
                    modal.innerHTML = complete_category(id) + close_icon;
                    break;
                case 'style_modal':
                    modal.innerHTML = complete_style(id) + close_icon;
                    break;
                case 'material_modal':
                    modal.innerHTML = complete_material(id) + close_icon;
                    break;
                case 'brand_modal':
                    modal.innerHTML = complete_brand(id) + close_icon;
                    break;
                case 'preset_modal':
                    modal.innerHTML = complete_preset(id) + close_icon;

                    $.ajax({
                        url: '/admin/products/logos',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            product_id: id
                        },
                        success: function (data) {

                            LOGOS = data;
                            var html = '';
                            for (var l = 0; l < data.length; l++) {
                                html = html + '<img alt="Product image" src="' + data[l].picture + '" style="width: 50px; float: left" onclick="set_logo(\'' + data[l].id + '\')" >'
                            }

                            document.getElementById('logos_holder').innerHTML = html;

                        }, error: function (data) {

                        }
                    });

                    $.ajax({
                        url: '/admin/products/color_images',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            product_id: id
                        },
                        success: function (data) {

                            COLORS_PICTURES = data;

                            var select = document.getElementById('colors_list');

                            var html_color_list = '';
                            for (var k = 0; k < data.length; k++) {
                                var opt = document.createElement('option');
                                opt.value = data[k].color.id;
                                opt.innerHTML = data[k].color.title;
                                select.appendChild(opt);
                            }

                            var preferred_color;
                            for (var i = 0; i < data.length; i++) {
                                var color = data[i].color;
                                if (color.preferred) {
                                    preferred_color = data[i];
                                    select.value = ACTUAL_COLOR = preferred_color.color.id;
                                    break;
                                }
                            }

                            var default_picture;
                            for (var j = 0; j < preferred_color.pictures.length; j++) {
                                var picture = preferred_color.pictures[j];
                                if (picture.data.main) {
                                    default_picture = picture;
                                    break;
                                }
                            }
                            PREFERRED_COLOR = default_picture;

                            STAGE = new Konva.Stage({
                                container: 'preview_holder',
                                width: width,
                                height: height
                            });

                            LAYER = new Konva.Layer();
                            STAGE.add(LAYER);

                            var baseImg = new Konva.Image({
                                width: width,
                                height: height
                            });

                            LOGO_IMAGE = new Konva.Image({
                                width: 100,
                                height: 100,
                                draggable: true
                            });

                            LAYER.add(baseImg);
                            LAYER.add(LOGO_IMAGE);

                            BASE_IMAGE = new Image();
                            BASE_IMAGE.onload = function () {
                                baseImg.image(BASE_IMAGE);
                                LAYER.draw();
                            };
                            BASE_IMAGE.src = default_picture.url[1];

                            LOGO_IMAGE_H = new Image();
                            LOGO_IMAGE_H.onload = function () {
                                LOGO_IMAGE.image(LOGO_IMAGE_H);
                                LOGO_IMAGE.setWidth(this.width);
                                LOGO_IMAGE.setHeight(this.height);
                                LAYER.draw();
                            };
                            LOGO_IMAGE_H.src = '';
                            LAYER.draw();


                        }, error: function (data) {

                        }
                    });

                    break;

                case 'emblem_modal':
                    modal.innerHTML = complete_emblem(id) + close_icon;

                    $.ajax({
                        url: '/admin/products/color_images',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            product_id: id
                        },
                        success: function (data) {

                            COLORS_PICTURES = data;

                            var select = document.getElementById('colors_list');

                            var html_color_list = '';
                            for (var k = 0; k < data.length; k++) {
                                var opt = document.createElement('option');
                                opt.value = data[k].color.id;
                                opt.innerHTML = data[k].color.title;
                                select.appendChild(opt);
                            }

                            var preferred_color;
                            for (var i = 0; i < data.length; i++) {
                                var color = data[i].color;
                                if (color.preferred) {
                                    preferred_color = data[i];
                                    select.value = ACTUAL_COLOR_EMBLEM = preferred_color.color.id;
                                    break;
                                }
                            }

                            var photo_list = document.getElementById('photos_list');

                            var default_picture;
                            for (var j = 0; j < preferred_color.pictures.length; j++) {
                                var picture = preferred_color.pictures[j];
                                if (picture.data.main) {
                                    default_picture = picture;
                                    ACTUAL_PHOTO_EMBLEM = picture.data.id;
                                }
                                photo_list.innerHTML = photo_list.innerHTML + '<option value="' + picture.data.id + '">' + picture.data.picture_file_name + '</option>';
                                emblem_photo_list[picture.data.id] = picture.url[1];
                            }

                            STAGE = new Konva.Stage({
                                container: 'preview_holder_emblem',
                                width: width,
                                height: height
                            });

                            LAYER = new Konva.Layer();
                            STAGE.add(LAYER);

                            var baseImg = new Konva.Image({
                                width: width,
                                height: height
                            });

                            EMBLEM_IMAGE = new Konva.Image({
                                width: 100,
                                height: 100,
                                draggable: true
                            });

                            LAYER.add(baseImg);
                            LAYER.add(EMBLEM_IMAGE);

                            BASE_IMAGE_EMBLEM = new Image();
                            BASE_IMAGE_EMBLEM.onload = function () {
                                baseImg.image(BASE_IMAGE_EMBLEM);
                                LAYER.draw();
                            };
                            BASE_IMAGE_EMBLEM.src = default_picture.url[1];

                            EMBLEM_IMAGE_H = new Image();
                            EMBLEM_IMAGE_H.onload = function () {
                                EMBLEM_IMAGE.image(EMBLEM_IMAGE_H);
                                EMBLEM_IMAGE.setWidth(this.width);
                                EMBLEM_IMAGE.setHeight(this.height);
                                LAYER.draw();
                            };
                            EMBLEM_IMAGE_H.src = '';
                            LAYER.draw();


                        }, error: function (data) {

                        }
                    });

                    break;
            }

            $('body').addClass('modal-open');

            window.onclick = function (event) {
                if (event.target === dim_back) {
                    close_modal();
                }
            };
        }

        function change_main(id_color) {

            document.getElementById('loading').classList.remove('hidden');

            $.ajax({
                url: '/admin/products/change_main_picture',
                type: 'PATCH',
                dataType: 'json',
                data: {
                    color_id: id_color,
                    photo_id: $('#main_image_' + id_color).val(),
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    document.getElementById('loading').classList.add('hidden');
                },
                error: function (data) {

                }
            })
        }

        function remove_color_row(id_color) {
            document.getElementById('loading').classList.remove('hidden');

            $.ajax({
                url: '/admin/product/color',
                type: 'DELETE',
                dataType: 'json',
                data: {
                    color_id: id_color
                },
                success: function (data) {
                    document.getElementById('loading').classList.add('hidden');
                    window.location.reload(false);
                },
                error: function (data) {

                }
            })
        }

        function change_main_color(id) {
            document.getElementById('loading').classList.remove('hidden');
            $.ajax({
                url: '/admin/products/change_main_color',
                type: 'PATCH',
                dataType: 'json',
                data: {
                    pr_id: <%= product_i.id %>,
                    color: id,
                    "authenticity_token": '<%= form_authenticity_token %>'
                },
                success: function (data) {
                    document.getElementById('loading').classList.add('hidden');
                    window.location.reload(true);
                },
                error: function (data) {

                }
            })
        }

    </script>

  </div>

  <div style="position: relative" class="card modal-g">

    <div style="margin-top: -16px; margin-left: -16px; border-radius: 8px" id="loading" class="hidden">

      <div class="loader">

      </div>

    </div>

    Photos

    <% product_i.colors.each do |color| %>

        <div id="color-row" style="overflow: auto; text-align: center; position: relative">

          <input onchange="change_main_color('<%= color.id %>')" type="checkbox" <%= color.preferred ? 'checked disabled' : '' %> >
          Preferred image

          <button onclick="remove_color_row('<%= color.id %>')" style="width: 10%; float: left" class="btn btn-danger">-</button><!--FINISH-->
          <h4 style="float:left;"><%= color.title %></h4>
          <select onchange="change_main(<%= color.id %>)" style="float: right; width: 20%" id="main_image_<%= color.id %>"></select>
          <h4 style="float: right">Main image: </h4>
          <div class="dropzone" id="drop<%= color.id %>" style="width: 100%; min-height: 170px; float: left; position: relative">

          </div>
        </div>
        <hr>

        <script>
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#drop<%= color.id %>", {
                url: "/product/new/image?parent_id=<%= color.id %>",
                maxFileSize: 50,
                addRemoveLinks: true,
                init: function () {
                    this.on("removedfile", function (file) {
                        document.getElementById('loading').classList.remove('hidden');
                        $.ajax({
                            url: '/admin/product/photo',
                            type: 'DELETE',
                            dataType: 'json',
                            data: {
                                file_name: file.name,
                                color_id: <%= color.id %>
                            },
                            success: function (data) {
                                window.location.reload(true);
                            },
                            error: function (data) {

                            }
                        });
                    });
                }
            });

            //Add existing files into dropzone
            var existingFiles<%= color.id %> = [];
            var select<%= color.id %> = $('#main_image_<%= color.id %>');
            <% filelist = '' %>
            var main_picture = null;

            <% color.product_images.each do |col| %>

            <% filelist = filelist + "<option value='#{col.id}'>#{col.picture_file_name}</option>" %>

            <% if col.main %>

            main_picture = '<%= col.id %>';

            <% end %>

            var temp_v = {
                name: '<%= col.picture_file_name %>',
                size: <%= col.picture_file_size %>,
                data: '<%= col.picture("s_thumb_#{@browser}") %>'
            };
            existingFiles<%= color.id %>.push(temp_v);

            <% end %>

            select<%= color.id %>.html("<%= filelist.html_safe %>");
            select<%= color.id %>.val(main_picture).trigger("chosen:updated");

            for (var i = 0; i < existingFiles<%= color.id %>.length; i++) {
                myDropzone.emit("addedfile", existingFiles<%= color.id %>[i]);
                myDropzone.emit("thumbnail", existingFiles<%= color.id %>[i], existingFiles<%= color.id %>[i].data);
                myDropzone.emit("complete", existingFiles<%= color.id %>[i]);
            }
        </script>

    <% end %>
    <button style="width:100%;" onclick="edit_modal('color_modal', <%= product_i.id %>)" class="btn btn-sp text-light">ADD
      COLOR
    </button>

  </div>

  <div class="card modal-g">
    <h2 class="text-light">Presets</h2>
    <hr>
    <table style="width: 100%">
      <thead>
      <tr>
        <th></th>
        <th>Logo</th>
        <th>Image</th>
        <th>Ratio</th>
        <th>Position x</th>
        <th>Position y</th>
        <th>Showcase</th>
      </tr>
      </thead>
      <tbody>

      <% product_i.presets.each do |preset| %>
        <tr>
          <td><button onclick="remove_preset_row(this, '<%= preset.id %>')" style="width: 100%; float: left" class="btn btn-danger">-</button></td>
          <td><img alt="Logo picture" style="width: 50px; float: left;" src="<%= preset.logo.picture %>"></td>
          <td><img alt="Base image" style="width: 50px; float: left;" src="<%= preset.color_image.picture %>"></td>
          <td><%= preset.multiplexer %></td>
          <td><%= preset.x %></td>
          <td><%= preset.y %></td>
          <td><button onclick="changeShowcase('<%= preset.id %>')" style="width: 100%;" class="btn btn-default text-light"><%= preset.showcase ? 'YES' : 'NO' %></button></td>
        </tr>
      <% end %>

      </tbody>
    </table>
    <button style="width:100%;" onclick="edit_modal('preset_modal', <%= product_i.id %>)" class="btn btn-sp text-light">ADD
      PRESET
    </button>
  </div>

  <script>
    function changeShowcase(id) {
        $.ajax({
            url: '/admin/preset/showcase',
            type: 'patch',
            dataType: 'json',
            data: {
                id: id,
                "authenticity_token": '<%= form_authenticity_token %>'
            }, success: function (data) {
                location.reload(true);
            }, error: function (data) {

            }
        })
    }
  </script>

  <div class="card modal-g">
    <h2 class="text-light">Emblems</h2>
    <hr>

    <table style="width: 100%">
      <thead>
      <tr>
        <th></th>
        <th>Emblem</th>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Ratio</th>
        <th>Position x</th>
        <th>Position y</th>
      </tr>
      </thead>
      <tbody>

    <% product_i.position_emblem_admins.each do |emblems| %>

          <td><button onclick="remove_emblem_row(this, '<%= emblems.id %>')" style="width: 100%; float: left" class="btn btn-danger">-</button></td>
          <td><img alt="Emblem image" style="width: 50px; float: left;" src="<%= emblems.picture(:thumb) %>"></td>
          <td><img alt="Emblem image" style="width: 50px; float: left;" src="<%= emblems.color_image.picture %>"></td>
          <td><%= emblems.title %></td>
          <td><%= emblems.price %></td>
          <td><%= emblems.multiplexer %></td>
          <td><%= emblems.x %></td>
          <td><%= emblems.y %></td>

    <% end %>
      </tbody>
    </table>

    <button style="width:100%;" onclick="edit_modal('emblem_modal', <%= product_i.id %>)" class="btn btn-sp text-light">ADD
      EMBLEM
    </button>
  </div>

  <div id="dim_back" class="dim_back">

    <div style="width: 100%; height: 100%; position: absolute;" id="loading_a" class="hidden">

      <div style="margin: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0" class="loader">

      </div>

    </div>

    <div style="overflow:hidden;" id="size_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="logo_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="color_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="category_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="style_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="material_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="brand_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="preset_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="emblem_modal" class="content_pop">
    </div>

  </div>

</div>

<script>

  function close_modal() {
      modal.style.display = "none";
      dim_back.style.display = "none";
      $('body').removeClass('modal-open');
  }

</script>

</body>