<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-home"></span></a>
        </li>
        <li class="active">
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-picture-o"></span></a>
        </li>
        <li>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-truck"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">
<div class="main">

  <!--Display tags as bootstrap pills -->
  <%= javascript_include_tag 'bootstrap-tagsinput' %>
  <%= stylesheet_link_tag 'bootstrap-tagsinput' %>

  <!--Product reference-->
  <% product_i = @product %>

  <div class="head-bread-crumbs card">
    <h4><a class="breadcrumb" href="/admin/products">Products</a> /
      <a class="breadcrumb" href="/admin/product/<%= product_i.id %>"><%= product_i.id %></a> / Edit</h4>
  </div>

  <div class="card modal-g">

    <!--Title edit field-->
    <div class="form-group">
      <label for="title_edit">Title</label>
      <input class="form-control" type="text" value="<%= product_i.title %>" id="title_edit" name="title">
    </div>

    <!--SKU edit field-->
    <div class="form-group">
      <label for="sku_edit">SKU</label>
      <input class="form-control" type="text" value="<%= product_i.sku %>" id="sku_edit" name="sku">
    </div>

    <!--Status edit field-->
    <div class="form-group">
      <label for="status_edit" style="float: left; width: 100%">Status</label>
      <select style="width: 100%" id="status_edit" name="status">
        <option value="0">Draft</option>
        <option value="1">Live</option>
      </select>
    </div>

    <!--Price edit field-->
    <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">$</span>
        <input class="form-control" type="number" step="any" value="<%= product_i.price %>" id="price_edit" name="price">
      </div>
    </div>

    <!--Tax edit field-->
    <div class="form-group">
      <label for="tax" style="width: 100%">Tax band</label>
      <select style="width: 100%" id="tax_edit" name="tax_edit">
        <% TaxBand.all.each do |tx| %>
            <option value="<%= tx.id %>"><%= tx.titulo %></option>
        <% end %>
      </select>
    </div>

    <!--Stock level edit field-->
    <div class="form-group">
      <label for="stock_level">Stock level</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">#</span>
        <input class="form-control" type="number" name="stock_level" value="<%= product_i.stock %>" id="stock_level_edit">
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="3" class="form-control" name="description" id="description_edit"><%= product_i.description %></textarea>
    </div>

    <button onclick="save_1('<%= product_i.id %>')" style="width: 100%" class="btn btn-success">SAVE</button>

    <script>
        function save_1(id) {
            $.ajax({
                url: '/product/edit',
                type: 'PUT',
                dataType: 'json',
                data: {
                    id: id,
                    attr: {
                        title: $('input#title_edit').val(),
                        sku: $('input#sku_edit').val(),
                        status: $('input#status_edit').val(),
                        price: $('input#price_edit').val(),
                        tax_band: $('input#tax_edit').val(),
                        stock: $('input#stock_level_edit').val(),
                        description: $('textarea#description_edit').val()
                    }
                },
                success: function () {
                    window.location.reload(true);
                },
                error: function () {
                    window.location.reload(true);
                }
            });
        }
    </script>
  </div>

  <div class="card modal-h">
    <h4 class="light-paragraph">Sizes</h4>
    <div id="sizes_rows">
      <% product_i.sizes.each do |size| %>
          <div class="size_row" style="overflow: hidden">
            <button onclick="remove_size_row(this, <%= size.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 50%; margin: 0;" value="<%= size.title %>" name="title" id="title">
            <input disabled step="any" style="float: left; width: 39%; margin: 0;" type="number" value="<%= size.price %>" placeholder="Price" name="price" id="price">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('size_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-success">ADD
      SIZE
    </button>

    <hr>

    <h4 class="light-paragraph">Logos</h4>
    <div id="logos_rows">
      <% product_i.logos.each do |logo| %>
          <div class="logo_row" style="overflow: hidden">
            <button onclick="remove_logo_row(this, <%= logo.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <img style="float: left; width: 15%; margin: 0;" src="<%= logo.picture(:thumb) %>" name="logo">
            <input disabled step="any" style="float: left; width: 74%; margin: 0;" type="number" value="<%= logo.price %>" placeholder="Price" name="price" id="price">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('logo_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-success">ADD
      LOGO
    </button>

    <hr>

    <h4 class="light-paragraph">Colors</h4>
    Work in progress...

    <hr>

    <h4 class="light-paragraph">Categories</h4>
    <div id="categories_rows">
      <% product_i.categories.each do |category| %>
          <div class="categories_row" style="overflow: hidden">
            <button onclick="remove_category_row(this, <%= category.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= category.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('category_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-success">ADD
      CATEGORY
    </button>

    <hr>

    <h4 class="light-paragraph">Styles</h4>
    <div id="styles_rows">
      <% product_i.styles.each do |style| %>
          <div class="styles_row" style="overflow: hidden">
            <button onclick="remove_style_row(this, <%= style.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= style.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('style_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-success">ADD
      STYLE
    </button>

    <hr>

    <h4 class="light-paragraph">Materials</h4>
    <div id="materials_rows">
      <% product_i.materials.each do |material| %>
          <div class="materials_row" style="overflow: hidden">
            <button onclick="remove_material_row(this, <%= material.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= material.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('material_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-success">ADD
      MATERIAL
    </button>

    <hr>

    <h4 class="light-paragraph">Brands</h4>
    <div id="brands_rows">
      <% product_i.brands.each do |brand| %>
          <div class="brands_row" style="overflow: hidden">
            <button onclick="remove_brand_row(this, <%= brand.id %>, <%= product_i.id %>)" style="float: left; width: 10%; margin: 0;">-</button>
            <input disabled style="float: left; width: 89%; margin: 0;" value="<%= brand.title %>" name="title" id="title">
          </div>
      <% end %>
    </div>
    <button onclick="edit_modal('brand_modal', <%= product_i.id %>)" style="width: 100%" class="btn btn-success">ADD
      BRAND
    </button>

    <script>

        var STAGE;
        var LAYER;

        function complete_size(id) {
            return '<div class="size_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 50%; margin: 0;" value="" name="title" id="title">\n' +
                '               <input step="any" style="float: left; width: 39%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
                '               <button onclick="save_size_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_logo(id) {
            return '<div class="logo_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 50%; margin: 0;" type="file" name="file" id="file">\n' +
                '               <input step="any" style="float: left; width: 39%; margin: 0;" type="number" value="" placeholder="Price" name="price" id="price">' +
                '               <button onclick="save_logo_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_category(id) {
            return '<div class="category_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_category_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_style(id) {
            return '<div class="style_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_style_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_material(id) {
            return '<div class="material_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_material_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_brand(id) {
            return '<div class="brand_row" style="overflow: hidden">\n' +
                '               <input style="float: left; width: 89%; margin: 0;" value="" name="title" id="title">\n' +
                '               <button onclick="save_brand_row(' + id + ', this.parentNode)" >SAVE</button>' +
                '   </div>';
        }

        function complete_preset(id) {
            return '<div id="general_frame">' +
                '       <label>Logos</label>' +
                '       <div style="width: 100%; overflow: hidden; margin-bottom: 10px" id="logos_holder">' +
                '           ' +
                '       </div>' +
                '       <div id="color_holder">' +
                '           <label for="colors_list">Color</label>' +
                '           <select style="width: 100%" id="colors_list" onchange="change_base(this)">' +
                '           ' +
                '           </select>' +
                '       </div>' +
                '       <div style="width: 500px; height: 500px; margin: 0 auto" id="preview_holder">' +
                '           ' +
                '       </div>' +
                '       <button onclick="zoom_in()">+</button>' +
                '       <button onclick="zoom_out()">-</button>' +
                '       <input id="grow_rate" value="' + ZOOM_COUNT + '">' +
                '       <button class="btn btn-success" style="float: right;" onclick="save_preset(\'' + id + '\')">SAVE</button>' +
                '   </div>';
        }

        function remove_size_row(btn, id) {
            $.ajax({
                url: '/product/remove/size',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_logo_row(btn, id) {
            $.ajax({
                url: '/product/remove/logo',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_category_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/category',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_style_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/style',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_material_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/material',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_brand_row(btn, id, pr_id) {
            $.ajax({
                url: '/product/remove/brand',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                    pr_id: pr_id
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function remove_preset_row(btn, id) {
            $.ajax({
                url: '/product/remove/preset',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id,
                },
                success: function (data) {
                    var parent = btn.parentNode.parentNode;
                    var sub_parent = btn.parentNode;
                    parent.removeChild(sub_parent);
                }
            })
        }

        function save_size_row(id, parent) {
            $.ajax({
                url: '/product/add/size',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    size: {
                        title: $(parent).find('#title').val(),
                        price: $(parent).find('#price').val()
                    }
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function save_logo_row(id, parent) {
            var formData = new FormData();
            formData.append('picture', $(parent).find('#file')[0].files[0]);
            formData.append('price', $(parent).find('#price').val());
            formData.append('pr_id', id);

            $.ajax({
                url: '/product/add/logo',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function save_category_row(id, parent) {
            $.ajax({
                url: '/product/add/category',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val()
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function save_style_row(id, parent) {
            $.ajax({
                url: '/product/add/style',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val()
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function save_material_row(id, parent) {
            $.ajax({
                url: '/product/add/material',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val()
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function save_brand_row(id, parent) {
            $.ajax({
                url: '/product/add/brand',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    title: $(parent).find('#title').val()
                },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        var LOGOS = null;
        var ACTUAL_LOGO = null;
        var ACTUAL_COLOR = null;
        var LOGO_IMAGE = null;
        var LOGO_IMAGE_H = null;
        var ACTUAL_ZOOM = 1;
        var ZOOM_COUNT = 0.05;

        var COLORS_PICTURES = null;
        var BASE_IMAGE = null;


        function zoom_in() {

            ZOOM_COUNT = parseFloat(document.getElementById('grow_rate').value);
            ACTUAL_ZOOM = ACTUAL_ZOOM + ZOOM_COUNT;

            LOGO_IMAGE.scale({
                x: ACTUAL_ZOOM,
                y: ACTUAL_ZOOM
            });

            LAYER.draw();
        }

        function zoom_out() {

            ZOOM_COUNT = parseFloat(document.getElementById('grow_rate').value);
            ACTUAL_ZOOM = ACTUAL_ZOOM - ZOOM_COUNT;

            LOGO_IMAGE.scale({
                x: ACTUAL_ZOOM,
                y: ACTUAL_ZOOM
            });

            LAYER.draw();
        }

        function save_preset(id) {
            $.ajax({
                url: '/product/add/preset',
                type: 'POST',
                dataType: 'json',
                data: {
                    pr_id: id,
                    x: LOGO_IMAGE.getX(),
                    y: LOGO_IMAGE.getY(),
                    multiplexer: ACTUAL_ZOOM,
                    logo_id: ACTUAL_LOGO,
                    color_id: ACTUAL_COLOR
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data)
                }
            })
        }

        function change_base(select) {
            console.log(select.value);

            var preferred_color;
            for (var i = 0; i < COLORS_PICTURES.length; i++) {
                var color = COLORS_PICTURES[i].color;
                console.log(color.id);
                if (color.id === parseInt(select.value)) {
                    preferred_color = COLORS_PICTURES[i];
                    break;
                }
            }

            var default_picture;
            for (var j = 0; j < preferred_color.pictures.length; j++) {
                var picture = preferred_color.pictures[j];
                if (picture.data.main) {
                    default_picture = picture;
                    break;
                }
            }

            BASE_IMAGE.src = default_picture.url[1];
            ACTUAL_COLOR = preferred_color.color.id;
        }

        function set_logo(id) {
            var desire_logo = null;
            for (var g = 0; g < LOGOS.length; g++) {
                if (LOGOS[g].id === parseInt(id)) {
                    desire_logo = LOGOS[g];
                    break;
                }
            }

            LOGO_IMAGE_H.src = desire_logo.picture;
            ACTUAL_LOGO = id
        }


        function edit_modal(type, id) {
            modal = document.getElementById(type);
            modal.style.display = "block";
            dim_back.style.display = "block";
            actual_row_id = id;
            console.log(type);

            switch (type) {
                case 'size_modal':
                    modal.innerHTML = complete_size(id);
                    break;
                case 'logo_modal':
                    modal.innerHTML = complete_logo(id);
                    break;
                case 'color_modal':
                    modal.innerHTML = complete_color(id);
                    break;
                case 'category_modal':
                    modal.innerHTML = complete_category(id);
                    break;
                case 'style_modal':
                    modal.innerHTML = complete_style(id);
                    break;
                case 'material_modal':
                    modal.innerHTML = complete_material(id);
                    break;
                case 'brand_modal':
                    modal.innerHTML = complete_brand(id);
                    break;
                case 'preset_modal':
                    modal.innerHTML = complete_preset(id);

                    $.ajax({
                        url: '/admin/products/logos',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            product_id: id
                        },
                        success: function (data) {
                            console.log(data);
                            LOGOS = data;
                            var html = '';
                            for (var l = 0; l < data.length; l++) {
                                html = html + '<img src="' + data[l].picture + '" style="width: 50px; float: left" onclick="set_logo(\'' + data[l].id + '\')" >'
                            }

                            document.getElementById('logos_holder').innerHTML = html;

                        }, error: function (data) {
                            console.log(data);
                        }
                    });

                    $.ajax({
                        url: '/admin/products/color_images',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            product_id: id
                        },
                        success: function (data) {

                            COLORS_PICTURES = data;

                            var select = document.getElementById('colors_list');

                            var html_color_list = '';
                            for (var k = 0; k < data.length; k++) {
                                var opt = document.createElement('option');
                                opt.value = data[k].color.id;
                                opt.innerHTML = data[k].color.title;
                                select.appendChild(opt);
                            }

                            var preferred_color;
                            for (var i = 0; i < data.length; i++) {
                                var color = data[i].color;
                                if (color.preferred) {
                                    preferred_color = data[i];
                                    select.value = ACTUAL_COLOR = preferred_color.color.id;
                                    break;
                                }
                            }

                            var default_picture;
                            for (var j = 0; j < preferred_color.pictures.length; j++) {
                                var picture = preferred_color.pictures[j];
                                if (picture.data.main) {
                                    default_picture = picture;
                                    break;
                                }
                            }

                            STAGE = new Konva.Stage({
                                container: 'preview_holder',
                                width: width,
                                height: height
                            });

                            LAYER = new Konva.Layer();
                            STAGE.add(LAYER);

                            var baseImg = new Konva.Image({
                                width: width,
                                height: height
                            });

                            LOGO_IMAGE = new Konva.Image({
                                width: 100,
                                height: 100,
                                draggable: true
                            });

                            LAYER.add(baseImg);
                            LAYER.add(LOGO_IMAGE);

                            BASE_IMAGE = new Image();
                            BASE_IMAGE.onload = function () {
                                baseImg.image(BASE_IMAGE);
                                LAYER.draw();
                            };
                            BASE_IMAGE.src = default_picture.url[1];

                            LOGO_IMAGE_H = new Image();
                            LOGO_IMAGE_H.onload = function () {
                                LOGO_IMAGE.image(LOGO_IMAGE_H);
                                LOGO_IMAGE.setWidth(this.width);
                                LOGO_IMAGE.setHeight(this.height);
                                LAYER.draw();
                            };
                            LOGO_IMAGE_H.src = '';
                            LAYER.draw();

                            console.log(data);
                        }, error: function (data) {
                            console.log(data);
                        }
                    });

                    break;
            }

            window.onclick = function (event) {
                if (event.target === dim_back) {
                    modal.style.display = "none";
                    dim_back.style.display = "none";
                }
            };
        }

    </script>

    <script>
        var width = 500;
        var height = 500;

        function update(activeAnchor) {
            var group = activeAnchor.getParent();
            var topLeft = group.get('.topLeft')[0];
            var topRight = group.get('.topRight')[0];
            var bottomRight = group.get('.bottomRight')[0];
            var bottomLeft = group.get('.bottomLeft')[0];
            var image = group.get('Image')[0];
            var anchorX = activeAnchor.getX();
            var anchorY = activeAnchor.getY();
            // update anchor positions
            switch (activeAnchor.getName()) {
                case 'topLeft':
                    topRight.setY(anchorY);
                    bottomLeft.setX(anchorX);
                    break;
                case 'topRight':
                    topLeft.setY(anchorY);
                    bottomRight.setX(anchorX);
                    break;
                case 'bottomRight':
                    bottomLeft.setY(anchorY);
                    topRight.setX(anchorX);
                    break;
                case 'bottomLeft':
                    bottomRight.setY(anchorY);
                    topLeft.setX(anchorX);
                    break;
            }
            image.position(topLeft.position());
            var width = topRight.getX() - topLeft.getX();
            var height = bottomLeft.getY() - topLeft.getY();
            if (width && height) {
                image.width(width);
                image.height(height);
            }
        }

        function addAnchor(group, x, y, name) {
            var stage = group.getStage();
            var layer = group.getLayer();
            var anchor = new Konva.Circle({
                x: x,
                y: y,
                stroke: '#666',
                fill: '#ddd',
                strokeWidth: 2,
                radius: 8,
                name: name,
                draggable: true,
                dragOnTop: false
            });
            anchor.on('dragmove', function () {
                update(this);
                layer.draw();
            });
            anchor.on('mousedown touchstart', function () {
                group.setDraggable(false);
                this.moveToTop();
            });
            anchor.on('dragend', function () {
                group.setDraggable(true);
                layer.draw();
            });
            // add hover styling
            anchor.on('mouseover', function () {
                var layer = this.getLayer();
                document.body.style.cursor = 'pointer';
                this.setStrokeWidth(4);
                layer.draw();
            });
            anchor.on('mouseout', function () {
                var layer = this.getLayer();
                document.body.style.cursor = 'default';
                this.setStrokeWidth(2);
                layer.draw();
            });
            group.add(anchor);
            return anchor;
        }
    </script>

  </div>

  <div class="card modal-g">
    Presets
    <% product_i.presets.each do |preset| %>
        <div id="preset-row" style="overflow: auto">
          <button onclick="remove_preset_row(this, '<%= preset.id %>')" style="width: 10%; float: left" class="btn btn-danger">-</button>
          <h3 style="float:left; margin: 0 0 0 20px">Logo:</h3>
          <img style="width: 50px; float: left;" src="<%= preset.logo.picture %>">
          <h3 style="float:left; margin: 0 0 0 20px">Image:</h3>
          <img style="width: 50px; float: left;" src="<%= preset.color_image.picture %>">
          <h3 style="float:left; margin: 0 0 0 20px">Multiplexer:</h3>
          <h5 style="float: left"><%= preset.multiplexer %></h5>
          <h3 style="float:left; margin: 0 0 0 20px">X:</h3>
          <h5 style="float: left"><%= preset.x %></h5>
          <h3 style="float:left; margin: 0 0 0 20px">Y:</h3>
          <h5 style="float: left"><%= preset.y %></h5>
        </div>
        <hr>
    <% end %>
    <button style="width:100%;" onclick="edit_modal('preset_modal', <%= product_i.id %>)" class="btn btn-success">ADD
      PRESET
    </button>
  </div>

  <div class="card modal-g">
    Emblems
  </div>

  <div id="dim_back" class="dim_back">

    <div style="overflow:hidden;" id="size_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="logo_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="color_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="category_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="style_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="material_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="brand_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="preset_modal" class="content_pop">
    </div>

  </div>

</div>
</body>