<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-home"></span></a>
        </li>
        <li class="active">
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-picture-o"></span></a>
        </li>
        <li>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-truck"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">
<div class="main">

  <!--Display tags as bootstrap pills -->
  <%= javascript_include_tag 'bootstrap-tagsinput' %>
  <%= stylesheet_link_tag 'bootstrap-tagsinput' %>

  <div class="head-bread-crumbs card">
    <h4><a class="breadcrumb" href="/admin/products">Products</a> / New</h4>
  </div>

  <div class="card modal-g">

    <!--Title edit field-->
    <div class="form-group">
      <label for="title_edit">Title</label>

    </div>

    <!--SKU edit field-->
    <div class="form-group">
      <label for="sku_edit">SKU</label>
      <input class="form-control" type="text" value="" id="sku_edit" name="sku">
    </div>

    <!--Status edit field-->
    <div class="form-group">
      <label style="float: left; width: 10%">Status</label>
      <label class="radio-inline">
        <input type="radio" name="statusI" id="status_r1" value="0"> Draft
      </label>
      <label class="radio-inline">
        <input type="radio" name="statusI" id="status_r2" value="1"> Live
      </label>
    </div>

    <!--Category edit field-->
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" name="category_edit">
        <% AdminHelper.get_categories.each do |category| %>
            <option value="<%= category['id'] %>"><%= category['title'] %></option>
        <% end %>
      </select>
    </div>

    <!--Brand edit field-->
    <div class="form-group">
      <label for="brand">Brand</label>
      <select class="form-control" id="category" name="brand_edit">
        <% AdminHelper.get_brands.each do |brand| %>
            <option value="<%= brand['id'] %>"><%= brand['title'] %></option>
        <% end %>
      </select>
    </div>

    <!--Price edit field-->
    <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">$</span>
        <input class="form-control" type="number" step="any" value="" id="price_edit" name="price">
      </div>
    </div>

    <!--Tax edit field-->
    <div class="form-group">
      <label for="tax">Tax band</label>
      <select class="form-control" id="tax" name="tax_edit">
        <% AdminHelper.get_taxes.each do |tax| %>
            <option value="<%= tax['id'] %>"><%= tax['title'] %></option>
        <% end %>
      </select>
    </div>

    <!--Sale price edit field-->
    <div class="form-group">
      <label for="sale_price">Sale price</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">$</span>
        <input class="form-control" name="sale_price" type="number" step="any" value="" id="sale_price_edit">
      </div>
    </div>

    <!--Stock level edit field-->
    <div class="form-group">
      <label for="stock_level">Stock level</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">#</span>
        <input class="form-control" type="number" name="stock_level" value="" id="stock_level_edit">
      </div>
    </div>

    <!--Stock status edit field-->
    <div class="form-group row">
      <label for="stock_status" class="col-sm-3 col-label">Stock status</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="stock_status_edit" id="inlineRadio1" value="0"> Unlimited
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="stock_status_edit" id="inlineRadio2" value="1"> In Stock
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="stock_status_edit" id="inlineRadio3" value="2"> Low Stock
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="stock_status_edit" id="inlineRadio4" value="3"> Out Of
            Stock
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="stock_status_edit" id="inlineRadio4" value="4"> More
            Stock Ordered
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="stock_status_edit" id="inlineRadio4" value="5">
            Discontinued
          </label>
        </div>
      </div>
    </div>

    <!--Requires Shipping-->
    <div class="form-group row">
      <label for="requires_shipping" class="col-sm-3 col-label">Requires Shipping</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="requires_shipping" id="requires_shipping1" value="1"> Yes
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="requires_shipping" id="requires_shipping0" value="0"> No
          </label>
        </div>
      </div>
    </div>


    <!--Catalog Only-->
    <div class="form-group row">
      <label for="catalog_only" class="col-sm-3 col-label">Catalog Only</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="catalog_only" id="catalog_only0" value="1"> Yes
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="catalog_only" id="catalog_only0" value="0"> No
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="card modal-h">
    <button id="btn_w" onclick="save()" class="btn btn-success menu-buttons" type="button">Save</button>
  </div>

  <div class="card modal-g">

    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="3" class="form-control" name="description" id="description_edit"></textarea>
    </div>

  </div>

  <div class="card modal-g">

    <div class="form-group row">
      <label for="tags_edit" class="col-sm-3 col-label">Slug</label>
      <input class="form-control" style="width: 100%" id="tags_edit" name="tags" type="text" value="">
    </div>

  </div>


  <div class="card modal-c">
    <button onclick="add_row()">Add row</button>
    <table>
      <thead>
      <tr class="heading_table">
        <th>Name</th>
        <th>SKU</th>
        <th>Status</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Tax band</th>
        <th>Stock lever</th>
        <th>Stock status</th>
        <th>Needs Shipping</th>
        <th>Catalog Only</th>
        <th>Description</th>
        <th>Slug</th>
      </tr>
      </thead>
      <tbody id="tt_body">
      <tr id="mm_row">
        <td>
          <input class="form-control" type="text" value="" id="title_edit" name="title">
        </td>
        <td>
          <input class="form-control" type="text" value="" id="sku_edit" name="sku">
        </td>
        <td>
          <select>
            <option value="0">Draft</option>
            <option value="1">Live</option>
          </select>
        </td>
        <td>
          <select id="category" name="category_edit">
            <% AdminHelper.get_categories.each do |category| %>
                <option value="<%= category['id'] %>"><%= category['title'] %></option>
            <% end %>
          </select>
        </td>
        <td>
          <select id="category" name="brand_edit">
            <% AdminHelper.get_brands.each do |brand| %>
                <option value="<%= brand['id'] %>"><%= brand['title'] %></option>
            <% end %>
          </select>
        </td>
        <td>
          <input class="form-control" type="number" step="any" value="" id="price_edit" name="price">
        </td>
        <td>
          <select id="tax" name="tax_edit">
            <% AdminHelper.get_taxes.each do |tax| %>
                <option value="<%= tax['id'] %>"><%= tax['title'] %></option>
            <% end %>
          </select>
        </td>
        <td>
          <input class="form-control" type="number" name="stock_level" value="" id="stock_level_edit">
        </td>
        <td>
          <select>
            <option value="0">Unlimited</option>
            <option value="1">Unlimited</option>
            <option value="2">Unlimited</option>
            <option value="3">Unlimited</option>
            <option value="4">Unlimited</option>
            <option value="5">Unlimited</option>
            <option value="6">Unlimited</option>
            <option value="7">Unlimited</option>
            <option value="8">Unlimited</option>
            <option value="9">Unlimited</option>
          </select>
        </td>
        <td>
          <select>
            <option value="0">YES</option>
            <option value="1">NO</option>
          </select>
        </td>
        <td>
          <select>
            <option value="0">YES</option>
            <option value="1">NO</option>
          </select>
        </td>
        <td>
          <textarea rows="1" class="form-control" name="description" id="description_edit"></textarea>
        </td>
        <td>
          <input class="form-control" style="width: 100%" id="tags_edit" name="tags" type="text" value="">
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
</body>

<script>

    var mm_row = document.getElementById('mm_row').outerHTML;
    function add_row() {
        document.getElementById('tt_body').innerHTML += mm_row;
    }

    function save() {

        $.ajax({
            url: "/product/new/product",
            type: "POST",
            data: {
                title: $("#title_edit").val(),
                sku: $("#sku_edit").val(),
                status: $('input:radio[name="statusI"]:checked').val(),
                category: $('select[name="category_edit"]').val(),
                brand: $('select[name="brand_edit"]').val(),
                price: $("#price_edit").val(),
                tax_band: $('select[name="tax_edit"]').val(),
                sale_price: $("#sale_price_edit").val(),
                stock_level: $("#stock_level_edit").val(),
                stock_status: $('input:radio[name="stock_status_edit"]:checked').val(),
                description: $("#description_edit").val(),
                slug: $('#tags_edit').val(),
                requires_shipping: $('input:radio[name="requires_shipping"]:checked').val(),
                catalog_only: $('input:radio[name="catalog_only"]:checked').val()
            },
            dataType: "html",
            success: function (data) {
                window.location.href = '/admin/products';
            }
        });
    }

</script>