<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-home"></span></a>
        </li>
        <li class="active">
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-product-hunt"></span></a>
        </li>
        <li>
          <a href="/admin/logos">Logos<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-picture-o"></span></a>
        </li>
        <li>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs show opacity fa fa-truck"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body style="background-color: #dedede">
<div class="main">

  <!--Display tags as bootstrap pills -->
  <%= javascript_include_tag 'bootstrap-tagsinput' %>
  <%= stylesheet_link_tag 'bootstrap-tagsinput' %>

  <div class="head-bread-crumbs card">
    <h4><a class="breadcrumb" href="/admin/products">Products</a> / New</h4>
  </div>

  <div class="card modal-c">
    <button onclick="add_row()">Add row</button>
    <button onclick="save()">Save</button>
    <table>
      <thead>
      <tr class="heading_table">
        <th></th>
        <th>Name</th>
        <th>SKU</th>
        <th>Status</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Tax band</th>
        <th>Stock lever</th>
        <th>Stock status</th>
        <th>Needs Shipping</th>
        <th>Catalog Only</th>
        <th>Description</th>
        <th>Slug</th>
        <th>Images</th>
      </tr>
      </thead>
      <tbody id="tt_body">
      <tr id="mm_row" class="product_row_new">
        <td>
          <button>Remove</button>
        </td>
        <td>
          <input class="form-control" type="text" value="" id="title_edit" name="title">
        </td>
        <td>
          <input class="form-control" type="text" value="" id="sku_edit" name="sku">
        </td>
        <td>
          <select id="status_edit" name="status_edit">
            <option value="0">Draft</option>
            <option value="1">Live</option>
          </select>
        </td>
        <td>
          <select id="category_edit" name="category_edit">
            <% AdminHelper.get_categories.each do |category| %>
                <option value="<%= category['id'] %>"><%= category['title'] %></option>
            <% end %>
          </select>
        </td>
        <td>
          <select id="brand_edit" name="brand_edit">
            <% AdminHelper.get_brands.each do |brand| %>
                <option value="<%= brand['id'] %>"><%= brand['title'] %></option>
            <% end %>
          </select>
        </td>
        <td>
          <input class="form-control" type="number" step="any" value="" id="price_edit" name="price">
        </td>
        <td>
          <select id="tax_edit" name="tax_edit">
            <% AdminHelper.get_taxes.each do |tax| %>
                <option value="<%= tax['id'] %>"><%= tax['title'] %></option>
            <% end %>
          </select>
        </td>
        <td>
          <input class="form-control" type="number" name="stock_level" value="" id="stock_level_edit">
        </td>
        <td>
          <select id="stock_status_edit" name="stock_status_edit">
            <option value="0">Unlimited</option>
            <option value="1">Unlimited</option>
            <option value="2">Unlimited</option>
            <option value="3">Unlimited</option>
            <option value="4">Unlimited</option>
            <option value="5">Unlimited</option>
            <option value="6">Unlimited</option>
            <option value="7">Unlimited</option>
            <option value="8">Unlimited</option>
            <option value="9">Unlimited</option>
          </select>
        </td>
        <td>
          <select id="requires_shipping_edit" name="requires_shipping_edit">
            <option value="0">YES</option>
            <option value="1">NO</option>
          </select>
        </td>
        <td>
          <select id="catalog_only_edit" name="catalog_only_edit">
            <option value="0">YES</option>
            <option value="1">NO</option>
          </select>
        </td>
        <td>
          <textarea rows="1" class="form-control" name="description" id="description_edit"></textarea>
        </td>
        <td>
          <input class="form-control" style="width: 100%" id="tags_edit" name="tags" type="text" value="">
        </td>
        <td>
          <input type="file" name="img" id="img_edit" multiple>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
<link href="https://wzrd.in/standalone/blob-util@latest" rel="script">
<script>

    var mm_row = document.getElementById('mm_row').outerHTML;
    function add_row() {
        document.getElementById('tt_body').innerHTML += mm_row;
    }

    function save() {

        $("tr.product_row_new").each(function () {
            row = $(this);
            $.ajax({
                url: "/product/new/product",
                type: "POST",
                data: {
                    title: $(this).find('#title_edit').val(),
                    sku: $(this).find('#sku_edit').val(),
                    status: $(this).find('select[name="status_edit"]').val(),
                    category: $(this).find('select[name="category_edit"]').val(),
                    brand: $(this).find('select[name="brand_edit"]').val(),
                    price: $(this).find('#price_edit').val(),
                    tax_band: $(this).find('select[name="tax_edit"]').val(),
                    sale_price: $(this).find('#price_edit').val(),
                    stock_level: $(this).find('#stock_level_edit').val(),
                    stock_status: $(this).find('select[name="stock_status_edit"]').val(),
                    description: $(this).find('#description_edit').val(),
                    slug: $(this).find('#tags_edit').val(),
                    requires_shipping: $(this).find('select[name="requires_shipping_edit"]').val(),
                    catalog_only: $(this).find('select[name="catalog_only_edit"]').val()
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);

                    var files = row.find('#img_edit')[0].files;

                    for (var i = 0; i < files.length; i++) {
                        var reader = new FileReader();
                        reader.onloadend = function (e) {
                            var blob = new Blob([this.result], {type: "image/jpeg"});
                            console.log(blob);
                            sendRecToPost(blob, '/product/upload_image?imageO=true&id='.concat(data['id']));
                        };
                        reader.readAsArrayBuffer(files[i]);
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });
        });

        function sendRecToPost(blob, url) {

            var data = new FormData();
            data.append("file", blob);

            var oReq = new XMLHttpRequest();
            oReq.open("put", url);
            oReq.send(data);

            oReq.onload = function (oEvent) {
                if (oReq.status === 200) {
                    console.log("Uploaded");
                } else {
                    console.log("Error " + oReq.status + " occurred uploading your file.");
                }
            };
        }

      /*$.ajax({
       url: "/product/new/product",
       type: "POST",
       data: {
       title: $().val(),
       sku: $("#").val(),
                status: $('input:radio[name="statusI"]:checked').val(),
       category: $,
                brand: $('select[name="brand_edit"]').val(),
                price: $("#price_edit").val(),
                tax_band: $('select[name="tax_edit"]').val(),
                sale_price: $("#sale_price_edit").val(),
                stock_level: $("#stock_level_edit").val(),
                stock_status: $('input:radio[name="stock_status_edit"]:checked').val(),
                description: $("#description_edit").val(),
                slug: $('#tags_edit').val(),
                requires_shipping: $('input:radio[name="requires_shipping"]:checked').val(),
                catalog_only: $('input:radio[name="catalog_only"]:checked').val()
            },
            dataType: "html",
            success: function (data) {
                window.location.href = '/admin/products';
            }
       });*/
    }

</script>