<head>
  <!--Color picker-->
  <%= stylesheet_link_tag 'spectrum.css' %>
  <%= javascript_include_tag 'spectrum.js' %>

  <!--Display tags as bootstrap pills-->
  <%= javascript_include_tag 'bootstrap-tagsinput' %>
  <%= stylesheet_link_tag 'bootstrap-tagsinput' %>
</head>

<body style="background-color: #dedede">

<div class="main">
  <div class="head-bread-crumbs card">
    <h4><a class="breadcrumb" href="/admin/products">Products</a> / New</h4>
  </div>

  <div style="height: 100%; position: relative;">
    <div class="card modal-c">
      <button class="btn btn-success" onclick="save()">Save</button>
      <hr>
      <div style="padding: 20px;" data-id-row="1" id="mm_row" class="product_row_new">

        <button class="btn btn-danger" onclick="delete_row(this)">Remove</button>

        <div>
          <label for="title">Name</label>
          <input class="form-control" value="" id="title" name="title">

          <label for="price">Price</label>
          <input class="form-control" type="number" step="any" value="" id="price" name="price">

          <label for="status">Status</label>
          <select style="width: 100%" id="status" name="status">
            <option value="0">Draft</option>
            <option value="1">Live</option>
          </select>

          <label for="customizable">Customizable / Allow moving logos</label>
          <select style="width: 100%" id="customizable" name="customizable">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>

          <label for="emblemable">Allow emblems</label>
          <select style="width: 100%" id="emblemable" name="emblemable">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>

          <label for="stock">Stock</label>
          <input class="form-control" type="number" name="stock" value="" id="stock">

          <label for="sku">SKU</label>
          <input class="form-control" value="" id="sku" name="sku">

          <label for="description">Description</label>
          <textarea rows="1" class="form-control" name="description" id="description"></textarea>

          <label>Media and clasifiers</label>
          <div>
            <button onclick="edit_modal('size_modal', this.parentNode.parentNode.parentNode.dataset.idRow)">Edit sizes
            </button>


            <button onclick="edit_modal('logo_modal', this.parentNode.parentNode.parentNode.dataset.idRow)">Edit logos
            </button>


            <button onclick="edit_modal('color_modal', this.parentNode.parentNode.parentNode.dataset.idRow)">Edit
              photos
            </button>


            <button onclick="edit_modal('category_modal', this.parentNode.parentNode.parentNode.dataset.idRow)">Edit
              categories
            </button>


            <button onclick="edit_modal('style_modal', this.parentNode.parentNode.parentNode.dataset.idRow)">Edit
              styles
            </button>


            <button onclick="edit_modal('material_modal', this.parentNode.parentNode.parentNode.dataset.idRow)">Edit
              materials
            </button>


            <button onclick="edit_modal('brand_modal', this.parentNode.parentNode.parentNode.dataset.idRow)">Edit
              brands
            </button>
          </div>

          <label for="tax">Tax</label>
          <select style="width: 100%" id="tax" name="tax">
            <% TaxBand.all.each do |tax| %>
                <option value="<%= tax.id %>"><%= tax.titulo %></option>
            <% end %>
          </select>
          <hr>
        </div>

      </div>
      <div id="replace_with">
        <button onclick="add_row()">Add row</button>
      </div>
    </div>
  </div>

  <div id="dim_back" class="dim_back">

    <div style="overflow:hidden;" id="size_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="logo_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="color_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="category_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="style_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="material_modal" class="content_pop">
    </div>

    <div style="overflow:hidden;" id="brand_modal" class="content_pop">
    </div>

  </div>

</div>
</body>

<script>
    //<link href="https://wzrd.in/standalone/blob-util@latest" rel="script">
    var sizes_g = {};
    var logos_g = {};
    var colors_g = {};
    var categories_g = {};
    var styles_g = {};
    var materials_g = {};
    var brands_g = {};

    var row_count = 1;
    var actual_row_id = null;

    var modal = null;
    var dim_back = document.getElementById('dim_back');

    function close_modal() {
        if (modal) {
            modal.style.display = "none";
            dim_back.style.display = "none";
        }
    }

    function complete_size(id) {

        var html = '<button onclick="save_sizes(' + id + ')">SAVE</button>';
        var sizes = sizes_g[id];
        if (sizes) {
            sizes.forEach(function (size) {
                html = html + '<div class="size_row" style="overflow: hidden">' +
                    '<button onclick="remove_size_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<input style="float: left; width: 50%; margin: 0;" value="' + size.title + '" name="title" id="title">' +
                    '<input style="float: left; width: 40%; margin: 0;" type="number" value="' + size.price + '" placeholder="Price" name="price" step="any" id="price">' +
                    '</div>';
            });
        } else {
            html = html + '<div class="size_row" style="overflow: hidden">' +
                '<button onclick="remove_size_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 50%; margin: 0;" value="" name="title" id="title">' +
                '<input style="float: left; width: 40%; margin: 0;" type="number" step="any" value="" placeholder="Price" name="price" id="price">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_size_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_size_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="size_row" style="overflow: hidden">' +
            '<button onclick="remove_size_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 50%; margin: 0;" value="" name="title" id="title">' +
            '<input style="float: left; width: 40%; margin: 0;" step="any" type="number" value="" placeholder="Price" name="price" id="price">' +
            '</div>' + '<button id="bonnie" onclick="new_size_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_size_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_sizes(id) {
        var rows = $(modal).find('.size_row');
        sizes_g[id] = [];

        for (var i = 0; i < rows.length; i++) {
            sizes_g[id].push({
                title: $(rows[i]).find('input[id="title"]').val(),
                price: $(rows[i]).find('input[id="price"]').val()
            })
        }
        close_modal();
    }

    function complete_logo(id) {

        var html = '<button onclick="save_logos(' + id + ')">SAVE</button>';
        var logos = logos_g[id];
        if (logos) {
            logos = logos.logos;
            logos.forEach(function (logo) {
                var rr_data = '<div class="logo_row" data-id-use="' + logo.id + '" data-ocupaid-use="true" style="overflow: hidden">' +
                    '<button onclick="remove_logo_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<p style="text-align: center; float: left; width: 25%; margin: 0;">' + logo.file.name + '</p>' +
                    '<input style="float: left; width: 25%; margin: 0;" step="any" type="number" value="' + logo.price + '" placeholder="Price" name="price" id="price">' +
                    '</div>';
                console.log(logo.file);
                html = html + rr_data
            });
        } else {
            html = html + '<div data-ocupaid-use="false" class="logo_row" style="overflow: hidden">' +
                '<button onclick="remove_logo_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 50%; margin: 0;" type="file" value="" name="file" id="file">' +
                '<input style="float: left; width: 40%; margin: 0;" step="any" type="number" value="" placeholder="Price" name="price" id="price">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_logo_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_logo_row(id) {
        $(modal).find('#bonnie').replaceWith('<div  data-ocupaid-use="false" class="logo_row" style="overflow: hidden">' +
            '<button onclick="remove_logo_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 50%; margin: 0;" type="file" value="" name="file" id="file">' +
            '<input style="float: left; width: 40%; margin: 0;" step="any" type="number" value="" placeholder="Price" name="price" id="price">' +
            '</div>' + '<button id="bonnie" onclick="new_logo_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_logo_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_logos(id) {
        var rows = $(modal).find('.logo_row');
        var holder = null;
        var logos_tt = logos_g[id];

        logos_g[id] = {cur_id: 0, logos: []};

        if (logos_tt) {
            holder = logos_tt.logos;
            logos_g[id] = {cur_id: logos_tt.cur_id, logos: []};
        }

        for (var i = 0; i < rows.length; i++) {
            if (rows[i].dataset.ocupaidUse === 'false') {
                logos_g[id].logos.push({
                    id: logos_g[id].cur_id,
                    file: $(rows[i]).find('input[id="file"]')[0].files[0],
                    price: $(rows[i]).find('input[id="price"]').val()
                });
                logos_g[id].cur_id = logos_g[id].cur_id + 1;
            } else {
                var item = get_correct(holder, parseInt(rows[i].dataset.idUse));
                logos_g[id].logos.push({
                    id: item.id,
                    file: item.file,
                    price: $(rows[i]).find('input[id="price"]').val()
                });
            }
        }

        close_modal();
    }

    var counter = 0;

    function only_photos(id, remove) {

        if (remove && colors_g[id]) {
            colors_g[id].colors = null;
            colors_g[id].cur_id = 0;
        }

        var colors = colors_g[id];
        var dd = null;

        if (colors) {
            dd = colors.colors;
        }

        if (colors && dd) {
            colors = dd;
            colors.forEach(function (color) {
                modal.innerHTML = '<button onclick="save_colors(' + id + ')">SAVE</button><input id="only_photo" style="float: right" type="checkbox" checked onchange="photos_color(\'' + id + '\')"> <h6 style="float: right">No color, Only photos available</h6>' +
                    '<div class="color_row" data-id-use="' + color.id + '" data-ocupaid-use="true" data-changed="false"  style="overflow: hidden; width: 100%; float: left;">\<n></n>' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="No color" disabled placeholder="Color title" name="title" id="title">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" step="any" value="0.00" disabled type="number" placeholder="Price" name="price" id="price">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="#dedede" disabled type="text" name="code_hex" id="code_hex" class="basic-picker">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="0" disabled type="number" step="any" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
                    '      <input checked disabled id="main" type="checkbox" value="true" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
                    '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
                    '      <h6 style="width: 10%; float: left" title="' + get_files_names(color.files) + '">' + color.files.length + ' Pictures selected</h6>' +
                    '      <input onchange="update_list(this, ' + counter + ')" multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
                    '      <select name="main_image" style="width: 12%; float:left; margin: 0;" id="main_image_' + counter + '">' +
                    '      </select>' +
                    '</div>';
            });
        } else {

            modal.innerHTML = '<button onclick="save_colors(' + id + ')">SAVE</button><input id="only_photo" style="float: right" type="checkbox" checked onchange="photos_color(\'' + id + '\')"> <h6 style="float: right">No color, Only photos available</h6>' +
                '<div class="color_row" data-ocupaid-use="false" data-changed="false" style="overflow: hidden; width: 100%; float: left;">\<n></n>' +
                '      <input style="float: left; width: 12%; margin: 0;" value="No color" disabled placeholder="Color title" name="title" id="title">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" step="any" value="0.00" disabled type="number" placeholder="Price" name="price" id="price">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="#dedede" disabled type="text" name="code_hex" id="code_hex" class="basic-picker">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="0" disabled type="number" step="any" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
                '      <input checked disabled id="main" type="checkbox" value="true" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
                '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
                '      <datalist id="pictures' + counter + '"></datalist>' +
                '      <input onchange="update_list(this, ' + counter + ')" multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
                '      <select name="main_image" style="width: 12%; float:left; margin: 0;" id="main_image_' + counter + '">' +
                '      </select>' +
                '</div>';

        }

        $(".basic-picker").spectrum({
            preferredFormat: "hex"
        });
        counter = counter + 1;
    }

    function get_files_names(files) {
        var text = '';

        for (var i = 0; i < files.length; i++) {
            text += files[i].name + '\n'
        }

        return text;
    }

    function photos_color(id) {
        modal.innerHTML = complete_color(id, true);

        $(".basic-picker").spectrum({
            preferredFormat: "hex"
        });
    }

    function complete_color(id, remove) {

        console.log(remove);
        console.log(colors_g[id]);

        if (remove && colors_g[id]) {
            colors_g[id].colors = null;
            colors_g[id].cur_id = 0;
        }

        var html = '<button onclick="save_colors(' + id + ')">SAVE</button><input id="only_photo" style="float: right" type="checkbox" onchange="only_photos(\'' + id + '\', true)"> <h6 style="float: right">No color, Only photos available</h6>';
        var colors = colors_g[id];
        var dd = null;

        if (colors) {
            dd = colors.colors;
        }

        if (colors && (dd !== null)) {
            colors = dd;
            colors.forEach(function (color) {
                function checked() {
                    if (color.preferred) {
                        return 'checked';
                    } else {
                        return '';
                    }
                }

                var rr_data = '<div class="color_row" data-id-use="' + color.id + '" data-ocupaid-use="true" data-changed="false" style="overflow: hidden; width: 100%; float: left;">\n' +
                    '      <button onclick="remove_color_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="' + color.title + '" placeholder="Color title" name="title" id="title">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="' + color.price + '" type="number" placeholder="Price" step="any" name="price" id="price">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="' + color.color + '" type="text" name="code_hex" id="code_hex" class="basic-picker">\n' +
                    '      <input style="float: left; width: 12%; margin: 0;" value="' + color.stock + '" step="any" type="number" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
                    '      <input ' + checked() + ' type="checkbox" id="main" name="main" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
                    '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
                    '      <input onchange="update_list(this, ' + color.id + ')"  multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
                    '      <select name="main_image" style="width: 12%; float:left; margin: 0;" id="main_image_' + color.id + '">' +
                    '      </select>' +
                    '</div>';
                html = html + rr_data
            });
        } else {
            html = html + '<div class="color_row" data-ocupaid-use="false" data-changed="false" style="overflow: hidden; width: 100%; float: left;">\<n></n>' +
                '      <button onclick="remove_color_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" placeholder="Color title" name="title" id="title">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" step="any" value="" type="number" placeholder="Price" name="price" id="price">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" type="text" name="code_hex" id="code_hex" class="basic-picker">\n' +
                '      <input style="float: left; width: 12%; margin: 0;" value="" type="number" step="any" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
                '      <input id="main" type="checkbox" value="true" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
                '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
                '      <datalist id="pictures' + counter + '"></datalist>' +
                '      <input onchange="update_list(this, ' + counter + ')" multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
                '      <select name="main_image" style="width: 12%; float:left; margin: 0;" id="main_image_' + counter + '">' +
                '      </select>' +
                '</div>';

            counter = counter + 1;
        }
        html = html + '<button id="bonnie" onclick="new_color_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_color_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="color_row" data-ocupaid-use="false" data-changed="false" style="overflow: hidden; width: 100%; float: left;">\<n></n>' +
            '      <button onclick="remove_color_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '      <input style="float: left; width: 12%; margin: 0;" value="" placeholder="Color title" name="title" id="title">\n' +
            '      <input style="float: left; width: 12%; margin: 0;" value="" step="any" type="number" placeholder="Price" name="price" id="price">\n' +
            '      <input style="float: left; width: 12%; margin: 0;" value="" type="text" name="code_hex" id="code_hex" class="basic-picker">\n' +
            '      <input style="float: left; width: 12%; margin: 0;" step="any" value="" type="number" placeholder="Stock level" name="stock_level" id="stock_level">\n' +
            '      <input id="main" type="checkbox" value="true" style="float: left; width: 2%; margin: 0;" placeholder="main">\n' +
            '      <h5 style="width: 10%; float: left;">Main color?</h5>\n' +
            '      <datalist id="pictures' + counter + '"></datalist>' +
            '      <input onchange="update_list(this, ' + counter + ')" multiple style="float: left; width: 17%; margin: 0;" type="file" value="" name="file" id="file">\n' +
            '      <select name="main_image" style="width: 12%; float:left; margin: 0;" id="main_image_' + counter + '">' +
            '      </select>' +
            '</div>' + '<button id="bonnie" onclick="new_color_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');

        $(".basic-picker").spectrum({
            preferredFormat: "hex"
        });

        counter = counter + 1;
    }

    function update_list(element, id) {
        var parent = element.parentNode;
        var files = $(parent).find('input[id="file"]')[0].files;
        var data_list = $(parent).find('#main_image_' + id)[0];
        console.log(data_list);
        parent.dataset.changed = 'true';

        var html = '';

        for (var id_s = 0; id_s < files.length; id_s++) {
            html = html + '<option value="' + files[id_s].name + '">' + files[id_s].name + '</option>';
            console.log(html);
        }
        data_list.innerHTML = html;
    }

    function remove_color_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_colors(id) {
        var rows = $(modal).find('.color_row');
        var holder = null;
        var colors_tt = colors_g[id];
        colors_g[id] = {cur_id: 0, colors: [], single: $('#only_photo').is(':checked')};

        if (colors_tt) {
            holder = colors_tt.colors;
            colors_g[id] = {cur_id: colors_tt.cur_id, colors: [], single: $('#only_photo').is(':checked')};
        }

        for (var i = 0; i < rows.length; i++) {
            if (rows[i].dataset.ocupaidUse === 'false') {
                colors_g[id].colors.push({
                    id: colors_g[id].cur_id,
                    title: $(rows[i]).find('input[id="title"]').val(),
                    price: $(rows[i]).find('input[id="price"]').val(),
                    color: $(rows[i]).find('input[id="code_hex"]').val(),
                    stock: $(rows[i]).find('input[id="stock_level"]').val(),
                    preferred: $(rows[i]).find('input[id="main"]').prop('checked'),
                    files: $(rows[i]).find('input[id="file"]')[0].files,
                    main_picture: $(rows[i]).find('select[name="main_image"]').val()
                });
                colors_g[id].cur_id = colors_g[id].cur_id + 1;
                rows[i].dataset.changed = 'false';
            } else {
                var item = get_correct(holder, parseInt(rows[i].dataset.idUse));
                if (rows[i].dataset.changed === 'true') {
                    colors_g[id].colors.push({
                        id: item.id,
                        title: $(rows[i]).find('input[id="title"]').val(),
                        price: $(rows[i]).find('input[id="price"]').val(),
                        color: $(rows[i]).find('input[id="code_hex"]').val(),
                        stock: $(rows[i]).find('input[id="stock_level"]').val(),
                        preferred: $(rows[i]).find('input[id="main"]').prop('checked'),
                        files: $(rows[i]).find('input[id="file"]')[0].files,
                        main_picture: $(rows[i]).find('select[name="main_image"]').val()
                    });
                    rows[i].dataset.changed = 'false';
                } else {
                    colors_g[id].colors.push({
                        id: item.id,
                        title: $(rows[i]).find('input[id="title"]').val(),
                        price: $(rows[i]).find('input[id="price"]').val(),
                        color: $(rows[i]).find('input[id="code_hex"]').val(),
                        stock: $(rows[i]).find('input[id="stock_level"]').val(),
                        preferred: $(rows[i]).find('input[id="main"]').prop('checked'),
                        files: item.files,
                        main_picture: item.main_picture
                    });
                    rows[i].dataset.changed = 'false';
                }
            }
        }
        console.log(colors_g[id]);

        close_modal();
    }

    function complete_category(id) {

        var html = '<button onclick="save_categories(' + id + ')">SAVE</button>';
        var categories = categories_g[id];
        if (categories) {
            categories.forEach(function (category) {
                html = html + '<div class="category_row" style="overflow: hidden">' +
                    '<button onclick="remove_category_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<input style="float: left; width: 90%; margin: 0;" value="' + category.title + '" name="title" id="title">' +
                    '</div>';
            });
        } else {
            html = html + '<div class="category_row" style="overflow: hidden">' +
                '<button onclick="remove_category_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_category_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_category_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="category_row" style="overflow: hidden">' +
            '<button onclick="remove_category_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
            '</div>' + '<button id="bonnie" onclick="new_category_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_category_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_categories(id) {
        var rows = $(modal).find('.category_row');
        categories_g[id] = [];

        for (var i = 0; i < rows.length; i++) {
            categories_g[id].push({
                title: $(rows[i]).find('input[id="title"]').val(),
            })
        }

        close_modal();
    }

    function complete_style(id) {

        var html = '<button onclick="save_styles(' + id + ')">SAVE</button>';
        var styles = styles_g[id];
        if (styles) {
            styles.forEach(function (style) {
                html = html + '<div class="style_row" style="overflow: hidden">' +
                    '<button onclick="remove_style_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<input style="float: left; width: 90%; margin: 0;" value="' + style.title + '" name="title" id="title">' +
                    '</div>';
            });
        } else {
            html = html + '<div class="style_row" style="overflow: hidden">' +
                '<button onclick="remove_style_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_style_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_style_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="style_row" style="overflow: hidden">' +
            '<button onclick="remove_style_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
            '</div>' + '<button id="bonnie" onclick="new_style_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_style_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_styles(id) {
        var rows = $(modal).find('.style_row');
        styles_g[id] = [];

        for (var i = 0; i < rows.length; i++) {
            styles_g[id].push({
                title: $(rows[i]).find('input[id="title"]').val(),
            })
        }

        close_modal();
    }

    function complete_material(id) {

        var html = '<button onclick="save_materials(' + id + ')">SAVE</button>';
        var materials = materials_g[id];
        if (materials) {
            materials.forEach(function (material) {
                html = html + '<div class="material_row" style="overflow: hidden">' +
                    '<button onclick="remove_material_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<input style="float: left; width: 90%; margin: 0;" value="' + material.title + '" name="title" id="title">' +
                    '</div>';
            });
        } else {
            html = html + '<div class="material_row" style="overflow: hidden">' +
                '<button onclick="remove_material_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_material_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_material_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="material_row" style="overflow: hidden">' +
            '<button onclick="remove_material_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
            '</div>' + '<button id="bonnie" onclick="new_material_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_material_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_materials(id) {
        var rows = $(modal).find('.material_row');
        materials_g[id] = [];

        for (var i = 0; i < rows.length; i++) {
            materials_g[id].push({
                title: $(rows[i]).find('input[id="title"]').val(),
            })
        }

        close_modal();
    }

    function complete_brand(id) {

        var html = '<button onclick="save_brands(' + id + ')">SAVE</button>';
        var brands = brands_g[id];
        if (brands) {
            brands.forEach(function (brand) {
                html = html + '<div class="brand_row" style="overflow: hidden">' +
                    '<button onclick="remove_brand_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                    '<input style="float: left; width: 90%; margin: 0;" value="' + brand.title + '" name="title" id="title">' +
                    '</div>';
            });
        } else {
            html = html + '<div class="brand_row" style="overflow: hidden">' +
                '<button onclick="remove_brand_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
                '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
                '</div>';
        }
        html = html + '<button id="bonnie" onclick="new_brand_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>';
        return html;
    }

    function new_brand_row(id) {
        $(modal).find('#bonnie').replaceWith('<div class="brand_row" style="overflow: hidden">' +
            '<button onclick="remove_brand_row(this)" style="float: left; width: 10%; margin: 0;">-</button>' +
            '<input style="float: left; width: 90%; margin: 0;" value="" name="title" id="title">' +
            '</div>' + '<button id="bonnie" onclick="new_brand_row(' + id + ')" style="float: left; width: 10%; margin: 0;">+</button>');
    }

    function remove_brand_row(btn) {
        btn.parentNode.outerHTML = '';
    }

    function save_brands(id) {
        var rows = $(modal).find('.brand_row');
        brands_g[id] = [];

        for (var i = 0; i < rows.length; i++) {
            brands_g[id].push({
                title: $(rows[i]).find('input[id="title"]').val(),
            })
        }

        close_modal();
    }

    function get_correct(holder, id) {
        var selected = null;
        holder.forEach(function (obj) {
            if (obj.id === (id)) {
                selected = obj;
            }
        });
        return selected;
    }

    function edit_modal(type, id) {
        modal = document.getElementById(type);
        modal.style.display = "block";
        dim_back.style.display = "block";
        actual_row_id = id;
        console.log(type);

        switch (type) {
            case 'size_modal':
                modal.innerHTML = complete_size(id);
                break;
            case 'logo_modal':
                modal.innerHTML = complete_logo(id);
                break;
            case 'color_modal':
                var col = colors_g[id];
                var boolean = false;
                if (col) {
                    if (col.single) {
                        boolean = true;
                    }
                }

                if (boolean) {
                    only_photos(id, false);
                } else {
                    modal.innerHTML = complete_color(id, false);
                    $(".basic-picker").spectrum({
                        preferredFormat: "hex"
                    });
                }
                break;
            case 'category_modal':
                modal.innerHTML = complete_category(id);
                break;
            case 'style_modal':
                modal.innerHTML = complete_style(id);
                break;
            case 'material_modal':
                modal.innerHTML = complete_material(id);
                break;
            case 'brand_modal':
                modal.innerHTML = complete_brand(id);
                break;
        }

        window.onclick = function (event) {
            if (event.target === dim_back) {
                modal.style.display = "none";
                dim_back.style.display = "none";
            }
        };
    }

    var mm_row = document.getElementById('mm_row').cloneNode(true);
    var mm_btn = document.getElementById('replace_with').outerHTML;

    function add_row() {
        row_count = row_count + 1;
        mm_row.dataset.idRow = row_count;
        document.getElementById('replace_with').outerHTML = (mm_row.outerHTML + mm_btn);

        console.log(sizes_g);
        console.log(logos_g);
        console.log(colors_g);
        console.log(categories_g);
        console.log(styles_g);
        console.log(materials_g);
        console.log(brands_g);

    }

    function delete_row(element_row) {

        var row = element_row.parentNode;
        var remove_id = row.dataset.idRow;
        var overall_parent = row.parentNode;
        overall_parent.removeChild(row);

        sizes_g[remove_id] = null;
        logos_g[remove_id] = null;
        colors_g[remove_id] = null;
        categories_g[remove_id] = null;
        styles_g[remove_id] = null;
        materials_g[remove_id] = null;
        brands_g[remove_id] = null;

    }

    function save() {
        var rows = [];
        $("div.product_row_new").each(function () {
            rows.push($(this))
        });
        var limit_n = rows.length;
        var current_n = 0;

        request(rows[current_n]);

        function request(row) {

            var id_row = $(row).data('idRow');

            var logos_arr = [];
            var colors_arr = [];

            var logos = logos_g[id_row];
            var logos_length;
            var logos_cur = 0;

            var colors = colors_g[id_row];
            var colors_length;
            var colors_cur = 0;

            var logo_info;

            function send_1(id) {
                logo_info = new FormData();
                logo_info.append('price', logos[id].price);
                logo_info.append('file', logos[id].file);
                $(row).css('background-color', '#fffae0');

                $.ajax({
                    url: "/product/new/logo",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: logo_info,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        logos_arr.push(data['id']);
                        logos_cur = logos_cur + 1;
                        console.log(logos_arr);
                        if (logos_cur < logos_length) {
                            send_1(logos_cur);
                        } else if (logos_cur === logos_length) {

                            if (colors) {
                                colors = colors.colors;
                                colors_length = colors.length;

                                if (colors_cur < colors_length) {
                                    send_2(colors_cur);
                                }
                            } else {
                                send_3();
                            }

                        }

                    },
                    error: function (data) {
                        console.log(data);
                        current_n = current_n + 1;
                        if (current_n < limit_n) {
                            request(rows[current_n]);
                        }
                        $(row).css('background-color', '#ff8787');
                    }

                });

            }

            function send_2(id) {
                $(row).css('background-color', '#ffe5e0');
                var color_t = colors[id].color;
                color_t = ((color_t.length < 3) ? '#000000' : color_t);
                $.ajax({
                    url: "/product/new/color",
                    type: "POST",
                    data: {
                        title: colors[id].title,
                        price: colors[id].price,
                        color: color_t,
                        stock: colors[id].stock,
                        preferred: colors[id].preferred,
                        main_picture: colors[id].main_picture
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(colors_arr);
                        colors_arr.push(data.id);
                        colors_cur = colors_cur + 1;
                        if (colors[id].files) {
                            send_2_5(data.id, colors[id].files, id);
                        } else {
                            send_3();
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        current_n = current_n + 1;
                        if (current_n < limit_n) {
                            request(rows[current_n]);
                        }
                        $(row).css('background-color', '#ff8787');
                    }
                });
            }

            function send_2_5(id, files, id_c) {
                $(row).css('background-color', '#e0fcff');
                var files_length = files.length;
                var files_cur = 0;

                var file_info;

                function sending() {
                    file_info = new FormData();
                    file_info.append('file', files[files_cur]);
                    file_info.append('parent_id', id);
                    file_info.append('main_name', colors[id_c].main_picture);
                    $.ajax({
                        url: "/product/new/image",
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: file_info,
                        dataType: "json",
                        success: function (data) {
                            files_cur = files_cur + 1;
                            if (files_cur < files_length) {
                                sending();
                            } else if (colors_cur < colors_length) {
                                send_2(colors_cur);
                            } else {
                                send_3();
                            }
                        },
                        error: function (data) {
                            console.log(data);
                            current_n = current_n + 1;
                            if (current_n < limit_n) {
                                request(rows[current_n]);
                            }
                            $(row).css('background-color', '#ff8787');
                        }

                    })

                }

                sending();

            }

            if (logos) {

                logos = logos.logos;
                logos_length = logos.length;

                if (logos_cur < logos_length) {
                    send_1(logos_cur);
                }
            } else if (colors) {

                colors = colors.colors;
                colors_length = colors.length;

                if (colors_cur < colors_length) {
                    send_2(colors_cur);
                }
            } else {
                send_3();
            }

            function send_3() {
                $(row).css('background-color', '#ffe0fe');
                $.ajax({
                    url: "/product/new/product",
                    type: "POST",
                    data: {
                        title: row.find('#title').val(),
                        price: row.find('#price').val(),
                        status: row.find('select[name="status"]').val(),
                        stock: row.find('#stock').val(),
                        sku: row.find('#sku').val(),
                        description: row.find('#description').val(),
                        sizes: sizes_g[id_row],
                        logos: logos_arr,
                        colors: colors_arr,
                        categories: categories_g[id_row],
                        styles: styles_g[id_row],
                        materials: materials_g[id_row],
                        brands: brands_g[id_row],
                        tax_band: row.find('select[name="tax"]').val(),
                        customizable: row.find('select[name="customizable"]').val(),
                        movable: row.find('select[name="customizable"]').val(),
                        emblemable: row.find('select[name="emblemable"]').val()

                    },
                    dataType: "json",
                    success: function (data) {
                        current_n = current_n + 1;
                        if (current_n < limit_n) {
                            request(rows[current_n]);
                        }
                        $(row).css('background-color', '#eeffe0');
                    },
                    error: function (data) {
                        console.log(data);
                        current_n = current_n + 1;
                        if (current_n < limit_n) {
                            request(rows[current_n]);
                        }
                        $(row).css('background-color', '#ff8787');
                    }
                });
            }
        }
    }

</script>