<!DOCTYPE html>
<html>
<head>
  <title>OrganicHustler</title>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400i,400,600" rel="stylesheet">

  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'bootstrap.min' %>

  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= javascript_include_tag 'dropzone' %>
  <%= stylesheet_link_tag 'dropzone' %>

  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'admin_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin.js', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'jscolor.js' %>

  <!-- Theme CSS -->
  <%= stylesheet_link_tag 'cart' %>
  <%= stylesheet_link_tag 'index/styles-index' %>

</head>

<style>

  .text-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  .paging_crt {
    float: left;
    width: 40px;
    height: 40px;
    font-size: 34px;
    background: #e1e1e1;
    padding: 3px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0 10px 10px;
  }

  .pink-p {
    background: #222;
    color: white;
  }

    .main {
      padding: 0;
    }

  table {
    color: #333;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;
  }

  th {
    background: #b592a2;
    text-align: center;
    font-size: large;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  td {
    background: #FAFAFA;
  }

  /* Cells in even rows (2,4,6...) are one color */
  tr:nth-child(even) td {
    background: #F1F1F1;
  }

  /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
  tr:nth-child(odd) td {
    background: #FEFEFE;
  }

  tr:hover td {
    background: #666;
    color: #FFF;
  }

  .text-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  .no-spacing {
    margin-top: auto;
    margin-bottom: auto;
  }

    .active div, li {
      background: #080808;
    }

    .nav li a {
      color: #9d9d9d;
    }

    .nav li a:hover {
      background: #080808;
      color: white;
    }

</style>

<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= (request.original_url.include? 'home') ? 'class=active' : '' %>>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-home"></span></a>
        </li>
        <li <%= (request.original_url.include? 'products') ? 'class=active' : '' %>>
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-product-hunt"></span></a>
        </li>
        <li <%= (request.original_url.include? 'orders') ? 'class=active' : '' %>>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-truck"></span></a>
        </li>
        <li <%= (request.original_url.include? 'mailer') ? 'class=active' : '' %>>
          <a href="/admin/mailer">Mailer<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-envelope"></span></a>
        </li>
        <li <%= (request.original_url.include? 'categories') ? 'class=active' : '' %>>
          <a href="/admin/categories">Categories manager<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-list"></span></a>
        </li>
        <li <%= (request.original_url.include? 'promo') ? 'class=active' : '' %>>
          <a href="/admin/promos">Promotion
            codes<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-qrcode"></span></a>
        </li>
        <li <%= (request.original_url.include? 'gifts') ? 'class=active' : '' %>>
          <a href="/admin/gifts">Gifts<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-gift"></span></a>
        </li>
        <li <%= (request.original_url.include? 'tax') ? 'class=active' : '' %>>
          <a href="/admin/taxes">Tax
            manager<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tags"></span></a>
        </li>
        <li <%= (request.original_url.include? 'support') ? 'class=active' : '' %>>
          <a href="/admin/support">Support<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-life-ring"></span></a>
        </li>
        <li <%= (request.original_url.include? 'stats') ? 'class=active' : '' %>>
          <a href="/admin/stats">Statistics<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-bar-chart"></span></a>
          <div data-toggle="collapse" data-target="#submenu1" aria-expanded="false" style="width: 100%; text-align: center;">
            <span style="color: white" class="fa fa-caret-down"></span>
          </div>
          <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
            <li><a style="text-decoration: none" href="/admin/stats#visitors">Visitors</a></li>
            <li><a style="text-decoration: none" href="/admin/stats#revenue">Revenue</a></li>
            <li><a style="text-decoration: none" href="/admin/stats#products">Products</a></li>
            <li><a style="text-decoration: none" href="/admin/stats#product">Product</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
<%= csrf_meta_tags %>

<%= yield %>

<div class="modal fade" id="edit_mail_content" tabindex="-1" role="dialog" aria-labelledby="edit_mail_content" aria-hidden="true">
  <div style="width: 80%;" class="modal-dialog" role="document">
    <div style="width: 80%;" class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-light" id="exampleModalLabel">Edit mailer</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="font-size: 30px;position:  absolute;right: 10px;top:  0;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="input-group">
          <span class="text-light input-group-addon" id="basic-addon2">SUBJECT</span>
          <input type="text" class="text-light form-control" aria-describedby="basic-addon2" id="subject" name="subject">
        </div>

        <div class="input-group">
          <span class="text-light input-group-addon" id="basic-addon2">TEXT</span>
          <textarea rows="3" class="text-light form-control" aria-describedby="basic-addon2" id="content" name="content"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" style="border-radius: 0" class="text-light btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="update_mail()" type="button" class="btn btn-primary btn-sp text-light">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>

<script>

  var _mail_id = -1;

  function modify_mail(value, content, mail_id){
      _mail_id = mail_id;
      document.getElementById('subject').value = value;
      document.getElementById('content').innerText = content;
  }

  function update_mail(){
      $.ajax({
          url: '/mail_contents',
          type: 'patch',
          dataType: 'json',
          data: {
              mail_id : _mail_id,
              subject : document.getElementById('subject').value,
              content : document.getElementById('content').value,
              "authenticity_token": '<%= form_authenticity_token %>'
          }, success: function (data) {
              location.reload(true);
          }, error: function (data) {

          }

      })

  }

    function loadView(idView) {

        var inter = $('#releasable');

        inter.html('<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">Waiting</span> </div> </div>');

        var tabs = document.getElementsByClassName('nav-link');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].className = 'nav-link';
        }
        document.getElementById(idView).className = 'nav-link active';

        $.ajax({
            url: "/admin/" + idView,
            type: 'GET',
            data: {},
            dataType: 'html',
            success: function (data) {
                inter.html(data);
            },
            error: function () {
                inter.html('An error has ocurred');
            }
        });


    }

    function makeSortable(table) {
        var th = table.tHead, i;
        th && (th = th.rows[0]) && (th = th.cells);
        if (th) i = th.length;
        else return; // if no `<thead>` then do nothing
        while (--i >= 0) (function (i) {
            var dir = 1;
            th[i].addEventListener('click', function () {
                sortTable(table, i, (dir = 1 - dir));
            });
        }(i));
    }

    function sortTable(table, col, reverse) {
        var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
            tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
            i;
        reverse = -((+reverse) || -1);
        tr = tr.sort(function (a, b) { // sort rows
            return reverse // `-1 *` if want opposite order
                * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                        .localeCompare(b.cells[col].textContent.trim())
                );
        });
        for (i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
    }

    function makeAllSortable(parent) {
        parent = parent || document.body;
        var t = parent.getElementsByTagName('table'), i = t.length;
        while (--i >= 0) makeSortable(t[i]);
    }


    $(".modal").on("shown.bs.modal", function () {
        $(".modal-backdrop").remove();
    })


</script>