<!DOCTYPE html>
<html>
<head>
  <title>OrganicHustler</title>

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400i,400,600" rel="stylesheet">

  <%= javascript_include_tag 'jquery.min.js' %>
  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'dropzone' %>
  <%= stylesheet_link_tag 'dropzone' %>
  <%= javascript_include_tag 'konva.min' %>

  <%= stylesheet_link_tag 'admin_layout', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'admin.js', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'style-fc' %>
  <%= javascript_include_tag 'jquery.jcarousel' %>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application.js' %>

  <!-- Theme CSS -->
  <%= stylesheet_link_tag 'cart' %>
  <%= stylesheet_link_tag 'index/styles-index' %>
  <%= stylesheet_link_tag 'home' %>

  <%= csrf_meta_tags %>
</head>


<!--<header style="margin: 10px">
  <ul class="nav nav-pills hidden-xs-down">
    <li class="nav-item"><a class="nav-link" onclick="loadView('products')" href="#" id="products">Products</a></li>
    <li class="nav-item"><a class="nav-link" onclick="loadView('logo')" href="#" id="logo">Logos</a></li>
    <li class="nav-item"><a class="nav-link" onclick="loadView('orders')" href="#" id="orders">Orders</a></li>
    <li class="float-right" style="float: right; display: block" role="presentation"><a class="btn btn-danger" style="margin-left:50px" href="/admins/sign_out" data-method="DELETE" id="logo">Log out</a></li>
  </ul>
</header>-->

<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Organic Hustler</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= (request.original_url.include? 'home') ? 'class=active' : '' %>>
          <a href="/admin/home">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-home"></span></a>
        </li>
        <li <%= (request.original_url.include? 'products') ? 'class=active' : '' %>>
          <a href="/admin/products">Products<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-product-hunt"></span></a>
        </li>
        <li <%= (request.original_url.include? 'orders') ? 'class=active' : '' %>>
          <a href="/admin/orders">Orders<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-truck"></span></a>
        </li>
        <li <%= (request.original_url.include? 'mailer') ? 'class=active' : '' %>>
          <a href="/admin/mailer">Mailer<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-envelope"></span></a>
        </li>
        <li <%= (request.original_url.include? 'categories') ? 'class=active' : '' %>>
          <a href="/admin/categories">Categories manager<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-list"></span></a>
        </li>
        <li <%= (request.original_url.include? 'promo') ? 'class=active' : '' %>>
          <a href="/admin/promos">Promotion
            codes<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-qrcode"></span></a>
        </li>
        <li <%= (request.original_url.include? 'gifts') ? 'class=active' : '' %>>
          <a href="/admin/gifts">Gifts<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-gift"></span></a>
        </li>
        <li <%= (request.original_url.include? 'tax') ? 'class=active' : '' %>>
          <a href="/admin/taxes">Tax
            manager<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tags"></span></a>
        </li>
        <li <%= (request.original_url.include? 'support') ? 'class=active' : '' %>>
          <a>Support<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-life-ring"></span></a>
        </li>
        <li <%= (request.original_url.include? 'stats') ? 'class=active' : '' %>>
          <a>Statistics<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-bar-chart"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>

<%= yield %>

</body>

</html>

<script>

    function loadView(idView) {

        var inter = $('#releasable');

        inter.html('<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only">Waiting</span> </div> </div>');

        var tabs = document.getElementsByClassName('nav-link');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].className = 'nav-link';
        }
        document.getElementById(idView).className = 'nav-link active';

        $.ajax({
            url: "/admin/" + idView,
            type: 'GET',
            data: {},
            dataType: 'html',
            success: function (data) {
                inter.html(data);
            },
            error: function () {
                inter.html('An error has ocurred');
            }
        });


    }
</script>

<script>
    function makeSortable(table) {
        var th = table.tHead, i;
        th && (th = th.rows[0]) && (th = th.cells);
        if (th) i = th.length;
        else return; // if no `<thead>` then do nothing
        while (--i >= 0) (function (i) {
            var dir = 1;
            th[i].addEventListener('click', function () {
                sortTable(table, i, (dir = 1 - dir));
                console.log("holaaaa")
            });
        }(i));
    }

    function sortTable(table, col, reverse) {
        var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
            tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
            i;
        reverse = -((+reverse) || -1);
        tr = tr.sort(function (a, b) { // sort rows
            return reverse // `-1 *` if want opposite order
                * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                        .localeCompare(b.cells[col].textContent.trim())
                );
        });
        for (i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
    }

    function makeAllSortable(parent) {
        parent = parent || document.body;
        var t = parent.getElementsByTagName('table'), i = t.length;
        while (--i >= 0) makeSortable(t[i]);
    }
</script>