<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= csrf_meta_tags %>

  <title>Organic Hustler</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400i,400,600" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <%= javascript_include_tag 'jquery.min.js' %>
  <!-- Bootstrap Core -->
  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= javascript_include_tag 'bootstrap.js' %>

  <%= javascript_include_tag 'konva.min' %>
  <%= stylesheet_link_tag 'style-fc' %>
  <%= javascript_include_tag 'jquery.jcarousel' %>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application.js' %>

  <!-- Theme CSS -->
  <%= stylesheet_link_tag 'cart' %>
  <%= stylesheet_link_tag 'index/styles-index' %>
  <%= stylesheet_link_tag 'home' %>

</head>

<div id="myModal" style="z-index: 100;" class="modal">

  <div id="bag_modal" style="float: right; position: fixed;">
    <div id="triangle" class="triangle mobilenot"></div>
    <!-- Modal content -->
    <div id="modal_c" style="padding: 0; position: relative; top: auto; box-shadow: 0 0;" class="modal-content">
      <span class="close">&times;</span>
      <div class="modal_c_part">
        <h3 class="text_light" style="font-size: 30px; color: #3F3F3F; text-align: center; margin: 10px auto;">Your
          Bag</h3>
      </div>
      <hr class="no-spacing-bar">

      <div class="modal_c_part">
        <div id="product_loader" class="jcarousel-wrapper">
          <div id="product-loader-carousel" style="width: 100%; min-height: 200px" class="jcarousel" data-jcarousel="true">
            <ul id="product-container" style="left: 0; top: 0; text-align: center">


            </ul>
          </div>
          <button style="top: 50px; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">
            <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
          <button style="top: 50px; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
            <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>

        <script>

            //reload jcarousel
            (function (window, $, undefined) {
                var plugins = ['jcarousel', 'jcarouselAutoscroll', 'jcarouselControl', 'jcarouselPagination'];
                for (var i = 0; i < plugins.length; i++) {
                    var plugin = plugins[i];
                    var reload_plugin = 'reload' + plugin.charAt(0).toUpperCase() + plugin.slice(1);
                    $.fn[reload_plugin] = (function (plugin) {
                        return function () {
                            return this.each(function () {
                                if (!$(this).data(plugin)) {
                                    console.log('Element is not an instance of ' + plugin);
                                    return false;
                                }
                                var _options = $(this).data(plugin)._options;
                                $(this).data(plugin, {}).off()[plugin](_options);
                            });
                        };
                    })(plugin);
                }
            })(this, jQuery);

            var btn_i = null;
            var btn_j = null;

            var span = null;
            var modal = null;
            var triangle = null;
            var modal_c = null;
            var bagModal = null;

            var cart_icon_1 = null;
            var cart_icon_2 = null;

            var cart_position = null;
            var triangle_position = null;
            var triangle_width = null;
            var cart_width = null;
            var cart_bottom = null;

            $.ajax({
                url: '/cart',
                method: 'get',
                data: {},
                dataType: 'json',
                success: function (data) {

                    console.log(data);
                    var container = document.getElementById('product-container');
                    for (var product in data) {
                        if (data.hasOwnProperty(product)) {
                            container.innerHTML += '<li class="element_product">' +
                                '<div id="' + data[product]['id'] + '-catalog-cart" style="width: 150px; height: 150px; margin-left: auto; margin-right: auto;">' +
                                '</div>' +
                                '<p class="text-uppercase text_light_20">' + data[product]['product_data']['title'] + '</p>' +
                                '<p class="text_light_pink" style="font-size: 20px; height: 35px;line-height: 35px;">' + parseFloat(data[product]['price'][6]).toFixed(2) + '$</p>' +
                                '</li>';
                        }
                    }

                    for (var image in data) {
                        if (data.hasOwnProperty(image)) {
                            create_preview(data[image]);
                        }
                    }

                    // Reload carousel
                    var jcarouselSelector = '.jcarousel';

                    $(jcarouselSelector).reloadJcarousel();

                    $('.jcarousel-control-prev').jcarouselControl({
                        // Options go here
                        target: '-=1'
                    });
                    $('.jcarousel-control-next').jcarouselControl({
                        // Options go here
                        target: '+=1'
                    });
                    $('.jcarousel').jcarousel('reload');

                },
                error: function (data) {

                }

            }).done(function () {
                btn_j = $('#cart_ic_2');
                btn_i = $('#cart_ic_1');

                // Get the <span> element that closes the modal
                span = document.getElementsByClassName("close")[0];
                // Get the modal
                modal = document.getElementById('myModal');

                window.onclick = function (event) {
                    if (event.target === modal) {
                        document.getElementsByTagName('body')[0].classList.remove('modal-open');
                        modal.style.display = "none";
                    }
                };

                function close_modal() {
                    document.getElementsByTagName('body')[0].classList.remove('modal-open');
                    modal.style.display = "none";
                }

                triangle = document.getElementById('triangle');
                modal_c = document.getElementById('modal_c');
                bagModal = document.getElementById('bag_modal');

                cart_icon_1 = document.getElementById('cart_ic_2');
                cart_icon_2 = document.getElementById('cart_ic_1');

                btn_j.on('click', function () {
                    modal.style.display = "block";
                    $("body").addClass("modal-open");

                    cart_position = cart_icon_1.getBoundingClientRect().left;
                    triangle_position = bagModal.getBoundingClientRect().right - triangle.getBoundingClientRect().right;
                    triangle_width = triangle.getBoundingClientRect().right - triangle.getBoundingClientRect().left;
                    cart_width = cart_icon_1.getBoundingClientRect().right - cart_icon_1.getBoundingClientRect().left;
                    cart_bottom = cart_icon_1.getBoundingClientRect().bottom;

                    bagModal.style.top = cart_bottom + 'px';
                    bagModal.style.right = document.body.clientWidth - cart_position - triangle_position - (triangle_width / 2) - (cart_width / 2) + 'px';

                    var carousel_p = document.getElementById('product-loader-carousel');
                    $('.element_product').each(function () {
                        console.log(carousel_p.getBoundingClientRect().left - carousel_p.getBoundingClientRect().right);
                        $(this).width(carousel_p.getBoundingClientRect().right - carousel_p.getBoundingClientRect().left);
                    });
                });

                btn_i.on('click', function () {
                    modal.style.display = "block";
                    $("body").addClass("modal-open");

                    bagModal.style.top = 0;
                    bagModal.style.right = 0;
                    bagModal.style.left = 0;
                    bagModal.style.bottom = 0;
                    bagModal.style.width = '100%';
                    bagModal.style.margin = 'auto';
                    bagModal.style.height = '100%';
                    modal_c.style.height = '100%';

                    if ($(window).width() > 468) {

                        cart_bottom = cart_icon_2.getBoundingClientRect().bottom;

                        bagModal.style.top = cart_bottom + 'px';
                        modal_c.style.height = 'auto';
                        bagModal.style.width = '64%';

                        bagModal.style.left = 0;
                        bagModal.style.right = 0;
                        bagModal.style.bottom = 'auto';

                        bagModal.style.margin = 'auto';
                    }

                    var carousel_p = document.getElementById('product-loader-carousel');
                    $('.element_product').each(function () {
                        console.log(carousel_p.getBoundingClientRect().left - carousel_p.getBoundingClientRect().right);
                        $(this).width(carousel_p.getBoundingClientRect().right - carousel_p.getBoundingClientRect().left);
                    });
                });

                span.onclick = function () {
                    modal.style.display = "none";
                    $("body").removeClass("modal-open")
                };

                var width = $(window).width();
                $(window).on('resize', function () {
                    if ($(this).width() !== width) {
                        width = $(this).width();

                        triangle_position = bagModal.getBoundingClientRect().right - triangle.getBoundingClientRect().right;
                        triangle_width = triangle.getBoundingClientRect().right - triangle.getBoundingClientRect().left;

                        if (width > 765) {
                            cart_position = cart_icon_1.getBoundingClientRect().left;
                            cart_width = cart_icon_1.getBoundingClientRect().right - cart_icon_1.getBoundingClientRect().left;
                            cart_bottom = cart_icon_1.getBoundingClientRect().bottom;
                            bagModal.style.top = cart_bottom + 'px';
                            bagModal.style.right = document.body.clientWidth - cart_position - triangle_position - (triangle_width / 2) - (cart_width / 2) + 'px';
                            bagModal.style.width = 'auto';
                            bagModal.style.left = 'auto';
                            bagModal.style.margin = 'auto';
                        } else if (width > 468) {
                            cart_bottom = cart_icon_2.getBoundingClientRect().bottom;
                            bagModal.style.top = cart_bottom + 'px';
                            modal_c.style.height = 'auto';
                            bagModal.style.width = '64%';
                            bagModal.style.left = 0;
                            bagModal.style.right = 0;
                            bagModal.style.bottom = 'auto';
                            bagModal.style.margin = 'auto';
                        } else {
                            bagModal.style.top = 0;
                            bagModal.style.right = 0;
                            bagModal.style.left = 0;
                            bagModal.style.bottom = 0;
                            bagModal.style.width = '100%';
                            bagModal.style.margin = 'auto';
                            bagModal.style.height = '100%';
                            modal_c.style.height = '100%'
                        }
                        var carousel_p = document.getElementById('product-loader-carousel');
                        $('.element_product').each(function () {
                            console.log(carousel_p.getBoundingClientRect().left - carousel_p.getBoundingClientRect().right);
                            $(this).width(carousel_p.getBoundingClientRect().right - carousel_p.getBoundingClientRect().left);
                        });
                    }
                });
            });

            function create_preview(preview) {
                console.log(preview);
                var selector = preview.id + '-catalog-cart';
                var container = $('#' + selector);
                console.log(container.width);


                var stage = new Konva.Stage({
                    container: selector,
                    width: container.width(),
                    height: container.height()
                });

                var layer = new Konva.Layer();
                stage.add(layer);

                var baseImg = new Konva.Image({
                    x: 0,
                    y: 0,
                    width: container.width(),
                    height: container.height(),
                    draggable: false
                });
                layer.add(baseImg);

                var logoImg = new Konva.Image({
                    x: (container.width() * preview.dim_x) / 500,
                    y: (container.height() * preview.dim_y) / 500
                });
                layer.add(logoImg);

                var imageBase = new Image();
                imageBase.onload = function () {
                    baseImg.image(imageBase);
                    layer.draw();
                };

                var imageLogo = new Image();
                imageLogo.onload = function () {
                    logoImg.image(imageLogo);
                    logoImg.setWidth(this.width);
                    logoImg.setHeight(this.height);
                    logoImg.scale({
                        x: (container.width() * preview.multiplexer) / 500,
                        y: (container.height() * preview.multiplexer) / 500
                    });
                    layer.draw()
                };

                var emblem = new Konva.Image({
                    x: 0,
                    y: 0
                });
                layer.add(emblem);

                var imageEmblem = new Image();
                imageEmblem.onload = function () {
                    emblem.image(imageEmblem);
                    emblem.setWidth(this.width);
                    emblem.setHeight(this.height);
                    layer.draw();
                };

                $.ajax({
                    url: '/catalog/product/color/main_image?color_id=' + preview.color_id,
                    type: 'GET',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        imageBase.src = data.picture
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });

                if (preview.has_logo) {
                    $.ajax({
                        url: '/catalog/product/logo?logo_id=' + preview.logo_id,
                        type: 'GET',
                        dataType: 'text',
                        data: {},
                        success: function (data) {
                            imageLogo.src = data
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }

                if (preview.has_emblem) {


                    $.ajax({
                        url: '/catalog/product/emblem?emblem_id=' + preview.emblem_id,
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            emblem.setX(container.width() * data.x / 500);
                            emblem.setY(container.width() * data.y / 500);
                            emblem.scale({
                                x: container.width() * data.multiplexer / 500,
                                y: container.width() * data.multiplexer / 500
                            });
                            imageEmblem.src = data.src;

                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }
            }
        </script>
      </div>

      <hr class="no-spacing-bar">
      <div style="overflow: hidden" class="modal_c_part">
        <span class="text_light_pink" style="font-size: 20px; font-style: italic; position: relative;height: 35px;float: left;vertical-align: middle;line-height: 35px;">Subtotal</span>
        <span class="text_light" style="font-size: 30px; float: right;position: relative;height: 35px;"><%= format("$%.2f", get_price) %></span>
      </div>
      <hr class="no-spacing-bar">
      <div class="modal_c_part">
        <button onclick="location.href='/checkout'" class="btn btn-sp" style="width: 100%; margin-top: 5px; margin-bottom: 5px;">CHECKOUT</button>
        <button onclick="location.href='/shopping_bag'" class="btn btn-default" style="width: 100%; margin-top: 5px; margin-bottom: 5px;">VIEW
          BAG
        </button>
      </div>
    </div>
  </div>

</div>

<nav class="navbar navbar-default navbar-fixed-top" style="z-index: 2; border-color: white; background: white; box-shadow:0px 1px 10px #dedede;">

  <% available = true %>

  <div class="desktopnot">

    <div class="navbar-header">

      <button type="button" style="background: white; margin-left: 16px; margin-top: 12px; padding: 3px; border: none;" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background: black"></span>
        <span class="icon-bar" style="background: black"></span>
        <span class="icon-bar" style="background: black"></span>
      </button>

      <div style="float: right; overflow: hidden">
        <a class="navbar-brand brand" href="/"><img width="66" src="https://s3.amazonaws.com/store-logo-cloud/image_shows/images/000/000/015/original/hey.png?1493778911"></a>
        <img id="cart_ic_1" class="cart_ic" src="<%= image_url 'ico_3.png' %>">
        <span class="badge" style="background-color: #89c03e; margin-left: -17px; margin-top: 37px"><%= get_item_count %></span>
        <% if user_signed_in? %>
            <h5 class="link-style">
              <a href="/account">ACCOUNT</a>
            </h5>
        <% else %>
            <h5 class="link-style">
              <a href="/account">LOG IN</a>
            </h5>
        <% end %>
      </div>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="selectable ">STORY</a>
        </li>
        <li>
          <a class="selectable
              <% unless params['men'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog?men=true&view=men'">SHOP MEN</a>
        </li>
        <li>
          <a class="selectable
              <% unless params['women'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog?women=true&view=women'">SHOP WOMEN</a>
        </li>
        <li>
          <a class="selectable
              <% unless params['hats'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog'">FULL COLLECTION</a>
        </li>
        <li>
          <a class="selectable ">CUSTOMIZE</a>
        </li>
        <li class="selectable ">
          <a>CONTACT US</a>
        </li>
        <p class="text-center color lf mobile-only" hidden=""> Organic Hustler, LLC</p>
      </ul>
    </div>
  </div>

  <div class="mobilenot">
    <div style="padding: 10px; width: 100%" class="navbar-header">

      <div style="float: right; overflow: hidden; width: 25%; min-width: 280px">
        <input id="search-input" style="background: #f0f5e6;margin-top: 8px; float: right" type="text" name="search" value="<%= params['search'] %>" placeholder="Search...">
        <% if user_signed_in? %>
            <h5 class="link-style">
              <a href="/account">ACCOUNT</a>
            </h5>
        <% else %>
            <h5 class="link-style">
              <a href="/account">LOG IN</a>
            </h5>
        <% end %>
        <img style="float: right; z-index: 3;" id="cart_ic_2" class="cart_ic" src="<%= image_url 'ico_3.png' %>">
        <span class="badge" style="z-index: 10; background-color: #89c03e; margin-right: -43px; margin-top: 27px; float: right"><%= get_item_count %></span>

        <script>
            $(document).keyup(function (e) {
                var search_f = $("#search-input");
                if (search_f.is(":focus") && (e.keyCode === 13)) {
                    location.href = '/catalog?search=' + search_f.val();
                }
            });
        </script>

      </div>
      <% if @parameters.nil? || params['action'] != 'catalog' %>
          <button style="float: left; border-right: 1px solid black" type="button" class="btn btn-link">Get in Touch
          </button>
          <button style="float: left; border-right: 1px solid black" type="button" class="btn btn-link">Instagram</button>
          <button style="float: left" type="button" class="btn btn-link">Twitter</button>
      <% else %>
          <h5 style="font-family: 'Source Sans Pro', sans-serif; font-weight: 400; padding-right: 5px; float: left;">Your
            Items
            <span style="font-weight: lighter; color: #89c13e; padding-right: 5px; margin-right: 5px; border-right: thin solid #5e5e5e;"><%= get_item_count %></span><span><a href="/checkout" style="color: #000000;cursor: pointer ;text-decoration: none;">Checkout</a></span>
          </h5>
      <% end %>

      <div class="menu-center">
        <a style="margin-left: auto; margin-right: auto;" href="/"><img width="66" src="https://s3.amazonaws.com/store-logo-cloud/image_shows/images/000/000/015/original/hey.png?1493778911"></a>
        <ul id="ul_top_hypers" style="padding-top: 40px">
          <div class="menu-button">
            <li>
              <a class="selectable link-to-btn
              <% unless params['looks'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?looks=true&view=looks'">LOOKS</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a class="selectable link-to-btn
              <% unless params['hats'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?hats=true&view=hats'">HATS</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a class="selectable link-to-btn
              <% unless params['men'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?men=true&view=men'">MEN</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a class="selectable link-to-btn
              <% unless params['women'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?women=true&view=women'">WOMEN</a>
            </li>
          </div>

          <div class="menu-button">
            <li>
              <a class="selectable link-to-btn
              <% unless params['brand'].blank? and available %> selected-esp
              <% end %>" onclick="location.href = '/catalog?brand=true&view=brand'">BRAND</a>
            </li>
          </div>
        </ul>
      </div>

    </div>
  </div>

</nav>

<body style="padding-top: 100px">
<%= yield %>
<script>

</script>

</body>

<div class="container-fluid blc mobilenot">
  <div class="row" style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">

    <div class="col-sm-2" style="text-align: left;">
      <h3 style="color: white;"> BRAND</h3>
      <br>
      <br>
      <h5 style="color: #A4A4A4;"> STORY </h5>
      <h5 style="color: #A4A4A4;"> SHOP MEN</h5>
      <h5 style="color: #A4A4A4;"> SHOP WOMEN </h5>
      <h5 style="color: #A4A4A4;"> CONTACT US</h5>


    </div>

    <div class="col-sm-2" style="text-align: left;">
      <h3 style="color: white;">SHOP</h3>
      <br>
      <br>
      <h5 style="color: #A4A4A4;">LOOKS </h5>
      <h5 style="color: #A4A4A4;"> HATS</h5>
      <h5 style="color: #A4A4A4;">MEN </h5>
      <h5 style="color: #A4A4A4;"> WOMEN</h5>
      <h5 style="color: #A4A4A4;"> MEN</h5>


    </div>

    <div class="col-sm-2" style="text-align: left;">
      <h3 style="color: white;"> FIND US AT</h3>
      <br>
      <br>
      <h5 style="color: #A4A4A4;"> INSTAGRAM </h5>
      <h5 style="color: #A4A4A4;"> TWITTER </h5>
      <h5 style="color: #A4A4A4;"> YOUTUBE</h5>
      <h5 style="color: #A4A4A4;"> FACEBOOK</h5>
      <h5 style="color: #A4A4A4;"> E-MAIL</h5>


    </div>

    <div class="col-sm-6">

      <div style="background-color: #5e5e5e; height: 330px; width:1px; float: left; ">
      </div>


      <h3 style="color: white; margin-top: 25px; margin-bottom: 25px;"> JOIN OUR NEWSLETTER</h3>
      <%= form_tag root_path, method: :post do %>
          <% if !@notice %>
              <input class="foot-form" type="text" name="email" placeholder="Email Address">
          <% else %>
              <input class="foot-form" type="text" name="email" placeholder="Successfully saved">
          <% end %>
      <% end %>


      <h3 style="color: white; margin-top: 25px; margin-bottom: 25px;"> SEARCH SHOP</h3>
      <input class="foot-form" type="text" name="">

      <div>
        <img src="<%= GroupShowcase.where(screen: 3, name_identity: 'icon_web_page_2').first.showcases.first.image_show.image.url %>" style="width: 30px; margin-top: 50px;">
        <p style="color: #FFFFFF; margin-top: 10px;">Organic Hustler, LLC</p>

      </div>

    </div>

  </div>

</div>

</html>
