<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#">
<head>

  <title>Organic Hustler</title>
  <meta charset="utf-8">
  <meta name="description" content="Organic Hustler is a trendy fashion design company creating casual unisex urban clothing for men and women who are street wear enthusiasts. The company’s unique designs bridge the gap between the roots of urban life and leading an organic lifestyle. With a keen insight on trends and through its sustainable fashions, the company is dedicated to encouraging people to live life to the fullest and embrace the world.">
  <meta name="keywords" content="cloth,men,women,eco,friendly,fashion,shirts,tshirts,caps,dress">
  <meta name="author" content="3zmedia">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta itemprop="name" content="Organic Hustler Homepage">
  <meta itemprop="description" content="Organic Hustler is a trendy fashion design company creating casual unisex urban clothing for men and women who are street wear enthusiasts. The company’s unique designs bridge the gap between the roots of urban life and leading an organic lifestyle. With a keen insight on trends and through its sustainable fashions, the company is dedicated to encouraging people to live life to the fullest and embrace the world.">
  <meta itemprop="image" content="https://organicustler.com/favicon.ico">

  <meta property="og:url" content="http://organichustler.com/?cp=<%= @cart_product_shared %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="OrganicHustler"/>
  <meta property="og:description" content="Check my new creation"/>
  <meta property="og:image" content="<%= @shared_image %>"/>
  <meta name="theme-color" content="#B692A2"/>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= stylesheet_link_tag 'index/styles-index' %>
  <%= stylesheet_link_tag 'home' %>

  <%= javascript_include_tag 'jquery-3.3.1.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'konva.min.js' %>
</head>

<script>
 // First Script
</script>

<style> 
  [onclick] {
      cursor: pointer;
  }

  [data-target] {
      cursor: pointer;
  }

  .bubble {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media screen and (min-width: 768px) {
    .bubble {
      position: absolute;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
    }

    .triangle_up:after {
      content: '';
      position: absolute;
      top: 0;
      left: 63%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom-color: #ffffff;
      border-top: 0;
      margin-left: 0;
      margin-top: -20px;
    }

  }
</style>

<script>
// Second Script
</script>

<!-- Navbar -->
<%= render 'partials/navbar' %>
<!-- End Navbar -->

<body style="padding-top: 60px">

<!-- Search bar -->
<%= render 'partials/search_bar' %>
<!-- End Search bar -->

<script>
    // Thrid Script
</script>

<%= yield %>

<!-- Cart modal -->
<%= render 'partials/cart_modal' %>
<!-- End Cart Modal -->

<script>
// Forth script
    var taxes_cart = [];
    var prices_cart = [];
    var stages_cart = [];

    var stageWidth_cart = 500;
    var stageHeight_cart = 500;

    var container_lts_cart = document.getElementById('container_lts_cart');
    var container_ind_cart = document.getElementById('container_ind_cart');

    function get_cart_setup(){
        $.ajax({
            url: '/bag_items',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (data) {

                taxes_cart = data['tax_array'];
                prices_cart = data['cost_array'];
                var discount_rate = parseFloat(data['discount']);
                for (var hj = 0; hj < data['products'].length; hj++) {
                    container_ind_cart.innerHTML = container_ind_cart.innerHTML + '<li style="border-color: #b592a2" data-target="#cartCarousel" data-slide-to="' + hj + '" class="' + ((hj === 0) ? 'active' : '') + '"></li>'

                }
                create_entry_cart(0, data['products'].length);
                function create_entry_cart(i, lim) {
                    if (i < lim) {
                        var product = data['products'][i];
                        var pre = '<div class="item-checkout item ' + ((i === 0) ? 'active' : '') + '" style="margin-top: 20px; padding-bottom: 20px; overflow: hidden;">\n' +
                            '        <div style="float: left; width: 100%; position: relative">\n' +
                            '          <div class="cart_item_modal" id="cart_' + product['id'] + '" style="width: 200px; height: 200px; margin-left: auto; margin-right: auto;"></div>\n' +
                            '        </div>\n' +
                            '        <div style="float: right; width: 100%; position: relative; text-align: center">\n' +
                            '           <p class="text-uppercase text_light_20">' + product['data']['title'] + '</p>\n' +
                            '           <p class="text_light_pink" style="font-size: 20px; height: 35px; line-height: 35px;">' + product['price_sgl'] + '</p>\n' +
                            '           <a onclick="edit_catalog(\'' + product['id'] + '\')" style="color: #9ca5a3; cursor: pointer; top: 5px; right: 5px"><i class="fa fa-pencil" aria-hidden="true"></i></a>' +
                            '        </div>\n' +
                            '      </div>';
                        var div = document.createElement('div');
                        div.innerHTML = pre;
                        container_lts_cart.appendChild(div.childNodes[0]);
                        var id = 'cart_' + product['id'];
                        var container = $('#' + id);
                        container.height(container.width());
                        var stage = new Konva.Stage({
                            container: id,
                            width: stageWidth_cart,
                            height: stageHeight_cart,
                            preventDefault: false
                        });
                        var layer = new Konva.Layer();
                        stage.add(layer);
                        stages_cart.push(stage);
                        var baseImg = new Konva.Image({
                            width: stageWidth_cart,
                            height: stageHeight_cart,
                            draggable: false,
                            preventDefault: false
                        });
                        layer.add(baseImg);
                        var search_logo = true;
                        var imageObj1 = new Image();
                        imageObj1.onload = function () {
                            baseImg.image(imageObj1);
                            if (search_logo) {
                                var baseLogo = new Konva.Image({
                                    x: 0,
                                    y: 0,
                                    width: container.width(),
                                    height: container.height(),
                                    draggable: false,
                                    preventDefault: false
                                });
                                layer.add(baseLogo);
                                var logoBase = new Image();
                                logoBase.onload = function () {
                                    baseLogo.image(logoBase);
                                    baseLogo.setWidth(this.width);
                                    baseLogo.setHeight(this.height);
                                    i += 1;
                                    create_entry_cart(i, lim);
                                    layer.draw();
                                };
                                $.ajax({
                                    url: '/get_cart_item?product_cart_id=' + product['id'],
                                    type: 'GET',
                                    dataType: 'json',
                                    data: {},
                                    success: function (data) {

                                        var logo = data.logos[0];
                                        if (logo) {
                                            var image = getImage(data.pictures, logo.product_image_id);
                                            if (image) {
                                                search_logo = false;
                                                imageObj1.src = image.url;
                                                logoBase.src = logo.logo_url;
                                                baseLogo.setX(logo.x);
                                                baseLogo.setY(logo.y);
                                                baseLogo.scale({
                                                    x: logo.multiplexer,
                                                    y: logo.multiplexer
                                                });
                                            }
                                        } else {
                                            i += 1;
                                            create_entry_cart(i, lim);
                                            layer.draw();
                                        }
                                    },
                                    error: function (data) {

                                    }
                                });
                            }
                        };
                        $.ajax({
                            url: '/catalog/product/color/main_image?color_id=' + product['color']['id'],
                            type: 'GET',
                            dataType: 'json',
                            data: {},
                            success: function (data) {
                                imageObj1.src = data.picture;
                            },
                            error: function (data) {

                            }
                        });
                    } else {
                        window.addEventListener('resize', fitStageIntoParentContainer_we_cart);
                        var cost = 0;
                        for (var t = 0; t < prices_cart.length; t++) {
                            cost += parseFloat(prices_cart[t]);
                        }
                        document.getElementById('sub_total_cart').innerText = '$' + cost.toFixed(2);
                    }

                    $("#cartCarousel").carousel();
                }
            },
            error: function (data) {

            }
        });
    }

    function fitStageIntoParentContainer_we_cart() {
        $('.cart_item_modal').each(function (index) {

            $(this).height(200);

            // now we need to fit stage into parent
            var containerWidth = 200;
            // to do this we need to scale the stage
            var scale = containerWidth / stageWidth_cart;
            stages_cart[index].scale({x: scale, y: scale});
            stages_cart[index].draw();
        });
    }

</script>

<!-- Quick view modal -->
<%= render 'partials/quick_view' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script>
// Fifth Script

// Fifth script snippet to refactor
var item_s = '<%= params['id'] %>';
var item_v = '<%= params['view'] %>';
id_preset_temp = <%= params['preset_id'] || -1 %>;
if (item_s !== '') {
    if (item_v === '2') {
        open_quick(item_s, 2);
    } else {
        open_quick(item_s, 1);
    }
}

var cp = '<%= params[:cp] %>';
if (cp !== '') {
    edit_catalog(cp, true);
}

</script>

<!-- Modal terms -->
<%= render 'partials/modal_terms'%>
<!-- End Modal terms -->

</body>

<!-- Footer -->
<%= render 'partials/footer' %>
<!-- End Footer -->

<script>
// Sixth script
    (function (w, d){
        var b = d.getElementsByTagName('body')[0];
        var s = d.createElement('script'); s.async = true;
        var v = !("IntersectionObserver" in w) ? "8.11.0" : "10.11.1";
        s.src = "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/" + v + "/lazyload.min.js";
        w.lazyLoadOptions = {};
        b.appendChild(s)
    }(window, document));

    loadScript('/assets/konva.min.js', function (data) {
        loadScript('/assets/jquery.jcarousel.min.js', function (data) {
            loadScript('/assets/sweetalert.min.js', function (data) {
                enter_key_setup();
                reload_jcarousel();
                get_cart_setup();
                setup_n_1();
                setup_n_2();
                if(index) {
                    load_side_elements(<%= ConfigurationWeb.where(title: 'Main product')[0].value %>, 1);
                    load_side_elements(<%= ConfigurationWeb.where(title: 'Product 1')[0].value %>, 2);
                    load_side_elements(<%= ConfigurationWeb.where(title: 'Product 2')[0].value %>, 3);
                }
                if(bag){
                    get_bag_items();
                }
                if(checkout){
                    get_products();
                }
            });
        });
    });
</script>

</html>
