<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= csrf_meta_tags %>

  <title>Organic Hustler</title>

  <%= javascript_include_tag 'jquery.min.js' %>
  <!-- Bootstrap Core -->
  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= javascript_include_tag 'bootstrap.js' %>

  <%= javascript_include_tag 'dragable.min' %>
  <%= stylesheet_link_tag 'style-fc' %>
  <%= javascript_include_tag 'jquery.jcarousel' %>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application.js' %>

  <!-- Plugin CSS -->
  <%= stylesheet_link_tag 'magnific-popup/magnific-popup' %>

  <!-- Theme CSS -->
  <%= stylesheet_link_tag 'index/estilos' %>
  <%= stylesheet_link_tag 'home' %>

</head>

<div id="myModal" style="z-index: 100;" class="modal">

  <% image_icon = GroupShowcase.where(screen: 3, name_identity: 'icon_web_page').first.showcases.first %>

  <div id="triangle" class="triangle"></div>
  <!-- Modal content -->
  <div id="modal_c" style="padding: 0;" class="modal-content">
    <span class="close">&times;</span>
    <div class="modal_c_part">
      <h3 style="color: #3F3F3F; text-align: center; margin: 10px auto;">Your Bag</h3>
    </div>
    <hr class="no-spacing-bar">

    <div class="modal_c_part">
      <div id="product_loader" class="jcarousel-wrapper">
        <div id="product-loader-carousel" style="width: 100%; min-height: 200px" class="jcarousel" data-jcarousel="true">
          <ul id="product-container" style="left: 0; top: 0; text-align: center">
            <% CartProduct.where(cart_id: get_cart_id).each do |product| %>
                <li class="element_product">
                  <div id="<%= product.id %>" style="width: 150px; height: 150px; margin-left: auto; margin-right: auto;">

                  </div>
                  <% product_temp = get_product(product.m_id) %>
                  <script id="create-shape">
                      //Show the custom products
                      createShape('<%= product.id %>', '<%= product.width %>', '<%= product.height %>', '<%= product.dim_x %>', '<%= product.dim_y %>', '<%= product.relation_x %>', '<%= product.relation_y %>');
                      function createShape(id, width, height, x, y, s_w, s_h) {
                          var container = $('#' + id);
                          container.height(container.width());

                          var stage = new Konva.Stage({
                              container: id,
                              width: container.width(),
                              height: container.height()
                          });
                          var layer = new Konva.Layer();
                          stage.add(layer);

                          var baseImg = new Konva.Image({
                              width: container.width(),
                              height: container.height(),
                              draggable: false
                          });

                          var logoImg = new Konva.Image({
                              width: container.width() * width / s_w,
                              height: container.height() * height / s_h
                          });

                          var logoGroup = new Konva.Group({
                              x: container.width() * x / s_w,
                              y: container.width() * y / s_h
                          });

                          layer.add(baseImg);
                          layer.add(logoGroup);
                          logoGroup.add(logoImg);

                          var imageObj1 = new Image();
                          imageObj1.onload = function () {
                              baseImg.image(imageObj1);
                              layer.draw();
                          };
                          imageObj1.src = '<%= product_temp['images'].first['url']['https'] %>';

                          var imageObj2 = new Image();
                          imageObj2.onload = function () {
                              logoImg.image(imageObj2);
                              layer.draw();
                              imageObj2.width = container.width() * width / s_w;
                              console.log(imageObj2.width, container.width(), width, s_w);
                              imageObj2.height = container.height() * height / s_h;
                              console.log(imageObj2.height);
                          };
                          imageObj2.src = '<%= get_thumb_g_id(product.logo_id, :thumb) %>';
                          layer.draw();
                      }
                  </script>
                  <p class="text-uppercase" style="font-size: large; font-weight: lighter; font-family: 'PT Sans Narrow', sans-serif"><%= product_temp['title'] %></p>
                  <p style="font-size: large;color: #e5bbd1;height: 35px; font-weight: lighter; font-family: 'PT Sans Narrow', sans-serif;vertical-align: middle;line-height: 35px;"><%= (product_price product.id).last %>
                    $</p>

                </li>
            <% end %>
          </ul>
        </div>
        <button style="top: 50px; border: none" href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">
          <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button style="top: 50px; border: none" href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">
          <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>

      <script>
          //Photo slider
          (function ($) {
              $(function () {
                  $('.jcarousel').jcarousel();

                  $('.jcarousel-control-prev')
                      .on('jcarouselcontrol:active', function () {
                          $(this).removeClass('inactive');
                      })
                      .on('jcarouselcontrol:inactive', function () {
                          $(this).addClass('inactive');
                      })
                      .jcarouselControl({
                          target: '-=1'
                      });

                  $('.jcarousel-control-next')
                      .on('jcarouselcontrol:active', function () {
                          $(this).removeClass('inactive');
                      })
                      .on('jcarouselcontrol:inactive', function () {
                          $(this).addClass('inactive');
                      })
                      .jcarouselControl({
                          target: '+=1'
                      });

                  $('.jcarousel-pagination')
                      .on('jcarouselpagination:active', 'a', function () {
                          $(this).addClass('active');
                      })
                      .on('jcarouselpagination:inactive', 'a', function () {
                          $(this).removeClass('active');
                      })
                      .jcarouselPagination();
              });
          })(jQuery);
      </script>
    </div>

    <hr class="no-spacing-bar">
    <div style="overflow: hidden" class="modal_c_part">
      <span style="font-size: large;color: #e5bbd1;position: relative;height: 35px;float: left;vertical-align: middle;line-height: 35px;">Subtotal</span>
      <span style="font-size: x-large; float: right;position: relative;height: 35px;"><%= get_price %>$</span>
    </div>
    <hr class="no-spacing-bar">
    <div class="modal_c_part">
      <button onclick="location.href='/checkout'" class="btn btn-sp" style="width: 90%; margin: 5px">CHECKOUT</button>
      <button class="btn btn-default" style="width: 90%; margin: 5px">VIEW BAG</button>
    </div>
  </div>

</div>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index: 2; border-bottom: #ffffff ">
  <!-- The Modal -->
  <div class="desktopnot container">


    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand brand" href="<%= image_icon.url_association %>"><img width="66" src="<%= image_icon.image_show.image.url %>"></a>


      <a>LOG IN</a>
      <a id="myBtn_1"><i><img class="icon" src="<%= image_url 'ico_3.png' %>"></i></a>

    </div>

    <div id="navbar" class="navbar-collapse collapse">

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#story">STORY</a>
          </li>
          <li>
            <a href="#catalog-men">SHOP MEN</a>
          </li>
          <li>
            <a href="#catalog-women">SHOP WOMEN</a>
          </li>
          <li>
            <a href="#customize">CUSTOMIZE</a>
          </li>
          <li>
            <a href="#contact">CONTACT US</a>
          </li>
          <p class="text-center color lf mobile-only" hidden=""> Organic Hustler, LLC</p>
        </ul>
      </div>
    </div>
  </div>

  <div class="mobilenot container">
    <div id="search-index" class="container-fluid">
      <a href="<%= image_icon.url_association %>"> <img src="<%= image_icon.image_show.image.url %>" class="imgxx logo"></a>
      <% if @parameters.nil? || params['action'] != 'catalog' %>
          <button style="float: left; border-right: 1px solid black" type="button" class="btn btn-link">Get in Touch
          </button>
          <button style="float: left; border-right: 1px solid black" type="button" class="btn btn-link">Instagram</button>
          <button style="float: left" type="button" class="btn btn-link">Twitter</button>
      <% else %>
          <h5 style="font-weight: bold; padding-right: 5px; float: left;">Your items
            <span style="font-weight: lighter; color: #89c13e; padding-right: 5px; margin-right: 5px; border-right: thin solid #5e5e5e;"><%= get_item_count %></span><span><a href="/checkout" style="color: #000000;cursor: pointer ;text-decoration: none;">Checkout</a></span>
          </h5>
      <% end %>

      <input id="search-input" style="background: #f0f5e6; float: right" type="text" name="search" value="<%= params['search'] %>" placeholder="Search..">

      <script>
          $(document).keyup(function (e) {
              var search_f = $("#search-input");
              if (search_f.is(":focus") && (e.keyCode === 13)) {
                  location.href = '/catalog?search=' + search_f.val();
              }
          });
      </script>

      <div style="float: right; margin-right: 4px;">
        <% if user_signed_in? %>
            <a href="/account" class="link-style">ACCOUNT</a>
        <% else %>
            <a href="/account" class="link-style">LOG IN</a>
        <% end %>
        <a><i id="myBtn_2"><img class="icon" src="<%= image_url 'ico_3.png' %>"></i></a>
      </div>

      <% available = true %>

      <div class="collapse navbar-collapse" style="width: 100%; margin-top: 40px" id="navbar">
        <ul class="nav navbar-nav navbar-center">
          <li>
            <a style="padding-bottom: 5px" class="
              <% unless params['looks'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog?looks=true&view=looks'">LOOKS</a>
          </li>
          <li>
            <a style="padding-bottom: 5px" class="
              <% unless params['hats'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog?hats=true&view=hats'">HATS</a>
          </li>
          <li>
            <a style="padding-bottom: 5px" class="
              <% unless params['men'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog?men=true&view=men'">MEN</a>
          </li>
          <li>
            <a style="padding-bottom: 5px" class="
              <% unless params['women'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog?women=true&view=women'">WOMEN</a>
          </li>
          <li>
            <a style="padding-bottom: 5px" class="
              <% unless params['brand'].blank? and available %>selected
              <% end %>" onclick="location.href = '/catalog?brand=true&view=brand'">BRAND</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <script>
      // Get the button that opens the modal
      var btn2 = document.getElementById("myBtn_2");
      var btn_j = $('#myBtn_2');

      var btn1 = document.getElementById("myBtn_1");
      var btn_i = $('#myBtn_1');

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      // Get the modal
      var modal = document.getElementById('myModal');
      var triangle = document.getElementById('triangle');
      var modal_c = document.getElementById('modal_c');
      // When the user clicks on the button, open the modal
      btn2.onclick = function () {
          modal.style.display = "block";

          triangle.style.left = null;
          modal_c.style.left = null;

          triangle.style.right = (100 - ((btn2.getBoundingClientRect().right / window.innerWidth) * 100) - (btn_j.width() * 100 / window.innerWidth) ).toString() + "%";
          triangle.style.top = (btn2.getBoundingClientRect().top + btn_j.height()).toString() + "px";
          modal_c.style.right = (100 - ((triangle.getBoundingClientRect().right / window.innerWidth) * 100) - 5).toString() + "%";
          modal_c.style.top = (btn2.getBoundingClientRect().bottom + 20).toString() + "px";

          var carousel_p = document.getElementById('product-loader-carousel');
          $('.element_product').each(function () {
              console.log(carousel_p.getBoundingClientRect().left - carousel_p.getBoundingClientRect().right);
              $(this).width(carousel_p.getBoundingClientRect().right - carousel_p.getBoundingClientRect().left);
          });
      };


      btn_i.on('click', function () {
          modal.style.display = "block";

          triangle.style.right = null;
          modal_c.style.right = null;

          triangle.style.left = (100 - ((btn1.getBoundingClientRect().left / window.innerWidth) * 100) - (btn_i.width() * 100 / window.innerWidth) ).toString() + "%";
          triangle.style.top = (btn1.getBoundingClientRect().top + btn_i.height()).toString() + "px";
          modal_c.style.left = (100 - ((triangle.getBoundingClientRect().left / window.innerWidth) * 100) - 5).toString() + "%";
          modal_c.style.top = (btn1.getBoundingClientRect().bottom + 20).toString() + "px";


          var carousel_p = document.getElementById('product-loader-carousel');
          $('.element_product').each(function () {
              console.log(carousel_p.getBoundingClientRect().left - carousel_p.getBoundingClientRect().right);
              $(this).width(carousel_p.getBoundingClientRect().right - carousel_p.getBoundingClientRect().left);
          });
      });


      $(window).on('resize', function () {
          triangle.style.right = (100 - ((btn2.getBoundingClientRect().right / window.innerWidth) * 100) - (btn_j.width() * 100 / window.innerWidth) ).toString() + "%";
          triangle.style.top = (btn2.getBoundingClientRect().top + btn_j.height()).toString() + "px";
          modal_c.style.right = (100 - ((triangle.getBoundingClientRect().right / window.innerWidth) * 100) - 5).toString() + "%";
          modal_c.style.top = (btn2.getBoundingClientRect().bottom + 20).toString() + "px";
      });

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
          modal.style.display = "none";
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
          if (event.target === modal) {
              modal.style.display = "none";
          }
      }
  </script>

</nav>

<%= yield %>


<div class="container-fluid blc mobilenot">
  <div class="row" style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">

    <div class="col-sm-2" style="text-align: left;">
      <h3 style="color: white;"> BRAND</h3>
      <br>
      <br>
      <h5 style="color: #A4A4A4;"> STORY </h5>
      <h5 style="color: #A4A4A4;"> SHOP MEN</h5>
      <h5 style="color: #A4A4A4;"> SHOP WOMEN </h5>
      <h5 style="color: #A4A4A4;"> CONTACT US</h5>


    </div>

    <div class="col-sm-2" style="text-align: left;">
      <h3 style="color: white;">SHOP</h3>
      <br>
      <br>
      <h5 style="color: #A4A4A4;">LOOKS </h5>
      <h5 style="color: #A4A4A4;"> HATS</h5>
      <h5 style="color: #A4A4A4;">MEN </h5>
      <h5 style="color: #A4A4A4;"> WOMEN</h5>
      <h5 style="color: #A4A4A4;"> MEN</h5>


    </div>

    <div class="col-sm-2" style="text-align: left;">
      <h3 style="color: white;"> FIND US AT</h3>
      <br>
      <br>
      <h5 style="color: #A4A4A4;"> INSTAGRAM </h5>
      <h5 style="color: #A4A4A4;"> TWITTER </h5>
      <h5 style="color: #A4A4A4;"> YOUTUBE</h5>
      <h5 style="color: #A4A4A4;"> FACEBOOK</h5>
      <h5 style="color: #A4A4A4;"> E-MAIL</h5>


    </div>

    <div class="col-sm-6">

      <div style="background-color: #5e5e5e; height: 330px; width:1px; float: left; ">
      </div>


      <h3 style="color: white; margin-top: 25px; margin-bottom: 25px;"> JOIN OUR NEWSLETTER</h3>
      <%= form_tag root_path, method: :post do %>
          <% if !@notice %>
              <input class="foot-form" type="text" name="email" placeholder="Email Address">
          <% else %>
              <input class="foot-form" type="text" name="email" placeholder="Successfully saved">
          <% end %>
      <% end %>


      <h3 style="color: white; margin-top: 25px; margin-bottom: 25px;"> SEARCH SHOP</h3>
      <input class="foot-form" type="text" name="">

      <div>
        <img src="<%= GroupShowcase.where(screen: 3, name_identity: 'icon_web_page_2').first.showcases.first.image_show.image.url %>" style="width: 30px; margin-top: 50px;">
        <p style="color: #FFFFFF; margin-top: 10px;">Organic Hustler, LLC</p>

      </div>

    </div>

  </div>

</div>

</html>
