<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>

    <title>Organic Hustler</title>

    <%= javascript_include_tag 'jquery.min.js' %>

    <!-- Bootstrap Core -->
    <%= stylesheet_link_tag 'bootstrap.css' %>
    <%= javascript_include_tag 'bootstrap.js' %>

    <%= javascript_include_tag 'dragable.min' %>
    <%= stylesheet_link_tag 'style-fc' %>
    <%= javascript_include_tag 'jquery.jcarousel' %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application.js' %>

    <!-- Plugin CSS -->
    <%= stylesheet_link_tag 'magnific-popup/magnific-popup' %>

    <!-- Theme CSS -->
    <%= stylesheet_link_tag 'index/estilos' %>
    <%= stylesheet_link_tag 'home' %>

  </head>

  <%= yield %>

</html>
